@{
    Layout = "~/Views/OperationStandard/_OperationStandardLayout.cshtml";
    ViewBag.Title = "经销商运营管理规范-售后";
}

<div id="fixed-nav" style="display:none">
    <a href="Aftersales?chapter=1#title" class="list-group-item"><strong>大众进口汽车经销商运营管理规范</strong> </a>
    <div style="padding-left:15px;">
        <a href="Aftersales?chapter=1#chapter1" class="list-group-item">第一章：运营管理</a>
        <ul style="list-style:decimal">
            <li>
                <a href="Aftersales?chapter=1#section-1" class="list-group-item">经营管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=1#section-1-01" class="list-group-item">- 售后经营管理概述</a></li>
                    <li><a href="Aftersales?chapter=1#section-1-02" class="list-group-item">- 售后收入分析</a></li>
                    <li><a href="Aftersales?chapter=1#section-1-03" class="list-group-item">- 售后成本分析</a></li>
                    <li><a href="Aftersales?chapter=1#section-1-04" class="list-group-item">- 售后利润</a></li>
                    <li><a href="Aftersales?chapter=1#section-1-05" class="list-group-item">- 运营效率管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-1-06" class="list-group-item">- 售后目标管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-1-07" class="list-group-item">- 售后报告</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=1#section-2" class="list-group-item">服务流程管理</a>
                <ul style="padding-left: 5px;">
                    <li>
                        <a href="Aftersales?chapter=1#section-2-01" class="list-group-item">- 服务核心流程概述</a>
                    </li>
                    <li><a href="Aftersales?chapter=1#section-2-02" class="list-group-item">- 预约流程管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-2-03" class="list-group-item">- 准备工作管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-2-04" class="list-group-item">- 接收车辆/制作委托书流程管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-2-04" class="list-group-item">- 维修流程管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-2-04" class="list-group-item">- 质量检查/交车准备流程管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-2-04" class="list-group-item">- 交车/结帐流程管理</a></li>
                    <li><a href="Aftersales?chapter=1#section-2-04" class="list-group-item">- 跟踪服务流程管理</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=12#section-3" class="list-group-item">服务营销管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=12#section-3-01" class="list-group-item">- 服务营销概述</a></li>
                    <li><a href="Aftersales?chapter=12#section-3-02" class="list-group-item">- 服务营销基础</a></li>
                    <li><a href="Aftersales?chapter=12#section-3-03" class="list-group-item">- 服务营销实践</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=12#section-4" class="list-group-item">客户满意度管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=12#section-3-01" class="list-group-item">- 客户满意度概述</a></li>
                    <li><a href="Aftersales?chapter=12#section-3-02" class="list-group-item">- 大众进口汽车满意度调研体系</a></li>
                    <li><a href="Aftersales?chapter=12#section-3-03" class="list-group-item">- 客户满意度分析</a></li>
                    <li><a href="Aftersales?chapter=12#section-3-04" class="list-group-item">- 客户满意度改善</a></li>
                    <li><a href="Aftersales?chapter=12#section-3-05" class="list-group-item">- 附录对话式接待</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="padding-left:15px;">
        <a href="Aftersales?chapter=2#chapter2" class="list-group-item">第二章：车间管理</a>
        <ul style="list-style:decimal">
            <li>
                <a href="Aftersales?chapter=2#section-1" class="list-group-item">核心岗位工作</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=2#section-1-01" class="list-group-item">- 车间人员配备</a></li>
                    <li><a href="Aftersales?chapter=2#section-1-02" class="list-group-item">- 核心岗位职责</a></li>
                    <li><a href="Aftersales?chapter=2#section-1-02" class="list-group-item">- 核心岗位工作</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=2#section-2" class="list-group-item">环境与场地</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=2#section-2-01" class="list-group-item">- 车间环境与设施</a></li>
                    <li><a href="Aftersales?chapter=2#section-2-02" class="list-group-item">- 车间场地规划</a></li>
                    <li><a href="Aftersales?chapter=2#section-2-03" class="list-group-item">- 车间5S管理</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=2#section-3" class="list-group-item">安全与环保</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=2#section-3-01" class="list-group-item">- 安全与环保概述</a></li>
                    <li><a href="Aftersales?chapter=2#section-3-02" class="list-group-item">- 安全生产管理</a></li>
                    <li><a href="Aftersales?chapter=2#section-3-03" class="list-group-item">- 环境保护</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=2#section-4" class="list-group-item">设备与工具</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=2#section-4-01" class="list-group-item">- 设备与工具管理概述</a></li>
                    <li><a href="Aftersales?chapter=2#section-4-02" class="list-group-item">- 设备与工具管理要点</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=2#section-5" class="list-group-item">效率管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=2#section-5-01" class="list-group-item">- 车间效率管理概述</a></li>
                    <li><a href="Aftersales?chapter=2#section-5-02" class="list-group-item">- 车间派工管理</a></li>
                    <li><a href="Aftersales?chapter=2#section-5-02" class="list-group-item">- 维修进度管理</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=2#section-6" class="list-group-item">质量管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=2#section-6-01" class="list-group-item">- 维修质量管理概述</a></li>
                    <li><a href="Aftersales?chapter=2#section-6-02" class="list-group-item">- 服务流程中的维修质量管理</a></li>
                    <li><a href="Aftersales?chapter=2#section-6-03" class="list-group-item">- 返修管理</a></li>
                    <li><a href="Aftersales?chapter=2#section-6-04" class="list-group-item">- 车间测试</a></li>
                    <li><a href="Aftersales?chapter=2#section-6-05" class="list-group-item">- Q-check质量管理系统</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=2#section-7" class="list-group-item">快修管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=2#section-7-01" class="list-group-item">- 快修管理概述</a></li>
                    <li><a href="Aftersales?chapter=2#section-7-02" class="list-group-item">- 快修流程管理</a></li>
                    <li><a href="Aftersales?chapter=2#section-7-03" class="list-group-item">- 快修服务实施</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="padding-left:15px;">
        <a href="Aftersales?chapter=3#chapter3" class="list-group-item">第三章：备件管理</a>
        <ul style="list-style:decimal">
            <li>
                <a href="Aftersales?chapter=3#section-1" class="list-group-item">核心岗位工作</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=3#section-1-01" class="list-group-item">- 备件人员配备</a></li>
                    <li><a href="Aftersales?chapter=3#section-1-02" class="list-group-item">- 核心岗位职责</a></li>
                    <li><a href="Aftersales?chapter=3#section-1-03" class="list-group-item">- 核心岗位工作</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=3#section-2" class="list-group-item">备件基础知识</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=3#section-2-01" class="list-group-item">- 备件分类</a></li>
                    <li><a href="Aftersales?chapter=3#section-2-02" class="list-group-item">- 备件编号</a></li>
                    <li><a href="Aftersales?chapter=3#section-2-03" class="list-group-item">- 备件管理规定</a></li>
                    <li><a href="Aftersales?chapter=3#section-2-04" class="list-group-item">- 备件IT及信息系统</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=3#section-3" class="list-group-item">备件仓库规划</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=3#section-3-01" class="list-group-item">- 备件库规划要求</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-02" class="list-group-item">- 备件库规模与位置</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-03" class="list-group-item">- 备件库功能区规划</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-04" class="list-group-item">- 备件库环境</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-05" class="list-group-item">- 备件库货架标准</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=3#section-3" class="list-group-item">备件业务管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=3#section-3-01" class="list-group-item">- 备件订货</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-02" class="list-group-item">- 备件到货</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-03" class="list-group-item">- 备件仓储</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-04" class="list-group-item">- 备件盘点</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-05" class="list-group-item">- 备件出库</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-06" class="list-group-item">- 备件索赔</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-07" class="list-group-item">- 备件问题及特殊支持申请</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=3#section-3" class="list-group-item">财务结算</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=3#section-3-01" class="list-group-item">- 保证金与收款</a></li>
                    <li><a href="Aftersales?chapter=3#section-3-02" class="list-group-item">- 账单与税票</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="padding-left:15px;">
        <a href="Aftersales?chapter=4#chapter4" class="list-group-item">第四章：技术管理</a>
        <ul style="list-style:decimal">
            <li>
                <a href="Aftersales?chapter=4#section-1" class="list-group-item">核心岗位工作</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=4#section-1-01" class="list-group-item">- 车间人员配备</a></li>
                    <li><a href="Aftersales?chapter=4#section-1-02" class="list-group-item">- 核心岗位职责</a></li>
                    <li><a href="Aftersales?chapter=4#section-1-03" class="list-group-item">- 核心岗位工作</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=4#section-2" class="list-group-item">技术信息管理</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=4#section-2-01" class="list-group-item">- 概述</a></li>
                    <li><a href="Aftersales?chapter=4#section-2-02" class="list-group-item">- 技术信息管理</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=4#section-3" class="list-group-item">技术支持与质量监控</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=4#section-3-01" class="list-group-item">- 对各部门的技术支持</a></li>
                    <li><a href="Aftersales?chapter=4#section-3-02" class="list-group-item">- 维修质量检查</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=4#section-4" class="list-group-item">厂家技术支持的获取</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=4#section-4-01" class="list-group-item">- 大众进口汽车技术支持概述</a></li>
                    <li><a href="Aftersales?chapter=4#section-4-02" class="list-group-item">- DISS问询回复</a></li>
                    <li><a href="Aftersales?chapter=4#section-4-03" class="list-group-item">- 视频诊断支持</a></li>
                    <li><a href="Aftersales?chapter=4#section-4-04" class="list-group-item">- 现场技术支持</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=4#section-5" class="list-group-item">技术培训</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=4#section-5-01" class="list-group-item">- 技术培训管理</a></li>
                    <li><a href="Aftersales?chapter=4#section-5-02" class="list-group-item">- 技师分级</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="padding-left:15px;">
        <a href="Aftersales?chapter=5#chapter5" class="list-group-item">第五章：索赔管理</a>
        <ul style="list-style:decimal">
            <li>
                <a href="Aftersales?chapter=5#section-1" class="list-group-item">索赔类型</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=5#section-1-01" class="list-group-item">- 索赔类型</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=5#section-2" class="list-group-item">索赔政策</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=5#section-2-01" class="list-group-item">- 整车质量担保政策及标准</a></li>
                    <li><a href="Aftersales?chapter=5#section-2-02" class="list-group-item">- 原厂备件质量担保政策及标准</a></li>
                    <li><a href="Aftersales?chapter=5#section-2-02" class="list-group-item">- 产品质量改进措施（服务活动/召回）</a></li>
                    <li><a href="Aftersales?chapter=5#section-2-02" class="list-group-item">- 优惠索赔政策</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=5#section-3" class="list-group-item">索赔操作流程及要点</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=5#section-3-01" class="list-group-item">- 整车索赔流程及要点</a></li>
                    <li><a href="Aftersales?chapter=5#section-3-02" class="list-group-item">- 大众原厂备件索赔操作</a></li>
                    <li><a href="Aftersales?chapter=5#section-3-03" class="list-group-item">- 质量改进措施操作</a></li>
                    <li><a href="Aftersales?chapter=5#section-3-04" class="list-group-item">- 优惠索赔操作</a></li>
                </ul>
            </li>
            <li>
                <a href="Aftersales?chapter=5#section-4" class="list-group-item">索赔其他信息</a>
                <ul style="padding-left: 5px;">
                    <li><a href="Aftersales?chapter=5#section-4-01" class="list-group-item">- 索赔文件管理</a></li>
                    <li><a href="Aftersales?chapter=5#section-4-02" class="list-group-item">- 索赔审计</a></li>
                    <li><a href="Aftersales?chapter=5#section-4-03" class="list-group-item">- 经销商责任</a></li>
                </ul>
            </li>
        </ul>
    </div>   
</div>

@RenderBody()
@RenderSection("scripts", required: false)