@{
    Layout = "~/Views/OperationStandard/_LayoutAftersales.cshtml";

}

<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />

    <br />
    <br />
    <h3 id="chapter5">索赔管理</h3>
    <br />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter5/1.png" class="full-width" style="height:600px; " />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            本手册适用于售后非索赔岗位人员阅读和使用，以便了解索赔相关政策和标准。索赔岗位人员索赔工作开展请以大众进口汽车最新版本《产品质量担保工作手册》为准。
        </p>
        <p>
            索赔是产品的品质担保，索赔业务的规范开展可以提升客户满意度，建立良好的客户关系，同时维护客户和厂家的正当利益不受损失。
        </p>
        <p>
            索赔是一项集体协作工作，它不仅需要索赔岗位人员的努力，还需要经销商售后各岗位相关人员的支持和帮助。因此，售后非索赔各岗位人员有必要了解索赔相关政策、工作标准及在索赔工作中的职责，以便协助和配合索赔主管开展索赔和三包相关工作。
        </p>
    </div>
    <h3>本章主要适用对象</h3>
    <ul>
        <li>前台经理</li>
        <li>车间经理</li>
        <li>技术经理</li>
        <li>服务顾问等</li>
    </ul>
    <br />
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Aftersales/chapter2/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="#section-1">索赔类型</a></li>
            <li><a href="#section-2">索赔政策</a></li>
            <li><a href="#section-3">索赔操作流程及要点</a></li>
            <li><a href="#section-4">索赔其他信息</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-1">索赔类型</h3>
            <br />
            <p>索赔是大众进口汽车和经销商共同为客户提供产品质量担保。本节内容简单介绍大众进口汽车体系针对索赔的分类和概念，以便索赔各项工作的顺利开展。 </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-1-01">索赔类型</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-1-01">索赔类型</h3>
    <h4>索赔类型与标准</h4>
    <p>索赔是指为了维护客户的正当权益，大众进口汽车和经销商共同为客户提供产品质量担保。根据质量保证的内容、范围等的不同，索赔可以做以下分类： </p> </p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="20%">大类</th>
            <th width="30%">类型</th>
            <th width="50%">说明</th>
        </tr>
        <tr>
            <td rowspan="3">
                整车索赔
            </td>
            <td>
                整车质量担保/三包
            </td>
            <td>
                <p>
                    针对一定期限内整车及相关总成的质量保证
                </p>
            </td>
        </tr>
        <tr>
            <td>
                易损件索赔
            </td>
            <td>
                <p>
                    针对一定期限内、一定范围的易损件的质量保证
                </p>
            </td>
        </tr>
        <tr>
            <td>
                车身油漆索赔
            </td>
            <td>
                <p>
                    针对一定期限内车身油漆的质量保证
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                大众原厂备件索赔
            </td>
            <td>
                <p>
                    针对一定期限内原装大众备件的索赔
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                质量改进措施（服务活动/召回）
            </td>
            <td>
                <p>
                    针对投放市场的部分车辆进行的产品质量改进措施
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                优惠索赔
            </td>
            <td>
                <p>
                    针对超过质保期由于质量原因导致的故障车辆的补偿措施
                </p>
            </td>
        </tr>
    </table>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter5/2.png" class="full-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-2">索赔政策</h3>
            <br />
            <p>为了更好地开展索赔工作，保证客户、大众进口汽车和经销商自身的正当利益不受损失，提升客户满意度和大众品牌形象，经销商售后非索赔岗位人员必须了解大众进口汽车对于索赔的相关政策，明确索赔相关工作标准。</p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-2-01">整车质量担保政策及标准</a></li>
                <li><a href="#section-2-02">原厂备件质量担保政策及标准</a></li>
                <li><a href="#section-2-03">产品质量改进措施（服务活动/召回）</a></li>
                <li><a href="#section-2-04">优惠索赔政策</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-2-01">整车质量担保政策及标准</h3>
    <h4>整车产品质量担保/三包政策</h4>
    <h5><b>整车产品质量担保/三包时间</b></h5>
    <p>为了维护消费者的合理利益不受损失，大众进口汽车制定了产品质量担保政策：</p>
    <ul style="list-style:decimal">
        <li>2013年09月02日（不含）前，售出新车的质量担保期自用户购车之日起2年无行驶里程限制。</li>
        <li>2013年09月02日（含）起，售出新车的质量担保期自用户购车之日起为3年或行驶里程为100,000公里。</li>
        <li>2013年09月02日（含）起，售出新车的三包有效期为2年或50,000公里，时间和里程数以先到者为准。</li>
        <li>在2013 年12 月31 日（含）前所购车辆，若装备DSG 变速箱（型号为DQ200/DQ250），则该变速箱自购车之日起，享有10年或行驶里程160,000公里的质量担保，时间和里程数两者以先到者为准。</li>
    </ul>
    <p>根据国家质检总局2013年1月15日颁布的《家用汽车产品修理、更换、退货责任规定》第十七条：</p>
    <ul>
        <li>家用汽车产品包修期限不低于3年或者行驶里程60,000公里，以先到者为准。</li>
        <li>家用汽车产品三包有效期限不低于2年或者行驶里程50,000公里，以先到者为准。</li>
    </ul>

    <h5><b>质量担保与三包期限的开始</b></h5>
    <p>自销售者开具购车发票之日起计算。</p>
    <h5><b>调整项目</b></h5>
    <p>调整项目原则上不属质量担保范围，不能确定故障原因的损坏，如果在6个月/10,000公里之内可被视为索赔，超出此期限将被视为正常磨损：</p>
    <ul style="list-style:decimal">
        <li>发动机怠速调整</li>
        <li>发动机点火正时调整</li>
        <li>发动机CO值调整</li>
        <li>发动机皮带、压缩机皮带张紧度调整</li>
        <li>轮胎动平衡调整</li>
        <li>发动机控制单元基本设定</li>
        <li>5051、5052检测调整</li>
        <li>发动机燃油消耗测定</li>
        <li>车轮定位参数的调整（前束、外倾）</li>
        <li>大灯光束调整</li>
        <li>调整车门和盖板</li>
    </ul>
    <span>备注：</span>
    <ul>
        <li>国家三包相关规定详见附录。</li>
        <li>调整项目具体规定以大众进口汽车下发的最新文件为准。</li>
    </ul>
    <h4>易损件产品质量担保政策及标准</h4>
    <p>易损件在其质量保证期内出现产品质量问题的，消费者可以选择免费更换易损耗零部件。易损耗零部件的种类范围及其质量保证期如下：</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="10%">序号</th>
            <th width="45%">易损件</th>
            <th width="45%">质保期限（以先到者为准）</th>
        </tr>
        <tr>
            <td>1</td>
            <td>空气滤清器</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>2</td>
            <td>空调滤清器</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>3</td>
            <td>机油滤清器</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>4</td>
            <td>燃油滤清器</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>5</td>
            <td>火花塞</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>6</td>
            <td>制动衬片</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>7</td>
            <td>离合器片</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>8</td>
            <td>轮胎</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>9</td>
            <td>蓄电池</td>
            <td>12个月/10,000公里</td>
        </tr>
        <tr>
            <td>10</td>
            <td>遥控器电池</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>11</td>
            <td>灯泡</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>12</td>
            <td>刮水器刮片</td>
            <td>6个月/10,000公里</td>
        </tr>
        <tr>
            <td>13</td>
            <td>保险丝及普通继电器（不含集成控制单元）</td>
            <td>12个月/10,000公里</td>
        </tr>
    </table>
    <p>备注：以上易损件种类范围及质量保证期限仅供参考，具体标准请参照大众进口汽车最新下发的文件。</p>
    <h4>车身油漆质量担保政策及标准</h4>
    <h5><b>车身油漆质量担保基本政策</b></h5>
    <ul>
        <li>漆面损伤的担保期为3年，漆面损伤的鉴定非常复杂，必须由专业技术人员鉴定。</li>
        <li>漆面的脱落和附着力不够由生产厂家负责。</li>
        <li>颗粒附着属于工业污染，要确认范围局部修理。</li>
        <li>由于外因引出的漆面损伤，如：飞石等，不在索赔范围内。</li>
    </ul>
    <h5><b>不同车型车身油漆质量保证期</b></h5>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">类型</th>
            <th width="50%">适用车型</th>
            <th width="25%">里程</th>
        </tr>
        <tr>
            <td>3年无喷漆缺陷</td>
            <td>
                <ul>
                    <li>乘用车车身</li>
                    <li>T5车身（7H/7J型）</li>
                    <li>开迪车身（2K型）</li>
                    <li>Crafter车身（2E/2F型</li>
                </ul>
            </td>
            <td rowspan="4">不限制里程</td>
        </tr>
        <tr>
            <td>6年无锈穿</td>
            <td>
                <ul>
                    <li>Caddy，9K、9U型号从1997车型年起</li>
                    <li>Sharan，7M型号</li>
                    <li>GolfCabrio，1E型号</li>
                    <li>PoloClassic/Variant，6N1/6V2/6V5型号</li>
                    <li>LT2从2001车型年起</li>
                    <li>Amarok</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>8年无锈穿</td>
            <td>
                <ul>
                    <li>Transporter-/Caravelle(7D型，自1999年车型）</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>12年无锈穿</td>
            <td>
                <ul>
                    <li>前面各类未列出的车型</li>
                </ul>
            </td>
        </tr>
    </table>
    <h5><b>车身油漆索赔的免责说明</b></h5>
    <ul>
        <li>车身的锈蚀并非车身表面生锈，表现为孔、通透。</li>
        <li>由于外伤、拖底、交通事故未修复、事故修复后、更换零件后、因某种原因在车身上钻孔、损伤后不修复或因保养不当等造成的锈蚀不在担保范围内。</li>
        <li>特殊情况只更换局部件。</li>
    </ul>
    <br />

    <h3 id="section-2-02">原厂备件质量担保政策及标准</h3>
    <h4>原厂备件质量担保基本政策</h4>
    <h5><b>原厂备件质量担保政策</b></h5>
    <ul>
        <li>用户在经销商处自费购买并安装的大众原厂备件的产品质量担保期限为2年。</li>
    </ul>
    <h5><b>质量担保期限的开始</b></h5>
    <ul>
        <li>索赔期限自授权经销商出售并安装之日算起。</li>
    </ul>
    <h5><b>原厂备件索赔的规定</b></h5>
    <ul>
        <li>销售大众进口汽车备件的授权经销商承担备件索赔。</li>
        <li>授权经销商必须遵循大众进口汽车原厂备件的销售与安装说明。</li>
        <li>通过整车索赔更换的原厂备件随整车质保期结束而结束。</li>
        <li>作为活动（服务活动或召回活动）的一部分装配的大众原厂备件在质保期间内出现故障，根据索赔政策免费更换备件。</li>
        <li>通过优惠索赔（含CiG优惠索赔）更换的大众原厂备件同样享受备件索赔政策（前提是客户至少支付了所更换备件10%的费用）。</li>
        <li>对于超出车辆质保期的备件更换，如果是按照大众进口汽车准则更换，且该部件导致另一个更大（磨损）备件（尤其是发动机/变速箱）的损坏，则须考虑使用寿命和车辆使用年限进行成本扣减。关于扣减数额，请咨询大众进口汽车索赔部。</li>
    </ul>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/3.png" class="full-width">
    <br />
    <p>备注：关于原厂备件索赔相关规定每年可能都会有所调整，请经销商随时关注最新政策，并以最新政策为准。</p>
    <br />

    <h3 id="section-2-03">产品质量改进措施（服务活动/召回）</h3>
    <p>大众进口汽车产品服务活动是指为了提高产品质量性能，提高客户满意度而对投放到市场的某一批次、型号或类别的大众进口汽车进行的产品质量改进措施，产品质量改进措施分为两种，分别是服务活动和召回。</p>
    <h4>服务活动</h4>
    <p>依照生产厂的要求，对市场的部分车辆在特定的底盘号范围内展开改进措施活动，方法是通知经销商依据所提供的底盘号，设专人负责开展此项工作。服务活动注意事项如下：</p>
    <ul>
        <li>服务活动措施不受质量担保期的限制，只要符合活动内容即可进行。</li>
        <li>只有在用户到授权经销商进行日常维修、保养或参加服务活动时才对涉及的车辆实施措施，如无特殊要求，无需主动通知用户。</li>
        <li>服务顾问在接车时，需在ELSA PRO系统中查询进站车辆是否存在或存在哪些服务活动。</li>
        <li>在实施措施前请认真阅读大众进口汽车下发的服务活动通知及操作细则，同时根据车辆底盘号在ELSA PRO系统中确认改进措施项目，以免产生错误的索赔申请。</li>
        <li>凡涉及改进措施的索赔申请，如果底盘号和项目与ELSA PRO系统不相符，该索赔申请将会被拒绝。 </li>
        <li>维修技师在对车辆实施措施前，首先确认车辆是否已经完成了改进措施。</li>
    </ul>
    <h4>召回</h4>
    <p>召回是指汽车制造商按照《缺陷汽车产品召回管理规定》程序规定，向国家有关部门报告产品缺陷、造成缺陷的原因、改善措施，提出召回申请，通知销售商、修理商、车主等有关方面关于缺陷的具体情况及消除缺陷的方法等事项，通过修理、更换、收回等具体措施有效消除缺陷的过程。</p>
    <ul>
        <li>缺陷是指由于设计、制造、标识等原因导致的在同一批次、型号或者类别的汽车产品中普遍存在的不符合保障人身、财产安全的国家标准、行业标准的情形或者其他危及人身、财产安全的不合理的危险。</li>
        <li>召回涉及的主体包括制造商、销售商、修理商和车主。</li>
        <li>召回的结果是消除产品缺陷，消除缺陷的手段包括修理、更换、收回。</li>
    </ul>
    <p>
        ★与服务活动不同，召回要求经销商主动邀约对应批次车辆的车主入店，并采取措施消除缺陷。
    </p>
    <br />

    <h3 id="section-2-04">优惠索赔政策</h3>
    <h4>优惠索赔概述</h4>
    <p>优惠索赔是一项为提高质保期之外的客户满意度、由大众进口汽车自愿为客户车辆提供的服务项目，而非法定执行的服务项目：</p>
    <ul>
        <li>优惠索赔是生产商的自愿行为，并非必须向用户提供。</li>
        <li>优惠索赔是市场营销及保证用户忠诚度的一种手段和方法。</li>
        <li>优惠索赔适用于对品牌及经销商的忠诚用户。</li>
        <li>非大众汽车(中国)销售有限公司进口和销售的汽车不考虑优惠索赔。</li>
        <li>提供优惠索赔前要确保该车辆在此前具有有效的质保权利。</li>
        <li>优惠索赔主要针对由车辆质量问题引起的车辆损害。</li>
        <li>优惠索赔是保密条款，不允许公开或广告宣传。</li>
    </ul>
    <h4>优惠索赔的类型</h4>
    <h5><b>目录可查询的优惠索赔</b></h5>
    <ul>
        <li>当经销商判断客户符合执行优惠索赔的条件，可以登录SAGA/2系统查询优惠索赔的赔偿比例。</li>
        <li>通过查询，如果有明确的赔付比例，经销商可以直接提供给客户。</li>
        <li>如在SAGA/2中不能查到赔偿比例，服务经理可以向大众进口汽车申请，批准后通过SAGA/2进行申报。</li>
    </ul>
    <h5><b>CiG优惠索赔</b></h5>
    <p>除了在优惠索赔查询系统中能查到的优惠索赔之外，经销商还可以自行提供给客户一种可以由客户自由选择支付金额的单独的优惠索赔，即CiG优惠索赔。</p>
    <ul>
        <li>CiG优惠索赔费用分担比例为：客户不承担的金额部分，经销商分担30%，大众进口汽车分担70%。</li>
        <li>CiG优惠索赔可以和优惠索赔目录中查询结果相结合使用，也可以单独使用。</li>
        <li>CiG优惠索赔主要针对出保后至购车第五年之间的车辆，如超过5年需要使用，经销商可以单独申请（参见附表：优惠索赔申请表）。</li>
        <li>大众进口汽车可以提供的CiG优惠索赔总金额取决于经销商前一年度对优惠索赔目录的使用情况，并可以通过系统进行查询。</li>
    </ul>
    <span>备注：针对由车辆质量问题引起的、可能造成较大影响或者金额较大的维修，经销商认为有必要为客户提供优惠索赔，但在SAGA/2中不能查到赔偿比例的情况，服务经理可以尝试单独填写优惠索赔申请表提出申请，大众进口汽车批准后通过SAGA/2进行申报。</span>
    <h3>表单工具</h3>
    <h4>附表：优惠索赔申请表</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/4.png" class="full-width">
    <br />
    <br />
    <br />
    <br />

    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-3">索赔操作流程及要点</h3>
            <br />
            <p>索赔政策明确了索赔各项各项工作的标准，经销商售后非索赔岗位人员有必要了解大众进口汽车索赔工作流程和步骤以及不同索赔类型的操作要点，以便配合索赔主管开展索赔相关工作。 </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-3-01">整车索赔流程及要点</a></li>
                <li><a href="#section-3-02">大众原厂备件索赔操作</a></li>
                <li><a href="#section-3-03">质量改进措施操作</a></li>
                <li><a href="#section-3-04">优惠索赔操作</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-3-01">整车索赔流程及要点</h3>
    <h4>整车索赔流程</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/5.png" class="full-width">
    <span>
        备注：索赔流程及相关要求以大众进口汽车最新标准为准。
    </span>
    <h5><b>a)客户提出索赔申请</b></h5>
    <p>客户车辆出现故障，提出索赔申请。</p>
    <h5><b>b)审查索赔权限</b></h5>
    <p>客户提出索赔要求后，经销商要审查索赔权限时，需确认如下事项：</p>
    <ul style="list-style:decimal">
        <li>填写完整的车辆PDI记录、发票、三包凭证可以作为索赔证明。</li>
        <li>接到投诉时，经销商要根据保养手册检查是否遵守了所有保养措施，并检查是否有权索赔。</li>
        <li>检查是否出现索赔条件中提到的索赔免责情况。</li>
    </ul>
    <p>此外，维修前要检查：</p>
    <ul style="list-style:decimal">
        <li>车辆是否参加过质量改进措施（服务活动/召回）。</li>
        <li>此项维修是否有申报义务。</li>
        <li>在ELSA PRO的技术解决方案（TPI）中是否有维修指南。</li>
        <li>是否重复维修。</li>
    </ul>
    <h5><b>c)开具委托书</b></h5>
    <p>作为办理索赔的工作资料，必须在DMS中建立一份委托书，其中至少应包含下列数据：</p>
    <ul style="list-style:decimal">
        <li>完整的车辆数据。</li>
        <li>行驶里程和交付日期。</li>
        <li>客户签名。</li>
        <li>接车日期/维修日期。</li>
        <li>如在维修过程中发现其他损坏，须在合同中注明，客户签名确认后方可进行维修。</li>
        <li>如有客户未抱怨的增项，必须在订单中注明，并请客户签字确认。</li>
    </ul>
    <p>必须确保在客户订单和索赔申请之间建立起一种准确无误的数字联系，缺少客户订单或客户订单不完整便无权申请结算索赔费用。</p>
    <h5><b>d)DISS报告</b></h5>
    <p>所有索赔申请必须要发送DISS报告，涉及到大总成件索赔（如发动机，变速箱，滑阀箱等）、索赔金额较大的情况及同类故障发生次数大于三次以上等情况，应发送DISS问询并视情况发送PCC报告。</p>
    <p>在索赔情况下，客户可能不赞同进行维修。考虑到中国相关法规，如果维修已能排除故障，从技术和法律的角度看，就没有更换的必要。</p>
    <p>主损零件金额在3000元以上的，原则上需在更换前在SAGA/2中发送高额索赔申请，经授权后准予更换。</p>
    <h5><b>e)进行维修</b></h5>
    <p>必须检查客户投诉是否具有技术解决方案（TPI），但TPI的可用性并不意味着一定具有索赔权利。在维修过程中要有清晰的故障诊断，并形成电子报告、保存照片及维修计时打卡记录等。</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="20%">类型</th>
            <th width="80%">说明</th>
        </tr>
        <tr>
            <td>技术诊断</td>
            <td>
                <ul>
                    <li>经销商在对车辆进行维修时，须作出正确的故障诊断，含糊不清及错误的故障描述及诊断将会被拒绝。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>电子报告</td>
            <td>
                <ul>
                    <li>进厂维修车辆和外出救援车辆都要求使用“引导型故障查询”。</li>
                    <li>符合索赔条件的维修工作，必须正确输入工作编号并在线发送诊断报告。</li>
                    <li>电器故障诊断的有效工时可以申请索赔，电器方面故障需打印功能测试记录。</li>
                    <li>机械方面故障（无故障码）要打印自诊断记录或诊断记录。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>照片或视频片段</td>
            <td>
                <ul>
                    <li>涉及到外观或噪音等故障时，需将故障现象通过照片或视频片段的形式保存。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>维修计时打卡</td>
            <td>
                <ul>
                    <li>技师必须记录维修开始时间和结束时间，并保留维修计时记录，缺少打卡记录会导致申请被拒绝。</li>
                </ul>
            </td>
        </tr>
    </table>
    <h5><b>f)结算/交车</b></h5>
    <p>维修完毕，经质检员检验合格后打印结算单（形式发票），在车辆交付给客户之前，需要客户在结算单（形式发票）上签字，以表明经销商已顺利地进行了索赔工作。</p>
    <h5><b>g)办理申请</b></h5>
    <p>在维修完成后一周内，经销商索赔主管通过SAGA/2向大众进口汽车售后部门提出索赔申请，如没有正当理由而超过提交索赔申请期限的，该申请将被拒绝。</p>
    <p>在SAGA2中提报索赔申请时，必须使用标记主损件。如果是通过维修解决问题，则在工位上标记。部分备件申请索赔时必须提供在线诊断报告。包括：</p>
    <ul></ul>
    <p>
        每个索赔中只能有一个导致损坏的部件。若存在多个导致损坏的部件，必须为每个部件单独申请索赔。
    </p>
    <p>对于出现多次标准部件错误的情况，必须为完整套件输入一次损伤编码（一个索赔申请）。</p>
    <h5>技术信息报告</h5>
    <p>索赔技术报告作为索赔申请的最基本条件，是对故障的一般性描述，包括经销商信息、客户信息、车型信息、零件信息、故障信息等几个主要部分。</p>
    <h5>索赔申请表</h5>
    <p> 索赔申请表用于对故障损伤编码的确定，索赔工时及材料费用的表格，是索赔文件中最重要的文件。</p>
    <p>经销商提出的申请，经审核合格后，将会通过SAGA/2在线反馈状态信息。审核未通过的申请，将在线退回给经销商。</p>
    <h5><b>h)索赔申请审核</b></h5>
    <p>大众进口汽车对经销商索赔申请进行审核。</p>
    <h5><b>i)索赔款结算</b></h5>
    <p>索赔和CiG优惠索赔申请项将按照索赔金额赔付。索赔结算要求如下：</p>
    <ul style="list-style:decimal">
        <li>索赔申请及时申报</li>
        <li>索赔申请申报准确并经确认</li>
        <li>服务活动已经完成</li>
        <li>发票及时开具</li>
        <li>帐户信息准确</li>
    </ul>
    <p>如公司财务信息变更，必须提前提出变更请求，将正确的财务信息加盖公司财务章后，传真至大众售后相关负责人，并确保在第一次返款确认时，再次确认财务信息。</p>
    <p>大众进口汽车售后部门要求开具增值税发票，并发送至指定人员。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/6.png" class="full-width">
    <br />

    <h4>三包退换车处理流程</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/21.png" class="full-width">
    <ul style="list-style:georgian">
        <li>客户车辆出现故障，提出退换车要求。</li>
        <li>经销商在接到客户退换车要求后，积极与客户沟通，收集车辆信息。</li>
        <li>
            依据退换车条件初步判定该车是否达到退换条件。
            <ul style="list-style:decimal">
                <li>车主退换车申请</li>
                <li>经销商退换车申请表</li>
                <li>车主身份证复印件</li>
                <li>行驶证</li>
                <li>购车发票</li>
                <li>车辆三包凭证</li>
                <li>车辆维修记录</li>
                <li>车辆上牌、强制险、购置税、车船使用税的发票原件等</li>

            </ul>
        </li>
        <li>判定达到退换车条件的，经销商需向大众进口汽车提出退换车申请，并提交相关材料：</li>
        <li>大众进口汽车售后服务部门审核该车辆是否符合退换车条件。</li>
        <li>初步审核不符合退换车条件及未通过大众审核的，按客户投诉处理流程处理。</li>
        <li>对符合退换车条件的，经销商与用户办理退换车手续：</li>
        <li>经销商向大众进口汽车售后部申请相关费用，并进行退换车处置。</li>
    </ul>
    <h4>三包预警机制</h4>
    <p>为了快速、高效处理车辆存在的问题，经销商需要借助DMS系统三包预警模块建立三包预警机制。</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="10%">类型</th>
            <th width="15%">期限</th>
            <th width="25%">期限</th>
            <th width="34%">预警条件</th>
            <th width="6%">级别</th>
            <th width="10%">警示灯</th>
        </tr>
        <tr>
            <td>更换发动机/变速器</td>
            <td>
                <p>60日或3000公里</p>
            </td>
            <td>
                <p>发动机、变速器的主要零件出现质量问题</p>
            </td>
            <td>
                <p>发动机、变速器的主要零件出现质量问题</p>
            </td>
            <td>高危</td>
            <td>●</td>
        </tr>
        <tr>
            <td>退换车</td>
            <td>
                <p>60日或3000公里</p>
            </td>
            <td>
                <p>车辆转向/制动系统失效、车身开裂或燃油泄漏</p>
            </td>
            <td>
                <p>车辆出现转向系统失效、制动系统失效、车身开裂或燃油泄漏</p>
            </td>
            <td>高危</td>
            <td>●</td>
        </tr>
        <tr>
            <td rowspan="2">退换车</td>
            <td rowspan="2">
                <p>2年或50000公里</p>
            </td>
            <td rowspan="2">
                <p>因严重安全性能故障累计进行了2次修理，未排除或出现新的严重安全性能故障</p>
            </td>
            <td>
                <p>因严重安全性能故障首次入店维修</p>
            </td>
            <td>危险</td>
            <td style="color:red">●</td>
        </tr>
        <tr>
            <td>
                <p>因严重安全性能故障再次入店维修</p>
            </td>
            <td>高危</td>
            <td>●</td>
        </tr>
        <tr>
            <td rowspan="2">退换车</td>
            <td rowspan="2">
                <p>2年或50000公里</p>
            </td>
            <td rowspan="2">
                <p>发动机、变速器累计更换2次以上总成，或发动机、变速器的同一主要零件因其质量问题，累计更换2次以上</p>
            </td>
            <td>
                <p>发动机、变速器或发动机、变速器主要零件因质量问题首次更换</p>
            </td>
            <td>危险</td>
            <td style="color:red">●</td>
        </tr>
        <tr>
            <td>
                <p>发动机、变速器或发动机、变速器同一主要零件因质量问题再次更换</p>
            </td>
            <td>高危</td>
            <td>●</td>
        </tr>
        <tr>
            <td rowspan="2">退换车</td>
            <td rowspan="2">
                <p>2年或50000公里</p>
            </td>
            <td rowspan="2">
                <p>转向系统、制动系统、悬架系统、前/后桥、车身的同一主要零件因其质量问题，累计更换2次以上</p>
            </td>
            <td>
                <p>转向系统、制动系统、悬架系统、前/后桥、车身主要零件首次更换</p>
            </td>
            <td>危险</td>
            <td style="color:red">●</td>
        </tr>
        <tr>
            <td>
                <p>转向系统、制动系统、悬架系统、前/后桥、车身同一主要零件再更换</p>
            </td>
            <td>高危</td>
            <td>●</td>
        </tr>
        <tr>
            <td rowspan="3">换车</td>
            <td rowspan="3">
                <p>2年或50000公里</p>
            </td>
            <td rowspan="3">
                <p>因产品质量问题修理时间累计超过35日</p>
            </td>
            <td>
                <p>修理时间累计达到15日</p>
            </td>
            <td>警告</td>
            <td style="color:yellow">●</td>
        </tr>
        <tr>
            <td>
                <p>修理时间累计达到20日</p>
            </td>
            <td>危险</td>
            <td style="color:red">●</td>
        </tr>
        <tr>
            <td>
                <p>修理时间累计达到35日</p>
            </td>
            <td>高危</td>
            <td>●</td>
        </tr>
        <tr>
            <td rowspan="3">换车</td>
            <td rowspan="3">
                <p>2年或50000公里</p>
            </td>
            <td rowspan="3">
                <p>因同一产品质量问题累计修理超过5次</p>
            </td>
            <td>
                <p>同一产品质量问题修理达到2次</p>
            </td>
            <td>警告</td>
            <td style="color:yellow">●</td>
        </tr>
        <tr>
            <td>
                <p>同一产品质量问题修理达到4次</p>
            </td>
            <td>危险</td>
            <td style="color:red">●</td>
        </tr>
        <tr>
            <td>
                <p>同一产品质量问题修理达到5次</p>
            </td>
            <td>高危</td>
            <td>●</td>
        </tr>
    </table>
    <span>提示：警示灯会在DMS系统的操作界面显示。</span>
    <h4>DMS三包预警操作</h4>
    <p>在DMS新建委托书，更新三包状态之后，可以查看此车辆最新的三包数据。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/7.png" class="full-width">
    <h4>三包预警操作要点</h4>
    <h5><b>预警信息提示和初步方案制定</b></h5>
    <ul>
        <li>前台接待中，如确认客户具有三包资格，在DMS查询车辆基本信息及维修历史信息。</li>
        <li>当DMS系统提示车辆为预警车辆时，服务顾问对预警信息核实后，立即向前台经理汇报情况。</li>
        <li>前台经理组织技术经理识别故障，组织备件经理核实故障部位备件库存，制定初步处理方案。</li>
        <li>若无技术解决方案或备件无库存，立即向VGIC请求技术或备件支援，与客户预约维修时间。</li>
        <li>当车辆符合预警条件时，采取相应的处理方案。</li>
    </ul>
    <h5><b>三包车辆维修与跟踪</b></h5>
    <ul>
        <li>根据处理方案实施三包预警车辆维修；对无法解决的车辆问题，技术经理发送DISS问询，申请技术支持。</li>
        <li>维修完成后，服务顾问通知客户，并打印结算单，在DMS系统记录通知客户时间。</li>
        <li>及时、准确维护三包预警系统信息，维修3天内回访客户再次确认处理效果。</li>
        <li>若三包预警车辆故障未排除或又增加新的车辆故障，须立即向大众进口汽车反馈车辆跟踪信息。</li>
        <li>车辆预警信息档案由三包专员进行管理，避免信息泄露。</li>
    </ul>
    <br />
    <h3 id="section-3-02">大众原厂备件索赔操作</h3>
    <h4>大众原厂备件索赔操作要点</h4>
    <h5><b>备件索赔资料</b></h5>
    <p>进行大众原厂备件索赔申请时，需要提供相关材料：</p>
    <ul>
        <li>备件原始发票复印件或采购清单</li>
        <li>备件更换时的结算单</li>
        <li>本次维修的结算单</li>
        <li>整车发票复印件或数据胶贴</li>
    </ul>
    <h5><b>三包车辆维修与跟踪</b></h5>
    <ul>
        <li>车辆识别号（VIN）必须记录清晰。</li>
        <li>必须记录备件的安装日期，如果备件购买日期与安装日期之间的间隔超过5个工作日，则必须使用购买日期。</li>
        <li>需要记录自安装时起车辆的里程数。</li>
        <li>大众原厂备件的索赔类型为121，而对于车辆在质保期内发生的备件索赔，即使是客户付费，仍然按照110类型进行申报。</li>
    </ul>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/8.png" class="full-width">
    <br />

    <h3 id="section-3-03">质量改进措施操作</h3>
    <h4>服务活动流程及执行要点</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/9.png">
    <ul>
        <li>大众进口汽车接收大众服务活动通知。</li>
        <li>大众进口汽车下发服务活动通知和TPI文件。</li>
        <li>经销商在收到服务活动通知后，对服务顾问、维修技师、索赔及备件等人员开展该次服务活动的培训。</li>
        <li>备件部门依据本店需负责执行的服务活动车辆的数量，有计划地准备服务活动所需备件。</li>
        <li>车辆入场后，服务顾问按照核心服务流程进行客户接待。</li>
        <li>通过ELSA确认车辆是否存在未完成的服务活动。</li>
        <li>针对未完成的服务活动，按照操作细则执行。</li>
        <li>按照常规流程完成维修。</li>
        <li>引导客户结算，完成交车。</li>
        <li>完成服务活动后，索赔主管要及时通过SAGA/2系统提交索赔申请。</li>
        <li>大众进口汽车根据服务活动相关政策审批经销商的索赔申请。</li>
        <li>与经销商完成索赔结算。</li>
    </ul>
    <h4>召回处理流程</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/10.png">
    <h4>召回处理执行要点</h4>
    <ul>
        <li>大众进口汽车发布召回通知，在官网进行公告，并邮寄信件通知客户。</li>
        <li>经销商接收通知。</li>
        <li>接到通知后，第一时间组织相关人员学习TPI和FAQ内容。</li>
        <li>确定召回车辆信息及召回数量。</li>
        <li>按照备件分配原则准备备件。</li>
        <li>预约专员根据备件准备到货和工位情况主动邀约车主进站进行召回维修。</li>
        <li>客户进站维修。</li>
        <li>服务顾问按照流程进行客户接待，通过ELSA确认车辆是否符合召回活动并确保不存在重复维修。</li>
        <li>对部分召回车辆，为了消除车主对车辆的安全担忧，经销商要主动为客户提供相应的活动前检查。</li>
        <li>维修技师严格按照召回活动的TPI文件要求执行召回维修。</li>
        <li>在客户离店前，服务顾问向每位召回完成的客户发放客户关怀，并将相关记录存档。</li>
        <li>引导客户进行结算，完成交车。</li>
        <li>在维修完成之后的48小时之内提出索赔申请。</li>
        <li>大众进口汽车根据召回相关标准，对经销商索赔申请进行批复。</li>
        <li>进行活动费用批复。</li>
        <li>与经销商进行索赔结算。</li>
        <li>与经销商进行活动费用结算。</li>
    </ul>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/11.png" class="full-width">
    <br />
    <h3 id="section-3-04">优惠索赔操作</h3>
    <h4>优惠索赔操作流程</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/12.png" class="full-width">
    <h4>优惠索赔操作流程要点</h4>
    <ul style="list-style:georgian">
        <li>客户车辆出现故障预约或直接入店维修。</li>
        <li>服务顾问按照服务核心流程接待客户，并开具服务委托书。</li>
        <li>
            在环车检查及开具服务委托书前浏览该车辆的维修履历，可以判断该车辆是否符合优惠索赔的条件：
            <ul>
                <li>车辆是否是为正规渠道销售。</li>
                <li>车辆期限是否符合优惠索赔条件。</li>
                <li>车主是否为经销商的忠诚客户。</li>
                <li>车辆故障是否由于车辆本身质量安全问题引起。</li>

            </ul>
        </li>
        <li>车辆被分配到车间进行故障排查。</li>
        <li>
            在明确车辆故障以及维修方案后， 如果车辆符合优惠索赔的条件，则服务顾问考虑为客户提供相应的优惠索赔：
            <ul>
                <li>如果优惠索赔目录有明确的优惠索赔方案，直接提供优惠索赔给客户。</li>
                <li>如果优惠索赔目录没有明确的解决方案，或者客户对优惠索赔目录提供的方案不满意，服务顾问可以考虑提供CiG优惠索赔。</li>
                <li>特别注意：</li>
                <li>如果维修范围较大，或者维修金额较高，同时优惠索赔目录或者CiG优惠索赔不能覆盖，考虑到客户满意度，服务顾问提报给服务经理，由服务经理向大众提出单独的优惠索赔。</li>
                <li>如果客户对于所提供的优惠索赔方案有异议，经销商可作为客户关怀案例和大众进口车进行沟通处理。</li>
            </ul>
        </li>
        <li>服务顾问针对工单内容和预估价格向客户进行维修前解释（无论是否能够提供优惠索赔或者提供哪类优惠索赔），并请客户签字确认。</li>
        <li>车辆维修并结算交车。</li>
        <li>维修完毕，索赔主管通过SAGA/2进行优惠索赔申报。</li>
        <li>大众对经销商优惠索赔申请进行审批。</li>
        <li>通过审批后与经销商进行结算。</li>
    </ul>
    <h4>优惠索赔系统操作要点</h4>
    <p>优惠索赔目录在SAGA2查询操作方法如下：</p>
    <p>第一步，进入SAGA2主界面，点击“优惠索赔“ – ”优惠索赔信息查询”即可进入优惠索赔查询界面。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/13.png" class="full-width">

    <p>第二步，录入底盘号、里程数、损伤代码等必要的车辆信息。</p>
    <p>
        第三步，以及损伤类型、损伤部位等信息。
    </p>
    <p>第四步，填写完相关信息后，点击查询按钮“搜索”。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/14.png" class="full-width">

    <p>第五步，查询优惠索赔目录中所显示的赔付比例。</p>
    <p>第六步，如果用户对查到的赔付比例满意，直接点击确认按钮。</p>
    <p>第七步，如果客户不满意，可以在此查询基础上继续点自授权按钮，申请CiG优惠索赔。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/15-1.png" class="full-width">

    <p>第八步，录入申请原因。  </p>
    <p>第九步，填写完相关信息后，点击确认。</p>
    <p>第十步，选择填写自己需要分担的比例，此比例基于客户承担的比例而计算出经销商和大众进口汽车的划分，为系统的建议比例，是建立在为客户提供100%优惠索赔的基础上的。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/15.png" class="full-width">

    <p>第十一步，在确认比例之后，点击“自行授权”。</p>
    <p>第十二步，点击自行授权后，可显示CiG优惠索赔比例信息以及预算内容</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/16.png" class="full-width">
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-4">索赔其他信息</h3>
            <br />
            <p>
                索赔文件是索赔工作的重要凭证，经销商需要对索赔文件等其他凭证进行合理保存，并按照规定进行索赔款项申报，避免造成损失。大众进口汽车并接受大众进口汽车的审计工作。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-4-01">索赔文件管理</a></li>
                <li><a href="#section-4-02">索赔审计</a></li>
                <li><a href="#section-4-03">经销商责任</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-4-01">索赔文件管理</h3>
    <h4>索赔文件的管理要求</h4>
    <p>经销商按照索赔各项工作标准和流程开展完成索赔后，要整理索赔所有相关文件和材料，并妥善保管。索赔相关文件包括：</p>
    <ul>
        <li>索赔申请表</li>
        <li>索赔信息技术报告</li>
        <li>委托书</li>
        <li>结算单</li>
        <li>VAS电子报告（如果需要）</li>
        <li>照片或者影音文件（如果需要）</li>
        <li>备件出库单</li>
        <li>打卡计时记录</li>
        <li>其他故障信息记录</li>
    </ul>
    <p>索赔文件必须按照索赔单号的顺序依次整理存放，保存期限为5年，电子记录要永久保存。索赔资料丢失或者不准确所造成的损失由经销商负责。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/17.png" class="full-width">
    <br />

    <h3 id="section-4-02">索赔审计</h3>
    <h4>索赔审计概述</h4>
    <p>大众公司有权在不预先通知的情况下，随时审查经销商索赔和/或CiG优惠索赔办理过程是否符合规定。索赔审计具体内容包括： </p>
    <ul>
        <li>索赔件仓库</li>
        <li>备件仓库及管理系统</li>
        <li>工具维护保养状况</li>
        <li>人员培训状况</li>
        <li>展厅及展车</li>
        <li>库存车维护保养</li>
        <li>索赔单据的审核：索赔文件的完整性、真实性及委托书、结算单信息与索赔申请内容的一致性</li>
    </ul>
    <p>审计过程中发现有错误的申请，或者有欺骗性或隐瞒性的申请，大众有权追回相关款项，并按照《索赔审计不合理费用扣除方法规定》执行扣款。 </p>
    <h4>索赔审计流程</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter5/18.png" class="per80-width text-center">
    <br />

    <h3 id="section-4-03">经销商责任</h3>
    <h4>经销商的责任概述</h4>
    <p>经销商应按照《大众集团新车库存和运输质量指南》进行库存保养，确保新车交付时，车辆状态完好；依据相关维修指导标准对车辆进行正确的维修，并严格按照大众进口汽车的索赔政策和要求开展索赔业务。</p>
    <ul>
        <li>未按照索赔要求对车辆是否符合索赔进行核实</li>
        <li>车辆在到达经销商之后，因运输和库存保养不当导致的故障</li>
        <li>由于经销商在车辆维修过程中操作不当对用户车辆造成的损伤</li>
        <li>由于经销商库存备件不足，专用工具和设备缺失，人员资质等导致的车辆进一步损坏及客户抱怨投诉</li>
        <li>为避免以上情况的发生，提高售后服务水平，应认真进行内部审计，并开展索赔内部培训。</li>
    </ul>
    <h4>索赔内部培训</h4>
    <p>索赔是一项集体协作工作，它需要经销商各岗位相关人员的支持和帮助。为了改善索赔流程，提高索赔通过率，索赔主管要定期给其他索赔相关人员开展索赔政策和流程的培训：</p>
    <ul>
        <li>培训次数：至少4次/年</li>
        <li>培训参加人员：前台经理，服务顾问，技师，备件人员等</li>
        <li>
            培训内容：
            <ul style="list-style:decimal">
                <li>索赔政策和流程。</li>
                <li>服务顾问、备件、技师等相关人员在索赔流程中应承担的责任。</li>
                <li>索赔申报状况，不符合索赔要求的单据分析。</li>
                <li>索赔流程改善，索赔通过率提高。</li>
                <li>不合格项的整改方案，并在下次培训中总结整改情况。</li>
            </ul>
        </li>
    </ul>
    <h4>视频诊断流程</h4>
    <p>索赔申请提交后，要及时跟踪处理结果，在委托书中，查找维修类型为索赔的所有委托书，查看“发送至SAGA2”字段的状态。状态为是，表示已经发送至SAGA/2，为否，表示还未发送。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter5/19.png" class="full-width" />
    <p> 在服务管理由SAGA2导入索赔清单中：</p>
    <ul>
        <li>未处理：表示索赔单已由SAGA/2中返回到DMS，但DMS中的操作并未完成。</li>
        <li>待结算：索赔单状态为待审批或待结算。</li>
        <li>已取消：在待结算中，取消的索赔单。</li>
        <li>已删除：在未处理中删除的索赔单。</li>
        <li>已结算：查询索赔单是否已返款。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter5/20.png" class="full-width" />


    <h3>附录1：家用汽车产品修理、更换、退货责任规定</h3>
    <p><b>第一章 总则 </b></p>
    <p>第一条 为了保护家用汽车产品消费者的合法权益，明确家用汽车产品修理、更换、退货（以下简称三包）责任，根据有关法律法规，制定本规定。  </p>
    <p>第二条 在中华人民共和国境内生产、销售的家用汽车产品的三包，适用本规定。
    <p>
        第三条 本规定是家用汽车产品三包责任的基本要求。鼓励家用汽车产品经营者做出更有利于维护消费者合法权益的严于本规定的三包责任承诺；承诺一经作出，应当依法履行。
    </p>
    <p>
        第四条 本规定所称三包责任由销售者依法承担。销售者依照规定承担三包责任后，属于生产者的责任或者属于其他经营者的责任的，销售者有权向生产者、其他经营者追偿。
    </p>
    <p>
        家用汽车产品经营者之间可以订立合同约定三包责任的承担，但不得侵害消费者的合法权益，不得免除本规定所规定的三包责任和质量义务。
    </p>
    <p>
        第五条 家用汽车产品消费者、经营者行使权利、履行义务或承担责任，应当遵循诚实信用原则，不得恶意欺诈。
    </p>
    <p>
        家用汽车产品经营者不得故意拖延或者无正当理由拒绝消费者提出的符合本规定的三包责任要求。
    </p>
    <p>
        第六条 国家质量监督检验检疫总局（以下简称国家质检总局）负责本规定实施的协调指导和监督管理；组织建立家用汽车产品三包信息公开制度，并可以依法委托相关机构建立家用汽车产品三包信息系统，承担有关信息管理等工作。
    </p>
    <p>
        地方各级质量技术监督部门负责本行政区域内本规定实施的协调指导和监督管理。
    </p>
    <p>第七条 各有关部门、机构及其工作人员对履行规定职责所知悉的商业秘密和个人信息依法负有保密义务。 </p>
    </p>
    <p><b>第二章 生产者义务 </b></p>
    <p>第八条 生产者应当严格执行出厂检验制度；未经检验合格的家用汽车产品，不得出厂销售。</p>
    <p>
        第九条 生产者应当向国家质检总局备案生产者基本信息、车型信息、约定的销售和修理网点资料、产品使用说明书、三包凭证、维修保养手册、三包责任争议处理和退换车信息等家用汽车产品三包有关信息，并在信息发生变化时及时更新备案。
    </p>
    <p>
        第十条 家用汽车产品应当具有中文的产品合格证或相关证明以及产品使用说明书、三包凭证、维修保养手册等随车文件。
    </p>
    <p>
        产品使用说明书应当符合消费品使用说明等国家标准规定的要求。家用汽车产品所具有的使用性能、安全性能在相关标准中没有规定的，其性能指标、工作条件、工作环境等要求应当在产品使用说明书中明示。
    </p>
    <p>
        三包凭证应当包括以下内容：产品品牌、型号、车辆类型规格、车辆识别代号（VIN）、生产日期；生产者名称、地址、邮政编码、客服电话；销售者名称、地址、邮政编码、电话等销售网点资料、销售日期；修理者名称、地址、邮政编码、电话等修理网点资料或者相关查询方式；家用汽车产品三包条款、包修期和三包有效期以及按照规定要求应当明示的其他内容。
    </p>
    <p>
        维修保养手册应当格式规范、内容实用。
    </p>
    <p>
        随车提供工具、备件等物品的，应附有随车物品清单。
    </p>
    <p><b>第二章 生产者义务 </b></p>
    <p>第十一条 销售者应当建立并执行进货检查验收制度，验明家用汽车产品合格证等相关证明和其他标识。 </p>


    <p>第十二条 销售者销售家用汽车产品，应当符合下列要求： </p>
    <p>（一） 向消费者交付合格的家用汽车产品以及发票； </p>
    <p>
        （二） 按照随车物品清单等随车文件向消费者交付随车工具、备件等物品；
    </p>
    <p>
        （三） 当面查验家用汽车产品的外观、内饰等现场可查验的质量状况；
    </p>
    <p>
        （四） 明示并交付产品使用说明书、三包凭证、维修保养手册等随车文件；
    </p>
    <p>
        （五） 明示家用汽车产品三包条款、包修期和三包有效期；
    </p>
    <p>
        （六） 明示由生产者约定的修理者名称、地址和联系电话等修理网点资料，但不得限制消费者在上述修理网点中自主选择修理者；
    </p>
    <p>
        （七） 在三包凭证上填写有关销售信息；
    </p>
    <p>
        （八） 提醒消费者阅读安全注意事项、按产品使用说明书的要求进行使用和维护保养。
    </p>
    <p>对于进口家用汽车产品，销售者还应当明示并交付海关出具的货物进口证明和出入境检验检疫机构出具的进口机动车辆检验证明等资料。  </p>


    <p><b>第四章 修理者义务 </b></p>
    <p>第十三条 修理者应当建立并执行修理记录存档制度。书面修理记录应当一式两份，一份存档，一份提供给消费者。
    <p>
        修理记录内容应当包括送修时间、行驶里程、送修问题、检查结果、修理项目、更换的零部件名称和编号、材料费、工时和工时费、拖运费、提供备用车的信息或者交通费用补偿金额、交车时间、修理者和消费者签名或盖章等。
    </p>
    <p>
        修理记录应当便于消费者查阅或复制。
    </p>
    <p>
        第十四条 修理者应当保持修理所需要的零部件的合理储备，确保修理工作的正常进行，避免因缺少零部件而延误修理时间。
    </p>
    <p>
        第十五条 用于家用汽车产品修理的零部件应当是生产者提供或者认可的合格零部件，且其质量不低于家用汽车产品生产装配线上的产品。
    </p>
    <p>第十六条 在家用汽车产品包修期和三包有效期内，家用汽车产品出现产品质量问题或严重安全性能故障而不能安全行驶或者无法行驶的， 应当提供电话咨询修理服务；电话咨询服务无法解决的，应当开展现场修理服务，并承担合理的车辆拖运费。  </p>
    <p><b>第五章 三包责任</b></p>
    <p>第十七条 家用汽车产品包修期限不低于3年或者行驶里程60,000公里，以先到者为准；家用汽车产品三包有效期限不低于2年或者行驶里程50,000公里，以先到者为准。家用汽车产品包修期和三包有效期自销售者开具购车发票之日起计算。
    <p>
        第十八条 在家用汽车产品包修期内，家用汽车产品出现产品质量问题，消费者凭三包凭证由修理者免费修理（包括工时费和材料费）。
    </p>
    <p>
        家用汽车产品自销售者开具购车发票之日起60日内或者行驶里程3000公里之内（以先到者为准），发动机、变速器的主要零件出现产品质量问题的，消费者可以选择免费更换发动机、变速器。发动机、变速器的主要零件的种类范围由生产者明示在三包凭证上，其种类范围应当符合国家相关标准或规定，具体要求由国家质检总局另行规定。
    </p>
    <p>
        家用汽车产品的易损耗零部件在其质量保证期内出现产品质量问题的，消费者可以选择免费更换易损耗零部件。易损耗零部件的种类范围及其质量保证期由生产者明示在三包凭证上。生产者明示的易损耗零部件的种类范围应当符合国家相关标准或规定，具体要求由国家质检总局另行规定。
    </p>
    <p>
        第十九条 在家用汽车产品包修期内，因产品质量问题每次修理时间（包括等待修理备用件时间）超过5日的，应当为消费者提供备用车，或者给予合理的交通费用补偿。
    </p>
    <p>
        修理时间自消费者与修理者确定修理之时起，至完成修理之时止。一次修理占用时间不足24小时的，以1日计。
    </p>
    <p>
        第二十条 在家用汽车产品三包有效期内，符合本规定更换、退货条件的，消费者凭三包凭证、购车发票等由销售者更换、退货。
    </p>
    <p>
        家用汽车产品自销售者开具购车发票之日起60日内或者行驶里程3000公里之内（以先到者为准），家用汽车产品出现转向系统失效、制动系统失效、车身开裂或燃油泄漏，消费者选择更换家用汽车产品或退货的，销售者应当负责免费更换或退货。
    </p>
    <p>
        在家用汽车产品三包有效期内，发生下列情况之一，消费者选择更换或退货的，销售者应当负责更换或退货：
    </p>
    <p>
        （一）因严重安全性能故障累计进行了2次修理，严重安全性能故障仍未排除或者又出现新的严重安全性能故障的；
    </p>
    <p>
        （二）发动机、变速器累计更换2次后，仍不能正常使用的 发动机、变速器的同一主要零件因其质量问题，累计更换2次后，仍不能正常使用的，发动机、变速器与其主要零件更换次数不重复计算；
    </p>
    <p>
        （三）转向系统、制动系统、悬架系统、前/后桥、车身的同一主要零件因其质量问题，累计更换2次后，仍不能正常使用的；
    </p>
    <p>
        转向系统、制动系统、悬架系统、前/后桥、车身的主要零件由生产者明示在三包凭证上，其种类范围应当符合国家相关标准或规定，具体要求由国家质检总局另行规定。
    </p>
    <p>第二十一条 在家用汽车产品三包有效期内，因产品质量问题修理时间累计超过35日的，或者因同一产品质量问题累计修理超过5次的，消费者可以凭三包凭证、购车发票，由销售者负责更换。</p>
    <p>
        下列情形所占用的时间不计入前款规定的修理时间：
    </p>
    <p>
        （一） 需要根据车辆识别代号（VIN）等定制的防盗系统、全车线束等特殊零部件的运输时间；特殊零部件的种类范围由生产者明示在三包凭证上；
    </p>
    <p>
        （二） 外出救援路途所占用的时间。
    </p>
    <p>
        第二十二条 在家用汽车产品三包有效期内，符合更换条件的，销售者应当及时向消费者更换新的合格的同品牌同型号家用汽车产品；无同品牌同型号家用汽车产品更换的，销售者应当及时向消费者更换不低于原车配置的家用汽车产品。
    </p>
    <p>
        第二十三条 在家用汽车产品三包有效期内，符合更换条件，销售者无同品牌同型号家用汽车产品，也无不低于原车配置的家用汽车产品向消费者更换的，消费者可以选择退货，销售者应当负责为消费者退货。
    </p>
    <p>
        第二十四条 在家用汽车产品三包有效期内，符合更换条件的，销售者应当自消费者要求换货之日起15个工作日内向消费者出具更换家用汽车产品证明。
    </p>
    <p>
        在家用汽车产品三包有效期内，符合退货条件的，销售者应当自消费者要求退货之日起15个工作日内向消费者出具退车证明，并负责为消费者按发票价格一次性退清货款。
    </p>
    <p>
        家用汽车产品更换或退货的，应当按照有关法律法规规定办理车辆登记等相关手续。
    </p>
    <p>
        第二十五条 按照本规定更换或者退货的，消费者应当支付因使用家用汽车产品所产生的合理使用补偿，销售者依照本规定应当免费更换、退货的除外。
    </p>
    <p>
        合理使用补偿费用的计算公式为：[（车价款（元）×行驶里程（km））/1000]×n。使用补偿系数n由生产者根据家用汽车产品使用时间、使用状况等因素在0.5%至0.8%之间确定，并在三包凭证中明示。
    </p>
    <p>
        家用汽车产品更换或者退货的，发生的税费按照国家有关规定执行。
    </p>
    <p>
        第二十六条 在家用汽车产品三包有效期内，消费者书面要求更换、退货的，销售者应当自收到消费者书面要求更换、退货之日起10个工作日内，作出书面答复。逾期未答复或者未按本规定负责更换、退货的，视为故意拖延或者无正当理由拒绝。
    </p>
    <p>
        第二十七条 消费者遗失家用汽车产品三包凭证的，销售者、生产者应当在接到消费者申请后10个工作日内予以补办。消费者向销售者、生产者申请补办三包凭证后，可以依照本规定继续享有相应权利。
    </p>
    <p>
        按照本规定更换家用汽车产品后，销售者、生产者应当向消费者提供新的三包凭证，家用汽车产品包修期和三包有效期自更换之日起重新计算。 在家用汽车产品包修期和三包有效期内发生家用汽车产品所有权转移的，三包凭证应当随车转移，三包责任不因汽车所有权转移而改变。
    </p>
    <p>第二十八条 经营者破产、合并、分立、变更的，其三包责任按照有关法律法规规定执行。 </p>


    <p><b>第六章 三包责任免除  </b></p>
    <p>
        第二十九条 易损耗零部件超出生产者明示的质量保证期出现产品质量问题的，经营者可以不承担本规定所规定的家用汽车产品三包责任。
    </p>
    <p>
        第三十条 在家用汽车产品包修期和三包有效期内，存在下列情形之一的，经营者对所涉及产品质量问题，可以不承担本规定所规定的三包责任:
    </p>
    <p>
        （一）消费者所购家用汽车产品已被书面告知存在瑕疵的；
    </p>
    <p>
        （二）家用汽车产品用于出租或者其他营运目的的；
    </p>

    <p>
        （三）使用说明书中明示不得改装、调整、拆卸，但消费者自行改装、调整、拆卸而造成损坏的；
    </p>
    <p>
        （四）发生产品质量问题，消费者自行处置不当而造成损坏的；
    </p>
    <p>
        （五）因消费者未按照使用说明书要求正确使用、维护、修理产品，而造成损坏的；
    </p>
    <p>
        （六）因不可抗力造成损坏的。
    </p>
    <p>
        第三十一条 在家用汽车产品包修期和三包有效期内，无有效发票和三包凭证的，经营者可以不承担本规定所规定的三包责任。
    </p>
    <p><b>第七章 争议的处理  </b></p>
    <p>
        第三十二条 家用汽车产品三包责任发生争议的，消费者可以与经营者协商解决；可以依法向各级消费者权益保护组织等第三方社会中介机构请求调解解决；可以依法向质量技术监督部门等有关行政部门申诉进行处理。
    </p>
    <p>
        家用汽车产品三包责任争议双方不愿通过协商、调解解决或者协商、调解无法达成一致的，可以根据协议申请仲裁，也可以依法向人民法院起诉。
    </p>
    <p>
        第三十三条 经营者应当妥善处理消费者对家用汽车产品三包问题的咨询、查询和投诉。
    </p>
    <p>
        经营者和消费者应积极配合质量技术监督部门等有关行政部门、有关机构等对家用汽车产品三包责任争议的处理。
    </p>
    <p>
        第三十四条 省级以上质量技术监督部门可以组织建立家用汽车产品三包责任争议处理技术咨询人员库，为争议处理提供技术咨询；经争议双方同意，可以选择技术咨询人员参与争议处理，技术咨询人员咨询费用由双方协商解决。
    </p>
    <p>
        经营者和消费者应当配合质量技术监督部门家用汽车产品三包责任争议处理技术咨询人员库建设，推荐技术咨询人员，提供必要的技术咨询。
    </p>
    <p>
        第三十五条 质量技术监督部门处理家用汽车产品三包责任争议，按照产品质量申诉处理有关规定执行。
    </p>
    <p>
        第三十六条 处理家用汽车产品三包责任争议，需要对相关产品进行检验和鉴定的，按照产品质量仲裁检验和产品质量鉴定有关规定执行。
    </p>
    <p><b>第八章 罚则 </b></p>
    <p>
        第三十七条 违反本规定第九条规定的，予以警告，责令限期改正，处1万元以上3万元以下罚款。
    </p>
    <p>
        第三十八条 违反本规定第十条规定，构成有关法律法规规定的违法行为的，依法予以处罚；未构成有关法律法规规定的违法行为的，予以警告，责令限期改正；情节严重的，处1万元以上3万元以下罚款。
    </p>
    <p>
        第三十九条 违反本规定第十二条规定，构成有关法律法规规定的违法行为的，依法予以处罚；未构成有关法律法规规定的违法行为的，予以警告，责令限期改正；情节严重的，处3万元以下罚款。
    </p>
    <p>
        第四十条 违反本规定第十三条、第十四条、第十五条或第十六条规定的，予以警告，责令限期改正；情节严重的，处3万元以下罚款。
    </p>
    <p>
        第四十一条 未按本规定承担三包责任的，责令改正，并依法向社会公布。
    </p>
    <p>
        第四十二条 本规定所规定的行政处罚，由县级以上质量技术监督部门等部门在职权范围内依法实施，并将违法行为记入质量信用档案。
    </p>

    <p><b>第九章 附则 </b></p>
    <p>
        第四十三条 本规定下列用语的含义：

    </p>
    <p>
        家用汽车产品，是指消费者为生活消费需要而购买和使用的乘用车。
    </p>
    <p>
        乘用车，是指相关国家标准规定的除专用乘用车之外的乘用车。
    </p>
    <p>
        生产者，是指在中华人民共和国境内依法设立的生产家用汽车产品并以其名义颁发产品合格证的单位。从中华人民共和国境外进口家用汽车产品到境内销售的单位视同生产者。
    </p>
    <p>
        销售者，是指以自己的名义向消费者直接销售、交付家用汽车产品并收取货款、开具发票的单位或者个人。
    </p>
    <p>
        修理者，是指与生产者或销售者订立代理修理合同，依照约定为消费者提供家用汽车产品修理服务的单位或者个人。
    </p>
    <p>
        经营者，包括生产者、销售者、向销售者提供产品的其他销售者、修理者等。
    </p>
    <p>
        产品质量问题，是指家用汽车产品出现影响正常使用、无法正常使用或者产品质量与法规、标准、企业明示的质量状况不符合的情况。
    </p>
    <p>
        严重安全性能故障，是指家用汽车产品存在危及人身、财产安全的产品质量问题，致使消费者无法安全使用家用汽车产品，包括出现安全装置不能起到应有的保护作用或者存在起火等危险情况。
    </p>
    <p>
        第四十四条 按照本规定更换、退货的家用汽车产品再次销售的，应当经检验合格并明示该车是“三包换退车”以及更换、退货的原因。 “三包换退车”的三包责任按合同约定执行。
    </p>
    <p>
        第四十五条 本规定涉及的有关信息系统以及信息公开和管理、生产者信息备案、三包责任争议处理技术咨询人员库管理等具体要求由国家质检总局另行规定。
    </p>
    <p>
        第四十六条 有关法律、行政法规对家用汽车产品的修理、更换、退货等另有规定的，从其规定。
    </p>
    <p>
        第四十七条 本规定由国家质量监督检验检疫总局负责解释。
    </p>
    <p> 第四十八条 本规定自2013年10月1日起施行。  </p>
    <br />
    <h3>附录2：缺陷汽车产品召回管理条例</h3>
    <p>
        第一条　为了规范缺陷汽车产品召回，加强监督管理，保障人身、财产安全，制定本条例。
    </p>
    <p>
        第二条　在中国境内生产、销售的汽车和挂车（以下统称汽车产品）的召回及其监督管理，适用本条例。
    </p>
    <p>
        第三条　本条例所称缺陷，是指由于设计、制造、标识等原因导致的在同一批次、型号或者类别的汽车产品中普遍存在的不符合保障人身、财产安全的国家标准、行业标准的情形或者其他危及人身、财产安全的不合理的危险。
    </p>
    <p>
        本条例所称召回，是指汽车产品生产者对其已售出的汽车产品采取措施消除缺陷的活动。
    </p>
    <p>
        第四条　国务院产品质量监督部门负责全国缺陷汽车产品召回的监督管理工作。
    </p>
    <p>
        国务院有关部门在各自职责范围内负责缺陷汽车产品召回的相关监督管理工作。
    </p>
    <p>
        第五条　国务院产品质量监督部门根据工作需要，可以委托省、自治区、直辖市人民政府产品质量监督部门、进出口商品检验机构负责缺陷汽车产品召回监督管理的部分工作。
    </p>
    <p>
        国务院产品质量监督部门缺陷产品召回技术机构按照国务院产品质量监督部门的规定，承担缺陷汽车产品召回的具体技术工作。
    </p>
    <p>
        第六条　任何单位和个人有权向产品质量监督部门投诉汽车产品可能存在的缺陷，国务院产品质量监督部门应当以便于公众知晓的方式向社会公布受理投诉的电话、电子邮箱和通信地址。
    </p>
    <p>
        国务院产品质量监督部门应当建立缺陷汽车产品召回信息管理系统，收集汇总、分析处理有关缺陷汽车产品信息。
    </p>
    <p>
        产品质量监督部门、汽车产品主管部门、商务主管部门、海关、公安机关交通管理部门、交通运输主管部门、工商行政管理部门等有关部门应当建立汽车产品的生产、销售、进口、登记检验、维修、消费者投诉、召回等信息的共享机制。
    </p>

    <p>
        第七条　产品质量监督部门和有关部门、机构及其工作人员对履行本条例规定职责所知悉的商业秘密和个人信息，不得泄露。
    </p>
    <p>
        第八条　对缺陷汽车产品，生产者应当依照本条例全部召回；生产者未实施召回的，国务院产品质量监督部门应当依照本条例责令其召回。
    </p>
    <p>
        本条例所称生产者，是指在中国境内依法设立的生产汽车产品并以其名义颁发产品合格证的企业。
    </p>
    <p>
        从中国境外进口汽车产品到境内销售的企业，视为前款所称的生产者。
    </p>
    <p>
        第九条　生产者应当建立并保存汽车产品设计、制造、标识、检验等方面的信息记录以及汽车产品初次销售的车主信息记录，保存期不得少于10年。
    </p>
    <p>
        第十条　生产者应当将下列信息报国务院产品质量监督部门备案：
    </p>
    <p>
        （一）生产者基本信息；
    </p>
    <p>
        （二）汽车产品技术参数和汽车产品初次销售的车主信息；
    </p>
    <p>
        （三）因汽车产品存在危及人身、财产安全的故障而发生修理、更换、退货的信息；
    </p>
    <p>（四）汽车产品在中国境外实施召回的信息； </p>
    <p>
        （五）国务院产品质量监督部门要求备案的其他信息。
    </p>
    <p>
        第十一条　销售、租赁、维修汽车产品的经营者（以下统称经营者）应当按照国务院产品质量监督部门的规定建立并保存汽车产品相关信息记录，保存期不得少于5年。

    </p>
    <p>
        经营者获知汽车产品存在缺陷的，应当立即停止销售、租赁、使用缺陷汽车产品，并协助生产者实施召回。
    </p>
    <p>
        经营者应当向国务院产品质量监督部门报告和向生产者通报所获知的汽车产品可能存在缺陷的相关信息。
    </p>
    <p>
        第十二条　生产者获知汽车产品可能存在缺陷的，应当立即组织调查分析，并如实向国务院产品质量监督部门报告调查分析结果。
    </p>
    <p>
        生产者确认汽车产品存在缺陷的，应当立即停止生产、销售、进口缺陷汽车产品，并实施召回。
    </p>
    <p>
        第十三条　国务院产品质量监督部门获知汽车产品可能存在缺陷的，应当立即通知生产者开展调查分析；生产者未按照通知开展调查分析的，国务院产品质量监督部门应当开展缺陷调查。
    </p>
    <p>
        国务院产品质量监督部门认为汽车产品可能存在会造成严重后果的缺陷的，可以直接开展缺陷调查。
    </p>
    <p>
        第十四条　国务院产品质量监督部门开展缺陷调查，可以进入生产者、经营者的生产经营场所进行现场调查，查阅、复制相关资料和记录，向相关单位和个人了解汽车产品可能存在缺陷的情况。
    </p>
    <p>
        生产者应当配合缺陷调查，提供调查需要的有关资料、产品和专用设备。经营者应当配合缺陷调查，提供调查需要的有关资料。
    </p>
    <p>
        国务院产品质量监督部门不得将生产者、经营者提供的资料、产品和专用设备用于缺陷调查所需的技术检测和鉴定以外的用途。
    </p>
    <p>
        第十五条　国务院产品质量监督部门调查认为汽车产品存在缺陷的，应当通知生产者实施召回。
    </p>
    <p>
        生产者认为其汽车产品不存在缺陷的，可以自收到通知之日起15个工作日内向国务院产品质量监督部门提出异议，并提供证明材料。国务院产品质量监督部门应当组织与生产者无利害关系的专家对证明材料进行论证，必要时对汽车产品进行技术检测或者鉴定。
    </p>
    <p>
        生产者既不按照通知实施召回又不在本条第二款规定期限内提出异议的，或者经国务院产品质量监督部门依照本条第二款规定组织论证、技术检测、鉴定确认汽车产品存在缺陷的，国务院产品质量监督部门应当责令生产者实施召回；生产者应当立即停止生产、销售、进口缺陷汽车产品，并实施召回。
    </p>
    <p>
        第十六条　生产者实施召回，应当按照国务院产品质量监督部门的规定制定召回计划，并报国务院产品质量监督部门备案。修改已备案的召回计划应当重新备案。
    </p>
    <p>
        生产者应当按照召回计划实施召回。
    </p>
    <p>
        第十七条　生产者应当将报国务院产品质量监督部门备案的召回计划同时通报销售者，销售者应当停止销售缺陷汽车产品。
    </p>
    <p>
        第十八条　生产者实施召回，应当以便于公众知晓的方式发布信息，告知车主汽车产品存在的缺陷、避免损害发生的应急处置方法和生产者消除缺陷的措施等事项。
    </p>
    <p>
        国务院产品质量监督部门应当及时向社会公布已确认的缺陷汽车产品信息以及生产者实施召回的相关信息。
    </p>
    <p>
        车主应当配合生产者实施召回。
    </p>
    <p>
        第十九条　对实施召回的缺陷汽车产品，生产者应当及时采取修正或者补充标识、修理、更换、退货等措施消除缺陷。

    </p>
    <p>
        生产者应当承担消除缺陷的费用和必要的运送缺陷汽车产品的费用。
    </p>
    <p>
        第二十条　生产者应当按照国务院产品质量监督部门的规定提交召回阶段性报告和召回总结报告。
    </p>
    <p>
        第二十一条　国务院产品质量监督部门应当对召回实施情况进行监督，并组织与生产者无利害关系的专家对生产者消除缺陷的效果进行评估。
    </p>
    <p>
        第二十二条　生产者违反本条例规定，有下列情形之一的，由产品质量监督部门责令改正；拒不改正的，处5万元以上20万元以下的罚款：
    </p>
    <p>
        （一）未按照规定保存有关汽车产品、车主的信息记录；
    </p>
    <p>
        （二）未按照规定备案有关信息、召回计划；
    </p>
    <p>
        （三）未按照规定提交有关召回报告。
    </p>
    <p>
        第二十三条　违反本条例规定，有下列情形之一的，由产品质量监督部门责令改正；拒不改正的，处50万元以上100万元以下的罚款；有违法所得的，并处没收违法所得；情节严重的，由许可机关吊销有关许可：
    </p>
    <p>
        （一）生产者、经营者不配合产品质量监督部门缺陷调查；

    </p>
    <p>
        （二）生产者未按照已备案的召回计划实施召回；
    </p>
    <p>
        （三）生产者未将召回计划通报销售者。
    </p>
    <p>
        第二十四条　生产者违反本条例规定，有下列情形之一的，由产品质量监督部门责令改正，处缺陷汽车产品货值金额1%以上10%以下的罚款；有违法所得的，并处没收违法所得；情节严重的，许可机关吊销有关许可：
    </p>
    <p>
        （一）未停止生产、销售或者进口缺陷汽车产品；
    </p>
    <p>
        （二）隐瞒缺陷情况；
    </p>
    <p>
        （三）经责令召回拒不召回。
    </p>
    <p>
        第二十五条　违反本条例规定，从事缺陷汽车产品召回监督管理的人员有下列行为之一的，依法给予处分：
    </p>
    <p>
        （一）将生产者、经营者提供的资料、产品和专用设备用于缺陷调查所需的技术检测和鉴定以外的用途；
    </p>
    <p>
        （二）泄露当事人商业秘密或者个人信息；
    </p>
    <p>
        （三）其他玩忽职守、徇私舞弊、滥用职权行为。
    </p>
    <p>
        第二十六条　违反本条例规定，构成犯罪的，依法追究刑事责任。
    </p>
    <p>
        第二十七条　汽车产品出厂时未随车装备的轮胎存在缺陷的，由轮胎的生产者负责召回。具体办法由国务院产品质量监督部门参照本条例制定。
    </p>
    <p>
        第二十八条　生产者依照本条例召回缺陷汽车产品，不免除其依法应当承担的责任。
    </p>
    <p>
        汽车产品存在本条例规定的缺陷以外的质量问题的，车主有权依照产品质量法、消费者权益保护法等法律、行政法规和国家有关规定以及合同约定，要求生产者、销售者承担修理、更换、退货、赔偿损失等相应的法律责任。
    </p>
    <p>
        第二十九条　本条例自2013年1月1日起施行。
    </p>

    <h3>附录3：家用汽车产品严重安全性能故障判断指南</h3>
    <b>引 言</b>
    <p>为配合《家用汽车产品修理、更换、退货责任规定》（以下简称“汽车三包规定”）的贯彻实施，为严重安全性能故障的判断提供参考依据，特制定本指南。  </p>
    <p>在汽车三包规定中，严重安全性能故障是影响汽车产品更换、退货的重要条件之一，因此对严重安全性能故障的判断极为关键。本指南规定了判断家用汽车产品严重安全性能故障的前提条件、基本原则，并列举了主要故障模式、相关说明及示例，为严重安全性能故障的判断提供易于理解且便于操作的参考依据。随着汽车三包规定的实施、汽车技术的发展及本指南的实践应用，本指南将适时进行更新和完善。 </p>
    <p>本指南为技术指导性文件，若其内容与法律、法规、国家标准或行业标准不一致的，以法律、法规、国家标准或行业标准为准。本指南可供消费者、经营者、行政管理部门、技术咨询人员和消费者权益保护组织等单位、个人及第三方机构在汽车三包规定执行及汽车三包责任争议处理中参考使用。  </p>
    <div class="col-md-12">
        <p class="text-right"> 汽车三包专业技术委员会 <br /> 二〇一三年九月</p>
    </div>
    
    <br />
    <br />
    <br />
    <b>1 范围</b>
    <p>本指南适用于汽车三包规定中家用汽车产品严重安全性能故障的判断。 </p>
    <b>2 定义</b>
    <p>
        2.1 严重安全性能故障
    </p>
    <p>
        家用汽车产品存在危及人身、财产安全的产品质量问题，致使消费者无法安全使用家用汽车产品，包括出现安全装置不能起到应有的保护作用或者存在起火等危险情况。
    </p>
    <p>
        2.2 故障模式
    </p>
    <p>
        家用汽车产品严重安全性能故障的表现形式。
    </p>
    <p>
        2.3 失效
    </p>
    <p>
        汽车整车、主要系统或零部件在正常使用过程中，因产品质量问题导致规定功能完全丧失或主要性能严重下降的现象。
    </p>
    <p>
        规定功能是指产品在法规、标准中规定的和企业明示的功能；主要性能是指产品在法规、标准中规定的和企业明示的性能。
    </p>
    <b>3 判断严重安全性能故障的前提条件</b>
    <p>家用汽车产品存在质量问题，并且已经发生故障，导致或可能导致危及人身、财产安全的事故。 </p>
    <b>4 判断严重安全性能故障的基本原则</b>
    <p>
        构成严重安全性能故障，应同时符合以下三个原则：
    </p>
    <p>
        4.1 故障的突发性
    </p>
    <p>
        故障发生前，驾驶员或乘员无法预见将要发生的故障；
    </p>
    <p>
        4.2 危险的不可控性
    </p>
    <p>
        故障发生时，驾驶员或乘员难以采取措施，防止事故发生；
    </p>
    <p>
        4.3 后果的严重性
    </p>
    <p>
        故障带来的后果已经危及或将危及到人身、财产安全。
    </p>
    <b>5 严重安全性能故障主要故障模式 </b>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="10%">序号</th>
            <th width="30%">主要故障模式</th>
            <th width="60%">故障说明及典型故障示例</th>
        </tr>
        <tr>
            <td>1</td>
            <td>制动失效</td>
            <td><p>由于基本制动功能或制动助力功能突然失效，使驾驶员无法按其意愿对车辆进行制动操作，控制车辆减速，包括驻车制动突然失效使车辆无法驻车或行驶中车辆自行制动。</p></td>
        </tr>
        <tr>
            <td>2</td>
            <td>转向失效</td>
            <td><p>汽车在行驶中，由于转向功能或转向助力功能突然失效，使驾驶员无法按其意愿控制车辆的行驶方向。</p></td>
        </tr>
        <tr>
            <td>3</td>
            <td>动力失效</td>
            <td><p>由于动力系统原因导致汽车突然自行持续加速或无法减速。</p></td>
        </tr>
        <tr>
            <td>4</td>
            <td>安全装置失效</td>
            <td><p>汽车在碰撞时安全装置无法按规定的功能对驾驶员或乘员起到应有的保护作用，如安全带、安全气囊或座椅固定装置的失效，汽车行驶中驾驶员或乘员车门自行打开。</p></td>
        </tr>
        <tr>
            <td>5</td>
            <td>车辆火灾</td>
            <td><p>由于汽车的电气故障、易燃油液泄漏或局部过热等原因可能引起火灾风险。</p></td>
        </tr>
        <tr>
            <td>6</td>
            <td>视野丧失</td>
            <td><p>汽车在行驶时车外前方视野突然丧失，如行驶中发动机舱盖自行掀起。</p></td>
        </tr>
        <tr>
            <td>7</td>
            <td>车辆姿态失控</td>
            <td><p>汽车在正常行驶时由于汽车受力构件如车轮、悬架、前/后桥、动力传动、车身等部件的原因，导致车辆突然失控。</p></td>
        </tr>
    </table>
    <br />
    <br />
</div>

