@{
    Layout = "~/Views/OperationStandard/_LayoutAftersales.cshtml";

}
<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />

    <br />
    <br />
    <h3 id="chapter3">备件管理</h3>
    <br />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/1.png" class="full-width" style=" height:600px; " />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            备件业务是经销商售后服务业务的重要组成部分，是售后服务工作的保障与售后利润的主要来源。本篇内容从备件部门岗位职责入手，系统地介绍了备件部门岗位设置要求和备件日常业务工作内容，包括具体工作流程与工具表格，以帮助经销商规范备件部门的业务流程、提高经销商的服务水平和市场竞争力，从而提高客户满意度和大众进口汽车的品牌形象。
        </p>
    </div>
    <h3>本章主要适用对象</h3>
    <ul style="list-style: decimal">
        <li>备件经理</li>
        <li>备件计划员</li>
        <li>备件库管员</li>
    </ul>
    <br />
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Aftersales/chapter2/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="#section-1">核心岗位工作</a></li>
            <li><a href="#section-2">备件基础知识</a></li>
            <li><a href="#section-3">备件仓库规划</a></li>
            <li><a href="#section-4">备件业务管理</a></li>
            <li><a href="#section-5">财务结算</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-1">核心岗位工作</h3>
            <br />
            <p>
                在售后业务中，备件部门的工作具有一定独立性，承担着备件订货计划及管理的职责；同时，备件业务与售后服务其他业务又有着紧密的联系。根据备件管理所涉及到工作，明确各岗位责任与分工，是做好备件管理工作的前提。本节内容目的是明确备件部门相关人员岗位职责、任职资格以及日常核心工作。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-1-01">备件部员配备</a></li>
                <li><a href="#section-1-02">核心岗位职责</a></li>
                <li><a href="#section-1-03">核心岗位工作</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-1-01">备件部员配备</h3>
    <h4>备件人员配备标准</h4>
    <p>经销商应设置备件经理、备件计划员和备件库管员三个岗位。</p>
    <h4>备件人员从业资格</h4>
    <ul>
        <li>备件经理需参加大众进口汽车组织的备件业务培训，且结业考试合格，获得培训合格证，该合格证在大众进口汽车全网内有效，有效期两年。</li>
        <li>备件计划员和备件库管员需参加大众进口汽车组织的备件业务培训，且培训合格。</li>
        <li>大众进口汽车每两年对经销商备件经理重新进行从业资格考试，考试不合格者进行补考，补考不合格者取消从业资格。</li>
        <li>经销商备件经理要定期对备件计划员和备件库管员进行备件业务培训，培训管理按售后内部培训管理制度执行。</li>
    </ul>
    <h4>备件人员信息变更</h4>
    <ul>
        <li>经销商备件经理发生人事变动前一个月，需要填写《经销商备件经理离任调任说明》（参见附表：经销商备件经理离任调任说明），总经理和服务经理签字并扫描后以邮件形式发送至大众进口汽车备件部相关部门。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/2.png" class="full-width" />
    <br />
    <br />

    <h3 id="section-1-02">核心岗位职责</h3>
    <h4>备件经理</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            服务经理
                        </td>
                        <td>
                            备件计划员、备件库管员
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul>
                    <li>执行厂商备件相关标准。</li>
                    <li>确保备件资金使用效率，完成备件销售目标。</li>
                    <li>备件内部管理，确保备件部门内各项流程和业务的质量。</li>
                    <li>确保迅速且符合要求地供给备件，有效地支持车间和满足客户的需求。</li>
                    <li>对备件部人员进行考核，确保备件部门员工的服务质量。</li>
                    <li>协调备件部与其他业务部门的关系。</li>
                    <li>负责备件人员的培训及转训。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul>
                    <li>汽车及相关专业或机械类专业大专以上或同等学历。</li>
                    <li>两年以上相关工作经验。</li>
                    <li>有汽车业内相关资格认证。</li>
                    <li>较强的沟通协调及管理能力。</li>
                </ul>
            </td>
        </tr>
    </table>

    <h4>备件计划员</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            备件经理
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul>
                    <li>预测市场及订货行情，并将有关信息反馈给大众进口汽车备件部。</li>
                    <li>制定备件的储备定额及最低库存量。</li>
                    <li>制定备件计划并进行订货跟踪工作。</li>
                    <li>负责备件订货文本的存档。</li>
                    <li>负责填写备件索赔申请，向大众进口汽车备件科提出备件索赔。</li>
                    <li>负责审核备件管理账目和报表，抽检库存备件状况，采取有效措施防止备件积压。</li>
                    <li>收集、分析、反馈备件有关信息。</li>
                    <li>汇总技术相关数据，定期进行分析，制作技术报告并进行汇报。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul>
                    <li>汽车及相关专业或机械类专业大专以上或同等学历。</li>
                    <li>两年以上相关工作经验。</li>
                    <li>有汽车业内相关资格认证。</li>
                    <li>年龄在45周岁以下。</li>
                    <li>较强的沟通协调及管理能力。</li>
                </ul>
            </td>
        </tr>
    </table>

    <h4>备件库管员</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            备件经理
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul>
                    <li>检查到货备件，按照入库流程进行理货、入库。</li>
                    <li>管理、维护备件库备件的摆放。</li>
                    <li>根据车间需要在备件库中拣货或打包备件。</li>
                    <li>发现非纯正备件，向负责人汇报。</li>
                    <li>按照安全、卫生和健康相关规定，清理和维护工具、设备和存储区域。</li>
                    <li>负责备件仓储收发管理及库存盘点。</li>
                    <li>根据有关备件索赔规定及时处理备件索赔工作。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul>
                    <li>汽车及相关专业或机械类专业大专以上或同等学历。</li>
                    <li>两年以上相关工作经验。</li>
                    <li>有汽车业内相关资格认证。</li>
                    <li>年龄在45周岁以下。</li>
                    <li>较强的沟通协调及管理能力。</li>
                    <li>较强的沟通协调及管理能力。</li>
                </ul>
            </td>
        </tr>
    </table>

    <br />
    <h3 id="section-1-03">核心岗位工作</h3>
    <h4>各岗位核心工作</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/36.png" class="per80-width" />
    <br />
    <br />
    <h3>工具表格</h3>
    <h4>附表：经销商备件经理离任/调任说明（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/2-1.png" class="full-width" />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-2">备件基础知识</h3>
            <br />
            <p>
                汽车备件种类繁多，特征属性有所差异，使用频率各不相同，因此对备件需要进行合理的分类与科学的管理。本节主要介绍大众系统备件分类标准、管理方法和大众进口汽车备件相关管理规范。目的是为了帮助经销商明确备件分类管理的标准、方法及厂家管理规定，为合理地进行备件订货、仓储管理等工作打下基础，最终实现降低库存管理成本、提高库存效率。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-2-01">备件分类</a></li>
                <li><a href="#section-2-02">备件编号</a></li>
                <li><a href="#section-2-03">备件管理规定</a></li>
                <li><a href="#section-2-04">备件IT及信息系统</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-2-01">备件分类</h3>
    <h4>非库存管理备件</h4>

    <p>备件库存管理是影响售后维修绩效和售后服务品质的重要因素之一。对成千上万的备件，并非所有的备件都需要进行常规备货，比如新车上市以及老车型淘汰时期，备件的消耗数量一般非常有限。对于这些月均备件消耗数量低于某一设定水平的备件称之为非库存管理备件，可以不进行常规备货，以提升备件管理效率、降低备件库存管理成本。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/3.png" class="col-md-12" />
    <p>总体来说，在确定非库存管理备件时要注意两种特殊情况：</p>
    <ul>
        <li>当大众进口汽车对某种新车型规定了必要的库存品种及数量时，要按照规定进行备货。</li>
        <li>处于车型淘汰期的备件，应采取只消耗库存而不补充库存的处理方式。</li>
    </ul>

    <h4>常规库存备件管理</h4>
    <p>针对需要进行常规库存的备件，在资源有限的情况下，将资源集中在重要的备件上，依据备件重要程度分别管理，这就是实践中的ABC分类管理思想。</p>
    <h5><b>ABC分类法概述</b></h5>
    <p>ABC分类法(Activity Based Classification) 又称帕累托分析法、主次因分析法，也就是通常所说“80/20”规则。由于它把被分析的对象分成A、B、C三类，所以又称为ABC分析法。</p>
    <h5><b>ABC分类原则</b></h5>
    <p>分类管理就是将库存备件按品种和占用资金的多少分为特别重要的库存（A类）、一般重要的库存（B类）和不重要的库存（C类）三个等级，然后针对不同等级分别进行管理与控制。</p>

    <ul>
        <li>分类的标准是库存备件所占总库存资金的比例和所占总库存备件品种数目的比例。</li>
        <li>因此，对这些少数品种备件管理的好坏就成为企业经营成败的关键。</li>
    </ul>
    <h5><b>ABC分类标准及比例</b></h5>
    <table class="table table-bordered text-center organizational-table">
        <tr>
            <th width="70">ABC类</th>
            <th>参考分类标准</th>
            <th width="75">
                品种占比
            </th>
            <th width="85">
                出库量占比
            </th>
        </tr>
        <tr>
            <td>A</td>
            <td style="text-align:left">半年出库总次数 3 次以上（含3 次），同时总计量 12 个（含12个）以上者。</td>
            <td>0~10%</td>
            <td>70%~80%</td>
        </tr>
        <tr>
            <td>B</td>
            <td style="text-align:left">半年出库总次数2次以上（含2 次），同时总计量 6 个（含6个）以上者，或不符 A 类定义者。</td>
            <td>10%~20%</td>
            <td>10%~20%</td>
        </tr>
        <tr>
            <td>C</td>
            <td style="text-align:left">半年出库加总次数 1 次（含 1 次）以下，或不符B类定义者。</td>
            <td>70%~80%</td>
            <td>0~10%</td>
        </tr>
    </table>
    <h5><b>对不同类别备件的管理</b></h5>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="33%">
                A类库存备件
            </th>
            <th width="33%">
                B类库存备件
            </th>
            <th width="33%">
                C类库存备件
            </th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        A类库存备件数量虽少但对经销商最为重要，经销商必须对这类库存加强进货、发货、运送管理，定时进行盘点，经常检查并详细记录备件使用、存量增减等信息，在满足经销商内部需要和客户需要的前提下维持尽可能低的经常库存量和安全库存量，加快库存周转率。
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>B类库存的状况处于A类库存和C类库存之间，因此对这类库存的管理强度介于A类库存和C类库存之间。</li>
                    <li>对B类库存进行正常的例行管理和控制即可，一般情况下按最小库存状态运行，订货采用定期定量方式，库存盘点可以按季度进行。</li>

                </ul>
            </td>
            <td>
                <ul>
                    <li>C类库存备件数量最大但对经销商的重要性最低，被视为不重要的库存。</li>
                    <li>管理中建议采用大批订货方式，减少订货成本，在使用中主要以控制总库存资金为主。比如，大量采购大量库存、减少这类库存的人员和设施、库存检查时间间隔长等。</li>
                </ul>
            </td>
        </tr>
    </table>
    <h5><b>应注意的问题</b></h5>
    <ul>
        <li>在使用ABC分类管理方法时，必须注意库存备件的单价和重要性问题。</li>
        <li>单价高额备件，其数量的变动对占用库存资金的变化影响更大，在A类备件中更应引起关注，管理应尽可能往零库存方向发展。</li>
        <li>必须考虑备件对售后生产的重要性，因为有些甚至被划为C类的备件可能对经销商的生产活动有着至关重要的影响。为了应对这一问题，需要将备件按重要性进行分类。</li>
        <li>通常采用两者相结合的方法，以更准确地对库存进行分类管理。</li>
    </ul>
    <br />
    <h3 id="section-2-02">备件编号</h3>
    <h4>备件编号体系</h4>
    <p>在大众备件管理体系中，备件是通过阿拉伯数字和英语26个字母的组合，成为一套简明，完整，精确，科学的备件编号系统的。每一个备件只对应一个号码，每个字母，每组数字，都表示这个件的某种性质。</p>
    <p>在大众系统中进行订货时，系统只接受备件编号和数量，不接受名称。备件编号在电子目录中查询，而且实物编码与订货编码是略有区别的。</p>
    <h4>备件编号体系</h4>
    <p>备件编号一般为14位，由数字和字母组成，14位代码又分为车型代码、主组及子组、备件号、变更代码和颜色代码。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/4.png" class="full-width" />
    <br />
    <h5><b>车型代码（1-3位）</b></h5>
    <ul>
        <li>当该件是发动机或变速箱件时，前三位为车型代码。</li>
        <li>一般情况下，前三位为奇数时，代表左置方向盘车，为偶数时，代表右置方向盘车。</li>
    </ul>
    <table class="table table-bordered organizational-table">
        <tr>
            <th>
                分类
            </th>
            <th>
                车型代码
            </th>
            <th>
                说明
            </th>
            <th>
                备注
            </th>
        </tr>
        <tr>
            <td>
                前置号按车型
            </td>
            <td>
                N AN
            </td>
            <td>
                第二位为车型，第三位为结构
            </td>
            <td colspan="2">
                <ul>
                    <li>
                        N：数字
                    </li>
                    <li>
                        A：字母
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                前置号按总成
            </td>
            <td>
                <ul style="list-style:decimal">
                    <li>N NN</li>
                    <li>N AN</li>
                </ul>
            </td>
            <td>
                第一位必为“0”，后二位为总成
            </td>
        </tr>
    </table>
    <p>例如：</p>
    <ul>
        <li>(7L6) 807 417 D ，为（途锐）保险杠遮护板</li>
        <li>(01L) 300 043 K ，为自动变速箱</li>
    </ul>
    <h4>备件编号的组成</h4>
    <h5><b>主组与子组（4-6位）</b></h5>
    <p>其中第四位数字代表主组，第五、六位数字代表子组。根据备件在汽车结构中的差异和性能的不同，将备件编号分成十个主组，每个主组又分为若干个子组；子组的数目和大小，因所述主组部件结构的不同而不同，子组只有跟主组组合在一起才有意义。</p>
    <h5>主组（4位）</h5>
    <ul>
        <li>1主组：发动机及燃油喷射系统</li>
        <li>2主组：油箱及供油管路、排气系统及空调设备的制冷循环系统</li>
        <li>3主组：变速箱</li>
        <li>4主组：前轴(前悬挂)、差速器及转向系统</li>
        <li>5主组：后轴(后悬挂)、差速器及转向系统</li>
        <li>6主组：车轮、刹车系统</li>
        <li>7主组：手操纵系统、脚踏板组</li>
        <li>8主组：车身、空调、暖风控制系统</li>
        <li>9主组：电器</li>
        <li>0主组：附件</li>
        <li>N主组：标准件</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/5.png" class="full-width" />
    <br />
    <h5>子组</h5>
    <p>子组详细分类与内容，请参考备件电子目录（ETKA系统）</p>
    <h5><b>备件号（7-9位）</b></h5>
    <p>备件号又称尾号或后置号，由三位数(001-999)组成并按照结构顺序编排，表示具体部件，一般备件号越小，备件越大；备件号越大，备件越小。</p>
    <p>如果备件不分左右，最后一位数字为单数；如果备件分左右件，单数为左边件，双数为为右边件。</p>
    <h5><b>变更代码（10-11位）</b></h5>
    <p>当备件发生变化时，为区分变化前后零部件的不同，使用变更标记。变更代码由一个或两个字母组成，更改包括以下内容：</p>
    <ul>
        <li>对备件材料的改变；</li>
        <li>对备件结构的改变；</li>
        <li>对备件技术要求的改变，如：公差、硬度等；</li>
        <li>备件来源的变化，如：供应商的改变。</li>
    </ul>
    <h5><b>颜色代码（12-14位）</b></h5>
    <p>颜色代码用来区别有颜色的内部装饰，三位数字或字母是一组。</p>

    <br />

    <h3 id="section-2-03">备件管理规定</h3>
    <h4>一般管理规定</h4>
    <ul>
        <li>对于原厂备件，大众进口汽车提供建议零售价格，建议经销商参考实施。如果建议零售价格与当地物价管理部门规定不符，以物价管理部门规定为准。</li>
        <li>经销商应配合大众进口汽车向客户做好宣传工作，不得存放、销售、维修使用假冒伪劣产品。</li>
        <li>A/B类备件的存储备量不得低于1.5个月的备件使用量，机油的储备量不得低于1个月的机油使用量。</li>
        <li>C类备件中，对非自身保有车型的非常用备件，应谨慎进行库存储备以免产生呆滞库存；进入储备项目备件的最低库存储备量不得低于一个订单处理周期和一个到货周期的备件使用量与安全库存量的总和。</li>
        <li>对于CCC备件，由于报关时间比普通备件长，其安全库存储备量应比相同销售级别的普通备件高。</li>
    </ul>

    <h4>三包备件库存要求</h4>
    <h5><b>三包备件分类及库存要求</b></h5>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="30%">
                备件类型
            </th>
            <th>
                对经销商库存要求
            </th>
            <th width="30%">
                备注
            </th>
        </tr>
        <tr>
            <td>
                <span>
                    强烈建议库存：大众进口汽车有销售历史并且大众进口汽车有索赔历史的备件
                </span>
            </td>
            <td>
                <ul>
                    <li>
                        自2013年9月2日起，对于有销售记录的车型，建议经销商至少备一套单车用量库存；
                    </li>
                    <li> 对应车型年销量每增加60台/每年，建议增加一套单车用量库存。</li>

                </ul>
            </td>
            <td rowspan="2">
                <span>
                    任何备件都有可能因为质量问题产生三包责任，因此除了大众进口汽车推荐清单中的备件外，经销商须务必根据自身的保有车型，出库数量及出库频次确保最低的安全库存。
                </span>
            </td>
        </tr>
        <tr>
            <td><span>一般建议库存：有销售历史但无索赔历史的备件及不在推荐清单中的备件  </span></td>
            <td>
                <ul>
                    <li>A/B类库存建议不低于1.5个月的使用量；</li>
                    <li>C类备件，经销商根据保有车型及主要故障类型分析决定是否建储。</li>
                </ul>
            </td>
        </tr>
    </table>
    <h5><b>三包备件库存管理注意事项</b></h5>
    <ul>
        <li>随时关注国家关于家用汽车的产品三包相关政策变化，及时调整三包备件库存。</li>
        <li>对经销商订单中的欠货备件，经销商可填写备件问题反馈表发给所在区域的大众进口汽车备件销售区域主管并抄送给所在区域的大区经理进行协调解决（参见附表：备件问题反馈及特殊支持需求申请表 ）。</li>
        <li>对于因经销商备件储备量不足而引发的客户投诉甚至退车等经济损失，由经销商自行承担 。</li>
    </ul>
    <br />
    <div class="pull-width" style="border:solid 1px #000"></div>
    <p>安全库存量应考虑预防到货周期波动需要储备的库存量和预防需求波动需储备的库存量。</p>
    <ul style="list-style:square">
        <li>预防到货周期波动需要储备的库存量=月均需求量*（统计期最大到货周期天数*目标满足率-统计期平均到货周期天数）/30；</li>
        <li>预防需求波动需要储备的库存量=月均需求量*（统计期最大需求量*目标满足率-统计期平均需求量）/统计期平均需求量。</li>
    </ul>

    <h4>备件奖励政策范围</h4>
    <p>为了激励经销商开拓备件业务的市场空间，提高经销商盈利水平，大众进口汽车会定期针对授权经销商备件制定奖励政策。 </p>
    <p>备件奖励政策内容包括原厂备件和机油，原厂备件和机油根据采购量分别进行奖励评估。召回备件不计入奖励评估范围。  </p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="50%">
                备件奖励政策
            </th>
            <th width="50%">
                机油奖励政策
            </th>
        </tr>
        <tr>
            <td>
                <h5><b>备件奖励依据：</b></h5>
                <p>基于评估周期内经销商备件采购金额、备件采购目标达成率及备件采购同比增长金额进行计算。其中：</p>
                <ul>
                    <li>经销商备件采购金额指评估周期内SAP系统发票确认的采购金额</li>
                    <li>经销商备件采购目标达成率= 评估周期内经销商备件采购额/评估周期内经销商采购目标×100%</li>
                    <li>经销商备件采购同比增长金额 = 评估周期内经销商备件采购额 –前一年同期经销商备件采购额</li>
                </ul>
                <h5><b>备件奖励前提：</b></h5>
                <p>评估周期内经销商备件采购目标达成率和评估周期内每季度经销商备件采购目标达成率达到一定标准</p>
                <h5><b>备件奖金计算方法：：</b></h5>
                <ul>
                    <li>经销商备件采购奖金 = 基本奖金 + 达成率奖金 + 增长奖金</li>
                </ul>
                <br />
                <span>注：具体要求和奖励办法结合备件部当年最新下发备件奖励相关政策。</span>
            </td>
            <td>
                <h5><b>机油奖励依据：</b></h5>
                <p>基于评估周期内经销商机油采购金额排名或评估周期内经销商机油采购目标达成率。其中：</p>
                <ul>
                    <li>评估周期内经销商机油采购金额排名是指评估周期内SAP系统发票确认的采购金额排名</li>
                    <li>评估周期内经销商机油采购目标达成率=评估周期内经销商机油采购金额/评估周期内经销商采购目标 ×100%</li>
                    <li>两种奖励评估标准中实际计算奖励金额较高的一个作为经销商机油奖励发放标准</li>
                </ul>
                <h5><b>备件奖励前提：</b></h5>
                <p>机油奖励的前提是评估周期内经销商机油采购目标达成率和评估周期内每季度经销商机油采购目标达成率达到一定标准</p>
                <br />
                <br />
                <br />
                <br />
                <span>注：具体要求和奖励办法结合备件部当年最新下发备件奖励相关政策。</span>
            </td>
        </tr>
    </table>

    <br />
    <h3 id="section-2-04">备件IT及信息系统</h3>
    <h4>备件IT系统概述</h4>
    <p>备件管理涉及到数据非常庞大、管理极为复杂，为此大众汽车开发了一系列备件管理系统和工具，以便经销商提高备件管理效率，建议经销商结合日常备件业务使用。</p>
    <p>目前，大众进口汽车备件相关或包含备件管理模块的主要IT系统包括以下几种：</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="30%">
                系统
            </th>
            <th width="70%">
                功能与用途
            </th>
        </tr>
        <tr>
            <td>
                DFS
            </td>
            <td>
                <ul>
                    <li>经销商前端系统</li>
                    <li>用于日常备件订货</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                DM
            </td>
            <td>
                <ul>
                    <li>经销商管理软件系统的备件模块</li>
                    <li>备件业务管理</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                ETKA
            </td>
            <td>
                <ul>
                    <li>备件电子目录系统</li>
                    <li>用于查询备件基本信息</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                AutoPart
            </td>
            <td>
                <ul>
                    <li>备件自动补货系统</li>
                    <li>用于常规备件的补货</li>
                </ul>
            </td>
        </tr>
    </table>
    <h4>备件IT系统介绍</h4>
    <h5><b>DFS系统简介</b></h5>
    <p>DFS系统，即经销商前端系统，是配合备件订货流程设计和开发的备件订货系统，DFS系统可以在网页实时操作，而不需要单独安装本地程序。</p>
    <p>DFS系统支持经销商备件订单创建、备件索赔和索赔件退回、备件信息处理和备件日常管理等方面的功能（DFS系统功能与详细操作请参考《经销商前端系统 (DFS) 培训指南》）。</p>
    <br />
    <div class="text-center pull-width">
        <img src="~/Content/images/OperationStandard/Aftersales/chapter3/6.png" />
    </div>
    <br />
    <h5><b>DFS系统简介</b></h5>
    <p>大众进口汽车经销商管理系统（DMS）是一个综合性管理系统，通过DMS系统中的备件管理模块，经销商可以查询和创建备件卡片，进行备件采购、备件销售及备件库存管理等。其中：</p>
    <ul></ul>
    <h5><b>ETKA系统简介</b></h5>
    <div class="row">
        <div class="col-md-8">
            <p>ETKA是德国大众汽车集团全球统一的备件目录查询系统，属于汽车备件销售的核心系统之一。通过ETKA系统，经销商可以快速获取大众进口汽车品牌原装备件及精品附件信息。</p>
            <p>经销商可与北京国富安电子商务安全认证有限公司联系购买ETKA系统及服务。在购买系统及服务时需填写ETKA订购单，后续续费需填写ETKA使用费交费单，加密卡发生故障需要置换时填写置换单（所需表参见附表《ETKA订购单》、《ETKA使用费交费单》和《ETKA置换单》。</p>

        </div>
        <div class="col-md-4" style="vertical-align:middle">
            <img src="~/Content/images/OperationStandard/Aftersales/chapter3/7.png" width="80%" />
        </div>
    </div>

    <h5><b>AutoPart系统简介</b></h5>
    <div class="flow">
        <img src="~/Content/images/OperationStandard/Aftersales/chapter3/8.png" />
        <p>AutoPart系统能够根据经销商销售历史数据，自动计算合适的快速消耗备件的采购量，并自动下单：</p>
        <ul>
            <li>依据经销商每个常用备件的实际出货量而非采购量计算最佳补货量，真实反应经销商需求。</li>
            <li>有助于减少紧急订单数量，降低备件采购成本并有助于经销商获得厂家返利。</li>
            <li>维持最佳的库存状态。</li>
        </ul>

        <p>AutoPart依据销售历史记录自动评估经销商每个备件，单独计算是否需要补货，系统中高低储位和补货量均为AutoPart严格依据备件的销售数量和销售次数自动计算，一旦可用库存低于低储位，AutoPart自动补货至高储位。</p>
    </div>

    <h4>备件相关信息来源</h4>
    <h5><b>公共邮箱</b></h5>
    <p>经销商对于备件有疑问或需要进行咨询，请联系大众进口汽车备件部门公共邮箱，地址如下：</p>
    <ul>
        <li>vw_p&a_notification@volkswagen.com.cn</li>
    </ul>
    <p>或者服务公共邮箱，地址如下：</p>
    <ul>
        <li>
            vw_service_notification@volkswagen.com.cn
        </li>
    </ul>
    <h5><b>Dealer Portal（大众进口汽车经销商信息系统）</b></h5>
    <ul>
        <li>
            http://10.167.8.234:7070/vdrs/portal.do
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/9.png" class="per80-width" />
    <br />
    <br />

    <h3>工具表单</h3>
    <h4>附表：备件问题反馈及特殊支持需求申请表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/10.png" class="per80-width" />
    <h4>附表：ETKA订购单（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/11.png" class="per80-width" />
    <h4>附表：ETKA使用费交费单（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/12.png" class="per80-width" />
    <h4>附表：ETKA加密卡置换单（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/13.png" class="per80-width" />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-3">备件库规划</h3>
            <br />
            <p>
                备件库规划对合理利用备件库和发挥备件库在物流中的作用有着重要意义。本节将就如何规划经销商备件库进行相关的说明，涉及进行备件库规划时的设计标准、环境要求与货架标准。目的是为经销商备件部门进行备件仓建造和库房改造提供标准和参考。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-3-01">备件库规划要求</a></li>
                <li><a href="#section-3-02">备件库规模与位置</a></li>
                <li><a href="#section-3-03">备件库功能区规划</a></li>
                <li><a href="#section-3-04">备件库环境</a></li>
                <li><a href="#section-3-05">备件库货架标准</a></li>
                <li><a href="#section-3-06">售后目标管理</a></li>
                <li><a href="#section-3-07">售后报告</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-3-01">备件库规划要求</h3>
    <h4>备件库规划的内容</h4>
    <p>备件库规划是对备件库区的总体设计、备件库建设规模等内容的确定，备件库规划的目的是为了保证备件库合理布局、并满足售后业务的发展需要。</p>
    <h5><b>备件库区总体设计条件</b></h5>
    <p>库区总体设计是根据库区场地条件、备件库规模、储存物品的特性以及仓储技术条件等因素，对备件库的主要建筑物、辅助建筑物、理货区等固定设施和备件库内路线所进行的总体安排和配置，以最大限度地提高备件库储存能力和作业能力，降低各项费用。 </p>
    <p>
        备件库总体设计应满足以下条件：
    </p>
    <ul>
        <li>符合国家相关机构要求的建筑、消防及安全标准。</li>
        <li>方便备件库作业和物品的储存安全。</li>
        <li>最大限度地利用备件库面积，减少用地。</li>
        <li>防止重复装卸搬运、迂回运输，避免交通阻塞。</li>
        <li>结合备件库当前需要和长远规划，要利于将来备件库的扩建等。</li>
    </ul>
    <h5><b>备件库建筑设施</b></h5>
    <p>备件库建筑设计要符合备件库业务需要和有利于组织仓储作业，且保证备件库安全，能充分利用备件库空间等。备件库建筑一般由备件库室内地坪、墙体、屋顶和门窗几部分组成，库房建筑各主要组成部分的功能和一般技术要求如下： </p>
    <ul>
        <li>室内地坪的作用主要是承受货物、货架以及人和机械设备等的荷载，因此，地坪须有足够的强度保证安全使用。</li>
        <li>墙体是库房建筑的主要组成部分，起着承重、围护和分隔等作用。承重外墙除要求满足具有承重能力的条件外，还需要考虑保温、隔热、防潮等要求，以减少外部温湿度变化对库存物品的影响。</li>
        <li>屋顶的作用是抵御雨雪、避免日晒等自然因素的影响，它由承载和覆盖两部分构成。对屋顶的一般要求是防水、保温隔热，并具有一定的防火性能，符合自重要轻、坚固耐用的要求等。</li>
        <li>门窗是库房围护结构的组成部分，要求具备有防水、保温、防火、防盗等性能。窗户的形状、位置和数量应能保证库内采光和通风的需要；库门的数量、尺寸应考虑库房的大小、周转量的多少、运输工具的类型、规格和储存物品的形状等因素。</li>
    </ul>
    <br />

    <h3 id="section-3-02">备件库规模与位置</h3>
    <h4>备件库规模</h4>
    <p>备件库规模要根据经销商售后业务量、备件周转率等因素确定。实际操作中，需要考虑经销商自身的发展战略，特别是企业3~5年内的经营预期。一般而言，在规划备件库的规模时，空间至少要满足企业3年业绩发展的需要。 </p>
    <h4>备件库位置</h4>
    <ul>
        <li>在空间布局上，设立的基本原则为与车间、展厅和备件库三点相连，距离最短为好。</li>
        <li>同时，为方便运输和停车，备件库进库门在建筑外侧，出库门面向车间和展厅为宜。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/14.png" class="per80-width" />
    <br />

    <h3 id="section-3-03">备件库功能区规划</h3>
    <h4>基本功能区标准</h4>
    <ul>
        <li>备件库是备件系统的基本功能单元，需要有足够的面积以使运营顺利进行。</li>
        <li>备件库最大的区域为仓储区域，用于存放主要备件，约占备件库85%的面积。仓储区域分为一般储存区域和特殊储存区域。</li>
        <li>另外的15%面积为职能区域，用于发料及日常办公等。其中发料区应设简易货架等，办公区应配有必要办公设施，包括电脑、打印机、电话及相应的办公桌椅。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/15.png" class="per80-width" />
    <br />

    <h3 id="section-3-04">备件库环境</h3>
    <h4>备件库总体环境</h4>
    <p>备件库环境与设施可以参照大众进口汽车授权经销商库房管理标准相关内容，基本要求包括：</p>
    <ul>
        <li>备件仓库整洁、完好，不堆放其他物料。   </li>
        <li>仓库布局图贴在仓库入口处。</li>
        <li>个人物品禁止存放在仓库中。</li>
        <li>仓库应保持清洁，制定保洁计划并定期执行。</li>
    </ul>
    <h4>备件库高度、通道宽度及照明亮度</h4>
    <ul>
        <li>库房建筑主体的使用高度至少6米。</li>
        <li>主通道应贯穿库房从备件柜台到收货整理区， 主通道标准宽度为0.9米。</li>
        <li>通道端口不得封闭、光线充足，照明安装在货架间的通道上方并无备件伸出货架。</li>
        <li>通道内不能有任何货物或其他物品。</li>
        <li>大件通道要求标准宽度为1.3米。</li>
        <li>亮度要求在1.5米高度达到200LUX；照明线路设计合理。</li>
        <li></li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/16.png" class="per80-width" />
    <br />
    <br />

    <h3 id="section-3-05">备件库货架标准</h3>
    <h4>货架标准</h4>
    <p>根据用途不同，货架做以下分类：</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="15%">类型</th>
            <th width="15%">储位</th>
            <th width="70%">用途</th>
        </tr>
        <tr>
            <td>Type A1</td>
            <td>135</td>
            <td><p>塑料盒中放置螺栓、螺母、垫片、保险丝、火花塞等备件，上下货位放置三滤、电器件、轴承等小型件</p></td>
        </tr>
        <tr>
            <td>Type A</td>
            <td>48</td>
            <td><p>放置电器元件、电机、挂水器、喷水器、点烟器总成、开关等备件</p></td>
        </tr>
        <tr>
            <td>Type B</td>
            <td>16</td>
            <td><p>放置冷凝器、电器元件、电机、挂水器、喷水器、点烟器、总成、开关等备件</p></td>
        </tr>
        <tr>
            <td>Type C</td>
            <td>5</td>
            <td><p>放置大灯、尾灯、倒车镜、各种泵等</p></td>
        </tr>
        <tr>
            <td>Type D</td>
            <td>27</td>
            <td><p>放置礼品、ECU、CD机等贵重备件</p></td>
        </tr>
        <tr>
            <td>Type E</td>
            <td>4</td>
            <td><p>放置水箱、气缸、轮毂、发动机、燃油箱、内外装饰件、仪表等中型备件</p></td>
        </tr>
        <tr>
            <td>Type F</td>
            <td>48</td>
            <td><p>放置离合器、传动轴、刹车盘等备件，注意如果货位位置过小，请自行调整</p></td>
        <tr>
            <td>Type G</td>
            <td>4</td>
            <td><p>放置水箱、气缸、轮毂、发动机、燃油箱、内外装饰件、仪表等中型备件</p></td>
        </tr>
        <tr>
            <td>Type H</td>
            <td>96</td>
            <td><p>放置雨刮器、门饰条、电器杆件、天线、电线等条状备件</p></td>
        </tr>
        <tr>
            <td>Type 1</td>
            <td>-</td>
            <td><p>放置轮胎</p></td>
        </tr>
        <tr>
            <td>Type 2</td>
            <td>-</td>
            <td><p>放置皮带、挂壁、门饰条等较大不规则备件</p></td>
        </tr>
        <tr>
            <td>Type 3</td>
            <td>-</td>
            <td><p>放置排气管、车门、车顶等大型备件</p></td>
        </tr>
        <tr>
            <td>Type 4</td>
            <td>-</td>
            <td><p>放置前后风挡玻璃、侧窗玻璃</p></td>
        </tr>
        <tr>
            <td>Type 5</td>
            <td>-</td>
            <td><p>放置排气管、车门、车顶等大型备件</p></td>
        </tr>
        <tr>
            <td>Type 6</td>
            <td>-</td>
            <td><p>放置前后保险杠、车门、车顶等大型备件</p></td>
        </tr>
        <tr>
            <td>Type 7</td>
            <td>-</td>
            <td><p>放置减震器</p></td>
        </tr>
    </table>
    <p> 备注：货架规格详见《大众进口汽车授权经销商库房管理标准（暂行）》。</p>
    <br />
    <br />


    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-4">备件业务管理</h3>
            <br />
            <p>
                合理的库存结构和深度在很大程度上决定于是否能够正确地预估备件的需求并按照标准流程及时、准确地进行订货；备件到货后按照流程进行验货和签收可以防止规格和质量不符的备件进入库房，保证库存数据的准确性，避免经销商和客户的经济损失；而良好的备件仓储管理可以确保备件出入库的精确度与可靠性，对企业产生降本生效的作用；同时，规范的备件出库作业可以提高备件出库的速度和准确性，是提高车间效率和客户满意度的重要保证。由于各种因素的存在，备件出现一定的偏差和损坏不可避免，经销商需要了解备件索赔相关政策和流程。
            </p>
            <p>
                本节将针对上述问题介绍备件需求分析的原则和方法，及备件订货、入库、出货等流程，以规范备件日常管理工作。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-4-01">备件订货</a></li>
                <li><a href="#section-4-02">备件到货</a></li>
                <li><a href="#section-4-03">备件仓储</a></li>
                <li><a href="#section-4-04">备件盘点</a></li>
                <li><a href="#section-4-05">备件出库</a></li>
                <li><a href="#section-4-06">备件索赔</a></li>
                <li><a href="#section-4-07">备件问题及特殊支持申请</a></li>
            </ul>
            <br />
        </div>
    </div>

    <br />
    <h3 id="section-4-01">备件订货</h3>
    <h4>订货需求分析</h4>
    <h5><b>备件需求分析考虑因素</b></h5>
    <p>备件订货计划的准确制定主要取决于备件计划员对备件需求的预测，备件需求预测可以参考以下要素：</p>
    <ul>
        <li>最近六个月备件月平均出库量</li>
        <li>备件历史需求情况</li>
        <li>备件安全库存数量</li>
        <li>备件在途数量</li>
        <li>备件到货周期</li>
        <li>近期服务活动要求</li>
        <li>季节因素</li>
        <li>客户和车辆保有数量</li>
        <li>新车销售情况等</li>
    </ul>
    <h5><b>备件需求数据获取方法</b></h5>
    <ul>
        <li>备件库房建立备件缺货登记制度，备件库管员随时关注备件出库和库存盘点情况，记录所缺备件 （参见附表：备件缺货登记单）。</li>
        <li>备件计划员每周至少一次与前台经理和车间经理沟通，了解备件需求信息，并进行记录。</li>
        <li>收集和统计保有客户数量、类型、车型结构，向销售部获取新车销售数量、结构，分析历史同期备件需求变化趋势及备件需求类型。</li>
        <li>定期统计备件满足率。</li>
    </ul>
    <img src="/Content/images/OperationStandard/Aftersales/chapter3/17.png" class="full-width" style="height: 400px;">
    <br />
    <h4>订货计划制定</h4>
    <h5><b>制定库存计划的依据</b></h5>
    <p>除了要进行备件需求分析，还要结合大众进口汽车的相关政策及店内的政策和要求，包括：</p>
    <ul>
        <li>备件周转率的设定，常规库存备件库存周转率一般为维持在4~6次/每年。</li>
        <li>备件满足率、工单一次性满足率。</li>
        <li>其他相关要求，如三包备件、CCC备件等。</li>
    </ul>

    <h5><b>备件计划制定的内容</b></h5>
    <p>在考虑客户需求的基础上，根据事先设定的标准，决定要对哪些备件进行备货，应充分利用每次常规订货的机会，尽量避免紧急订货：</p>
    <ul>
        <li>确定库存的深度：要求库存深度能够满足基于每个备件编号的订货周期、到货周期以及附加的安全库存时间的要求。</li>
        <li>新车型备件备货标准：备件计划员与备件经理应依据以往紧急订单数据进行分析，最终决定某个备件进入到库存储备的时间及数量。</li>
        <li>车间备件需求：在合适的时机修改备件备货标准，以提高备件满足率。</li>
    </ul>
    <p>备件计划员在考虑大众进口汽车和公司相关政策、备件需求数据基础上，结合历史出库、保有车型、季节变化等数据，根据经济订购量计算方法，计算并形成备件订购计划（参见附表：备件采购计划表）。</p>
    <h5><b>订货计划审核</b></h5>
    <p>备件计划员制定订货计划后，通过系统形成备件订货确认审批单；</p>
    <p>得到备件经理的审核和相关领导的确认后，在系统上提报订单。</p>
    <h4>新入网经销商库存建议标准</h4>
    <ul>
        <li>
            新入网经销商开业前要按照进口大众备件部门的要求上报经销商基础信息，盖章并将原件邮寄至大众进口汽车售后备件部，同时将电子版本以邮件形式发至售后备件部，开始备件经销商客户号创建流程。需要上报的信息包括但不限于：
            <ul style="list-style:decimal">
                <li>经销商名称</li>
                <li>开户行</li>
                <li>账号</li>
                <li>纳税人登记号</li>
                <li>发货地址</li>
                <li>收货联系人</li>
                <li>备件业务联系人等</li>
            </ul>
        </li>
        <li>新入网经销商在正式验收前，需按要求订购备件初始库存，具体请联系大众进口汽车备件部门。</li>
        <li>大众进口汽车区域备件主管会将初始库存建议清单发给新经销商的备件负责人，新经销商所订购的备件品种可以从中选择。</li>
        <li>新经销商开业前根据授权车型信息确认初始库存清单所定品种，需要通过邮件的形式将所订购初始库存的清单发给对应的区域备件主管进行审核，审核无误后，区域备件主管将以邮件的形式通知新经销商办理初始库存款及保证金。</li>
        <li>新经销商需要十五个工作日内将初始库存款及保证金汇至大众进口汽车指定账户，经大众进口汽车财务确认初始库存款及保证金到账后，新入网经销商正式建档。随后售后备件部将维护其订货时间、备件客服中心（PDC）联系人、开通备件在线订货系统（DFS）账号以及确定备件订货信用额度。</li>
    </ul>
    <h4>库存订单（ ZVA-K1）</h4>
    <ul>
        <li>经销商每天都可以提交库存批量补货订单，备件计划员根据需要在每天24:00前通过DFS发送。 </li>
        <li>库存订单运费由大众进口汽车承担，由运输公司统一安排汽车陆运发货。相对紧急订单，库存订单价格较低但订货周期长。</li>
        <li>库存订单对备件品种、数量不做限制，但需要按备件部规定的最小发货单位进行订货。</li>
        <li>所有无现货的订单均由期货补货。</li>
        <li>对于库存订单，安全库存数量不参与分货。</li>
        <li>无现货的备件将由海运补货，如遇不能订海运的情况，将由空运补货。</li>
        <li>所有期货订单到货后将根据各经销商订单时间的先后顺序分货，先到先得。但紧急订单的分货将优先于库存订单。</li>
    </ul>
    <h4>紧急订单（ZSO-A3）</h4>
    <ul>
        <li>经销商每个工作日都可以发送紧急订单，时间为每天上午11:00前。</li>
        <li>紧急订单价格较高，到货周期短。</li>
        <li>选择运输条件A3空运的紧急订单，每月总共的订单行不超过总量的20%。</li>
        <li>按照航空规定不能空运的备件，将转为汽车陆运的方式，如液体、电池等危险品。</li>
        <li>中心库接到订单后当天或隔天发货。</li>
        <li>对于紧急订单，安全库存数量参与分货。</li>
        <li>无现货的备件将由空运补货，如遇不能订空运的情况，将由海运补货（如CCC备件），补货到货后优先分货。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/18.png" class="full-width" />
    <br />
    <h4>VIP智能备件</h4>
    <ul>
        <li>VIP智能备件需要提供车辆底盘号方可订购，如机电单元、钥匙、全车锁、控制单元等。</li>
        <li>通常情况下，特殊订单价格较库存订单价格高，符合空运条件的备件将由运输公司统一安排空运。VIP备件只能通过ZSO订单订购，需单独下单，并提供相关支持材料： </li>
        <li>
            <ul style="list-style:none">
                <li>- 客户车辆：购车发票，驾驶证及行驶证复印件，身份证复印件，车主授权及签字。</li>
                <li>- 库存新车：经销商授权书，服务经理签字并加盖经销商章。</li>
            </ul>
        </li>
    </ul>
    <h4>召回活动用备件</h4>
    <p></p>
    <h4>三包订单</h4>
    <ul>
        <li>根据三包法规第14条规定：修理者应当保持修理所需要的零部件的合理储备，确保修理工作的正常进行，避免因缺少零部件而延误修理时间。</li>
        <li>三包备件订单类型为ZBAO， 目前即将开通ZBAO订单类型用于三包备件订货，开通之前暂用ZSO-A3。</li>
        <li>下订单时，需填写VIN号，所定备件必须用于三包车辆。</li>
        <li>三包备件订单要单独下订单，将正常订货备件与三包备件订单分下两个订单。三包备件A3订单生成后，务必将订单号以及VIN号发给PDC客服，一张订单只能对应一个VIN号。</li>
        <li>国家标准对部分备件做了规定，在此基础上，大众进口汽车对三包备件做了分类（参见《 家用汽车产品三包主要备件种类范围初版》），供经经销商库存储备参考。</li>
        <li>由于任何备件都会因为质量问题产生三包责任，因此除了大众进口汽车推荐清单中的备件外，经销商须务必根据自身的保有车型，出库数量及出库频次确保最低的安全库存。</li>
    </ul>
    <h4>CCC认证备件</h4>
    <p>CCC认证又称强制性产品认证，是政府依照法律法规实施的一种产品合格评定制度，它要求产品必须符合国家标准和技术法规。列入《实施强制性产品认证的产品目录》中的汽车备件即为CCC备件。</p>
    <p>根据【国家认监委2007年第9号公告】对3C产品的描述与界定，共13大类机动车成套零部件被归为强制认证范围。仅供最终客户维修使用的备件，无需办理强制性产品认证。</p>
    <p>通过免办进入中国市场的备件，只能用于售后服务，不允许对外销售，经销商需配合大众进口汽车定时上报站内所更换的CCC备件的车主详细信息。</p>
    <p>针对大部分没有现货的CCC备件，大众进口汽车将以海运方式来订货。建议各经销商定期分析CCC备件的出库情况，合理补货，尽量避免因为到货周期较长影响客户满意度。经销商需在每月5日前将上月销售的CCC备件的车主信息报给PDC客服专员。办理CCC备件进口需要的文件如下：</p>
    <ul style="list-style:square">
        <li>免于办理强制性产品认证证明及明细单</li>
        <li>免于办理强制性产品认证证明申请书及明细单</li>
        <li>产品符合性安全声明及明细单</li>
        <li>维修说明及明细单</li>
        <li>进口货物的发票、提单、外贸合同</li>
        <li>申请公司的营业执照复印件</li>
        <li>车主资料</li>
    </ul>
    <h4>订货其他事项</h4>
    <ul>
        <li>订单在DFS中发送后，不可再修改。退货只能通过备件索赔流程实现。</li>
        <li>经销商备件采购计划员应做好长期的备件库存计划，尽量增加库存订单的比例，降低特殊订单数量。</li>
    </ul>
    <h4>备件发运方式及时间</h4>
    <ul>
        <li>
            公路运输与空运运费由大众进口汽车承担，发运方式取决于订单类型及备件属性。
        </li>
        <li>备件发运时间请以大众进口汽车备件部门最新相关文件为准。</li>
    </ul>
    <br />

    <h3 id="section-4-02">备件到货</h3>
    <h4>备件到货作业流程图</h4>
    <p>到货作业涉及备件运输到店前的各项准备工作、货物包装、数量、质量等的核验等。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/19.png" class="full-width" />
    <br />
    <h4>到货准备</h4>
    <p>为了高效地完成卸货作业，经销商须事先做好准备工作，包括设施准备、资料准备和人员准备，以便能够高效地完成备件到货各项工作。</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th><ul><li style="list-style:square">设施准备</li></ul></th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>根据订货计划确定存货区域和货架，提前对相关区域进行清理，以对备件进行迅速入库。</li>
                    <li>计划备件到货后的临时存放位置，保证所进货物有序堆放，以便能对其进行正常的检查、检验。</li>
                    <li>协调货车的进出和停放位置，避免收货时间与车辆维修时间冲突，方便卸货及搬运。</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />
    <table class="table table-bordered organizational-table">
        <tr>
            <th><ul><li style="list-style:square">资料准备</li></ul></th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>准备订货清单，打印发货单（参见附表：发货单），明确列示订购备件的品种、数量。</li>
                    <li>准备收货记录文件，包括：收发货单位名称，收货数量、规格、验收日期、地点、验收人等项目，以便进行记录。</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />
    <table class="table table-bordered organizational-table">
        <tr>
            <th><ul><li style="list-style:square">人员准备</li></ul></th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>提前与运输公司沟通，及时了解备件状况及到货时间。</li>
                    <li>掌握到货时间后合理协调备件部门相关人员工作，尽量避免与其他工作产生冲突，以便有足够的时间和精力开展备件到货作业。</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />
    <h4>货物核验</h4>
    <p>经销商收到配送商运送的备件时，应与送货方当面对所到货物进行清点，清点的内容主要是货物数量及包装是否破损。</p>
    <ul>
        <li>首先清点货箱，关注到货与发货单是否一致。</li>
        <li>监督货箱的卸载过程，入库前检查每个货箱的外观状况是否符合要求。</li>
        <li>查看任何可见的损坏，对于外观件及易损件需要当场开箱查验，检查是否损坏或变形等。</li>
        <li>检查送货单，确保所有备件包装数量齐全，确认签字时，注意标明任何实物与装货单不一致的情况。</li>
    </ul>
    <h5><b>货物核验方法</b></h5>
    <p>核验货物数量的方法很多，大多数采用直接法或障蔽法，或者两者合并式的半障蔽法。偶尔也用抽查法，但抽查法经常发生差错，最好避免采用。</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="100">方法</th>
            <th width="auto">简介</th>
            <th width="150">优点</th>
            <th width="150">缺点</th>
        </tr>
        <tr>
            <td>直接核对法 </td>
            <td>根据发货单逐项核对进货数量，在发货单上逐项标记，是最普遍使用的方法。</td>
            <td>验收员工作快速而方便；如发货单与验收员记录不符，验收员可很快地重新核对。</td>
            <td>容易产生疏忽，验收员可以从发货单知道数量，容易麻痹大意，易出差错。</td>
        </tr>
        <tr>
            <td>障蔽核对法</td>
            <td>验收员先不看发货单，而是边验货边制单，验收完后再与发货单核对，检查有无错漏短缺。</td>
            <td>
                能让验货员更认真、更仔细核对，遗漏现象较少发生。
            </td>
            <td>
                工作量较大，所需时间较长，如果出现差异，重新核对会拖延很长时间。
            </td>
        </tr>
        <tr>
            <td>半障蔽核对法</td>
            <td>
                验收员使用一张订货单副本，包含数量之外的所有内容。验收员边核对边填上数量，再与发货单上的数量核对。
            </td>
            <td>
                可以免去繁琐的制单工作。
            </td>
            <td>
                由于单上没写明数量，故要求验收员须很仔细地核对。
            </td>
        </tr>
    </table>
    <h4>备件入库</h4>
    <ul>
        <li>备件入库由备件库管员负责，备件经理和备件计划员根据实际工作需要进行配合。</li>
        <li>每次到货检查和清点完毕后，及时将备件存放到规定的库位。</li>
        <li>将上好架的备件信息及时输入系统，并在所有备件上架完成后将信息反馈给备件计划员。</li>
        <li>预约备件应单独存档，建议前排专门设立库位，设置备件信息卡，信息卡上应包含备件编号，中文名称，车牌号，维修工单号，预计使用日期，便于跟踪并及时为客户修理。</li>
    </ul>
    <h4>紧急订单到货</h4>
    <p>紧急订货多数是为了满足售后服务的紧急需求，所以紧急订货的备件在处理时要时刻注意到时间对紧急订单的意义。</p>
    <ul>
        <li>要在备件上标明相应服务顾问及技师的名字，相关的维修时间信息。</li>
        <li>紧急订单的备件到货由备件库管员负责，备件经理和备件计划员根据工作需要配合和监督。</li>
        <li>第一时间完成入库，根据不同需求分开存放，及时通知相关人员领料，并完成备件出库。</li>
        <li>对于超过时间还未领取的备件，要建立登记及跟进制度。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/20.png" class="full-width" />
    <br />
    <br />
    <h3 id="section-4-03">备件仓储</h3>
    <h4>备件仓储原则</h4>
    <h5><b>先进先出的原则</b></h5>
    <p>备件保管要确保备件的品质，在常规备件仓储管理中，很多备件是有时效性的，为了减少纯正备件因为长期存放中出现腐蚀、变质、老化等现象发生，在存取备件时应该坚持“先进先出”原则：</p>
    <ul>
        <li>对于有保质期的备件，先进先出可以保证备件在库时间最短，避免备件过期变质。</li>
        <li>根据先进先出的原则，把同批的先用完，再用后进的，在管理中如果发现问题，方便进行追溯。</li>
    </ul>
    <p>在日常备件管理中，为了实现备件先进先出，可以采用以下管理方法：</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="100">方法</th>
            <th width="200">简介</th>
            <th width="auto">应用</th>
        </tr>
        <tr>
            <td>区域划分法</td>
            <td>适用于大件，如油品、电瓶等，该方法要求放置区域面积足够大。</td>
            <td>例如：某公司每周到货油品40件，即油品使用量为每周40箱左右。使用区域放置法，设置一个3×3×5的油品区域，这样可以基本保证先进先出原则。</td>
        </tr>
        <tr>
            <td>颜色标记法</td>
            <td>主要运用在一些橡胶等易老化、变形的零部件上，其特点是备件个体小而多。</td>
            <td>
                比如：可以按品质用颜色标记，如1-2月为绿色，3-4月为红色，建立循环。在颜色卡上还可以标上进货时间和进货的数量等，帐物要清楚，卡和帐可以对照。
            </td>
        </tr>
        <tr>
            <td>循环摆放法</td>
            <td>
                验收员使用一张订货单副本，包含数量之外的所有内容。验收员边核对边填上数量，再与发货单上的数量核对。
            </td>
            <td>
                方法：靠左靠前放置既有备件，从右侧放入新接收的备件，前面备件用完将后面备件推至前面，形成循环。

            </td>
        </tr>
    </table>
    <h5><b>高效原则</b></h5>
    <p>把备件拣货次数和库存类别作为首要条件，快流备件距离销售点最近、最方便，准确取用。</p>
    <ul>
        <li>做到轻物上置，重物下置。如：下层为刹车盘，中间为滤清器，上层为空气和空调滤芯。</li>
        <li>较重备件一定使用承重货架，承重层板底部带有加强筋骨，货架后部背板带有紧固筋。</li>
        <li>备件摆放要优先将一层充分利用，再使用二层。</li>
        <li>最大限度利用空间，不宜叠放的备件，应选择层高间隔小的货架。</li>
    </ul>
    <h4>货位定位与分区</h4>
    <h5><b>备件区域定位</b></h5>
    <p>库存备件要进行定位管理，即将不同的备件以分类、分区管理的原则来存放，并用货架放置。管理实践中可以结合实际工作进行选择和优化：</p>
    <ul>
        <li>根据出库频率选定位置。出货和进货频率高的物品，应放在靠近出入口易于作业的地方；流动性差的物品放在距离出入口稍远的地方。</li>
        <li>面向通道进行保管。为使物品出入库方便，容易在备件库内移动，基本条件是将物品面向通道保管。</li>
        <li>同一品种在同一地方保管。员工对库内物品放置位置的熟悉程度直接影响着出入库的时间，将类似的物品放在邻近的地方是提高效率的重要方法；季节性物品则依其季节特性来选定放置的场所。</li>
        <li>根据物品重量确定位置。把重品放在下边，轻物须放在货架上方。需要人工搬运的大型物品则以腰部的高度为基准。</li>
        <li>依据类型安排保管方法。对于部分备件，依据物品形状来保管也是很重要的，如减震器、排气管应被存放在专门的货架上。</li>
    </ul>
    <h5><b>备件区域划分</b></h5>
    <p>在进行定位划分的基础上，可以对备件库区分为不少于以下三个相对独立的区域，并制作布局图：</p>
    <ul>
        <li>大量存储区，即以整箱或栈板方式储存。</li>
        <li>小量存储区，即将非整箱、拆散的备件放置在货架上。</li>
        <li>退货区，即将准备退换的备件放置在专门的货架上。</li>
    </ul>
    <h5><b>备件存放位置编号组成</b></h5>
    <p>在确定备件库区域和布局之后，为了库存备件的快速和准确定位，提高管理效率，必须建立一个合理的备件存放位置编号规则：</p>
    <h4>危险品的存放</h4>
    <h5><b>危险品备件的类型</b></h5>
    <p>凡是具有爆炸、易燃、毒害、腐蚀、放射性等特性，在运输及存储过程中，容易造成人身伤害和财产损毁的物品，都称危险品。危险品备件包括：</p>
    <ul>
        <li>易燃液体或含有易燃液体，如油漆、稀料、汽油泵、硬化剂等。</li>
        <li>含气体压力的非可燃性瓦斯，如蓄压器、弹力支撑杆、灭火器、减震等，打火机则为可燃性瓦斯。</li>
        <li>含腐蚀性化学成分，如电瓶等。</li>
        <li>易爆物品，如气囊等。</li>
        <li>清洗剂类可能含有毒性，或者有害环境。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/21-1.png" />
    <br />
    <h5><b>危险品备件的存放</b></h5>
    <p>在日常仓储管理作业中，对具有危险品性质的备件进行管理时要注意以下事项：</p>
    <ul>
        <li>有毒物质应当放置在上锁区域。</li>
        <li>腐蚀品应注意不让其包装泄漏，万一泄漏应有接泄漏的器皿。</li>
        <li>易爆物品和氧化物品（助燃）存放的位置要保证一旦发生爆炸损失最小。</li>
        <li>有毒物质一定不能和易燃易爆的物质共同存放。</li>
        <li>易碎品应注意边缘保护及填充和隔离，避免破碎。</li>
    </ul>
    <h4>保质期备件的管理</h4>
    <p>经销商要特别注意具有明确有效期的备件的管理，防止产生有效期备件损失。针对有效期备件，除了严格遵守先进先出的原则，还可以对不同批次入库配件采用颜色磁贴标识。常用有效期备件包括：</p>
    <ul>
        <li>易挥发的备件，如胶水、清洁剂、固化剂等化学试剂 </li>
        <li>易老化的塑料、橡胶制品，如密封圈、皮带、密封垫等 </li>
        <li>易泄漏的压力容器，如试剂喷灌等 </li>
        <li>易氧化、变质的液体，如润滑油，液压油，油漆等 </li>
        <li>其它类型有保质期的配件 </li>
    </ul>
    <p>对于有效期备件，在收货时应根据保质期的先后顺序依次摆放上架并明显标识；易挥发备件应存放于专用的冷藏箱内；在备件部取货时应每次提取最接近保质期的备件发货。</p>
    <h4>蓄电池的存放</h4>
    <p>蓄电池的存放，要有特殊区域储存。要求储存温度不于-10℃且不高于35℃，每3个月要检查一次；若储存温度高于35℃ ，要隔月检查一次蓄电池电压：</p>
    <ul>
        <li>蓄电池电压高于12.3V时不需要采取其他措施。</li>
        <li>蓄电池电压介于12.0V和12.3V之间时，至少须充电12小时。</li>
        <li>充电后，电压低于12.0V时蓄电池已损坏，经销商内部妥善处理。</li>
        <li>库管人员负责跟踪充电日期，充电时可请技术人员负责。</li>
    </ul>
    <p>若库存蓄电池再充电后尽管空载电压高于12.7V，但比重计的颜色为黑色，原因可能是蓄电池中存在酸分层。将蓄电池慢慢地上下旋转，即可消除酸分层。</p>
    <h4>特殊备件管理</h4>
    <ul>
        <li>扁长件一般需要挂在储藏室墙面或者支架上。</li>
        <li>对于特大零部件，为了让存储空间最大化，适合于存放在货架结构的隔间里。</li>
        <li>带状类的橡胶件、拉索等可采取盘挂。</li>
        <li>装饰条、拉线等应展开保存。</li>
        <li>轮胎要竖着放在货架上，最好放在专用夹具中，轮胎要避免接触燃料、润滑油等化学物质。</li>
        <li>风挡玻璃垂直放置，玻璃边缘及与格架接触的位置必须使用减震泡沫防护。</li>
        <li>重要管件应确保二头密封。</li>
    </ul>
    <br />

    <h3 id="section-4-04">备件盘点</h3>
    <h4>备件盘点的作用</h4>
    <p>备件盘点是指实际的库存备件的数量与系统/账面通过出入库所产生的剩余库存备件的数量进行对比，即盘亏或盘赢，然后把系统/账面的数量调为备件的实际数量。备件盘点的作用体现在以下几个方面：  </p>
    <ul>
        <li>掌握准确库存数量。在日常的备件出入库过程中，难免出现多出、少出备件的现象，通过盘点可以准确掌握实际库存数量。  </li>
        <li>修正账面库存数量。在掌握了准确的库存数量以后，就可以修正系统或账面上库存数量的错误，以便更好的开展工作。 </li>
        <li>发现备件错位现象。在备件工作中，可能会有备件的实际货位号和系统记录不符。通过盘点可以纠正这部分备件货位号，方便以后出入库，提高工作效率。</li>
        <li>发现和处理受损变质备件。即使严格按照相关规定进行备件管理，备件的损坏也在所难免，通过盘点可以查明有无损坏、变质等发生，以及时进行处理。 </li>
    </ul>
    <h4>备件盘点的形式</h4>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">永续盘点</th>
            <th width="25%">循环盘点</th>
            <th width="25%">定期盘点 </th>
            <th width="25%"> 重点盘点 </th>
        </tr>
        <tr>
            <td>
                <ul><li>指备件库管员每天对有收发动态的备件盘点一次，以便及时发现收发中的差错。</li></ul>
            </td>
            <td>
                <ul><li>指备件库管员对自己所管备件区分轻重缓急，做出每月重点日盘点计划，并按计划时间进行盘点。</li></ul>
            </td>
            <td>
                <ul><li>指在月、季、年度组织清仓盘点小组，全面进行盘存清查。</li></ul>
            </td>
            <td>
                <ul><li>指根据季节变化或工作需要，或因为某种特定目的而对备件库物资进行的盘点和检查。</li></ul>
            </td>
        </tr>
    </table>
    <p>对大多是经销商来说，每天对备件进行永续盘点不太现实，建议经销商根据实际情况进行定期盘点，针对关键备件进行循环盘点。</p>
    <h4>备件盘点流程</h4>
    <h5><b>备件盘点准备</b></h5>
    <ul>
        <li>由备件经理制定好盘点计划，包括盘点日期、项目、时间节点、清点范围和人员。</li>
        <li>对备件库进行清理，清除垃圾。</li>
        <li>对于不盘点的物品，挂上非盘点标志，注明原因，分别存放。</li>
        <li>打印好备件盘点表（参见附表：备件盘点表）。</li>
    </ul>
    <h5><b>盘点工作开展</b></h5>
    <ul>
        <li>按备件盘点表逐项进行盘点，每种备件都应清点两次。</li>
        <li>盘点同时应整理库位，清洁备件。</li>
        <li>认真登记好备件盘点表。</li>
        <li>备件经理应对盘点结果进行抽样核对，以确保盘点数量准确。</li>
    </ul>
    <h5><b>盘点结果应用</b></h5>
    <p>将备件盘点表上的盘点结果与系统/账面数据进行核对，对盘点中出现的数据差异，分析和研究产生的原因，并做出相应的整改措施。盘点中出现问题的处理：</p>
    <ul>
        <li>对于盘点后出现的盈亏、损耗、规格串混、丢失等情况，应组织相关人员进行复查落实，分析产生的原因，并及时予以处理。 </li>
        <li>对易挥发、潮解、溶化、散失、风化等物品，允许有一定的储存损耗。实际储耗量超过合理储耗量部分作盘亏处理，凡因人为的原因造成备件丢失或损坏的，不得计入储耗内。  </li>
        <li>盈亏和调整：盘点中发生盘盈或盘亏，查明原因，明确责任。 </li>
        <li>报废和降价：由于保管不善，造成霉烂、变质、锈蚀的备件，在收发、保管过程中已损坏的，因技术淘汰需要报废或降价处理的，经有关方面鉴定，填制备件报废单或者降价报告单报服务经理审批。 </li>
        <li>调换余缺：在盘点过程中，应清查有无本企业多余或暂时不需用的备件，可制定相应的备件调剂制度，实现本店与其他店之间及本店所属集团内各店的调换余缺。</li>
        <li>盘点结束，分类处理完毕，经上级领导确认后更新库存信息，保存好盘点资料。</li>
    </ul>
    <h4>呆滞件的概念</h4>
    <p>一般而言，对于入库满12个月且最近12个月没有出库记录的备件（不包含上市新车型的备件、促销及召回的备件），称之为呆滞件。呆滞件在每一个运作一年以上的备件库都有可能产生，所以呆滞件的管理并非是要杜绝呆滞件的产生，而是要考虑如何将呆滞件合理控制在最小范围之内。</p>
    <p>对呆滞件的库龄标准不一样，呆滞件比率在统计上也存在较大的差别。实际工作中，经销商可以结合自身的经营管理状况，对不同类别的呆滞件进行定义。呆滞件比率每月月底进行监控，每次库存盘点进行核实和核销。呆滞件比率可以从数量和金额两个角度进行统计：</p>
    <ul>
        <li>呆滞件比率（数量）=期末呆滞件数量÷期末库存总量×100%</li>
        <li>呆滞件比率（金额）=期末呆滞件金额÷期末库存总金额×100%</li>
    </ul>
    <h4>呆滞件产生的原因</h4>
    <ul>
        <li>初始库存不合理</li>
        <li>事故车订购未更换</li>
        <li>错误订购</li>
        <li>客户代订未更换</li>
        <li>备件编号或车型替换</li>
        <li>索赔及服务活动未更换</li>
    </ul>
    <h4>呆滞件处理</h4>
    <p>对经销商而言，呆滞件管理的首要工作是明确呆滞件管理的意义、界定呆滞件的概念、确定呆滞件管理的目标、明确呆滞件责任人。</p>
    <p>其次，将呆滞件管理与备件盘点结合，定期盘点时核验相关数据，进行呆滞件的统计和分析，确保备件各项信息及时、准确。</p>
    <p>再次，将呆滞件与一般库存分离，做好标识，单独存放。</p>
    <p>备件部门可以与前台、车间等部门沟通，确定呆滞件的处理方案。呆滞件处理方法包括：</p>
    <ul>
        <li>直接报废。</li>
        <li>提高呆滞件销售奖励。</li>
        <li>进行集团内的呆滞件信息共享。</li>
        <li>对呆滞件进行促销等。</li>
    </ul>
    <p>同时，大众进口汽车也会不定期开展呆滞件处理活动等。</p>
    <br />

    <h3 id="section-4-05">备件出库</h3>
    <h4>备件出库概述</h4>
    <p>备件出库业务是备件库根据业务部门开出的备件出库凭证，按其所列备件编号、名称、规格、型号、数量等项目，组织备件出库一系列工作的总称。出库的主要任务是：所发放的备件须准确、及时、保质保量地发给收货单位，包装须完整、牢固，标记正确清楚。</p>
    <h4>出库作业流程</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/21.png" />
    <h4>备件出库要求</h4>
    <p>备件出库要求做到“三不三核五检查”：</p>
    <ul>
        <li>三不，即未接单据不翻账，未经审单不备货，未经复核不出库；</li>
        <li>三核，即在发货时，要核实凭证、核对账卡、核对实物；</li>
        <li>五检查，即对单据和实物要进行品名检查、规格检查、包装检查、件数检查、重量检查。</li>
    </ul>
    <p>具体地说，备件出库要求严格执行各项规章制度，提高服务质量，使客户满意。要求备件管理人员准确掌握品种规格的要求，积极与服务顾问、车间技师或直接客户联系沟通，为顺利领料创造条件，避免差错。</p>
    <h4>出库管理要点</h4>
    <p>
        发货作业是随备件或出库单流向构成的各项作业，包括核单备料、复核、点交、登账、现场和档案清理等。
    </p>
    <h5><b>核单备料</b></h5>
    <p>发放备件须有正式的出库凭证，严禁无单或白条发料。备件库管员接到出库凭证后，应仔细核对：</p>
    <ul>
        <li>首先，要审核出库凭证的合法性和真实性。</li>
        <li>其次，核对备件名称、编号、规格、单价、数量等。</li>
    </ul>
    <h5><b>备件复核</b></h5>
    <p>为防止出库备件数量差错、质量瑕疵，备料后应进行复核。复核形式有个人复核、交叉复核和环环复核：</p>
    <ul>
        <li>个人复核，指由备件库管员自己发货、自己复核，并对所发备件数量和质量负责。</li>
        <li>相互复核，即由两名备件库管员对对方所发备件照单进行复核，复核后在出库单签字并共同承担责任。</li>
        <li>环环复核，即由专门人员在发货的各个关节，对所发货物进行复核。经销商可根据情况选择复核方式。</li>
    </ul>
    <h5><b>备件点交</b></h5>
    <p>备件经复核后，将备件和单据当面点交给提货人，办清交接手续；如系送料或将备件调出本单位办理托运，则须与送料人员或运输部门办理交接手续，当面将备件交点清楚。交清后，提货人员应在出库凭证上签字确认。</p>
    <h5><b>登账记录</b></h5>
    <p>点交后，备件库管员应在出库单上填写实发数、发货日期等内容，并签字确认。然后将出库单连同有关证件资料，及时交给提货人。备件库管员把留存的一联出库凭证交给实物明细账登记人员登记做账。</p>
    <h5><b>现场和档案清理</b></h5>
    <p>现场清理包括清理库存备件、库房、场地等；档案清理是指对收发、保养、盈亏数量等进行分析并整理。</p>
    <br />

    <h3 id="section-4-06">备件索赔</h3>
    <h4>备件索赔说明</h4>
    <ul>
        <li>本节备件索赔指经销商备件物流索赔处理，对于质保索赔的处理，应参照相应的质保索赔相关规定进行。</li>
        <li>本节内容适用于经销商从大众进口汽车备件中心采购的原装进口备件且未经安装使用过。任何对备件异议，如：备件质量问题，到货破损等，须通过索赔流程进行解决。</li>
        <li>所有索赔只能通过DFS系统来提交。</li>
        <li>空运备件需收货后1个工作日内提交索赔申请，陆运备件要在收货之日起3个工作日内提交申请。发现备件本身有缺陷（ZE1、ZF1）收到大众进口汽车的发票后3个月内可提出索赔。</li>
        <li>经销商须遵守上述指导内容及时间要求，未在规定期限内正确提交索赔将会导致索赔申请的驳回。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/22.png" class="full-width" />
    <br />
    <h4>索赔类型</h4>
    <h5><b>制造商过失（ZE1）</b></h5>
    <ul>
        <li>发现备件本身有缺陷（收到大众进口汽车的发票后3个月内）可提出索赔。</li>
        <li>缺陷备件是指制造有误或密封的出厂包装中有缺陷的备件。在经销商处发生损坏的备件不视为有缺陷。</li>
    </ul>
    <h5><b>损坏</b></h5>
    <h5>运输损坏（ZI1）</h5>
    <p>此类损坏是指由于承运人处理不当而引起的备件损坏。</p>
    <p>经销商收货时，应立即检查外包装上是否出现任何损坏、凹陷、磨损、划伤或变形，并记录在发货单上。另外，应在收货时打开大众进口汽车预包装的挡风玻璃、发动机罩、行李箱盖、面板和车门，并进行检查。</p>
    <p>所有运输过程中因处理不当而损坏的备件应向大众进口汽车进行索赔。经销商必须完成以下工作，以确保对承运人损坏的情况进行妥当处理：</p>
    <ul>
        <li>当货物运抵经销商处，必须对所有损坏迹象（例如：包装损坏、包装倒置等）的包装进行检查。</li>
        <li>发现包装损坏时，应按照要求进行拍照。</li>
        <li>在发货单上标注破损情况的描述及破损箱号，并要求承运商在情况说明处签字确认。</li>
        <li>承运商和经销商双方均应在发货单签名处签字。</li>
    </ul>
    <h5>其他损坏(ZF1)</h5>
    <p>其他损坏包含因大众进口汽车包装不当而引起的所有情况。以下为其他损坏的几个实例：</p>
    <ul>
        <li>包装材料不足</li>
        <li>包装填充过多</li>
        <li>轻重备件混装</li>
        <li>车轮保护不足</li>
        <li>包装过小</li>
        <li>备件由于同一包装中的松动备件而受损</li>
        <li>衬垫未放入适当的封装袋中</li>
        <li>嵌条未分开包装且压在其他备件下面</li>

    </ul>
    <p>当备件出现上述情况时，经销商应按要求提交照片。</p>
    <p>对于高价值的备件，如，发动机，经销商可能被要求修复一些较小破损。大众进口汽车将赔付所替换备件及工时费用。具体操作方法请向索赔负责人查询。</p>
    <p>经销商务必对易出现缺陷/损坏的备件进行检查后，方可入库上架。例如：车身备件、挡风玻璃、易碎备件和镀铬备件。</p>
    <h5><b>短装(ZA1，ZB1)</b></h5>
    <h5>承运商短装</h5>
    <p>承运商短装是指收到的箱子数量少于发票/发货单上所列数量的情况，或在破损的包装箱发现备件遗失。若发生此情况，请参照以下步骤索赔：</p>
    <ul>
        <li>包装过小</li>
        <li>在发货单上标注箱子或备件遗失情况。</li>
        <li>承运商和经销商双方均应在发货单上签字，并要求承运商在在情况说明处签字确认。</li>
        <li>将发货单照片以电子邮件的形式随索赔申请文件一起发送至大众进口汽车客服专员处。时间为DFS中索赔创建后一个工作日内。</li>
    </ul>
    <h5>其他损坏(ZF1)</h5>
    <p>大众进口汽车短装是指外包装完好但收到的备件数量少于发票/发货单上所列数量的情况。为避免不必要的拒收和耗时的调查，请检查同一批货物的其他箱子或包装。</p>
    <h5><b>溢装(ZC3，ZC2)</b></h5>
    <p>溢装是指收到的备件数量多于发票所列数量的情况。经销商在递交索赔时应在描述中明确指出是否愿意留下这些备件。</p>
    <h5><b>错件(ZG1，ZX2)</b></h5>
    <p>错件是指收到的备件与发票不符。错件可能是由于发货错误、备件标识错误和包装标签错误而引起的。</p>
    <h5><b>召回(ZX4))</b></h5>
    <p>遇到召回，以大众进口汽车客服发出的召回通知为准，这是因为不是所有备件都会受到直接影响。请勿订购属于召回的备件，如有召回备件在途，到货后尽快申请索赔。</p>
    <h4>到货检查</h4>
    <p>经销商收货时，只有在大众进口汽车备案的固定授权收货人才有权签收“发货单”。在签收时，需在发货单上标注货物外包装状态，对于易碎品还需要在发货单上标注备件状态。一旦发现未在发货单上标注货物外包装及易碎品的备件状态或非授权收货人签收货物的情况，大众进口汽车有权拒绝索赔。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/23.png" />
    <h4>索赔申请</h4>
    <p>索赔申请必须按照规定时间在DFS系统提交。在DFS中递交索赔后当天，须将全套索赔资料以邮件方式发送至大众进口汽车备件索赔客服专员处，邮件应以DFS中生成的索赔号为主题。索赔资料必须包含以下几项： </p>
    <ul>
        <li>索赔申请表（PDF文件+EXCEL文件）</li>
        <li>签收的发货单照片/扫描件</li>
        <li>备件照片</li>
        <li>货物价值证明，可以是订单截图，包括订单号、发票号、备件编号和金额（限于运输损坏及承运商短装索赔）</li>
        <li>统一格式的备件物流索赔函（限于运输损坏及承运商短装索赔）</li>
    </ul>
    <h5><b>索赔申请表</b></h5>
    <p>经销商必须严格按照规定的格式填写备件索赔申请表（参见附表：备件索赔申请表），按照要求打印、盖售后服务用章，并制作为PDF格式文件。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/24.png" />
    <h5><b>备件照片</b></h5>
    <p>用于单件和多件包装备件照片要符合规定：</p>
    <ul>
        <li>供货商原始发货标签照片（例：新加坡或德国原始标签照片）</li>
        <li>库房出库标签（带有中文标识的标签照片）</li>
        <li>外包装的箱号</li>
        <li>外包装不同角度照片（要求清晰且能真正反映外包装的破损情况）</li>
        <li>打开并带填充材料的包装箱（能够清晰反映备件在箱内是否受到足够保护）</li>
        <li>凡装有易碎品或不能倒置备件的包装，请提供易碎品标签或向上标签照片</li>
        <li>索赔备件破损处照片，请在照片中用红色标注索赔备件的破损处或缺陷处</li>
        <li>破损备件放置位置照片，对于多件包装，要求能够清晰表明索赔备件的在箱中的包装方式</li>
    </ul>
    <h5><b>备件照片示例</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/25.png" />
    <br />
    <h4>备件退运</h4>
    <h5><b>备件退运流程</b></h5>
    <ul>
        <li>经销商在接到大众进口汽车客服的返货通知后，在每周一、周三下午1点前以邮件方式将退运运单发送至大众进口汽车指定承运商处（参见附表：物流备件退运运单） ，电子邮件应以DFS中生成的索赔号为主题。</li>
        <li>承运商在确认信息齐全后，回复经销商返货单号，并安排第二天提货。如订单信息不全，承运商将第一时间通知经销商补齐信息后再处理该订单。</li>
        <li>经销商在承运商提货之前将索赔备件包好。经销商不得自行安排其他运输商将货物寄给仓库，否则仓库有权拒收货物，由此带来的任何损失将由经销商自行承担。 </li>
        <li>承运商填写退运运单并与经销商进行货物交接。经销商需准备一式四份的退运运单，一份贴在外包装上，经销商保留一份，另两份退运运单随货发往大众进口汽车北京PDC。交接的货物件数必须与之前发送给承运商的信息一致。</li>
    </ul>
    <h5><b>退运备件的包装要求 </b></h5>
    <p>退运备件一般要求 </p>
    <ul>
        <li>经销商对货物要进行合理包装以适于长途运输。</li>
        <li>对于到货时原始外包装完好的退运备件必须保持原始包装，如果由于到货时外包装已破损或其他原因无法提供原始包装，经销商应确保使用承运商认可的适合运输的包装材料及包装方式包装备件。</li>
        <li>在提货时需与承运商一起确认体积及重量。</li>
        <li>如果经销商对备件的包装不适合长途运输，承运商有权要求经销商改善退运货物的包装。</li>
        <li>为了确保经销商按照要求对返货进行合理包装，对于易碎高价值的货物请在提货人员提货前暂不封箱，在提货人员到场后，共同检查包装箱质量以及箱内填充是否充足，确认完好，在返货单上注明，要求提货人员签字，封箱后进行货物和单据的交接。如经销商不配合，承运商司机有权拒提。 </li>
        <li>普通小备件的包装需要缠好气垫膜放入纸盒或木盒中，外包装纸箱用胶带封箱。 </li>
    </ul>
    <p>易破损物品包装 （如导航，大灯，玻璃，仪表，装饰条等）</p>
    <ul>
        <li>对于易变形、易破裂的部件/备件必须使用固定内衬，如车门、发动机盖、玻璃等，防止货物磕碰挤压而导致破损。</li>
        <li>放置必要并足够的填充物，例如海绵，泡沫板，气垫膜等，使货物与纸箱之间没有大空隙，以避免晃动导致磕碰挤压。</li>
        <li>如果是外观件，需要用防摩擦的材料进行包装，例如EPE、气泡卷等。</li>
        <li>纸箱质量要保证，不能薄，易碎品包装外要贴有易碎标签或在外箱标注清楚。</li>
    </ul>
    <h5><b>退运备件的包装要求 </b></h5>
    <p>带油等液体的重货包装（如阀体，蓄电池，变速箱，发动机等）</p>
    <ul>
        <li>控油，用海绵吸附，用塑料密封袋包裹，避免有油溢出而影响运输。</li>
        <li>大于20kg的货物建议使用木箱或纸箱加托盘，大于50kg的货物建议使用木箱加托盘。</li>
        <li>固定货物（比如用绷带）避免货物在运输过程中晃动磕碰。</li>
        <li>在外箱外标注向上标识，避免倒置。</li>
        <li>不可与其他普通货物在一个箱子里，以避免液体渗漏污染其他货物。</li>
    </ul>
    <h5><b>电瓶包装方式示例  </b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/26.png" />
    <br />
    <h5><b>退运随货文件要求   </b></h5>
    <ul>
        <li>退运运单 </li>
        <li>退运备件清单（包含经销商信息，退运备件编码、数量、名称，退运时间） </li>
        <li>索赔蓝色卡片（正面包含经销商信息并盖章，备件对应索赔单号、日期，备件编号、名称、数量，背面包含该索赔备件的故障描述） </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/27.png" />
    <br />
    <h5><b>运费及操作费 </b></h5>
    <p>大众进口汽车将承担货物退回的运费，如果经销商需要承运商提供包装材料，材料费用需由双方自行商议处理。</p>
    <h4>处理索赔时限</h4>
    <p>对于所有的索赔类型，都可在大众进口汽车收到符合要求的完整索赔资料之后15个工作日之内给予索赔处理结果。一般有如下几种情况：</p>
    <ul>
        <li>索赔拒绝</li>
        <li>索赔接受</li>
        <li>换货（物物交换）</li>
    </ul>
    <h4>索赔结算</h4>
    <p>在大众进口汽车同意接受索赔后，经销商会接到客服人员通知，经销商须到当地税务部门开出相关“红字通知单”，并寄回给客服人员。索赔所产生的赔付将会在客服收到“红字通知单”后30天内结算。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/28.png" />
    <br />
    <br />

    <h3 id="section-4-07">备件问题及特殊支持申请</h3>
    <h4>备件问题反馈概述</h4>
    <p>对于经销商日常备件业务中遇到的问题，特别是对于无法通过大众进口汽车现有业务流程得到快速有效解决的备件问题，为了及时帮助经销商协调解决，提高客户满意度，大众进口汽车制订了经销商备件问题反馈及特殊支持需求申请规定。</p>
    <h4>备件反馈使用范围</h4>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">类型</th>
            <th width="75%">适用范围</th>
        </tr>
        <tr>
            <td>
                <p>备件到货时间问题反馈</p>
            </td>
            <td>
                <ul><li>此反馈适用于客户不能接受PDC客服回复的预计到货时间的情况。</li></ul>
            </td>
        </tr>
        <tr>
            <td>
                <p>备件价格问题反馈</p>
            </td>
            <td>
                <ul>
                    <li>大众进口汽车价格调整使经销商未满足的订单总金额在调价前后产生差异，导致经销商损失超过RMB 20,000的情况。</li>
                    <li>A类备件普通库存订单未满足，要求改为紧急订单且不加价的情况。</li>
                    <li>整车索赔所需备件的紧急订单按照库存订单价格订货的情况。</li>
                    <li>特殊服务活动所用备件的紧急订单价格和库存订单价格有差异的情况。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p>备件物流索赔问题反馈</p>
            </td>
            <td>
                <ul>
                    <li>经销商备件物流索赔在规定期限内没有得到处理的情况。</li>
                    <li>经销商对备件物流索赔结果有异议的情况。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p>备件特殊渠道采购申请</p>
            </td>
            <td>
                <ul>
                    <li>此申请适用于订单未满足备件到达时间不能满足客户需求而导致客户严重投诉的情况。</li>
                </ul>
            </td>
        </tr>
    </table>
    <p>其他问题是指除上述问题反馈之外，大众进口汽车现有业务范围不能涵盖的问题。</p>
    <h4>申请规定</h4>
    <ul>
        <li>对于大众进口汽车现有业务范围不能涵盖的备件问题，经销商可填写备件问题反馈及特殊支持需求申请表发给所在区域的备件销售区域主管并抄送给所在区域的大区经理进行协调处理。</li>
        <li>备件问题描述及所需支持申请描述必须清晰明确。</li>
        <li>对于备件价格问题反馈中第一种价格差异问题的反馈，经销商须提供原订单价格截屏，实际发票价格截屏；如已向保险公司报价的情况，须提供向保险公司的报价单等相关证据以证明损失。</li>
        <li>经销商必须归档被批复的申请表，以便相关部门日后检查。</li>
    </ul>
    <br />
    <h3>工具表单</h3>
    <h4>附表：备件缺货登记表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/29.png" class="full-width" />
    <h4>附表：备件采购计划表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/30.png" class="full-width" />
    <p>使用说明：</p>
    <ul>
        <li>表中“备件编码”-“M-1月出库”根据实际情况填写。</li>
        <li>出库频次为时间段内有出库记录的月份，出库数量为时间段内出库数量，可以设置公式。</li>
        <li>ABC分类为公式，以过去六个月和十二个月的出库频次和出库次数为依据。</li>
        <li>预估量、最大库存、最小库存结合过去六个月出库数量、备件级别计算。</li>
        <li>根据预估量、最大库存、最小库存和实际库存确定计划采购量。</li>
    </ul>
    <h4>附表：发货单（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/31.png" class="full-width" />
    <h4>附表：备件盘点表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/32.png" class="full-width" />
    <h4>附表：备件索赔申请表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/33.png" class="full-width" />
    <h4>附表：物流索赔退运运单（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/34.png" class="full-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-5">财务结算</h3>
            <br />
            <p>
                为了保证备件业务开展，经销商需按照大众进口汽车备件部门相关规定，足额缴纳保证金/押金，以保证进行日常采购业务；同时了解大众进口汽车备件收款制度，按照备件销售收款相关制度及时付款。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-5-01">保证金与收款</a></li>
                <li><a href="#section-5-02">账单与税票</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-5-01">保证金与收款</h3>
    <h4>信用额度与押金</h4>
    <ul>
        <li>经销商需足额缴纳销售履行保证金/押金（现金与电子承兑均可），以保证进行日常采购业务。保证金/押金金额会通过邮件《经销商备件保证金的通知函》发给各新经销商；</li>
        <li>考虑到当月账单的还款日为次月20日，经销商的信用额度设定会以一定比率高于所交保证金的金额，以满足正常情况下的采购需求。具体信用额度会由大众进口汽车根据历史采购记录，回款情况等综合因素评定。经销商常规信用额度每年更新一次。如有重大、特别项目增额需求，需要经销商单独向备件部门申请；</li>
        <li>押金可以现金或者银行电子承兑汇票(简称“电子承兑“)两种方式支付；</li>
        <li>经销商如果使用电子承兑，则应向大众进口汽车开出最长为六个月的银行电子承兑汇票。在经销商按时支付采购货款的情况下，大众进口汽车不会提前兑现；</li>
        <li>经销商在电子承兑有效期内的最后一次采购，货款可以该银行电子承兑汇票到期兑现方式偿还，货款与电子承兑的差额将在经销商下一次采购付款结算时一同计算；</li>
        <li>电子承兑即将到期时，经销商应向大众进口汽车开出新的银行电子承兑汇票作为质押，或将汇票到期兑现现金继续当做押金。</li>
        >
    </ul>
    <h4>销售收款</h4>
    <ul>
        <li>大众进口汽车在每月5日（遇节假日，则推迟至节假日后一个工作日）向经销商发送电子销售账单，结算上月1日至月末之间所有大众进口汽车已发货的采购订单（包括大众进口汽车已发货但尚未到达经销商的在途货物）以及大众进口汽车已收到红字发票通知单的索赔项目，经销商应在账单日之后15日内按账单总金额支付全款。</li>
        <li>经销商应于每月付款日（20号）按时将应付款项汇至大众进口汽车指定银行账号。如有特殊情况请及时沟通说明，如货款拖欠超出容忍期，系统将自动冻结其信用并暂停发货。直到逾期欠款付清时方可恢复信用销售。</li>
        <li>经销商如未在规定时间内结清当月货款，大众进口汽车将收取滞纳金，滞纳金费率为每天万分之五。</li>
        <li>经销商如未在规定时间内结清当月货款，大众进口汽车将提前兑现经销商开出的电子银行承兑汇票，并冻结经销商的信用额度直至经销商完成付款，贴息由经销商承担。</li>
        <li>经销商如因索赔处理中，未收到增值税发票或未收到货物为由拒绝付款，大众进口汽车将立即停止供货。</li>
    </ul>
    <br />

    <h3 id="section-5-02">账单与税票</h3>
    <h4>账单和增值税发票</h4>
    <ul>
        <li>经销商应向大众进口汽车提供销售账单指定联系人和联系方式，如有变更，应及时提交变更信息。</li>
        <li>经销商应向大众进口汽车提供增值税发票指定联系人和联系方式，如有变更，应及时提交变更信息。</li>
        <li>大众进口汽车会在经销商付款的当月将付款对应的增值税发票（包括蓝字和红字）寄送至经销商指定联系人；</li>
        <li>进行了索赔申请的货物，如大众进口汽车已经递出该货物对应的蓝字增值税发票，经销商收到后，应立即抵扣，并进行红字发票申请程序。如经销商不立即抵扣，而是递回该蓝字发票，造成蓝字发票因跨月大众进口汽车无法作废，甚至在蓝字发票反复传递，耗时过久产生经销商无法抵扣的情况，经销商需承担为大众进口汽车和自身造成的经济损失。</li>
        <li>对于索赔产生的红字发票需求，由经销商向经销商所在地税务机关申请《红字发票通知单》；经销商将《红字发票通知单》原件，对应的增值税蓝字发票及货物清单复印件寄送至大众进口汽车指定联系人。</li>
    </ul>
    <h4>其他信息</h4>
    <ul>
        <li>如有疑问或其他财务相关事项咨询，请联系大众进口汽车备件部门或财务部门。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter3/35.png" class="full-width" />
    <br />

</div>

