@{
    Layout = "~/Views/OperationStandard/_LayoutAftersales.cshtml";

}

<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />

    <br />
    <br />
    <h3 id="chapter1">运营管理</h3>

    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-3">服务营销管理</h3>
            <br />
            <p>
                随着汽车市场的不断成熟，经销商售后服务面临更加严峻的挑战。客户更加懂车，对售后维修和服务要求更高；不断有新的服务提供者进入，使售后服务竞争加剧；技术的发展，使售后服务行业更加透明；政策的不确定性，使汽车售后服务市场的前景变得扑朔迷离。
            </p>
            <p>
                为了应对这些危机，经销商必须打造有效的服务营销体系，研究服务环境、关注客户需求，通过合理服务营销策略吸引客户并创造利润。
            </p>
            <br />

            <h5>
                本节目录
            </h5>
            <ul>
                <li><a href="section-3-01">服务营销概述</a></li>
                <li><a href="section-3-02">服务营销基础</a></li>
                <li><a href="section-3-03">服务营销实践</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-3-01">服务营销概述</h3>
    <h4>服务营销概述</h4>
    <h5><b>服务营销开展背景</b></h5>
    <p>目前，广大汽车经销商已经认识到售后服务业务对经销商生存和发展的作用。但是在工作开展过程中，大多数经销商并没有从根本上转变工作方式，这一现象在营销工作中表现的最为明显，经销商市场部门的工作大多仍然围绕销售开展，售后服务营销仍然处于无序状态。</p>
    <p>与此同时，经销商售后业务面临其它维修服务提供者的竞争：</p>
    <ul>
        <li>快修店大量出现，专业的品牌快修连锁企业开始形成。专业的易损件维修提供者把精力集中在特别有吸引力的易损件维修上，这种维修的特点是备件收入/工时收入比很高。随着市场的进一步发展，这一业态可能会对经销商售后业务造成更大的挑战。</li>
        <li>汽车相关的传统行业也在扩展业务，比如很多加油站已经利用其网点广泛的优势，开始扩展其业务范围，进入汽车维修服务领域。</li>
        <li>很多国际化的专业备件商也开始进入维修市场，利用其提供相同质量的纯正备件的卖点吸引客户，开拓维修市场。</li>
    </ul>
    <h5><b>售后服务营销体系</b></h5>
    <p>售后服务营销开始于客户的期望和需求，目的是通过各种营销手段满足客户的期望和需求，最终建立良好的客户关系，并实现利润。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-82.png" class="per80-width" />

    <h4>服务营销定位</h4>
    <h5><b>服务营销定位步骤</b></h5>
    <p>经销商开展服务营销之前，需要对当前的市场以及自身进行调研和评估，要了解当前客户的需求，竞争对手的状态，自身在整个行业的市场份额以及竞争优劣势，以便进行针对性营销。</p>
    <ul>
        <li>外部分析，外部分析涉及硬件状况，包括地理、气候等客观环境；软件状况，包括宏观经济、区域经济、政策法规、风俗习惯、地方商业氛围等；客户特征、喜好；以及竞争对手等。</li>
        <li>其中客户需求是售后服务营销的起点，而竞争对手状况在一定程度上决定了经销商售后营销的定位和战略选择，因此需要重点进行分析和研究。</li>
        <li>内部分析，内部分析一般要包括经销商内部门协调管理能力、人力资源管理能力、业务管理能力、员工服务客户技能、获利能力等。</li>
        <li>市场占有率以及市场潜力分析是内部各因素结果的体现，对市场份额进行深入分析对经销商制定市场营销战略和计划有重要意义。</li>
    </ul>
    <p>在市场研究和自身分析的基础上，经销商就可以根据目标和自身在竞争中的地位以及自身的资源状况确定竞争策略，并制定售后服务营销计划。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-83.png" class="per80-width" />

    <h4>服务营销定位</h4>
    <h5><b>市场研究与分析</b></h5>
    <h5>客户需求分析</h5>
    <p>客户需求分析可以从客户生命周期的角度来进行。售后客户生命周期是指从新车交付开始，再到售后维修保养，又重新回到新车营销邀约的完整过程。</p>
    <p>客户生命周期是经销商客户分析的重要方法，由于大众进口汽车产品定位差别比较大，不同车型的客户生命周期在需求上会有比较显著的差异；而且同一车型生命周期的不同阶段的需求也有明显的不同。因此，在客户生命周期的基础上，可以按照不同的维度对保有客户群体进行不断细分，进而分析该客户群体的特征、偏好。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-84.png" class="per80-width" />
    <p>例如，经过对某车型客户维修数据的总结，发现有以下特征：</p>
    <ul>
        <li>该车型客户时间效率型居多</li>
        <li>对维修质量要求很高，重视一次修复率</li>
        <li>希望能够获得尊重等</li>
    </ul>
    <h5>服务市场潜力</h5>
    <p>在客户需求分析的基础上，可以结合维修相关数据，将需求进行量化，了解服务市场潜力。服务市场潜力是某一特定地区汽车保有量条件下车辆所有潜在维修需求的总和，服务潜力分析是售后服务营销的起点：</p>
    <ul><li>服务市场潜力=车辆保有量 x 平均维修需求</li></ul>
    <p>为了计算市场潜力，需要经销商通过自身分析和其他渠道了解区域车辆保有量，并根据以往经验计算不同汽车型号和车龄的平均维修需求。</p>
    <h5><b>市场研究与分析</b></h5>
    <h5>服务竞争分析</h5>
    <p>
        竞争分析就是分析在本区域之内有竞争关系的服务机构，并将各服务机构的竞争地位进行划分。这些服务机构可能是同品牌其他经销商、专业维修厂、快修店、其他品牌经销商等。
    </p>
    <p>根据不同服务主体和机构在竞争结构中所处的位置，竞争地位大致可以被划分为：市场领导者、竞争者、跟随者、补缺者。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-85.png" class="per80-width" />
    <p>目前大众进口汽车经销商售后维修业务虽然面临来自市场其他服务机构的冲击，整体上仍处于市场领导者地位。作为市场领导者，适合的竞争方案有两种：</p>
    <ul>
        <li>第一种方案：阵地式防御，即修补劣势。</li>
        <li>第二种方案：垂直打击，当竞争者开创新的业务领域，领导者可以凭借自身优势，集中资源在该业务模式上建立优势。</li>
    </ul>
    <p>汽车售后服务实践中，建议经销商根据客户需求分析结果以及竞争优劣势，采取修补劣势的策略。比如，经过分析，某经销商了解到目前自身的服务优势为一次修复能力，劣势为服务态度。那么，该经销商在开展售后服务营销活动之前，首先要改变员工观念，提升员工的积极性，同时开展服务礼仪培训。</p>
    <h5>
        服务市场份额
    </h5>
    <p>通过市场份额的分析可以对自身在区域市场的竞争地位和增长潜力有比较直观的了解，进而为制定营销目标和计划提供参考依据。</p>
    <p>根据范围的不同，经销商在区域的市场份额可以分为四个不同的层次：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-86.png" class="per80-width" />
    <p>通过不同的市场份额分析，可以得出不同分析结果。其中：</p>
    <ul>
        <li>服务市场份额1体现的是经销商在区域市场同品牌中的市场地位。</li>
        <li>服务市场份额2的结果表示某地区所有品牌经销商共同占有当地服务业务的份额是多少。如果所有经销商市场开发度低于60%，说明客户在非大众品牌授权服务机构维修，将大众和经销商品牌不利。</li>
        <li>服务市场份额3是指某经销商自己服务的车辆与可归其服务车辆的总保有量（根据工位份额）之间的比例。当服务程度低于70%，说明经销商市场开发或者内部管理存在不足，需要分析并改进。</li>
        <li>服务市场份额4可以分析自身在不同车龄区间的竞争地位，这一数据可以在一定程度上反映客户满意度状况。比如，可以把保有车辆分为车龄不超过4年的车辆、5-7年的车辆、8年以上的车辆，那么经销商在不同车龄的服务程度应该实现90%以上、55%-75%以及25%-45%，如果达不到上述最低目标，可能说明客户流失过于严重，需要进行分析与改进。</li>
    </ul>
    <h5><b>营销定位</b></h5>
    <p>在对客户需求进行深入分析以及对竞争结构和地位进行全面研究的基础上，经销商可以进行售后服务营销进行定位。</p>
    <h5>服务营销定位案例</h5>
    <p>假设，某经销商为了针对某车型开展售后服务营销，要对某一款车型进行营销定位，经过前期内外部研究分析，发现：</p>
    <ul>
        <li>售后服务内部优势体现在一次修复率比较高，但劣势是服务态度较差。</li>
        <li>客户需求分析的结果是，客户对一次修复率要求比较高，也希望在维修过程中得到尊重。</li>
        <li>竞争分析的结论是在区域市场中处于市场领导地位。</li>
    </ul>
    <p>那么，该经销商针对该车型进行售后服务营销定位可以以提高服务态度为核心，并以此为中心开展服务营销活动，以实现：</p>
    <ul>
        <li>通过售后服务营销活动，客户满意度得到提高。</li>
        <li>通过售后服务营销活动，员工的服务态度得到改善。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-88.png" class="per80-width" />
    <br />
    <br />
    <br />
    <h3 id="section-3-02">服务营销基础</h3>
    <h4>
        服务营销策略
    </h4>
    <h5><b>营销策略概述</b></h5>
    <p>在对市场环境、竞争结构及自身经营管理现状进行分析之后，经销商就可以制定服务营销策略。营销策略是以客户需求和期望为出发点，根据经验获得客户需求量以及购买力信息，有计划地组织各项经营活动，通过相互协调一致的策略为客户提供满意的商品和服务而实现企业目标的过程。</p>
    <p>营销策略包括产品策略、价格策略、渠道策略和促销策略，即4Ps理论。虽然营销策略理论后来相继衍生了4C等市场营销理论，但4C理论更多是一种企业经营理念和导向，企业营销策略的执行最终仍要通过4Ps策略和手段来实现：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-89.png" class="per80-width" />
    <h5><b>服务营销策略制定</b></h5>
    <h5>产品策略</h5>
    <p>
        产品是指产品以及与产品相关、为使购买者对产品有较好评价的措施。在经销商服务营销中，产品指的是经销商提供的服务，包括维修质量、维修服务、产品保修服务等方针、优惠等。实际工作中，经销商可以采取的产品策略包括：
    </p>
    <ul>
        <li>定期保养，规定期间的定期保养套餐，包括更换磨损的备件等。由于不会产生追加的支出，定期保养是一种对客户非常有吸引力的服务产品策略。客户按照约定进站进行保养，可以在一定程度上增加进站频次和进站台次，可以为经销商增加面对面促销的机会。</li>
        <li>快修服务，即为在短时间内完成频繁发生的日常维修而提供的套餐。经销商预先向客户的承诺维修所需要的时间，并在客户在店等候的时间完成维修。快修服务独特的卖点在于节约时间和增加透明性。快修服务的一般作业项目是更换易损件，经销商可以根据实际情况增加定期保养等项目。</li>
        <li>增值产品，指经销商为客户提供的增值产品和服务项目，可以有很多形式，比如免费洗车等，可以增加客户粘性，提高售后服务收入。</li>
        <li>系统商品，指能够提高客户驾驶时舒适感和安全感的产品，比如发动机清洗、空调除臭等。由于使用这些系统产品本身可以促进进站，也可以增加客户沟通的机会。</li>
        <li>延长保修期，针对过了厂家保修期的车辆出现的不良状况开展的活动。这一活动类型主要针对过保修期的客户流失率增高的情况，以便进一步维护客户关系，提高客户进站频次，并促进销售。</li>
        <li>定制服务，指根据客户需求而制定的服务套餐。比如，针对南方针对雨季多的天气条件，经销商可以在雨季来临之前对雨刮、刹车、挡泥板等受雨水影响比较大的部件进行推广、促销。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-90.png" class="per80-width" />
    <h5>定价策略</h5>
    <p>定价策略是指为有利于客户购买或者根据客户要求而提供产品/服务的措施。在定价方面，经销商首先要做到价格透明，价格折扣策略要与大众进口汽车相关部门进行充分沟通：</p>
    <ul>
        <li>备件和工时的收费标准要符合国家及地方政府相关法律、法规。</li>
        <li>售后部门应定期更新保养项目价格公告板、常用维修项目价格公告板等，并放置在规定位置。</li>
        <li>在维修接待处放置最新的《备件价格目录》，以供客户查询使用。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-91.png" class="per80-width" />
    <h5>渠道策略</h5>
    <p>
        渠道策略是指将产品/服务送达客户的相关措施。售后服务渠道措施包括建立售后网点、备选交通工具等，以提高客户进站的便利性，进而提高进站台次。
    </p>
    <h5>促销策略</h5>
    <p>服务促销策略是指在合适时间、地点，用合适的方式和的力度加强对客户的沟通，促进客户消费的措施。促销的功能包括提供产品、服务等信息，提升企业和品牌形象等。常见的促销形式包括广告、私人化的销售、促销、公关及网络广告等。</p>
    <p>从根本上讲，促销是为客户提供最好的服务，而广告则是使更多的人了解这一服务，而促销包括所有可以帮助经销商进行服务改进的措施。从范围的不同，促销可以分为以下类型：</p>
    <ul>
        <li>跨区域促销。指大众进口汽车发起并支持的、在全国范围开展的所有措施和活动，包括有期限的活动和持续性项目。</li>
        <li>经销商组织的促销活动。经销商促销活动通常要在客户分析、竞争分析和内部分析的基础上开展。</li>
        <li>企业内部的促销。指企进行内部尽一切努力使客户对本企业的服务感到亲切的措施。</li>
    </ul>
    <p>广告是促销的传声筒。好的广告要做到使尽可能多的感兴趣者关注，并使他们成为经销商的广告宣传员。对于广告来说，打动人心的创意固然重要，满足广告唤起的客户的期望更加重要。如果由于各种原因不能满足广告许诺的内容，可能对经销商造成不良影响。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-92.png" class="per80-width" />
    <br />
    <br />
    <br />
    <h3 id="section-3-03">服务营销实践</h3>
    <h4>服务营销计划</h4>
    <h5><b>服务营销计划制定</b></h5>
    <h5>营销计划制定要求</h5>
    <p>
        每年末，服务经理根据营销定位和营销策略分析结果，结合经销商总体营销目标，制定出年度服务营销计划，对年度售后服务营销工作做整体规划：
    </p>
    <ul>
        <li>在制定年度服务营销计划时，市场和客服部门要根据需要提供必要的信息支持。</li>
        <li>每月末，服务经理制定下月服务营销计划，以明确下月服务营销具体项目和内容。</li>
        <li>制定月度服务营销计划表时，需要确定活动类型、活动名称、目的及目标预估以及整体预算。</li>
        <li>月度服务营销计划得到总经理批准后，服务经理根据月度服务营销计划制定各服务营销项目的具体方案。</li>
        <li>服务营销方案要求包括背景分析、预期目标、活动流程、活动预算、活动执行方案等。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-93.png" class="per80-width" />
    <h5>服务营销活动的类型</h5>
    <p>
        客户营销活动在售后服务领域可分为两大维度：产品/服务营销和客户关系维系：
    </p>
    <ul>
        <li>产品/服务营销类活动是以特定的服务或产品为营销内容，可在短期内直接提升服务营业收入的活动。</li>
        <li>客户关系维系类活动是以降低客户流失或赢得客户再次到店为主要目的，可以从长期内保证经销商售后业务持续发展的活动。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-94.png" class="per80-width" />
    <h5>广告计划</h5>
    <p>
        广告和促销是比较重要的服务营销类型。广告不仅仅是一个口号，当经销商决定做一个广告形式的服务营销计划时，要关注的要素包括：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-95.png" class="per80-width" />
    <h5>
        活动计划
    </h5>
    <p>
        相对于广告计划，活动类促销对经销商整体配合要求更高，因此活动方案要更加详细：
    </p>
    <ul>
        <li>活动名称，活动名称要简洁、清晰，准确地表述本次活动的主题。</li>
        <li>活动背景，阐述开展原因、目的，内外部环境，服务优势、弱点、机会及威胁等。</li>
        <li>活动目的和目标，活动经济效益、媒体效应等应该明确写出，目标要具体化。</li>
        <li>资源需要，列出所需人、财、物资源支持，针对其他部门配合要详细，以避免出现偏差。</li>
        <li>活动流程，活动项目按照时间的先后顺序排列，绘制实施时间表有助于方案核查。</li>
    </ul>   
    <h4>服务营销实施</h4>
    <h5><b>服务营销实施准备</b></h5>
    <h5>
        物料准备
    </h5>
    <p>
        服务营销通常以广告宣传和促销活动为主，广告宣传可以按照广告计划严格执行。促销活动根据具体活动的类型，一般需要进行前期物料准备、客户邀约等准备工作。物料准备工作包括：
    </p>
    <ul>
        <li>根据服务营销活动方案，明确需要准备的物料名称与数量。</li>
        <li>如果是店外活动，按要求寻找并签订场地使用协议。</li>
        <li>设计、制作适合活动类型并符合大众进口汽车形象要求的活动宣传资料及活动礼品。</li>
        <li>服务活动中如需使用车辆，应提前确认车辆工作状态。</li>
        <li>对于需要设计和制作的物料，应该明确责任人及制作完成时间。</li>
    </ul>
    <h5>
        客户邀约
    </h5>
    <ul>
        <li>明确目标客户，根据服务活动目标及时与其联系或发布公告。</li>
        <li>对于客户的邀约，除了进行广宣之外，还需要对目标客户进行一对一的针对性邀约。</li>
        <li>根据活动对象与人数，预估邀约客户成功率，计算活动应邀约客户的数量。</li>
        <li>筛选客户并作出邀约名单，并把邀约工作分配到责任人。</li>
        <li>对于每种邀约方式使用的标准话术应由售后部或者客服部相关人员制定。</li>
        <li>如有必要，客服部门进行行业或地方政府VIP人员邀约。</li>
        <li>活动前1天再次与客户确认和提醒等。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-96.png" class="per80-width" />
    <h5><b>服务营销实施准备</b></h5>
    <ul>
        <li>活动开始前，要按照服务营销活动方案把活动流程细化，按照时间顺序制定服务活动时间推进表，进一步明确责任人，并对各部门工作进度与质量进行监督。</li>
        <li>活动当天，设置专门人员负责客户接待工作，并填写客户签到表，确保客户信息填写完整、准确。</li>
        <li>活动现场主持工作由服务经理担当，对于汽车专业知识讲座可由技术经理来做主要讲解，对于汽车行业外的讲座或者节目可聘请专业人士进行。</li>
        <li>客服部门应在客户完成问卷后发放礼品（可以凭问卷领取礼品），确保到场客户都能领到礼品。最佳礼品发放时间是活动结束前和问卷回收后。</li>
        <li>活动结束时提醒客户随身物品检查，感谢客户参与，礼貌道别。</li>
        <li>如果活动场地出口交通状况复杂，必须专人引导客户。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-97.png" class="per80-width" />
    <h4>服务营销实施</h4>
    <h5><b>服务营销效果评估</b></h5>
    <p>
        为了不断改善服务营销效果，经销商应在活动结束后对服务营销活动效果进行评估：
    </p>
    <ul>
        <li>服务经理应该与市场经理、客服经理等共同对活动效果进行评估。</li>
        <li>服务经理应重点关注活动收益，包括客户进站台次、客户到场率、客户满意率等，具体应该根据活动目的、主题等确定。</li>
        <li>针对营销活动本身的评估，需要包括活动主题、活动形式地点、准备工作、现场表现等，对于具体活动经销商可根据活动类型制定评估标准。</li>
        <li>对活动主题的评估，主要考察客户对主题的感兴趣程度，可参考客户平均留场时间和客户满意度等。</li>
        <li>对人员表现的考核接待能力、部门工作协作能力、现场指挥和控制能力、活动流程执行能力等。</li>
    </ul>
    <h5>
        <b>
            服务营销改善与提升
        </b>
    </h5>
    <p>服务营销是一项长期工作，为了不断提升服务营销的效果，经销商应该不断总结服务营销活动开展的经验和不足，并在实践中持续进行改善：</p>
    <ul>
        <li>服务效果评估后，总结经验和不足并分析原因，重点分析存在的问题及原因。</li>
        <li>针对存在的问题，制定针对性改善方案和改进方法。</li>
        <li>在各项评估和分析基础上，制作效果评估报告。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-98.png" class="full-width" />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-4">客户满意度管理</h3>
            <br />
            <p>
                随着汽车市场的不断成熟，经销商售后服务面临更加严峻的挑战。客户更加懂车，对售后维修和服务要求更高；不断有新的服务提供者进入，使售后服务竞争加剧；技术的发展，使售后服务行业更加透明；政策的不确定性，使汽车售后服务市场的前景变得扑朔迷离。
            </p>
            <p>
                为了应对这些危机，经销商必须打造有效的服务营销体系，研究服务环境、关注客户需求，通过合理服务营销策略吸引客户并创造利润。
            </p>
            <br />

            <h5>
                本节目录
            </h5>
            <ul>
                <li><a href="section-4-01">客户满意度概述</a></li>
                <li><a href="section-4-02">大众进口汽车满意度调研体系</a></li>
                <li><a href="section-4-03">客户满意度分析</a></li>
                <li><a href="section-4-04">客户满意度改善</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-4-01">客户满意度概述</h3>
    <h4>客户满意度的含义</h4>
    <h5><b>客户满意与服务质量</b></h5>
    <p>
        客户满意是从客户的角度反映服务质量，是客户感知到的经销商的工作表现与客户对经销商工作的期望之间对比的结果，即：
    </p>
    <ul>
        <li>客户满意＝客户体验－客户期望。</li>
        <li>如果客户的要求得到满足，即客户实际体验达到客户期望，客户会感到满意。</li>
        <li>当客户体验超越了客户期望，即客户在经销商处得到的体验高于客户期望，就能制造客户惊喜。</li>
        <li>如果客户体验不能达到客户的期望，客户会感到不满意甚至失望。</li>
    </ul>
    <p>
        售后服务质量是保证客户满意的基础，而服务质量又涉及两方面的内容，即服务过程质量和维修质量。服务过程质量的提升需要经销商结合当地市场，严格执行服务核心流程，深入挖掘并满足客户需求，提供便捷、高效的服务；而维修质量除了要求经销商进行持续不断的提高维修能力、加强质量检查，也需要经销商各部门在流程执行过程中严格遵守各项准则。
    </p>
    <h5><b>客户满意度管理的意义</b></h5>
    <p>
        客户满意度管理的目的在于，通过对客户进行满意度调研，了解客户的需求、发掘经销商自身存在的问题以及与竞争对手之间的差异，从而有针对性地改进服务工作，以保持和提升经销商的盈利能力：
    </p>
    <ul>
        <li>通过各种维度的满意度调研方法，收集客户声音，了解客户需求，为进一步分析提供有效数据。</li>
        <li>通过对客户满意度调研数据的分析，找出售后服务短板。</li>
        <li>研究服务流程及服务传递与客户期望之间的差距，找到客户关注点和服务短板，提出相应改善建议。</li>
        <li>把有限的资源集中到客户最看重的方面，从而达到建立和提升客户忠诚并保有客户。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-99.png" class="full-width" />
    <h4>关键时刻理论</h4>
    <h5><b>关键时刻（MOT）理论</b></h5>
    <p>
        客户满意度管理中，关键时刻（Moment of Truth，MOT）是一种重要的理论和方法，关键时刻理论是由北欧航空公司前总裁詹·卡尔森根据自己的管理实践提出的，秉承以客户导向的经营理念，他在不到一年的时间使连续亏损且金额庞大的北欧航空公司扭亏为盈。
    </p>
    <p>
        卡尔森认为关键时刻就是客户与北欧航空公司的员工面对面相互交流的时刻，也就是指客户与企业的各种资源发生接触的时刻，无论这一时刻多么短暂，都是一个形成印象的机会，正是无数个这样的时刻决定了企业的成败。
    </p>
    <p>
        大众进口汽车将关键时刻的方法用于CSS客户满意度调研当中，从客户期望的角度出发，构建了客户满意度评价体系，以不断提升经销商售后服务质量，提升客户满意度。
    </p>
    <h5><b>推动关键时刻（MOT）的好处</b></h5>
    <ul>
        <li>可以明确客户的期望和经销商工作的不足，并不断改善，实现服务标准化。</li>
        <li>可以让客户真正认识到服务的流程，让员工发自内心关怀客户。</li>
        <li>提升员工客户服务能力。</li>
        <li>对客户做好服务营销，扩展与客户关系。</li>
        <li>对客户完整的答复及应对。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-100.png" class="full-width" />
    <br />
    <br />
    <br />
    <h3 id="section-4-02">大众进口汽车满意度调研体系</h3>
    <h4>
        大众进口汽车满意度调研体系
    </h4>
    <p>
        为了提升客户满意度，大众进口汽车开展了一系列项目，以便从过程和结果全面地监控目前客户满意度现状，并系统地进行客户满意度的提升。重点满意度项目包括：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-101.png" class="per80-width" />
    <p>
        备注：满意度调研项目会根据实际需要进行调整，具体以最新下发的文件为准。
    </p>
    <h4>
        客户满意度现场访问
    </h4>
    <h5><b>客户满意度现场访问概述</b></h5>
    <p>
        客户满意度现场访问是客户在经销商等待维修或者结账离店前，经销商就本次服务质量或以往的服务质量与客户面对面沟通，了解客户的服务感受。现场访问的目的是：

    </p>
    <ul>
        <li>提升IACS客户满意成绩</li>
        <li>倾听客户声音，了解客户感受</li>
        <li>分析客户反馈，找出服务弱项</li>
        <li>制定改善方案，提升服务品质</li>
    </ul>
    <p>客户满意度现场访问的目标客户群包括所有进站保养/维修的客户，按照客户群体分类为：首次保养客户和已有客户（已有客户包括忠诚客户、质保到期客户、流失后再次进站客户及IACS客户）。
    </p>
    <h5><b>客户满意度现场访问管理</b></h5>
    <p>
        客户满意度现场访问执行部门为经销商客服部门，主要工作内容包括：
    </p>
    <ul>
        <li>执行现场的客户满意度访问</li>
        <li>访问问卷回收，数据分析，报告撰写</li>
        <li>向相关部门分享调研结果，并共同制定改善方案</li>
        <li>把有限的资源集中到客户最看重的方面，从而达到建立和提升客户忠诚并保有客户。</li>
    </ul>
    <p>
        现场访问执行方式为利用访问问卷对目标客户的现场面访；目标客户群包括所有进站保养/维修的客户，按照客户群体分类为首次保养客户和已有客户（包括IACS客户）。

    </p>
    <p>
        经销商应该根据业务量自行决定每月/每天客户访问量。参考样本量如下：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-102.png" class="per80-width" />
    <h5><b>客户满意度现场访问实施</b></h5>
    <h5>现场访问实施步骤</h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-103.png" class="per80-width" />

    <h5>现场访问实施流程</h5>
    <p>
        首次保养进站的客户建议结账付款完成后进行访问，已有客户在维修接待中和结账付款后皆可：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-104.png" class="per80-width" />

    <h5><b>客户满意度现场访问问卷</b></h5>
    <h5>现场访问的主要内容</h5>
    <p>
        客户满意度现场访问是大众进口汽车客户满意度管理体系的一部分，在设计现场访问问卷时要结合其他满意度调查项目的内容，包括IACS、IKB、CSS等，并围绕服务核心流程中面对客户的环节设计：

    </p>
    <ul>
        <li>开始准备维修和保养</li>
        <li>服务顾问</li>
        <li>维修/保养等待过程</li>
        <li>车辆交付</li>
        <li>维修质量</li>
    </ul>
    <h5>现场访问问卷的结构</h5>
    <p>
        问卷的结构有利于更有效和全面地收集客户的声音，客户满意度现场访问问卷结构包括问卷抬头和主体内容，问卷抬头包括客户信息、车辆信息以及接待服务顾问姓名等；问卷主体内容首先了解客户对该次服务的整体满意度，其次了解子流程的客户满意度，其中：
    </p>
    <ul>
        <li>整体满意度题目是对服务的整体评价，以1分-10分作为评价尺度，10分代表特别满意，1分很不满意</li>
        <li>子流程整体满意度题目是对该流程的整体评价，以1分-10分作为评价尺度，10分代表特别满意，1分很不满意</li>
        <li>子流程细节题目，在每个子流程中都设定一些细节题目，以是否题的形式了解关键项的达成情况</li>
        <li>子流程开放题目，每个子流程最后设置开放题目，了解客户对该环节的意见或者建议</li>
        <li>问卷中带“*”标志的题目是IACS满意度调研中的弱项，为必答题，其他为选答题；对于选答题，经销商可以根据本店弱项或者客户关注点选择，也可以增加问卷外的题目</li>
    </ul>
    <h4>
        IKB回访
    </h4>
    <p>
        IKB是主动客户维系的德文缩写，IKB回访是指由大众进口汽车对所有进站维修/保养的客户进行3日内电话回访，询问客户对经销商表现的满意度，及时了解客户不满并向客户提供解决方案。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-105.png" class="per80-width" />
    <p>
        备注：IKB调研详细流程和标准，参考《客户关系管理指导手册（客户满意度）》。
    </p>
    <h4>
        CSS满意度调研
    </h4>
    <p>
        CSS（Customer Satisfaction Survey）问卷是大众进口汽车2007年从德国引进的客户满意度方面的调研问卷，调研集中于客户在经销商处体验到的整体服务流程中的关键性指标。

    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-106.png" class="per80-width" />
    <p>
        备注：CSS调研详细流程和标准，参考《客户关系管理指导手册（客户满意度）》。
    </p>
    <h4>
        客户座谈会（FGD）
    </h4>
    <p>
        客户座谈会（FGD）是运用小组会议，由专业的第三方主持人直接面对面与客户沟通询问并倾听客户之声（VOC）的自由讨论回答问题方式。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-107.png" class="per80-width" />
    <p>
        备注：客户座谈会详细流程和标准，参考《客户关系管理指导手册（客户满意度）》。
    </p>
    <h4>
        经销商售后服务审核检验（DSAT）
    </h4>
    <p>
        与倾听客户声音的满意度项目不同，经销商售后服务审核检验（DSAT）项目旨在对经销商售后服务流程执行情况与管理能力进行了解与评估。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-108.png" class="per80-width" />
    <p>
        备注：经销商售后服务审核检验详细流程和标准，参考《客户关系管理指导手册（客户满意度）》。
    </p>
    <h4>
        售后服务飞行检查（WST）
    </h4>
    <p>
        售后服务飞行检查（WST）是指采用飞行检查的方式，探查经销商服务标准的执行现状及存在的问题和短板，对经销商服务质量水平进行评估，督促经销商提升服务能力的满意度项目。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-109.png" class="per80-width" />
    <p>
        备注：售后服务飞行检查详细流程和标准，参考《客户关系管理指导手册（客户满意度）》。
    </p>
    <h4>
        国际售后服务客户满意度调研（IACS）
    </h4>
    <p>
        IACS（International After Sales Customer Satisfaction）国际售后服务客户满意度调研是由德国大众公司委托第三方市场调研公司负责对全球售后服务市场客户满意度调研。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-110.png" class="per80-width" />
    <p>
        备注：国际售后服务客户满意度调研详细流程和标准，参考《客户关系管理指导手册（客户满意度）》。
    </p>
    <br />

    <h3 id="section-4-03">客户满意度分析</h3>
    <h4>
        客户满意度分析方法
    </h4>
    <p>
        客户满意度分析方法就是把客户满意度调查结果，客观地通过系统性分解为各个组成部分并分析、挖掘问题及原因的方法。组成部分，即客户满意调查的各种属性、关系、关联或从不同方面表现的整体性。客户满意分析方法有很多，此处介绍三种常用的方法：
    </p>
    <ul>
        <li>时间序列分析法</li>
        <li>差值贡献分析法</li>
        <li>鱼骨图分析法</li>
    </ul>
    <h5><b>时间序列分析法</b></h5>
    <p>
        通过时间序列分析可以知道经营的变化情况，为预测未来发展方向提供帮助。常见两种比较方式是同比分析及环比分析：
    </p>
    <ul>
        <li>同比分析，指本期发展水平与去年同期发展水平的比较，例如：今年1季度跟去年1季度比</li>
        <li>环比分析，指报告期发展水平与前一时期水平之比，例如：今年2月跟今年1月比</li>
    </ul>
    <h5><b>差值贡献分析法</b></h5>
    <p>
        受限于主客观条件和资源，经销商在客户满意度改善与提升的过程中要有目标、有策略，首先进行严重影响客户满意度的项目，差值贡献分析法即是分析和获取重点改进项目的方法。
    </p>
    <p>在CSS回访中，客户的总体满意度分为从“很不满意”到“特别满意”五类，评价从高到低对应分值分别为100、75、50、20和0。回访结果通过差值贡献分析，就可以寻找现有MOT表现最脆弱的服务项做为改善修正点；当获取数值愈高，改善效果愈好。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-111.png" class="full-width" />
    <h5><b>鱼骨图分析法</b></h5>
    <p>
        问题的特性总是受到一些因素的影响，我们找出这些因素，并将它们与特性值一起，按相互关联性整理而成的层次分明、条理清楚，并标出重要因素的图形就叫鱼骨图。鱼骨图是一种分析找到“根源问题”的方法，它也可以称之为“因果图”。其特点是简捷实用，深入直观。鱼骨图分析问题运用方式是：
    </p>
    <ul>
        <li>问题或缺陷（即后果）标在“鱼头”</li>
        <li>鱼骨为针对问题点，选择层别方法（如人机料法环等）</li>
        <li>在鱼骨长出鱼刺，按出现问题的可能原因，说明各个原因之间如何相互影响</li>
        <li>在实际工作中使用鱼骨图分析问题的原因时，要遵守一定的流程：</li>
        <li>明确问题所在，并获得团队通过</li>
        <li>明确问题原因所属类别，并放在鱼大骨末端。</li>
        <li>确定问题主要原因，并将其放在鱼大骨上</li>
        <li>确定问题次要原因，并将其放在鱼小骨上</li>
        <li>对完成的图形进行讨论并评价</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-112.png" class="per80-width" />
    <h4>
        客户满意度分析内容
    </h4>
    <h5><b>CSS满意度成绩分析</b></h5>
    <p>大众进口汽车会在第N个月将第N-2个月的CSS调研结果报告发给经销商，报告包括：</p>
    <ul>
        <li>分析报告（PDF / 月度）</li>
        <li>数据报告（EXCEL / 月度）</li>
        <li>DMS 档案质量报告（EXCEL / 月度）</li>
    </ul>
    <p>针对这些数据，经销商可以进行深入比较和分析，分析项目和内容包括：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-113.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-114.png" class="per80-width" />
    <h5><b>客户满意度现场访问结果分析</b></h5>
    <p>客户满意度现场访问是客户在经销商接受服务过程中，经销商满意度专员与客户面对面直接沟通调研的方式。客户满意度现场访问结果可以做如下分析：</p>
    <ul>
        <li>客户对整体服务的满意度</li>
        <li>客户对关键服务流程的满意度</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-115.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-116.png" class="per80-width" />

    <h5><b>IKB回访结果分析</b></h5>
    <p>IKB调查问卷共询问4道问题，即1道必答题是总体满意度；3道可选题，即在每季度CSS的MOT点中选出经销商表现薄弱的方面做为问题。 IKB回访结果会实时在CRM Portal 系统更新，经销商应该每天导出IKB原始数据报告、IKB满意度报告，并进行分析，分析主要内容包括：</p>
    <ul>
        <li>电话接通率</li>
        <li>服务顾问个人成功回访</li>
        <li>客户对于服务顾问/技师的满意度分析</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-117.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-118.png" class="per80-width" />
    <br />
    <br />
    <br />
    <h3 id="section-4-04">客户满意度改善</h3>
    <h4>
        客户满意度改善流程
    </h4>
    <h5><b>IKB回访结果分析</b></h5>
    <p>系统的客户满意度调查可以全方位了解客户满意度管理中存在的问题，经销商层面，需要通过满意度调查数据的分析，了解自身在客户满意度管理中的优项点及弱项点，并进行改进和提升：</p>
    <ul>
        <li>客服部定期（每周/每月）将各项调研结果反馈给售后服务部门。</li>
        <li>反馈内容包括调研原始数据、数据初步统计分析结果、原因分析及改进建议。</li>
        <li>售后服务部根据客户关系部门的反馈，与前台、车间、备件等部门主管召开满意度会议，进一步分析问题，并制定明确的改善方案。</li>
        <li>售后各主管召开业务部门内部分析，制定内部改善计划，明确改善内容、目标、时间及责任人等。</li>
        <li>售后服务部将改善方案反馈至客户关系部，客户关系部按照方案监督各项工作的改善和实施。</li>
    </ul>
    <h4>客户满意度改进计划表</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-119.png" class="per80-width" />
    <h3>附录：对话式接待</h3>
    <h4>对话式接待概述</h4>
    <p>优化售后服务质量、提升客户满意度和增加收益是售后服务目标所在，而对话式接待是实现这些目标的有效手段和方法。</p>
    <p>实现最佳服务质量的前提是经销商售后工作人员与客户之间沟通良好。如果获得客户的信任，也将取得良好的经济效益，同时提高工作质量、降低返修率。在这个过程中，服务顾问担当售后服务销售人员的角色。</p>
    <h4>对话时接待的核心要素</h4>
    <h5><b>工作场所</b></h5>
    <p>对话式接待首先指的是实施作业的地点，也就是空间上与车间实施和工具分开的工作场所。</p>
    <h5><b>根据需求接收车辆</b></h5>
    <p>对话式接待也是指在工位上或者通过图像记录手段对客户车辆进行接收和评估时的所有措施和流程。在对话式接待过程中，客户必须始终在场，与客户沟通并让客户参与到车辆检查过程中。</p>
    <h5><b>流程与IT系统</b></h5>
    <p>对话式接待是服务核心流程的组成部分，体现在流程的各个环节。实施对话式接待的重要前提是在客户预约时向客户推荐对话式接待，并做好规划，以便为服务顾问与客户的对话式接待留出充分的时间。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-120.png" class="per80-width" />
    <p>
        流程准备工作中需要检查场地条件和车间条件，并确保必须的资料齐全，从而使流程参与人员对客户和车辆做好充分的准备。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-121.png" class="per80-width" />
    <h5><b>流程与IT系统</b></h5>
    <p>客户到店后，及时引导客户到接待处，询问客户对车辆的投诉、期望等，可以帮助服务顾问了解客户想要什么，进而可以与客户实施针对性的对话式接待。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-122.png" class="per80-width" />
    <p>在流程执行过程中，经销商需要借助IT系统进行相关信息的记录和查询、进行工作安排，提高流程执行效率和服务质量。</p>
    <h5><b>工作人员</b></h5>
    <p>对对话式接待的理解和态度决定了经销商售后部门是否能够成功地实施对话式接待。为了更好地开展对话式接待，相关人员要统一认识，将对话式接待理解为现代服务满意度管理的工具。</p>
    <p>为了更好地开展对话式接待，提高售后服务咨询的质量，经销商需要进行相关的培训，尤其是针对服务顾问进行培训，提升服务顾问沟通技能、销售技能、技术能力等。</p>
    <h4>对话式接待管理</h4>
    <p>经销商需要对对话式接待效果进行持续的监控，其中客户满意度调研（CSS）是一种重要的方法。根据实施对话式接待前后满意度调研的对比和分析，可以了解对话式接待在哪些方面取得了哪些成效。</p>
    <h4>对话式接待检查表</h4>
    <p>对话式接待检查单是与客户进行咨询和推销对话时的指导工具，通过检查单，可以使服务顾问的操作方法针对客户实现系统化，还能给客户留下专业的形象，因此建议经销商在每次对话式接待时都使用检查表。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-123.png" class="full-width" />
    <h4>对话式接待检查表</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-124.png" class="full-width" />
</div>

