@{
    Layout = "~/Views/OperationStandard/_LayoutAftersales.cshtml";

}

<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />

    <br />
    <br />
    <h3 id="chapter1">运营管理</h3>
    <br />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-1.png" />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            经销商售后业务的核心是通过创造客户价值实现盈利。要实现这一目标，经销商要建立售后具体目标、制定业务计划，设定售后绩效指标体系以监控售后各项目标达成，并提高效率、合理控制成本。标准化的售后服务流程是提高服务效率和质量、建立良好客户关系的有效工具，经销商要明确流程步骤和工作标准，同时需要建立流程监控和改善机制，以便实现流程的不断优化。随着汽车消费市场不断成熟和竞争环境的变化，经销商需要不断调整售后服务营销策略，制定有针对性的服务营销措施，以维护客户关系、吸引客户进站。客户满意度是衡量经销商服务质量的重要标尺，经销商要建立客户满意度管理机制，倾听客户声音，不断改进各项工作，以不断满足、超越客户期望。
        </p>
    </div>
    <h3>本章主要适用对象</h3>
    <ul style="list-style: decimal">
        <li>服务经理</li>
        <li>前台经理</li>
        <li>车间经理等</li>
    </ul>
    <br />
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Aftersales/chapter1/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="#section-1">经营管理</a></li>
            <li><a href="#section-2">服务流程管理</a></li>
            <li><a href="#section-3">服务营销管理</a></li>
            <li><a href="#section-4">客户满意度管理</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-1">经营管理</h3>
            <br />
            <p>
                售后各项工作的目的是创造利润。为了实现这一目标，并保证长期持续发展，经销商要进行售后收入和成本分析，明确售后收入的来源和成本的结构，掌握售后收入提升和成本控制方法；在收入和成本分析的基础上，可以针对售后利润进行分析，明确利润的结构和利润提升的思路；与此同时，经销商要进行售后效率分析，包括出勤率、生产率和劳动效率等；进行售后目标管理，明确售后各项工作的目标，并合理监控目标的达成过程，定期制作售后报告，按要求向大众进口汽车反馈数据。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-1-01">售后经营管理概述</a></li>
                <li><a href="#section-1-02">售后收入分析</a></li>
                <li><a href="#section-1-03">售后成本分析</a></li>
                <li><a href="#section-1-04">售后利润</a></li>
                <li><a href="#section-1-05">运营效率管理</a></li>
                <li><a href="#section-1-06">售后目标管理</a></li>
                <li><a href="#section-1-07">售后报告</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-1-01">售后经营管理概述</h3>
    <h4>经营管理的目标</h4>
    <p>
        在售后经营管理中，零服吸收率为经销商整体工作提供了方向和目标。为了在日渐艰险的市场环境中保持业务的稳定和增长，经销商要明确售后收入来源和成本结构，进而采取有效措施提高售后服务利润、控制成本，并通过内部流程管理提高售后运营效率，最终实现合理的利润目标。
    </p>
    <br />
    <h4>经营管理的内容</h4>
    <p>
        售后经营管理实践中，经销商首先要进行售后收入分析，明确售后收入的内容和结构，掌握不同类型收入的分析和提升方法，并掌握工时和备件的定价方法，根据市场状况进行合理定价。
    </p>
    <p>
        同时，需要明确售后经营管理中的成本构成和结构，合理控制售后成本。在收入和成本分析的基础上，可以针对售后利润进行分析，明确不同级别利润的构成和利润提升的思路。
    </p>
    <p>
        售后效率有利于增加售后收入，并有效控制成本，而售后效率很大程度上取决于人员的出勤率、生产率和劳动效率。在日常管理中，要准确记录维修工时，分析售后效率并不断进行改善。
    </p>
    <p>
        利润的实现依靠售后各项业务的开展，为此需要明确售后各项工作的目标并合理监控目标的达成过程；同时，经销商要定期制作售后服务报告，按照要求汇报和提交。
    </p>
    <br />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-4.png" class="per80-width" />
    <br />
    <h5>备注</h5>
    <ul>
        <li>零服吸收率=售后服务毛利/经销商运营成本*100%</li>
        <li>根据汽车流通行业研究数据，当经销商售后业务状况良好，售后服务毛利能够支撑经销商日常运营成本时，经销商就可以避免受到市场剧烈变化的冲击；如果经销商主要依靠新车销售收入来维持经销商运营，一旦市场出现变化，经销商的生存将陷入困境。</li>
    </ul>
    <br />
    <br />
    <h3 id="section-1-02">售后收入分析</h3>
    <h4>售后服务收入构成与数据获取</h4>
    <h5><b>售后收入构成</b></h5>
    <p>经销商售后服务收入是一个重要的指标，当经销商将售后收入作为售后服务业务的运营目标时，若没有将售后服务收入按照业务类型进行规划，那运营目标将不具备很好的约束性。所以在分析售后服务收入时，按照业务类型分析才有意义。</p>
    <p>售后服务部门中存在的业务类型主要有以下几种：</p>
    <ul>
        <li>机电维修保养业务</li>
        <li>钣喷业务</li>
        <li>索赔业务</li>
        <li>其他业务</li>
    </ul>
    <p>
        不同的业务类型具有不同的运营模型，分别就不同业务类型进行分析后，能够清楚地了解售后服务收入的构成，并对不同业务类型进行明确的规划，从而对售后服务部门的运营活动形成指导意义。
    </p>
    <ul>
        <li>
            当某种业务类型没有达到或超过预期目标时，通过对比该业务类型关键绩效指标与运营规划关键绩效指标的差异，分析运营目标规划中数据采集是否准确，考虑是否还存在着提升的空间。
        </li>
        <li>
            例如，年度新车销售数量超预期增长，导致售后服务收入同比大幅地提升，而市场的开发度、关怀度并没有发生实质性的变化。这种类型的增长，并不是售后服务部门的竞争力提升所带来的。
        </li>
    </ul>
    <p>
        工时和备件定价对收入有重要的影响，相同的进站台次，定价越高，收入越高。但是价格的影响可能是双向的，过高的定价可能带来进站台次的下降。所以经销商要综合分析市场和自身状况进行合理定价。
    </p>
    <h5><b>售后收入数据获取</b></h5>
    <p>
        要对售后服务收入进行分析，在明确结构和分类的基础上，需要及时、准确地获取售后收入相关数据，售后收入相关数据可以从财务部门获取。需要收集的信息包括但不限与以下内容：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-5.png" class="per80-width" />
    <br />
    <h4>
        机电维修保养业务收入
    </h4>
    <p>
        机电维修保养业务是发生最频繁的业务项目，是经销商维系客户最为重要的业务类型，该类型业务的运营状况如何，直接体现了经销商售后服务方面的竞争能力。同时，由于机电维修保养业务有较强的规律性，前期客户关系管理也是建立在机电维修保养业务基础上的。
    </p>
    <p>
        可以说，机电维修保养业务是经销商与客户之间的联系纽带，是形成和发生其他业务类型的基础，同时机电维修保养业务也是售后服务收入重要的业务类型。
    </p>
    <p>
        机电维修保养业务运营的逻辑关系大致如下图所示：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-6.png" class="per80-width" />
    <p>上图可以理解为，机电维修保养业务收入主要受客户数量、进站频次及平均单车产值等因素的影响。通过对这些因素的统计和分析，经销商可以了解目前改进和提升的重点，也可以依据该逻辑制定机电收入目标。</p>

    <h5><b>机电平均单车产值</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-7.png" class="per80-width" />
    <h5><b>进站频次</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-8.png" class="per80-width" />
    <h5><b>客户数量</b></h5>
    <ul>
        <li>指经销商统计期末实际保有的客户数量。</li>
        <li>基盘客户，指统计期初所有有效客户数量，通常指一年以内有一次或一次以上进站并产生消费的客户。</li>
        <li>新增客户，指统计期间新增加的售后服务客户。</li>
        <li>流失客户，流失客户可以与基盘客户对应理解，一般指一年及以上未有进站消费的客户。</li>
    </ul>
    <h4>
        钣喷业务收入
    </h4>
    <p>钣喷业务是经销商售后服务部门最为核心的业务类型之一，在成熟市场上，该业务收入占售后服务总收入的比例大约为40%以上。</p>
    <p>目前，客户自费的钣喷业务在经销商的钣喷业务中所占的比例将越来越低，主要原因方面包括，</p>
    <ul>
        <li>国家强制推行交强险。</li>
        <li>客户的风险意识越来越强，越来越多的客户通过购买保险来保护自己的利益。</li>
        <li>购买商业险的客户比例与车龄负相关，而售后服务客户群体主要由四年以内车龄的客户构成。</li>
    </ul>
    <p>
        钣喷业务的逻辑关系大致如下图所示：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-10.png" class="per80-width" />
    <p>上图可以理解为，钣喷业务收入主要受钣喷进站台次和单车产值影响。通过进行钣喷进站台次、单车产值以及其他影响因素的分析，可以了解目前改进和提升的重点，并制定钣喷业务收入目标。</p>
    <h5><b>钣喷平均单车产值</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-11.png" class="per80-width" />
    <h5><b>影响钣喷进站台次的因素</b></h5>
    <ul>
        <li>较高的技术能力、维修质量、服务质量是保障钣喷进站台次的基础。</li>
        <li>客户保有量、续保率、新车销量及新车投保率等也是影响钣喷进站台次重要因素。</li>
        <li>续保率，指保险期满后继续在经销商处投保客户的比利。</li>
        <li>新车投保率，指本店销售新车在本店投保的比例。</li>
    </ul>
    <h4>
        索赔业务收入
    </h4>
    <p>经销商应遵循大众进口汽车的索赔政策，为客户提供质量保证服务。随着汽车产品质量的不断改善及索赔政策的调整，经销商的索赔业务收入也将发生变化。虽然每台车的索赔项目和金额差异较大，但当数量足够大时，不同车型的索赔金额就具备了参考意义。</p>
    <h5><b>单车索赔指标</b></h5>
    <p>就经销商而言，比较可行的方法是总结过去索赔业务的运营数据，对未来的索赔业务收入进行估算。例如，过去的一年里，某车型有多少辆在保修期内，共产生了多少索赔收入，得出：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-12.png" class="per80-width" />
    <h5><b>单车索赔指标</b></h5>
    <p>
        将公式转换一下形式，则可以测算在新的一年里，索赔业务收入，即：
    </p>
    <ul>
        <li>索赔业务收入 =在质保期内车辆数 ×车型索赔率 ×单车索赔贡献</li>
    </ul>
    <p>该方法优点是测算比较简单，经销商只要将前一年数据进行统计和分析，就可以测算下一年某车型的索赔收入。但这种方法也存在不足，就是由于车辆技术等可能不断调整，测算可能不够准确。</p>
    <p>索赔是塑造品牌的重要手段之一，索赔业务也能够为经销商带来部分的收入。就索赔的目的性而言，经销商同样也要进行投入，所以在规划索赔业务收入时，经销商应同时将这部分成本规划在内。</p>
    <h4>
        其他业务收入
    </h4>
    <p>除机电维修保养业务、事故车钣喷业务、索赔业务收入之外，经销商可以获取其他形式的收入，比如，可以通过备件销售获取备件销售返利，这部分收入也应该纳入统计和分析范畴。</p>
    <p>同时，为了应对不断加剧的市场竞争，经销商应该主动拓展售后非主营业务，比如延保等，以提升客户黏性，增加售后收入。</p>

    <h4>
        售后收入提升概述
    </h4>
    <p>结合前面的分析可以知道，如果想要提升售后服务收入，可能有以下几种方法：</p>
    <ul>
        <li>平均单车产值保持不变，进站台次增加。</li>
        <li>进站台次保持不变，平均单车产值增加。</li>
        <li>进站台次和平均单车产值同时增加。</li>
        <li>或者，其中一项有所下降，但是另一项有所增加，但是提升的比例要高于降低的比例。</li>

    </ul>
    <h4>
        售后进站台次提升
    </h4>
    <h5><b>机电进站台次提升</b></h5>
    <p>对经销商来说，提升售后业务收入，应首先考虑增加售后进站台次，其中机电进站台次的提升方法包括：</p>
    <ul>
        <li>加强预约管理，通过预约招揽客户。</li>
        <li>加强服务营销，通过活动招揽客户。</li>
        <li>加强流失客户管理，进行流失客户招揽。</li>
        <li>加强对保修期到期客户的招揽。</li>
        <li>建立会员制度，通过会员活动进行招揽。</li>
        <li>进行大客户关系维系。</li>
    </ul>
    <h5><b>钣喷进站台次提升</b></h5>
    <p>钣喷进站台次增加对经销商售后收入增加有更大的意义，因此经销商需要采取更积极的措施提升钣喷进站台次。常见的方法包括：</p>
    <ul>
        <li>重视对保险到期客户的续保。</li>
        <li>加强外拓。</li>
        <li>加强内部培训，提升维修人员技术能力。</li>
        <li>加强服务顾问事故车业务考核力度，提升事故车业务能力。</li>
        <li>根据业务需要开展钣喷快修服务。</li>
    </ul>
    <br />
    <h4>
        平均单车产值提升
    </h4>
    <p>提升平均单车产值方面，经销商可以采取的措施包括：提升服务顾问的接待和诊断能力，避免漏项；设计合理的售后服务产品组合；合理进行衍生业务的推广等（参考服务营销部分）。跟这些因素相比，工时和备件的价格是影响平均单车产值的主要因素，经销商需要对工时费率和备件进行合理定价。</p>
    <h4>
        工时费率核算与工时定价
    </h4>
    <h5><b>工时费率核算</b></h5>
    <p>工时费率的核算是判断业绩能够增加收益的还是降低收益的基础，核算是索赔工时费率获得批准的基础。价格设计对于经销商的形象具有至关重要的意义，因此在以核算为基础确定工时费率时，经销商应以市场为导向，考虑自己的市场定位和其他供应商的定价。</p>
    <p>经销商每年应至少应进行一次核算，建议在年初进行，在工资和薪金标准调整和员工数量发生变动时建议也适时进行工时费率核算。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-13.png" class="per80-width" />
    <h5><b>工时费率核算</b></h5>
    <p>在核算的平均工时费率基础上，经销商可以结合区域市场状况、自身竞争能力等因素进行维修工时定价。工时定价常见方法包括跟随市场定价法、生产时间定价法、标准工时定价法和综合定价法等。</p>
    <br />
    <h5>跟随市场定价法</h5>
    <p>将所在区域普遍使用的收费标准作为本企业的收费标准的方法，即是跟随市场定价法。当该区域存在一个强大的行业领导者，该领导者具备定价话语权时，采用这种定价方法是一种比较安全的运营策略。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-14.png" class="per80-width" />
    <h5><b>工时定价</b></h5>
    <h5>生产时间定价法</h5>
    <p>根据维修技师的实际生产时间，收取工时费用。该方法适用于售后服务市场比较成熟的地区，且仅适用于地区强大的行业领导者，其服务品质、工作效率普遍高于该地区行业水平，能获得客户的普遍认同。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-15.png" class="per80-width" />
    <h5>标准工时定价法</h5>
    <p>核算出每个项目的标准工时，制定统一的工时费率：工时费 = 标准工时×工时费率。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-16.png" class="per80-width" />
    <h5>标准工时定价法</h5>
    <p>根据工作工位的难易程度分别使用不同的工时费率，从而形成一套有差别的定价系统：</p>
    <ul>
        <li>常规保养项目，对维修人员的技能要求不高，装备的费用也相对较低。</li>
        <li>中等技术项目，对装备的费用较高，部分使用了专用工具，同时经过培训的维修人员。</li>
        <li>高等技术项目，须投入具有特殊技能的和经过培训的维修人员，装备和专用工具费用较高。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-17.png" class="per80-width" />

    <h4>
        备件定价
    </h4>
    <p>与工时一样，备件价格也会影响售后收入和利润率，为了适应备件价格不断市场化的需求，经销商要掌握备件定价的方法。</p>
    <h5>统一加价率法</h5>
    <p>所有备件在进货价基础上，按照同样的加价率制定备件销售价格。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-18.png" class="per80-width" />
    <h5>差别加价率法</h5>
    <p>按照备件的市场竞争关系，将备件划分为不同类别，根据类别制定不同的加价率。常见的三种类别有通用类别备件、常规类别备件和专属类别备件。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-19.png" class="per80-width" />
    <br />

    <h3 id="section-1-03">售后成本分析</h3>
    <h4>
        售后成本概述
    </h4>
    <p>成本费用是抵减利润的重要因素，降低成本费用，可以增加利润，进而可以提高企业整体的经济效益。同时成本费用水平对产品的价格影响重大，当成本费用水平较低，产品价格就可以定得较低；若成本费用水平较高，低价格就会使企业处于不利的境地。通过有效的成本费用控制，可以降低企业的成本费用水平，提高市场竞争力。</p>
    <h4>
        售后成本构成
    </h4>
    <p>
        采购成本：包括为生产性工作（K、G和I类订单）而必须支付给员工的生产性工资及备件采购成本等。
    </p>
    <p>特殊成本：指与营业额直接相关的成本，如服务顾问销售精品等衍生业务的提成。</p>
    <p>人员成本：</p>
    <ul>
        <li>为非生产性工时（W1至W4）和付薪缺勤工时（W5至W8）而支付给维修人员的辅助性工资。</li>
        <li>非生产性员工的工资和薪金。当员工为不同的核算单位而工作时，其成本分摊给导致成本发生的部门。</li>
        <li>法定社会福利支出，如医疗、伤残、养老保险费、职业合作社会费等中须由雇主承担的部分。</li>
        <li>自愿的社会福利支出，如工装、交通费、公司庆祝活动、员工食堂的补贴等。</li>
    </ul>

    <p>直接经营成本：指按引起人承担原则直接列入各个成本核算单位的成本，包括：</p>
    <ul>
        <li>设备维护和保养</li>
        <li>办公用品</li>
        <li>差旅费</li>
        <li>办公车辆成本</li>
        <li>促销物品/礼品</li>
        <li>招待费</li>
        <li>消耗材料/小零件</li>
        <li>低值易耗品（工具）</li>
        <li>废弃物处理成本等</li>
    </ul>
    <p>与“直接经营成本”这一块成本相反，各个成本部门经理无法对以下“间接经营成本”和“管理费用”部分施加直接影响和负责。这两块成本都被列入售后部门的成本里。 </p>
    <p>
        间接经营成本：
    </p>
    <ul>
        <li>不动产的租金和租赁费</li>
        <li>供暖费、电费、煤气费、水费</li>
        <li>动产的租金和折旧</li>
        <li>保险、税费</li>
        <li>数据处理费</li>
        <li>核定利息</li>
        <li>企业自身的优惠索赔等</li>
    </ul>
    <p>
        管理费用：
    </p>
    <ul>
        <li>管理部门的人员成本（包括总经理的薪水和计算出的业主薪水）</li>
        <li>管理部门的直接经营费用</li>
    </ul>
    <h4>
        售后成本分析与管控
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-20.png" class="per80-width" />
    <p>
        对售后服务部门来说，成本费用管理的重点内容包括控制采购成本、人员成本以及直接经营成本，但仍需要根据日常工作对售后相关的间接经营成本和管理费用进行管控，以降低经销商整体成本和费用。
    </p>
    <br />

    <h3 id="section-1-04">售后利润</h3>
    <h4>
        售后利润的结构
    </h4>
    <p>经销商售后各项工作的目的是通过业务开展实现客户价值，最终创造经销商利润，保证企业的长期发展。在明确经销商售后收入来源和成本构成之后，经销商就可以对售后利润进行分析。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-21.png" class="per80-width" />
    <p>其中，收入指对应核算单位的的收入，包括工时销售收入、备件销售收入以及其他收入等。</p>
    <br />
    <h4>
        售后损益分析
    </h4>
    <p>将售后收入和成本进行汇总，可以从不同的层次分析经销商主营业务利润、营业利润和利润总额，了解售后收益和成本。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-22.png" class="per80-width" />

    <h4>
        售后利润的分析
    </h4>
    <h5><b>工时边际贡献III</b></h5>
    <p>间接经营成本、管理费用涉及整个经销商的运营管理，所以经销商应该重点关注边际贡献III。通过工时边际贡献III分析，可以了解车间在补偿固定成本方面起了多大作用：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-23.png" class="per80-width" />
    <p>工时边际贡献III应该以月为周期进行记录和统计，工时边际贡献III应该高于30%。</p>
    <h5><b>备件边际贡献III</b></h5>
    <p>与工时利润分析有所不同，备件利润分析过程中，首先要进行备件毛利分析，了解备件销售产生了多少利润可以用来补偿备件服务中发生的所有成本和带来营业利润。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-24.png" class="per80-width" />
    <p>一般而言，备件部门的平均毛利应该高于30%，同时，备件毛利也应该每月进行统计和分析。</p>
    <p>在分析备件平均毛利的基础上，要计算备件边际贡献III，分析备件服务部门在补偿固定成本方面起了多少作用，其余部分应该看作是部门的利润。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-25.png" class="per80-width" />
    <p>备件服务部门应该按月统计备件平均边际贡献III，备件平均边际贡献III目标应该定位于11%至12%。</p>
    <br />

    <h3 id="section-1-05">运营效率管理</h3>
    <h4>
        订单分类与工时记录
    </h4>
    <h5><b>工时与订单概述</b></h5>
    <p>售后服务经营效率和经济性在很大程度上取决于在职维修人员的出勤率、生产率和劳动效率。要进行时间效率分析，首先要进行维修工时记录，而维修工时记录的基础是订单的正确分类。</p>
    <h5>
        支付工时
    </h5>
    <p>经销商必须按照法律和劳动合同为员工支付薪酬，支付薪酬的工时数量即为支付工时，或总工时：</p>
    <ul>
        <li>一年的支付工时=（该年的天数-该年固定无支付天数）× 每天支付工时</li>
        <li>一般而言，支付工时=（365-104）× 8=2088小时</li>
        <li>公式中104为一年中平均带薪节假日天数，经销商要根据实际情况进行核算。</li>
    </ul>
    <h5>
        订单类型
    </h5>
    <p>经销商售后工作中，技师的支付工时用于执行工作。根据执行的工作的不同，订单可以分为四种：</p>
    <ul>
        <li>客户订单：K，按订单为客户所做的工作</li>
        <li>索赔订单：G，按有效索赔条件工作的独立订单</li>
        <li>内部订单：I，为经销商本身的其它部门所做的工作或提供的服务即是内部订单</li>
        <li>车间订单：W，所有为车间本身做的工作和空闲时间都属于车间订单</li>
        <li>废弃物处理成本等</li>
    </ul>
    <p>从订单分类可以看出，K类、G类和I类订单是生产性的，可以创造价值，而W类订单为非生产性的，不能产生工时销售收入。为了发现非生产性工时的原因，需要根据时间用途，将W订单进一步进行细分：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-26.png" class="per80-width" />


    <h5><b>工时记录与汇总</b></h5>
    <h5>
        订单工时记录
    </h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-27.png" class="per80-width" />
    <h5>
        日劳动控制卡记录
    </h5>
    <ul>
        <li>与工作订单一起，维修人员还必须在上班和下班时在其个人日劳动控制卡上打卡。</li>
        <li>非生产性工作W1至W4以及W8工时也必须在其个人日劳动控制卡上打卡，缺勤工时（W5至W7）由车间经理进行记录。</li>
        <li>在工作订单上登记生产性工时是为了为客户制作发票，而日劳动控制卡上的时间记录则是为了获得有关所有生产性员工的工时、出勤时间和缺勤时间的完整记录，以及作为计算员工工资和核算服务效率参数的依据。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-28.png" class="per80-width" />
    <h5>
        工时汇总
    </h5>
    <p>在下一个工作日开始前，所有上一个工作日的日劳动控制卡都被收集起来，并将其评估结果登记到月工时表中，月工时表按员工和月份进行管理：</p>
    <ul>
        <li>出勤工时</li>
        <li>实际生产性工时</li>
        <li>车间订单工时（W类）</li>
        <li>合计工时（付薪工时）</li>
    </ul>
    <p>仔细地填写月工时表是汇集、计算和分析每个员工及生产班组业绩的重要中间步骤。需要注意的是，休息时间既不能显示在日劳动控制卡上，也不能显示在月工时表上。</p>
    <p>每位员工每月的合计工时（付薪工时）首先用于调查出勤率情况。至于病假缺勤（W7工时）是完全还是部分由医疗保险公司支付，对以上统计工作没有影响。</p>

    <ul>
        <li>如果有加班情况，不要忘记记录由哪位员工在何时完成了多少加班时间。</li>
        <li>月工时表中登记的所有时间只能是十进制时间单位形式。</li>
        <li>车间订单：W，所有为车间本身做的工作和空闲时间都属于车间订单</li>
        <li>废弃物处理成本等</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-29.png" class="per80-width" />
    <h5><b>出勤率解读</b></h5>
    <h5>
        出勤率的含义
    </h5>
    <p>对工时和订单分类和记录并不是目的，目的是为了准确地了解售后服务工作中的薄弱环节，并制定针对性的措施进行改进。为了实现这一目的，需要在进行各项效率值的分析。</p>
    <p>时间效率中，首先要进行出勤率分析，即了解在工作地点的盈利工作人员出勤时间占总工时的比例：</p>
    <ul>
        <li>出勤率=出勤工时/支付工时×100%</li>
        <li>工作地点出勤并非仅仅指员工出现在公司，而是指盈利工作人员在具体工作地点的工作时间</li>
        <li>出勤工时指为K、G和I类订单付出的实际生产性工时，及为W1至W4类订单付出的非生产性工时</li>
        <li>由于付薪休假、假日、生病和培训等原因，出勤率不可能达到100%</li>
    </ul>
    <h5>
        出勤率管理
    </h5>
    <p>由于休假和节假日的巨大影响，只有到年底才能与规定目标进行正确对比，但其他原因造成的缺勤则需要认真观察和分析。</p>
    <p>如果生产性员工经常缺勤、迟到或早退，或者“轻度流感、感冒、胃肠不适”等，而且这样的员工比例较高，可能说明员工缺乏积极性。针对这种状况的解决措施包括：</p>
    <ul>
        <li>确定问题的范围，是特定的团队、所有维修人员还是个别员工。</li>
        <li>表明对按时按时出勤的重视，对引起疑问的各种情况做出反应。</li>
        <li>查找缺乏积极性的原因。</li>
        <li>检查是否有人对报酬、工作环境、冲突和上级领导风格等内容进行批评，批评的是否有道理</li>
    </ul>
    <p>
        较长培训时间也是影响出勤率的重要原因，只有在适当的时间派合适的员工参加适当的培训才给经销商带来持续性好处。包括：
    </p>
    <ul>
        <li>新员工熟悉工作/培训。</li>
        <li>培训员工进入新的业务/工作领域，专业化培训。</li>
        <li>由于技术更新/变化而进行的特别培训等。</li>
    </ul>
    <h5>
        劳动利用率的含义
    </h5>
    <p>
        分析出勤率之后，还要进一步分析利用率，了解盈利工作人员是否在出勤时间达到高效的工作水平：
    </p>
    <ul>
        <li>劳动利用率=实际盈利工时/出勤工时×100%</li>
        <li>记录的时间、市场、周期性和季节性环境、时间计划、公司组织和出勤W时间会影响利用率</li>
        <li>客户进站时间的波动性也会影响利用率，客户进站低谷时间段，会导致W2待工现象的发生</li>
        <li>在工作地点对学员和学徒的指导也是一个影响因素</li>
        <li>检查是否有人对报酬、工作环境、冲突和上级领导风格等内容进行批评，批评的是否有道理</li>
    </ul>
    <h5>
        劳动利用率管理
    </h5>
    <p>
        正常的平均劳动利用率大约为90%，大多是车间的人员和设备未得到完全利用，非生产性工时数量太高。可能的原因及措施包括：
    </p>
    <p>
        由于缺乏客户订单而导致车间劳动利用率低：
    </p>
    <ul>
        <li>通过赢得新客户来检查并提高每日车间有效订单的数量。</li>
        <li>客观地审察和提升售后服务性价比是否合理（工作质量、服务项目的多样性、工时费率）。</li>
        <li>扩展服务项目（钣金和油漆、轮胎服务、上门取车送车服务、提供备用车辆等）。</li>
        <li>调整营业时间使其尽可能地符合客户的要求。</li>
        <li>向客户提供特别服务/季节性服务项目，并为此做宣传。</li>
        <li>在维修工作方面向客户作出质量承诺。</li>
        <li>认真听取客户的负面意见和投诉，改善车间的形象。</li>
    </ul>
    <p>
        由于经销商内部原因而导致车间劳动利用率低：
    </p>
    <ul>
        <li>检查和优化每日时间分配和预约计划，检查订单和/或可利用的服务是否正确分配。</li>
        <li>根据维修技师的能力和特长合理分配工作。</li>
        <li>定期且正确地登记在工作订单和日劳动控制卡上。</li>
    </ul>
    <p>
        对返修的投诉过多：
    </p>
    <ul>
        <li>确保对订单上列出的所有维修工作进行例行终检和结果检查，必要时通过试车来检查。</li>
        <li>在订单执行过程中对工作质量进行监督。</li>
        <li>定期检查技术设备和车间资料的可用性。</li>
        <li>检查员工中是否有培训缺口，是否需要提供信息或进行培训。</li>
        <li>派工时尽可能考虑到员工的强项和不足。</li>
    </ul>
    <h5><b>出勤率解读</b></h5>
    <h5>
        劳动效率解读
    </h5>
    <p>
        即便出勤率和利用率都很高，工作中时间的使用效率也需要考虑，效率通常用盈利工作人员能否坚持在规定的时间内完成工作项来衡量：
    </p>
    <ul>
        <li>劳动效率=售出工时/实际生产工时×100%</li>
        <li>当技师准确地按照理论时间完成了一项工作时，劳动效率为100%；需要的时间越短，劳动效率越高，需要的时间越长，劳动效率就越低</li>
    </ul>
    <h5>
        劳动效率管理
    </h5>
    <p>
        如果劳动效率高于100%，说明维修人员的用时比规定时间短，这样经销商获得了更多的收入。但此时需要引起注意，因为过高的劳动效率往往与粗心大意、不注重工作质量有关系。
    </p>
    <p>
        如果劳动效率低于100%，说明实际使用的生产性工时比售出工时要多，必然导致收入减少，应仔细查找原因并采取相应的措施：
    </p>
    <ul>
        <li>针对订单填写不清楚，在填写工作订单之前，必须对车辆进行仔细诊断，明确存在的全部问题；订单应包括详细的工作指令以及维修工位和规定的理论工时。</li>
        <li>针对进行了维修但没有收钱，要现场抽查所有维修工位是否完全输入工作订单中且已记入发票，保证增加的维修项目已经记录到订单上。</li>
        <li>针对员工的技能水平不足，采取适当的培训措施或者安排团队工作以避免个人不足的影响。</li>
        <li>针对没有工作指导或指导不完整的情况，要求所有员工都必须学习技术资料，难度较大的工作中，技术经理应当事先与技师详细讨论维修过程。</li>
        <li>针对车间设备和装备不足，应当检查是否由于现有的工具、专用工具、测试和检测设备、举升机或专业技术资料的缺乏或不足而导致，根据需要协调增补。</li>
        <li>如果时间记录不准确，要采取措施确保准确地进行时间记录/打卡。</li>
        <li>针对准备时间太长的现象，检查备件出库的等待时间是否可以缩短、工具与设备位置是否合理，如果维修工作因各种原因经常被打断，例如缺乏备件，需通过更好的调度或组织来改进这种局面。</li>
        <li>针对缺乏实现更高劳动效率的积极性，要形成工作的多样性和良好的企业氛围。</li>
    </ul>
    <br />

    <h3 id="section-1-06">目标管理概述</h3>
    <h4>
        目标管理概述
    </h4>
    <p>
        售后利润的实现需要售后业务的支撑，为了更好地开展售后各项工作，首先要开展目标管理，要建立售后整体和各业务单元的工作目标，以保证各项工作围绕公司发展战略和目标展开。
    </p>
    <h5><b>目标管理的目的</b></h5>
    <ul>
        <li>明确的目标是企业活动的依据，售后经营目标是制定售后计划和开展售后各项工作的依据。</li>
        <li>目标可以作为各业务部门和人员经营考核的标准和依据，保证绩效考核公平、公正。</li>
        <li>可以帮助售后服务部门有效地整合售后各方面资源。</li>
    </ul>
    <h5><b>目标管理的过程</b></h5>
    <p>
        售后目标管理是经销商售后服务部门根据企业战略和规划，在市场分析的基础上，明确与分解目标，并有计划进行监控和不断改进的过程：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-30.png" class="per80-width" />

    <h4>
        售后经营现状分析
    </h4>
    <p>
        全面、详细的现状分析可以为目标制定提供科学的数据支持，但是需要注意，在分析阶段所需的信息必须是真实和完整的。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-31.png" class="per80-width" />
    <h4>
        售后目标制定
    </h4>
    <p>
        在进行目标分析的基础上，经销商售后部门可以结合大众进口汽车相关战略制定售后经营和运营相关目标，其中核心目标包括客户数量、进站台次、营业收入及利润等。以年度目标指定为例，方法如下：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-32.png" class="per80-width" />
    备注：
    <ul>
        <li>保险客户基数*：自费钣喷业务比例较小，故主要考虑保险客户数量。</li>
        <li>利润目标*：边际贡献III更真实体现售后部门经营状况，在制定利润目标时可以以工时边际贡献III和备件边际贡献III。</li>
    </ul>
    <br />

    <h3 id="section-1-06">售后目标管理</h3>
    <h4>
        建立KPI指标体系
    </h4>
    <p>
        目标可以为经销商售后工作提供方向，为了更好地完成目标，需要围绕目标设计KPI绩效指标，以定期进行分析，从而发现问题与进行相应的改善措施。指标可以按照平衡计分卡的思路设计，保证指标的系统性。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-33.png" />
    <h4>
        制定售后行动计划
    </h4>
    <h5><b>售后行动计划组成</b></h5>
    <p>
        各种目标和指标的合理设定并不意味着目标就能够实现，关键还在于确定实现目标的行动计划。行动计划是实际售后运营目标的具体措施和方法，完整的行动计划要包括完成战略和目标的具体步骤、方法、时间安排、责任人以及考核办法等。
    </p>
    <p>为了顺利实现售后运营管理各项目标，经销商需要制定的行动计划包括：</p>
    <ul>
        <li>售后服务营销计划</li>
        <li>备件订购、销售、库存计划</li>
        <li>客户满意度计划</li>
        <li>培训计划</li>
        <li>安全生产计划等</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-34.png" class="per80-width" />
    <h5><b>售后行动计划组成</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-35.png" />
    <h4>
        售后目标跟踪
    </h4>
    <p>
        实际运营管理中，售后部门可以在进行经营环境和自身现状分析的基础上，参考历史数据，将售后整体目标进行分解并定期跟踪。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-36.png" class="per80-width" />
    <h4>
        KPI指标监控与分析
    </h4>
    <p>
        售后各项运营业绩指标监控过程中，要对各项指标达成情况以及原因进行深入分析，特别是达成率异常高或低的指标。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-37.png" class="per80-width" />
    <h4>
        改善与提升
    </h4>
    <h5><b>售后目标与指标的改善与提升</b></h5>
    <p>
        在售后目标与指标深入分析的基础上，根据具体问题制定各项目标和过程指标的改进措施，以实现业绩指标的达成。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-38.png" class="per80-width" />
    <h4>
        分析与改善
    </h4>
    <h5><b>售后目标与指标的改善措施</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-39.png" class="per80-width" />
    <br />
    <h3 id="section-1-07">售后报告</h3>
    <h4>
        售后报告的类型
    </h4>
    <p>为了随时监控售后各项工作开展的进度，及时解决售后目标推进过程中存在的问题，经销商要及时将各项目标和KPI指标达成情况进行汇总，并制作报告。从不同的角度，售后报告可以分为不同的类型：</p>
    <ul>
        <li>按照业务角度，可以分为售后前台报告、车间报告、备件报告和技术报告。</li>
        <li>根据周期不同，可以分为售后日报、周报、月报等。</li>
        <li>按照阅读对象，除了进行内部沟通的内部报告，需要定期制作反馈报告，向大众进口汽车反馈相关信息。</li>
    </ul>
    <p>建议经销商结合店内管理实际情况和相关管理规定，按照一定的周期制作售后报告，不同周期的报告需要包含的内容包括：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-40.png" class="per80-width" />
    <h4>
        售后信息反馈
    </h4>
    <p>经销商需要根据大众进口汽车售后部门的要求，定期将售后相关数据向大众进口汽车进行反馈，内容包括但不限于以下信息：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-41.png" class="per80-width" />
    <p>备注：需要反馈的信息根据大众进口汽车相关部门实际要求为准。</p>
    <br />
    <div class="section-title-page">
        <h3 id="section-1">服务核心流程管理</h3>
        <br />
        <p>
            在不断加剧竞争环境下，经销商必须将工作做得更好才能赢得客户的认可，其中流程是提升工作质量、创造卓越客户体验的基础。
        </p>
        <p>
            为了在售后服务中制造客户欣喜，大众以“顾客至上”的理念为指导，整合各行业中世界一流的服务标准，建立了服务核心流程。经销商作为为客户提供产品和服务的使者，必须理解服务核心流程的内涵和通过流程实现客户欣喜的方法和工具。同时，服务核心流程也是经销商管理系统的重要组成部分，经销商追求的经济性和效益也可以通过服务流程的执行得以实现。
        </p>

        <br />
        <p>
            本节目录
        </p>
        <ul>
            <li><a href="#section-2-01">服务核心流程概述</a></li>
            <li><a href="#section-2-02">预约流程管理</a></li>
            <li><a href="#section-2-03">准备工作管理</a></li>
            <li><a href="#section-2-04">接收车辆/制作委托书流程管理</a></li>
            <li><a href="#section-2-05">维修流程管理</a></li>
            <li><a href="#section-2-06">质量检查/交车准备流程管理</a></li>
            <li><a href="#section-2-07">交车/结帐流程管理</a></li>
            <li><a href="#section-2-08">跟踪服务流程管理</a></li>
        </ul>
        <br />
    </div>
    <br />
    <h3 id="section-2-01">服务核心流程概述</h3>
    <h4>
        流程的目的和意义
    </h4>
    <p>标准化的流程可以帮助经销商在创造客户价值的过程中优化资源，提高效率，提升产品和服务质量。大众进口汽车秉承顾客至上的服务理念，整合各行业中世界一流的服务标准，建立了服务核心流程：</p>
    <ul>
        <li>服务核心流程以客户为中心，可以帮助经销商更好地了解客户需求，明确售后各项工作开展的方向。</li>
        <li>提供一系列方法和经验，帮助经销商提高把握客户的能力，为经销商带来良好的口碑和忠诚客户。</li>
    </ul>
    <h4>
        服务核心流程图
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-42.png" />
    <p>服务核心流程包括从预约到跟踪服务的七个核心流程和步骤，每次与客户接触和提供服务时，都应把所有工作流程和步骤的质量放在第一位，以保证出色的服务质量。</p>
    <p>
        服务核心流程的执行必须以客户为导向，通常情况下，客户会完成整个流程的各步骤。如果客户有特殊需求，实际执行过程中应根据客户的需求进行调整。
    </p>
    <h4>
        流程的目的和意义
    </h4>
    <p>经销商在流程执行和管理中的重点是如何将流程落地，通过流程执行了解客户的期望，满足客户需求，提升经销商一次性修复率，打造超越客户期望的服务体验，以提高售后服务业绩。</p>
    <p>
        为了实现流程的目的，经销商首先要明确各子流程的目的和的意义，明确客户在相应流程的期望和需求，其次明确在该子流程的工作标准、工具和相应责任人员，并建立流程监控和改善方法。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-42-1.png" class="per80-width" />
    <h4>
        任务类型
    </h4>
    <p>在售后服务核心流程执行过程中，正确地评估任务才能确保车辆由正确的工作人员使用正确的工具或系统高效地完成维修工作。为了正确地预估任务，大众进口汽车在大量实践的基础上将维修任务细分为K类小任务、S类标准任务和D类诊断任务。</p>
    <p>
        在售后日常业务中，K类任务处理相对快捷、便利，形成的返修率相对较低，客户满意度高。其他两类任务，特别是D类任务相对复杂，形成的返修率相对较高，对这两类任务必须加强质量监控，以提高客户满意度。
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-42-2.png" class="per80-width" />
    <h4>
        预约流程的目的和意义
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-42-3.png" class="per80-width" />
    <h4>
        客户对预约环节的期望
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-42-4.png" class="per80-width" />
    <br />
    <br />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-42-5.png" class="per80-width" />
    <br />
    <br />
    <h3 id="section-2-02">预约流程管理</h3>
    <h4>
        预约执行要点
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-43.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-44.png" class="per80-width" />
    <h4>
        预约流程成功要素
    </h4>
    <p>
        通常来讲，客户对最近的服务经历满意，才会更积极地回应主动预约沟通。在预约执行中，经销商应该设置预约专员进行客户预约：
    </p>
    <ul>
        <li>
            对客户进行分类预约，比如，找出在质保期内预计2周内需进行常规保养的客户，提醒保养；找出质保期已过且6个月没有进行维修保养的客户，提供免费车辆检测；
        </li>
        <li>
            根据客户的车辆型号、驾驶情况和其它要求让所有的交流个性化；
        </li>
        <li>
            即便没有业务接触，也要至少每季度与目前保有客户进行一次联系；
        </li>
        <li>
            如果车辆维修记录显示客户的汽车可能需要额外服务，在预约时告知客户；
        </li>
        <li>
            询问客户希望以什么样的方式进行预约提醒；
        </li>
        <li>
            确保所有处理预约的员工接受足够培训，能完整、准确、一致地处理整个流程；
        </li>
        <li>
            确保所有预约工具齐备：包括表格、短信样本、预约话术等。
        </li>
    </ul>
    <h4>
        预约流程监控
    </h4>
    <p>
        针对预约流程执行，经销商可以建立KPI指标进行监控：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-45.png" class="per80-width" />
    <h4>
        预约流程提升
    </h4>
    <p>
        经销商可以通过前期培训、现场辅导、绩效考核等方式，针对预约流程进行改进和提升。各种提升手段中，培训和辅导是流程改进和提升的重要手段：
    </p>
    <ul>
        <li>
            DMS系统的功能和使用方法培训；
        </li>
        <li>
            专业技巧和技能的培训，包括电话沟通技巧、预约服务的流程、预约基本话术等。
        </li>
    </ul>
    <br />
    <h3 id="section-2-03">准备工作管理</h3>
    <h4>
        准备工作的目的和意义
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-46.png" class="per80-width" />

    <h4>
        客户对准备工作的期望
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-47.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-48.png" class="per80-width" />
    <h4>
        准备工作执行要点
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-49.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-50.png" class="per80-width" />
    <h4>
        准备工作成功要素
    </h4>
    <p>
        通过经销商内部沟通，确保将准备工作时获取的客户信息传达给相关服务人员，是做好后续流程的保证，客户信息既包括客户基本信息，也包括完整的车辆维修/服务需求以及维修/服务历史等。
    </p>
    <p>
        预约专员根据客户选定的方式进行预约提醒；
    </p>
    <ul>
        <li>
            第一次提醒在预约时间前72小时，提醒客户预约进站时间
        </li>
        <li>
            第二次提醒在预约时间前24小时，与客户确认是否能准时进站以及维修项目，提醒客户携带相关证件
        </li>
        <li>
            预约时间前1小时与客户确认到店准确时间
        </li>
    </ul>
    <p>客户到达前完成的准备工作内容，包括：</p>
    <ul>
        <li>第一次提醒在预约时间前72小时，提醒客户预约进站时间</li>
        <li>第二次提醒在预约时间前24小时，与客户确认是否能准时进站以及维修项目，提醒客户携带相关证件</li>
        <li>预约时间前1小时与客户确认到店准确时间</li>
    </ul>
    <h4>
        准备工作监控
    </h4>
    <p>
        针对准备工作执行，经销商可以建立KPI指标进行监控：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-51.png" class="per80-width" />
    <h4>
        准备工作完善
    </h4>
    <p>
        经销商可以通过前期培训、绩效考核等方式，完善前期准备工作，确保预约承诺的兑现和售后各项工作顺利开展。其中培训的内容包括：
    </p>

    <ul>
        <li>了解客户信息及偏好，车辆维修历史、故障描述信息</li>
        <li>备件核实与准备，工位、设备/工具准备</li>
        <li>根据当天安排的服务工作确保安排相应的技师</li>
    </ul>
    <br />
    <h3 id="section-2-04">接收车辆/制作委托书流程管理</h3>
    <h4>
        接收车辆/制作委托书流程的目的和意义
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-52.png" class="per80-width" />
    <h4>
        客户对接收车辆/制作委托书流程的期望
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-53.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-54.png" class="per80-width" />
    <h4>
        接收车辆/制作委托书执行要点
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-55.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-56.png" class="per80-width" />
    <h4>
        接收车辆/制作委托书流程成功要素
    </h4>
    <p>
        要保证接收车辆/制作委托书流程按照要求高效执行，经销商需要做好一系列准备工作：
    </p>
    <ul>
        <li>确保所有服务接待所需物品都到位并可用；</li>
        <li>掌握对话式接待技巧，对S和D任务车辆进行对话式接待，对K任务车辆推荐快修服务；</li>
        <li>门卫处应该有当日预约客户信息，门卫客户根据车牌号初步辨别客户需求；</li>
        <li>建立统一的价格体系，如张贴在墙上的价目表，使价格透明化。</li>
    </ul>
    <p>
        流程执行过程中，需要注意的关键点包括：
    </p>
    <ul>
        <li>对于所有客户都必须热情接待；</li>
        <li>在对话式接待中，为客户提供一份接车预检表和任务委托书，内容包括预计时间、费用及服务顾问自己的联络信息并请客户签名确认；</li>
        <li>环车检查时，向客户说明车辆各个部位的检查项目；</li>
        <li>服务顾问或技师在客户陪同下进行试车，以确保完全理解客户车辆的问题。</li>
    </ul>
    <h4>
        接收车辆/制作委托书流程监控
    </h4>
    <p>
        针对接车/制单流程执行，经销商可以建立KPI指标进行监控：
    </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-57.png" class="per80-width" />
    <h4>
        接收车辆/制作委托书流程提升
    </h4>
    <p>
        接收车辆/制作委托书环节需要进行培训的人员和内容包括：
    </p>
    <ul>
        <li>针对售后所有员工进行基本的客户沟通技巧培训；</li>
        <li>针对门卫进行关于迎接、指引基本礼仪和技巧，以及如何使用无线耳麦技术的培训。</li>
    </ul>
    <br />

    <h3 id="section-2-05">维修流程管理</h3>
    <h4>
        维修流程的目的和意义
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-58.png" class="per80-width" />

    <h4>
        客户对维修流程的期望
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-59.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-60.png" class="per80-width" />

    <h4>
        维修执行要点
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-61.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-62.png" class="per80-width" />
    <p>车间经理了解各维修技师的能力、特长和不足，能根据任务类型合理分配维修服务项目；</p>
    <p>
        车间经理能合理利用维修进度管理看板实时进行维修进度监控；
    </p>
    <p>
        根据业务需要进行维修技师技术培训，开展维修技师分级管理，提高维修技师专业能力；
    </p>
    <p>设置透明车间，或者安装远程设备，以便客户看到车辆接受的服务；</p>
    <p>在服务过程中服务客户与客户进行必要沟通，包括：</p>
    <ul>
        <li>告知客户最新的维修进展和维修服务安排的变动；</li>
        <li>安慰因实际服务时间比预计长而感到不安的客户；</li>
        <li>客户对维修技师的工作表现出兴趣时，安排客户观看维修过程及/或与技师交谈。</li>
    </ul>
    <p>客户休息区设吸烟区和无烟区，配备实时更新的服务进程看板。</p>
    <h4>
        维修流程监控
    </h4>
    <p>针对维修流程执行，经销商可以建立KPI指标进行监控：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-63.png" class="per80-width" />
    <h4>
        维修流程提升
    </h4>
    <p>经销商可通过培训完善维修流程：</p>
    <ul>
        <li>所有员工进行基本沟通技巧培训；</li>
        <li>技师实行分级制度，所有技师都应持证上岗。</li>
    </ul>
    <br />

    <h3 id="section-2-06">质量检查/交车准备流程管理</h3>
    <h4>
        质量检查/交车准备流程的目的和意义
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-64.png" class="per80-width" />
    <h4>
        客户对质量检查/交车准备的期望
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-65.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-66.png" class="per80-width" />
    <h4>
        质量检查/交车准备执行要点
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-67.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-68.png" class="per80-width" />
    <h4>
        质量检查/交车准备流程成功要素
    </h4>
    <ul>
        <li>根据大众进口汽车相关规定，建立规范的质量检查制度；</li>
        <li>建立维修质量提升机制，对维修质量数据进行分析，并有针对性地开展培训；</li>
        <li>制定严格的质量检查流程，将维修质量纳入相关人员的绩效考核，提高员工对质量工作的重视程度，保证所有相关维修人员应不断致力于执行、监控改进措施，以提高服务质量，减少返修数量。</li>
    </ul>
    <h4>
        质量检查/交车准备流程监控
    </h4>
    <p>针对质量检查/交车准备流程执行，经销商可以建立KPI指标进行监控：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-69.png" class="per80-width" />
    <h4>
        量检查/交车准备流程提升
    </h4>
    <p>质量检查和交车准备需要进行培训的人员和内容包括：</p>
    <ul>
        <li>技师实行分级制度，所有技师都应持证上岗；</li>
        <li>针对车间经理、技术经理、质检员进行质检流程培训；</li>
        <li>服务顾问沟通技巧培训。</li>
    </ul>
    <br />

    <h3 id="section-2-07">交车/结帐流程管理</h3>
    <h4>
        交车/结帐流程的目的和意义
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-70.png" class="per80-width" />
    <h4>
        客户对交车/结帐流程的期望
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-71.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-72.png" class="per80-width" />
    <h4>
        交车/结帐执行要点
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-73.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-74.png" class="per80-width" />
    <h4>
        交车/结帐流程成功要素
    </h4>
    <ul>
        <li>有专门的交车区；</li>
        <li>服务顾问掌握必要的技术知识，能够令人信服地说明所进行的维修项目及这些项目对客户的好处；</li>
        <li>除了在经销商处交车，可以有其它便捷服务，例如经销商送车上门；</li>
        <li>由服务顾问向客户解释所进行的服务项目，而不是要结算/出纳讲解；</li>
        <li>保证客户不在付款时等待5分钟以上；</li>
        <li>维修技师作适当的准备，以解答客户提出的具体问题；</li>
        <li>客服经理或服务经理参加返修车或投诉车的交车，并与客户做必要沟通。</li>
    </ul>
    <h4>
        交车/结帐流程监控
    </h4>
    <p>针对交车/结帐流程执行，经销商可以建立KPI指标进行监控：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-75.png" class="per80-width" />

    <h4>
        交车/结帐流程提升
    </h4>
    <p>为了改善和提升交车/结账工作，经销商可以开展以下培训：</p>
    <ul>
        <li>服务顾问“项目-功能-好处”（FFB）的演示方法培训；</li>
        <li>服务顾问“说明-复述-解决”（CPR）问题解决技巧培训；</li>
        <li>结算/出纳客户沟通技巧培训。</li>
    </ul>
    <br />

    <h3 id="section-2-08">跟踪服务流程管理</h3>
    <h4>
        跟踪服务流程的目的和意义
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-76.png" class="per80-width" />
    <h4>
        客户对跟踪服务流程的期望
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-77.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-78.png" class="per80-width" />
    <h4>
        跟踪服务执行要点
    </h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-79.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-80.png" class="per80-width" />
    <h4>
        跟踪服务流程成功要素
    </h4>
    <ul>
        <li>如客户有疑问或进行投诉，交给一个能解决问题的人，而不是转手给多人来解决；</li>
        <li>服务顾问与客服人员被适当赋予处理客户抱怨和投诉权限，以迅速解决问题；</li>
        <li>
            “说明-复述-解决”（CPR）方法能有效地管理和解决问题：
            <ul style="list-style:decimal">
                <li>确定客户的担忧或问题：“请再详细谈谈您听到的车子尾部的吱吱声”</li>
                <li>用自己的话重复客户的担忧，向客户表达你的理解：“我能理解您的担心”</li>
                <li>提供一个合适的解决方案</li>
            </ul>
        </li>
        <li>对服务顾问和客服人员进行上述特别处理程序的培训，包括情景再现和角色扮演；</li>
        <li>根据满意度结果，每月召开一次改进会议。</li>
    </ul>
    <h4>
        跟踪服务流程监控
    </h4>
    <p>针对跟踪服务流程执行，经销商可以建立KPI指标进行监控：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter1/chapter-81.png" class="per80-width" />

    <h4>
        跟踪服务流程提升
    </h4>
    <p>跟踪服务是一项长期工作，跟踪服务相关的培训应该长期、持续进行：</p>
    <ul>
        <li>服务顾问、客服人员电话技巧培训；</li>
        <li>服务顾问“说明-复述-解决”（CPR）方式培训；</li>
        <li>所有人员关于客户满意度相关培训。</li>
    </ul>
    <br />
</div>

