@{
    Layout = "~/Views/OperationStandard/_LayoutAftersales.cshtml";

}
<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />

    <br />
    <br />
    <h3 id="chapter4">技术管理</h3>
    <br />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/0.png" class="full-width" style="height:600px; " />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            备件业务是经销商售后服务业务的重要组成部分，是售后服务工作的保障与售后利润的主要来源。本篇内容从备件部门岗位职责入手，系统地介绍了备件部门岗位设置要求和备件日常业务工作内容，包括具体工作流程与工具表格，以帮助经销商规范备件部门的业务流程、提高经销商的服务水平和市场竞争力，从而提高客户满意度和大众进口汽车的品牌形象。
        </p>
    </div>
    <h3>本章主要适用对象</h3>
    <ul style="list-style: decimal">
        <li>技术经理</li>
        <li>技术支持</li>
        <li>技术内训师</li>
        <li>质检员</li>
    </ul>
    <br />
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Aftersales/chapter2/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="#section-1">核心岗位工作</a></li>
            <li><a href="#section-2">技术信息管理</a></li>
            <li><a href="#section-3">技术支持与质量监控</a></li>
            <li><a href="#section-4">厂家技术支持的获取</a></li>
            <li><a href="#section-5">技术培训</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-1">核心岗位工作</h3>
            <br />
            <p>
                专业的售后维修技术是经销商售后竞争力的来源，技术相关人员承担着技术信息管理、专业技术团队打造和日常维修质量监管等方面的工作。本节首先明确技术人员的配备标准和任职资格，并对各岗位的工作职责进行梳理。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-1-01">技术人员配备</a></li>
                <li><a href="#section-1-02">核心岗位职责</a></li>
                <li><a href="#section-1-03">核心岗位工作</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-1-01">技术人员配备</h3>
    <h4>技术人员配备标准</h4>
    <p>经销商在开业时必须具备技术经理1名，技术内训师1名，质检员2名（其中1名可以兼职）。</p>
    <p>开业时，如条件不具备，技术内训师可由技术经理兼任；当车间维修技师数量达到30人时，建议设置专职技术内训师。</p>
    <p>建议月入场台次达到900台/月时，设置专职机电质检员，增设专职钣喷质检员，分别负责机电和钣喷质量检查工作；在此基础上，每增加300台/月增加1名质检员。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/1.png" class="full-width" />
    <br />

    <h3 id="section-1-02">核心岗位职责</h3>
    <h4>技术经理</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            服务经理
                        </td>
                        <td>
                            技术支持、技术内训师、质检员
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul style="list-style:decimal">
                    <li>收集、查阅大众进口汽车下发的中英文技术资料，并需要进行管理。</li>
                    <li>接受厂家组织的新技术、技术管理及内部培训管理等方面的培训，根据需要对售后服务人员实施技术培训，或指导技术内训师对服务人员实施技术培训。</li>
                    <li>向服务顾问、维修技师和索赔人员提供必要的技术指导和支持。</li>
                    <li>对重大、疑难技术问题进行分析、诊断，根据需要向大众进口汽车进行反馈。</li>
                    <li>对无法解决的技术问题，及时向厂家技术支持部门反馈，寻求技术支持并跟踪结果。</li>
                    <li>负责对公司维修能力、维修质量进行评价和分析，并制定相应的改进机制。</li>
                    <li>监督维修技师的操作规范和工艺流程的执行，对完工车辆进行抽检。</li>
                    <li>参与技术人员的招聘，主要负责考察候选人员的技术知识和能力。</li>
                    <li>负责技术培训和考核，进行技术人员分级标准制定和考核。</li>
                    <li>对工具设备管理员进行监督并提供必要的技术支持。</li>
                    <li>协助分析CRM数据，并协助处理客户抱怨和投诉的技术问题。</li>
                    <li>汇总技术相关数据，定期进行分析，制作技术报告并进行汇报。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul style="list-style:decimal">
                    <li>汽车及相关专业大专以上或同等学历。</li>
                    <li>五年以上汽车维修工作经验。</li>
                    <li>掌握丰富的汽车理论及汽车维修知识，有驾驶执照，熟悉汽车驾驶。</li>
                    <li>具有一定的英语阅读能力，熟练掌握和运用计算机办公自动化软件。</li>
                    <li>具备一定的组织协调能力，有较强的培训能力和合作意识，良好的语言表达能力、文字表达能力及沟通能力。</li>
                    <li>通过大众进口汽车高级技师认证，新经销商或新技术经理在规定时间内要通过大众进口汽车相关认证。</li>
                </ul>
            </td>
        </tr>
    </table>

    <h4>技术支持</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            技术经理
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul style="list-style:decimal">
                    <li>接受技术经理下达的工作指令，对前台、车间提供车辆维修、故障诊断的技术支持。</li>
                    <li>协助技术经理监督维修车辆的质量检验，保证维修质量。</li>
                    <li>协助技术经理监督对质检不合格项按整改措施中规定的内容、时限、检查、记录进行实施。</li>
                    <li>协助技术经理控制维修质量，形成质量分析月报表，以月报形式向服务经理汇报，提出改进建议。</li>
                    <li>协助技术经理组织成立内部技术攻关组，对疑难问题进行攻关。</li>
                    <li>协助技术经理对内部日常工作进行监督考核。</li>
                    <li>协助技术经理制定技术培训、工具管理、技术信息管理等技术管理制度。</li>
                    <li>协助技术经理处理DISS问询。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul style="list-style:decimal">
                    <li>汽车及相关专业大专以上或同等学历。</li>
                    <li>三年以上汽车维修工作经验。</li>
                    <li>通过大众进口汽车中级技师认证。</li>
                    <li>掌握丰富的汽车理论及汽车维修知识，有驾驶执照，熟悉汽车驾驶。</li>
                    <li>熟练掌握和运用计算机办公自动化软件。</li>
                    <li>掌握售后服务相关知识和流程。</li>
                    <li>具备一定的组织协调能力，有较强的培训能力和合作意识，良好的表达能力及沟通能力。</li>
                </ul>
            </td>
        </tr>
    </table>

    <h4>技术内训师</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            技术经理
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul style="list-style:decimal">
                    <li>按要求参加厂家组织的相关培训，并完成培训后的内部转训工作。</li>
                    <li>组织协调本店员工参加大众进口汽车售后培训。</li>
                    <li>负责大众进口汽车售后培训体系人员信息管理。</li>
                    <li>根据厂家相关要求，结合公司和部门工作发展方向和策略以及员工发展需要，编制售后各岗位的内部技术培训计划，提高售后员工技术水平和工作质量。</li>
                    <li>按照培训计划准备培训资料，协调培训场地、人员、时间，落实员工技术培训计划，并检查、监督和考核员工的学习进度。</li>
                    <li>定期对售后员工进行专业知识和技术水平的测评工作，并对考核结果进行记录。</li>
                    <li>根据销售及经销商相关部门的业务需要，提供技术相关培训。</li>
                    <li>负责进行售后技术培训员工培训档案管理。</li>
                    <li>进行维修车间现场技术指导，参与内部技术难题攻关。</li>
                    <li>建议按月定期收集和分析典型技术案例。</li>
                    <li>完成技术经理委派的其它临时性工作。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul style="list-style:decimal">
                    <li>汽车及相关专业大专以上或同等学历。</li>
                    <li>三年以上机电维修相关工作经验。</li>
                    <li>通过大众进口汽车高级技师认证。</li>
                    <li>具有一定的英语阅读能力，熟练掌握和运用计算机办公自动化软件。</li>
                    <li>具备一定的组织协调能力，有较强的合作意识，良好的表达能力及沟通能力。</li>
                    <li>掌握售后服务相关知识和流程。</li>
                    <li>掌握丰富的汽车维修知识，有驾驶执照，熟悉汽车驾驶。</li>
                    <li>具备一定的培训经验，掌握培训的方法和技巧。</li>
                </ul>
            </td>
        </tr>
    </table>

    <h4>技术内训师</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            技术经理
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul style="list-style:decimal">
                    <li>按照厂家、公司内部质量检查相关标准及客户的要求，对车辆进行质量检查。</li>
                    <li>维修过程中的质量检查和监督。</li>
                    <li>审核服务、维修流程等相关的文件，确保维修相关文档完整并符合厂家标准，确认施工人填写维修及检测结果全面、属实。</li>
                    <li>根据质量检验标准，参与重大、疑难故障的分析与鉴定，确保车辆故障及时处理。</li>
                    <li>负责返修质量的监督、检查。</li>
                    <li>定期总结完工检查多发问题，定期统计分析返修的原因，并上报技术经理，协助技术经理制定质量改进措施。</li>
                    <li>监督保障服务质量持续性提升的各项措施的落实和执行情况。</li>
                    <li>完成技术经理委派的其它临时性工作。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul style="list-style:decimal">
                    <li>汽车及相关专业大专以上或同等学历。</li>
                    <li>通过大众进口汽车初级技师认证。</li>
                    <li>具备国家相关部门颁发的汽车维修质量检验员证。</li>
                    <li>三年以上机电维修相关工作经验。</li>
                    <li>熟练掌握和运用计算机办公自动化软件。</li>
                    <li>具有丰富的汽车维修知识和汽车理论知识。</li>
                </ul>
            </td>
        </tr>
    </table>

    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/2.png" class="full-width" />
    <br />
    <br />
    <ul></ul>


    <h4>备件经理</h4>


    <h4>备件计划员</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            备件经理
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul>
                    <li>预测市场及订货行情，并将有关信息反馈给大众进口汽车备件部。</li>
                    <li>制定备件的储备定额及最低库存量。</li>
                    <li>制定备件计划并进行订货跟踪工作。</li>
                    <li>负责备件订货文本的存档。</li>
                    <li>负责填写备件索赔申请，向大众进口汽车备件科提出备件索赔。</li>
                    <li>负责审核备件管理账目和报表，抽检库存备件状况，采取有效措施防止备件积压。</li>
                    <li>收集、分析、反馈备件有关信息。</li>
                    <li>汇总技术相关数据，定期进行分析，制作技术报告并进行汇报。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul>
                    <li>汽车及相关专业或机械类专业大专以上或同等学历。</li>
                    <li>两年以上相关工作经验。</li>
                    <li>有汽车业内相关资格认证。</li>
                    <li>年龄在45周岁以下。</li>
                    <li>较强的沟通协调及管理能力。</li>
                </ul>
            </td>
        </tr>
    </table>

    <h4>备件库管员</h4>
    <table class="key-position-table">
        <tr>
            <td>层级关系</td>
            <td style="padding:0">
                <table>
                    <tr>
                        <td>直接上级</td>
                        <td>直接下属</td>
                    </tr>
                    <tr>
                        <td>
                            备件经理
                        </td>
                        <td>
                            无
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">岗位职责</td>
            <td>
                <ul>
                    <li>检查到货备件，按照入库流程进行理货、入库。</li>
                    <li>管理、维护备件库备件的摆放。</li>
                    <li>根据车间需要在备件库中拣货或打包备件。</li>
                    <li>发现非纯正备件，向负责人汇报。</li>
                    <li>按照安全、卫生和健康相关规定，清理和维护工具、设备和存储区域。</li>
                    <li>负责备件仓储收发管理及库存盘点。</li>
                    <li>根据有关备件索赔规定及时处理备件索赔工作。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="vertical-td">任职资格</td>
            <td>
                <ul>
                    <li>汽车及相关专业或机械类专业大专以上或同等学历。</li>
                    <li>两年以上相关工作经验。</li>
                    <li>有汽车业内相关资格认证。</li>
                    <li>年龄在45周岁以下。</li>
                    <li>较强的沟通协调及管理能力。</li>
                    <li>较强的沟通协调及管理能力。</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <h3 id="section-1-03">核心岗位工作</h3>
    <h4>各岗位核心工作</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/2.png" class="per80-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-2">技术信息管理</h3>
            <br />
            <p>
                没有信息一切都是徒劳。这一点特别适用于经销商售后服务领域，尤其是维修技术信息。没有持续更新的技术信息，经销商售后维修工作将失去立足之本。对于经销商来说，明确大众进口汽车提供和经销商内部产生的技术信息的内容和并掌握这些技术文件和资料的使用方法，才能在需要时快速且可靠地找到正确的信息，为售后各项工作提供支持。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-2-01">概述</a></li>
                <li><a href="#section-2-02">技术信息管理</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-2-01">概述</h3>
    <h4>技术信息管理的意义</h4>
    <p></p>
    <ul></ul>
    <h4>技术信息管理的意义</h4>
    <p></p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th>类型</th>
            <th>主要内容</th>
        </tr>
        <tr>
            <td>大众提供的技术文件</td>
            <td>
                <ul>
                    <li>维修手册、自学手册等</li>
                    <li>技术培训课件等文件</li>
                    <li>HST文件、技术信息通报及各种通知文件</li>
                    <li>售后维修工作标准、流程</li>
                    <li>专用工具设备光盘、软件升级光盘等</li>
                    <li>技术相关系统的用户名和密码、令牌</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>经销商内部技术文件</td>
            <td>
                <ul>
                    <li>内部培训文件，包括培训计划、培训记录及考核记录</li>
                    <li>质量控制文件，包括质量检查记录表、内部返修单、外部返修单、内部返修月质量分析表、外部返修月质量分析表等</li>
                    <li>技术问询与反馈文件</li>
                    <li>技术相关报告</li>
                    <li>疑难问题技术维修方案等</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <h3 id="section-2-02">技术信息管理</h3>
    <h4>大众下发的技术信息文件管理</h4>
    <p>大众进口汽车会通过服务公共邮箱、ElsaPro、Portal系统的售后技术支持平台等下发相关技术信息。从经销商的角度，首先要做好信息的及时接收和处理，其次是对相关信息进行合理利用。</p>
    <ul>
        <li>对大众进口汽车通过系统下发的技术文件，经销商应设置专门人员进行管理。</li>
        <li>
            每天必须查看系统，如有新的技术文件，对文件进行登记和存档，记录文件名称、主题、来源，并根据文件内容确定文件针对的对象，根据文件的重要性为文件设定等级。
            <table class="table table-bordered organizational-table">
                <tr>
                    <th>文件名称</th>
                    <th>发布日期</th>
                    <th width="200">主题内容</th>
                    <th>来源</th>
                    <th>使用对象</th>
                    <th>文件等级</th>
                    <th>责任人</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </li>
        <li>
            根据信息文件重要程度和等级的不同，通过合适的方式将信息传递至相关人员。
            <table class="table table-bordered organizational-table">
                <tr>
                    <th width="25%">文件名称</th>
                    <th>发布日期</th>
                </tr>
                <tr>
                    <td>通知</td>
                    <td>
                        <ul>
                            <li>
                                包括口头通知和书面通知，适用于内容明确的技术管理标准、规定等的发布。
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>例会</td>
                    <td><ul><li>包括早会、夕会、周会等，适合大众最新下发的技术信息宣导等。</li></ul></td>
                </tr>
                <tr>
                    <td>研讨会</td>
                    <td><ul><li>技术研讨会是技术信息沟通的重要方式，适合技术更新信息的交流，包括产品和维修技术方面的变化、保养工作和保养范围的变化等。</li></ul></td>
                </tr>
                <tr>
                    <td>自学</td>
                    <td><ul><li>对于大众下发的自学手册，下发至相关人员进行学习。</li></ul></td>
                </tr>
                <tr>
                    <td>集中培训</td>
                    <td><ul><li>培训是一种常规的技术信息沟通形式，用于厂家组织的技术培训的转训。</li></ul></td>
                </tr>
                <tr>
                    <td>案例分析</td>
                    <td><ul><li>案例分析适合典型疑难维修问题的沟通。</li></ul></td>
                </tr>
            </table>
        </li>
    </ul>
    <h4>经销商内部技术文件管理</h4>
    <p>经销商在日常工作中形成大量技术信息和文件，经销商内部技术信息也可以分为两类，一类是需要向大众进口汽车反馈的信息的记录，包括DISS记录、产品质量报告等，另一类是经销商内部管理使用的技术信息，包括质量控制文件、内部技术培训文件等。</p>
    <h5><b>经销商内部技术文件管理</b></h5>
    <ul>
        <li>
            内部技术文件来自于经销商内部管理产生的数据、资料，相对来讲，范围比较明确，经销商可以建立文件更新与提交的管理制度，明确各项文件的来源、周期、提交时间及责任人等。
            <table class="table table-bordered organizational-table">
                <tr>
                    <th>文件名称</th>
                    <th>来源</th>
                    <th>更新周期</th>
                    <th>提交时间</th>
                    <th width="200">责任人</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </li>
    </ul>
    <h5><b>向大众进口汽车反馈的文件管理</b></h5>
    <ul>
        <li>经销商在日常维修过程中需要通过DISS进行技术问询，形成技术报告；同时，经销商需要定期向大众进口汽车提交产品质量报告、维修故障案例等。</li>
        <li>对于向大众进口汽车提交报告及案例等信息，经销商需要进行存档管理。</li>
    </ul>
    <h4>技术文件日常存储管理要点</h4>
    <ul>
        <li>无论大众进口汽车为经销商提供的技术信息文件，还是经销商内部技术文件，都需要妥善保管。</li>
        <li>对电子信息，应及时处理和存档，对纸质文本文件资料按目录分类管理。</li>
        <li>对于已在计算机存档的信息要定期备份，以免由于其它原因造成信息丢失。</li>
        <li>保证信息的安全，避免造成信息的泄密。</li>
    </ul>
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-3">技术支持与质量监控</h3>
            <br />
            <p>
                对前台、车间、索赔等部门人员提供技术支持是技术团队的重要工作内容，通过对这些部门工作的有力支持，可以提高诊断、维修工作的效率，提升一次性修复率和客户满意度；与此同时，技术部门需要通过日常维修质量检查监督维修和服务质量。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-3-01">对各部门的技术支持</a></li>
                <li><a href="#section-3-02">维修质量检查</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-3-01">对各部门的技术支持</h3>
    <h4>对前台诊断工作的协助</h4>
    <p>
        技术部门需要协助前台进行疑难问题的诊断，目的是更全面地了解客户需求，提高诊断的准确性，提升客户满意度。对前台诊断的支持工作包括：
    </p>
    <ul>
        <li>当前台服务顾问遇到无法确诊的故障时，协助服务顾问进行车辆预诊和预检。</li>
        <li>对重复故障进行诊断，并完成其他高难度及复杂诊断。</li>
        <li>为服务顾问提供疑难案例的技术建议。</li>
        <li>在复杂技术问题及重复案例需要的情况下，联络上一层支持。</li>
        <li>根据服务顾问安排，与客户进行沟通，以解决客户疑问，获取额外投诉信息。</li>
        <li>根据业务需要，对前台人员进行必要的技术培训。</li>

    </ul>
    <h4>对索赔/三包工作的技术支持</h4>
    <ul>
        <li>技术部门需要协助索赔部门对索赔中涉及到的技术问题进行判定，以减少误判。</li>
        <li>协助三包专员进行三包预警，对同一故障件索赔过两次以上的车辆做重点跟踪。</li>
        <li>依据索赔需求，协助提供相关技术信息。</li>
    </ul>
    <h4>对车间维修的技术支持</h4>
    <p>对维修技师进行技术支持是技术团队的重要内容，广义来讲，对车间的技术支持可以包括直接支持和日常技术培训等形式的支持，其中直接技术支持是日常工作的核心（培训支持见本篇技术培训部分）：</p>
    <ul>
        <li>技术经理要随时关注车间状况，根据维修工作开展需要进行维修技术攻关，必要时协助进行维修。</li>
        <li>对于疑难故障，技术经理应组织相关人员进行会诊，制定维修方案。</li>
        <li>根据需要，查询相关技术资料，寻求大众进口汽车技术支援。</li>
        <li>监督、指导维修人员使用专用工具，保证专用工具被正确使用，提高专用工具的使用效率。</li>
        <li>随时关注大众进口汽车技术信息更新，及时进行推广，保证采用最新的技术方案进行维修。</li>
    </ul>
    <br />

    <h3 id="section-3-02">维修质量检查</h3>
    <h4>车间维修质量检查</h4>
    <p>维修质量是车间生产的生命，维修质量管理需要售后各部门相互配合，其中维修质量监控和管理是技术部门的重要职责。在车间维修质量检查中，质检员负责日常车间维修质量终检，技术经理进行过程巡检和重点车辆的质量检查。</p>
    <h5><b>质检员质量检查</b></h5>
    <ul>
        <li>对于完工车辆，质检员负责终检，要严格按照任务委托书检查有无漏项。</li>
        <li>检查客户报修的故障及客户特别交代的事项已经完全排除或处理。</li>
        <li>检查各维修项目均有对应技师签字。</li>
        <li>对需要路试的车辆严格按照规定的试车路线进行试车。</li>
        <li>终检合格后质检员在任务委托书上签字。</li>
        <li>对检验不合格的车辆，填写内部返修单，要求主修技师重新操作。</li>
        <li>对于外部返修车辆，技术经理要参与认定，协助维修人员制定维修方案，填写外部返修单。</li>
    </ul>
    <h5><b>技术经理质量检查</b></h5>
    <p>技术经理在车间巡视，观察各维修班组的工作表现，进行维修质量抽检和现场指导：</p>
    <ul>
        <li>每日间隔抽查不低于10%的在修车辆。</li>
        <li>检查内容包括，是否按照规范进行车辆拆装操作，是否按要求使用专用工具设备，是否严格参照维修手册及TPI等开展维修。</li>
    </ul>
    <p>每日抽取不低于10%的保养车辆和维修项目较多的车辆进行终检；对重点安全部位、总成零部件发生故障的车辆进行相关故障的检验：</p>
    <ul>
        <li>试车判断故障是否再现</li>
        <li>检查是否产生新的故障</li>
        <li>拆装部位连接是否到位</li>
        <li>保养操作是否缺项、是否到位</li>
        <li>车辆的内、外部是否清洁</li>
        <li>是否对车内、外产生表面伤害</li>
    </ul>
    <p>不合格则返修，返修结束后再次检验，合格后方可在《任务委托书》上签字，做交车前准备。</p>
    <p>技术经理要与车间经理协调进行车间测试，监督技术相关项目。</p>
    <br />
    <br />

    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-4">厂家技术支持的获取</h3>
            <br />
            <p>
                为了协助经销商解决日常维修技术难题，大众进口汽车建立了对经销商的技术支持体系，包括技术资料支持、DISS问询回复、视频诊断支持及现场技术支持等。经销商技术部门有必要了解申请技术支持的流程和方法，以便遇到自身不能解决的疑难问题时能够及时、有效地寻求支持，保证车间维修质量和维修效率。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-4-01">大众进口汽车技术支持概述</a></li>
                <li><a href="#section-4-02">DISS问询回复</a></li>
                <li><a href="#section-4-03">视频诊断支持</a></li>
                <li><a href="#section-4-04">现场技术支持</a></li>
            </ul>
            <br />
        </div>
    </div>

    <br />
    <h3 id="section-4-01">大众进口汽车技术支持概述</h3>
    <h4>大众进口汽车技术支持的类型</h4>
    <p>为了帮助经销商提升维修技术和能力，大众进口汽车建立了系统的技术支持体系，对经销商售后工作提供技术方面的支持：</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">类型</th>
            <th width="75%">类型</th>
        </tr>
        <tr>
            <td>技术资料支持</td>
            <td>
                <ul>
                    <li>维修手册、自学手册等</li>
                    <li>技术培训课件等文件</li>
                    <li>HST文件、技术信息通报及各种通知文件</li>
                    <li>售后维修工作标准、流程</li>
                    <li>专用工具设备光盘、软件升级光盘等</li>
                    <li>技术相关系统的用户名和密码、令牌</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>DISS问询回复</td>
            <td>
                <ul>
                    <li>指大众进口汽车技术支持对经销商提交的DISS问询进行的直接回复</li>
                    <li>大众进口汽车技术支持通过电话、邮件等方式对DISS问询进行的支持</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>视频诊断支持</td>
            <td>
                <ul>
                    <li>针对技术疑难问题可以向大众进口汽车申请视频诊断支持</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>现场技术支持</td>
            <td>
                <ul>
                    <li>针对个别技术疑难问题可向大众进口汽车申请提供现场技术支持</li>
                </ul>
            </td>
        </tr>
    </table>
    <p>当经销商遇到技术相关问题，可以根据大众进口汽车技术支持流程，寻求技术支持。技术资料支持参考本篇第二节“技术信息管理”相关内容。</p>
    <img src="/Content/images/OperationStandard/Aftersales/chapter4/3.png" class="full-width">
    <br />
    <h4>大众进口汽车技术支持流程</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter4/4.png" class="full-width">
    <ul>
        <li>经销商在申请技术支持前必须查阅服务技术手册和Elsa相关信息，确定是否有符合故障现象的解决方案。</li>
        <li>经销商申请技术支持时必须详细填写技术报告。</li>
        <li>对来自大众技术服务中心和现场技术代表的解决方案，经销商须认真学习总结。</li>
    </ul>
    <br />

    <h3 id="section-4-02">DISS问询回复</h3>
    <h4>DISS问询流程</h4>
    <img src="/Content/images/OperationStandard/Aftersales/chapter4/5.png" class="per80-width">

    <h5><b>DISS记录阶段</b></h5>
    <p>经销商在DISS系统中对发生的车辆信息、任务委托书信息、故障信息及经销商的判断进行记录。需要记录的信息主要包括任务数据和故障描述：</p>
    <ul>
        <li>任务数据，指对车辆基本信息、车辆使用信息以及经销商基本销售信息等的记录。</li>
        <li>客户对故障现象描述，指对客户对车辆故障描述的内容、车辆目前状况记录。</li>
        <li>车间对故障的描述，对客户描述是否准确、故障能否重现、原因、排除思路和维修方案的记录。若故障无法排除，则建议发送DISS问询。</li>
    </ul>
    <h5><b>DISS问询阶段</b></h5>
    <p>经销商选择适当的DISS问询类型，完善技术问询需要的信息后，向技术支持部门进行问询，并在获取技术维修方案后，进行相关维修。</p>
    <ul>
        <li>在发送DISS问询时，应该记录客户基本信息，对车辆故障、车辆检查情况、目前的操作以及需要的支持进行详细说明，必要时添加附件。</li>
        <li>在DISS问询沟通过程中，经销商应提供必要的技术信息，大众进口汽车技术支持将提供维修建议，直至问题解决。</li>
    </ul>
    <h5><b>DISS确认阶段</b></h5>
    <p>经销商在完成车辆维修、并确认故障已经排除后，对维修过程中的相关信息进行有效记录，完成DISS记录或DISS问询过程。</p>
    <ul>
        <li>维修后信息反馈，需要确认故障是否排除、维修类型等信息。</li>
        <li>结束DISS记录或DISS问询。</li>
    </ul>
    <h4>DISS问询注意事项</h4>
    <p>DISS可以支持并简化经销商维修过程，从而使售后服务人员将更多的精力集中在客户身上。经销商可以利用DISS简单而有效地记录客户投诉、所进行的工作以及寻求技术解决方案。此外，利用DISS所采集的数据还能帮助制造商快速识别并处理现场问题。需要创建DISS的情况包括：</p>
    <ul>
        <li>所有索赔和优惠索赔任务单。</li>
        <li>客户对长期质量进行投诉的所有任务单。 </li>
        <li>客户对修理车间服务进行投诉的所有任务单。</li>
    </ul>
    <p>经销商在创建DISS过程中，需要注意判断：  </p>
    <ul>
        <li>汽车是否发生抛锚或需要道路救援？</li>
        <li>车辆是否存在失火，安全气囊或者事故等情况之一？</li>
        <li>是否需要发送DISS技术问询？</li>
        <li>发送DISS报告的内容是否满足要求？</li>
    </ul>
    <h5><b>汽车是否发生抛锚或需要道路救援？</b></h5>
    <p>按照大众进口汽车规定，抛锚车辆指： </p>
    <ul>
        <li>无法凭借自身动力抵达修理厂的车辆，如：因发动机或传动系统故障等原因导致车辆无法启动。</li>
        <li>制造商出于技术原因禁止继续行驶的车辆，如：因为转向或者制动系统技术故障。</li>
        <li>虽然可以凭借自身动力抵达修理厂但客户无法继续行驶或者预计会出现继发性损坏的车辆，如：因为水箱漏水高温，继续行驶会造成发动机高温的车辆。</li>
    </ul>
    <p>所有因为车辆质量问题造成车辆抛锚或者需要道路救援的情况，在创建DISS时，都需要标注“是”。 </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/6.png" class="full-width" />
    <br />
    <h4>DISS问询注意事项</h4>
    <h5><b>车辆是否存在失火，安全气囊或者事故等情况之一？</b></h5>
    <p>涉及安全相关的事故/抱怨，即存在失火，安全气囊或者事故等情况之一，指的是所有整车上能够影响人身安全的因素：包括影响驾驶员以及车内乘客，甚至可能威胁到周围车辆和人员安全的因素。  </p>
    <p> 如果车辆存在失火，安全气囊或者事故等情况，请选择该项发送DISS安全技术问询，并注意特殊的表格和条例。涉及安全事故隐患的故障包括： </p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">类型</th>
            <th width="75%">典型故障</th>
        </tr>
        <tr>
            <td>
                被动安全系统
            </td>
            <td>
                <p>安全气囊或安全带不正常工作等</p>
            </td>
        </tr>
        <tr>
            <td>
                制动系统
            </td>
            <td>
                <p>制动系统无助力或故障</p>
            </td>
        </tr>
        <tr>
            <td>
                转向系统
            </td>
            <td>
                <p>
                    转向助力失效
                </p>
            </td>
        </tr>
        <tr>
            <td>
                安全零件未正确安装
            </td>
            <td>
                <p>
                    安全带或者座椅固定螺栓没有正常拧紧
                </p>
            </td>
        </tr>
        <tr>
            <td>
                熔蚀及失火事故
            </td>
            <td>
                <p>高温导致的塑料/橡胶/金属/玻璃变色、熔化，车辆的某些零件/部件甚至整车冒烟或失火</p>
            </td>
        </tr>
        <tr>
            <td>
                油品不密封、泄露
            </td>
            <td>
                <p>由于干涉或者摩擦引起的管路破裂或密封不良</p>
            </td>
        </tr>
    </table>
    <h5><b>是否需要发送DISS技术问询？</b></h5>
    <p>当客户的投诉未解决，需要技术部提供维修方案建议时，发送DISS维修技术问询；2次及以上重复维修，发送DISS技术问询；当客户投诉涉及到如下项目索赔申请时应发送DISS技术问询：  </p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">项目</th>
            <th width="75%">内容</th>
        </tr>
        <tr>
            <td>
                涉及主要总成件的维修
            </td>
            <td>
                <ul>
                    <li>发动机总成，变速箱总成。</li>
                    <li>前/后/中央差速器（包括差速器总成、Haldex离合器），转向机总成。</li>
                    <li>导航/娱乐控制（包括RNS510/RNS810/RNS850主机J794/MIB主机794）。</li>
                    <li>敞篷总成，线束更换，车身锈穿，非事故原因车身矫正焊接。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                涉及重要零部件的维修
            </td>
            <td>
                <ul>
                    <li>高压油泵、涡轮增压器、发动机控制单元。</li>
                    <li>发电机、空调压缩机。</li>
                    <li>空气弹簧减震器。</li>
                    <li>天窗框架。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                其他含税单价超过10,000RMB的零件更换
            </td>
            <td>
                <p>
                    -
                </p>
            </td>
        </tr>
    </table>
    <p>
        服务活动/召回所提交的索赔申请无须发送DISS，特殊活动会另作要求（例如35C1）。
    </p>
    <p>凡涉及TPI的维修，必须在DISS中关联TPI（本地TPI无须关联），无须发送DISS 问询。</p>
    <p>
        凡经过GFF（故障引导功能测试）诊断，有明确显示需要更换某部件时，无须再发送DISS 问询。
    </p>
    <h5><b>维修问询是否满足要求？</b></h5>
    <ul>
        <li>
            首先，要确认将要发送的DISS类型：
            <ul style="list-style:decimal">
                <li>普通DISS报告，即无需问询</li>
                <li>安全相关问询</li>
                <li>维修技术问询</li>
            </ul>
        </li>
        <li>技术经理负责完成技术问询、安全问询中的技术描述部分，以及后续沟通。</li>
        <li>
            技术问询DISS以及相关非问询DISS中必须包含以下内容：
            <ul style="list-style:decimal">
                <li>根据客户描述的具体真实的故障现象</li>
                <li>故障检测的详细过程</li>
                <li>初步诊断结果及需求</li>
            </ul>
        </li>
        <li style="list-style:none">与此同时，DISS附件必须满足一定要求：</li>
        <li>
            其中，照片要求如下：
            <ul style="list-style:decimal">
                <li>对部件整体拍照，体现损伤部位在整体中的相对位置</li>
                <li>对具体损伤部位使用微距功能拍照</li>
                <li>拍照时注意选择最佳角度并保证图片清晰，请使用醒目颜色对损伤部位标注并附文字说明</li>
                <li>视频拍摄时保证拍摄现场光线充足，涉及异响的视频，请保证现场安静，无杂音</li>
            </ul>
        </li>
        <li>同时，必须根据照片所要反映的内容对照片命名。</li>
        <li>
            在线诊断报告：
            <ul style="list-style:decimal">
                <li>所有的电子报告均为在线诊断报告，打印的文件报告或其他格式的电子报告将不被认可。</li>
                <li>必须将电子报告发送至对应的任务委托书中。</li>
                <li>符合索赔条件的维修工作，必须正确输入任务委托书号并在线发送诊断报告，如果没有在线诊断报告，大众有权拒绝索赔申请。</li>
                <li>电器故障诊断的有效工时申请索赔时，需要结合计时记录。</li>
            </ul>
        </li>
    </ul>
    <p>另外，在针对不同模块开展问询时，需要按照模块化要求对故障进行记录、测量、测试、拍照等，并将相关数据按照要求上传，尤其要注意安全方面的问询要求。具体参考最新版本的《DISS规范》。  </p>
    <span>备注：针对某些特殊问题，大众进口汽车技术部会要求经销商发送DISS报告或DISS技术问询或DISS安全问询。</span>
    <br />

    <h3 id="section-4-03">视频诊断支持</h3>
    <h4>视频诊断系统概述</h4>
    <h5><b>视频诊断系统功能</b></h5>
    <p> 为了提高对经销商技术支持的效率，进而提高客户满意度，大众进口汽车2014年开始启动大众视频远程诊断工作。远程诊断系统可以实现在线实时技术支持、为现场技术支持做准备、视频会议等： </p>
    <ul>
        <li>实时的视频沟通</li>
        <li>实时共享电脑和文件信息</li>
        <li>车辆声音/噪音现场传递</li>
        <li>维修的实时远程支持</li>
        <li>故障诊断过程的远程支持</li>
    </ul>
    <p> 远程诊断系统的推广和实施将使经销商作业过程更加透明，使技术沟通和交流更为便捷，可以有效节省时间和费用，最终实现效率及有效性的提高。</p>
    <h5><b>视频诊断系统结构</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/7.png" class="full-width" />
    <br />
    <h4>视频诊断流程</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/8.png" />
    <br />
    <ul>
        <li>经销商发送技术问询DISS。</li>
        <li>大众进口汽车NTSC和经销商技术经理通过DISS/邮件/电话等形式确认视频诊断连接时间。</li>
        <li>大众进口汽车NTSC通过邮件等形式将登陆链接发至经销商技术经理。</li>
        <li>
            经销商接收邮件后，根据邮件中的描述加入在线会议，即可开始进行视频诊断。
            <ul style="list-style:decimal">
                <li>点击会议链接；</li>
                <li>根据需要输入姓名和电子邮件地址；</li>
                <li>根据要求输入会议密码；</li>
                <li>单击“加入”；</li>
                <li>按照屏幕上显示的说明进行操作。 </li>
            </ul>
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/9.png" />
    <ul style="list-style:disc"><li>诊断系统登陆界面，姓名、电子邮件地址及密码输入界面</li></ul>
    <h4>视频诊断硬件设施要求</h4>
    <p>为了保证视频诊断工作顺利开展，经销商维修工位需要达到一定条件，并按照要求配备相关设备。 </p>
    <h5><b>工位需求</b></h5>
    <div class="flow">
        <img src="~/Content/images/OperationStandard/Aftersales/chapter4/10.png" width="250" style=" margin: 0 50px;" />
        <p>为保证视频诊断进行时能够较为安静顺畅的操作：</p>
        <ul>
            <li>推荐将视频诊断设备安装在辉腾专用工位处。</li>
            <li>对于没有辉腾专用工位的经销商，请将设备安装在较为安静的工位处，必要时增加围挡。</li>
            <li>保证视频诊断进行时，工位安全，整洁，不会被客户或其他人员随意打扰。</li>
        </ul>
        <br />
        <br />
    </div>
    <h5><b>设备需求 </b></h5>
    <p>视频诊断基于网络信息通讯技术，为了保证视频诊断高效进行，经销商要配备相关设备。  </p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="10%">序号</th>
            <th width="20%">设备</th>
            <th width="30%">要求 </th>
            <th width="40%">说明</th>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                诊断仪
            </td>
            <td>
                <p>保证升级到最新版本</p>
            </td>
            <td>
                <p>
                    VAS 6150C、6160A
                </p>
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                电脑
            </td>
            <td>
                <p>可联网，不低于当前主流配置</p>
            </td>
            <td>
                <p>
                    常用办公电脑或诊断仪均可
                </p>
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                摄像头
            </td>
            <td>
                <p>
                    商务高清网络摄像头，不低于1000万像素
                </p>
            </td>
            <td>
                <p>
                    推荐罗技(Logitech) C930e商务高清网络摄像头
                </p>
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                摄像头
            </td>
            <td>
                <p>
                    商务高清网络摄像头，不低于1000万像素
                </p>
            </td>
            <td>
                <p>
                    推荐罗技(Logitech) C930e商务高清网络摄像头
                </p>
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                无线耳机麦克

            </td>
            <td>
                <p>
                    推荐头戴式
                </p>
            </td>
            <td>
                <ul>
                    <li>车间操作同时远程语音沟通</li>
                    <li>推荐宾果(Bingle) B600 2.4G无线耳机麦克PC耳机</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                摄像头支架

            </td>
            <td>
                <p>
                    轻便易搬动

                </p>
            </td>
            <td>
                <p>
                    推荐优品(YOPOW)YDL-680精品便携三脚架云台套装
                </p>
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                大屏幕彩色显示屏
            </td>
            <td>
                <p>
                    屏幕尺寸不低于46寸
                </p>
            </td>
            <td>
                <ul>
                    <li>推荐安装在辉腾工位处</li>
                    <li>型号及品牌自选</li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                网络
            </td>
            <td>
                <p>
                    带宽不低于4M
                </p>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
    <h5>备注：</h5>
    <ul>
        <li>以上设备需求信息为2015年手册编写时的要求，具体设备要求请参照售后服务部最新标准。</li>
        <li>以上所列设备型号仅供参考，请经销商根据店内情况在当地自行采购，规格要符合相关要求。</li>
    </ul>

    <h3 id="section-4-04">现场技术支持</h3>
    <h4>现场技术支持流程</h4>
    <p>如果需要现场技术支持，需要填写现场技术支持申请表，并将表格发送至售后技术团队和区域售后经理。 </p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/11.png" class="full-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-5">技术培训</h3>
            <br />
            <p>
                内部技术培训可以提高维修人员整体技术能力，针对售后维修中存在的问题快速做出反应，以打造经销商售后核心竞争力。在内部技术培训开展过程中，要结合日常业务需要和团队建设的需求，根据车间技师人员工作节奏，合理安排培训时间，选择合适的培训方式。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li>
                    <a href="#section-5-01">技术培训管理</a>
                </li>
                <li><a href="#section-5-02">技师分级</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-5-01">技术培训管理</h3>
    <h4>内部技术培训概述</h4>
    <h5><b>设备需求 </b></h5>
    <p>虽然大众进口汽车会针对技术方面开展系统培训、下发大量技术资料和信息，经销商仍有必要结合自身需要开展内部技术培训：</p>
    <ul>
        <li>厂家主导组织的培训不可能覆盖经销商所有人员，经销商必须组织转训。</li>
        <li>相对厂家组织的针对全网经销商需求的培训，经销商内部培训可以更好地结合自身运营管理和团队人员能力现状开展。</li>
        <li>内部技术培训可以将组织内隐性知识转化为显性知识，提高维修人员整体技术能力。</li>
        <li>内部技术培训客户针对售后维修中存在的问题快速做出反应，效果明显。</li>
        <li>内部培训时间和方式更加灵活，可以根据车间相关人员工作节奏做更灵活的安排。</li>
    </ul>
    <h5><b>内部技术培训基本管理规定 </b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/12.png" style="width:250px;float:left;" />
    <ul style="width:500px;float:left;">
        <li>经销商内部技术培训由技术经理或技术内训师负责。</li>
        <li>结合厂家和公司内部要求，制定年度、季度和月度内部技术培训计划。</li>
        <li>结合机电、钣金、喷漆岗位的需要，合理设定培训内容，保证培训内容与岗位工作需要相结合。</li>
        <li>内部技术培训主要针对技师进行，必要时开展针对前台、备件、索赔等相关人员的技术培训。</li>
        <li>加强培训管理，将培训参与和培训结果纳入员工考核指标。</li>
        <li>日常工作中，经销商可以结合实际工作需要选择合适的培训方式，比如案例分析、现场辅导等。</li>
    </ul>
    <br />
    <br />
    <h4>内部技术培训管理</h4>
    <p>与非技术培训一样，内部技术培训首要工作是需要明确培训需求，结合培训需求制定培训计划，按照培训计划做好各项准备、实施培训，对培训效果进行评估，并不断改进培训流程和方法，以不断优化培训管理，提升培训效果。</p>
    <h5><b>分析技术培训需求 </b></h5>
    <h5>内部技术培训需求来源</h5>
    <p>内部技术培训主要是为了迅速掌握产品技术知识、解决售后业务中存在的问题以及提高售后人员的维修技能等目的开展。内部技术培训需求主要来源包括：</p>
    <p>
        <ul style="list-style:decimal">
            <li>公司发展战略</li>
            <li>现有人员维修技能现状、团队成长需要</li>
            <li>大众技术培训转训</li>
            <li>疑难故障、典型案例</li>
            <li>FFV统计、工作效率统计、客户服务部回访报告</li>
            <li>业务季节性变化、人员变化等</li>
        </ul>
    </p>
    <h5>内部技术培训需求获取与评估</h5>
    <p>在明确需求来源的基础上，需要通过合理的方法收集需求信息，方法包括：</p>
    <p>
        <ul style="list-style:decimal">
            <li>问卷调查，对培训对象、培训对象主管人员以及相关人员进行调查；</li>
            <li>座谈会，通过座谈会的形式了解培训对象对培训需求的期望；</li>
            <li>数据分析，通过售后经营和维修质量数据分析，了解存在的问题和不足，确定培训内容；</li>
            <li>文案梳理，研究厂家及公司相关政策，确定培训内容；</li>
            <li>现场观察，通过对维修现场观察，发现存在的问题，确定培训内容。</li>
        </ul>
    </p>
    <h5><b>制定技术培训计划 </b></h5>
    <h5>培训计划的类型</h5>
    <p>按时间周期，内部技术培训计划可以分为年度计划、季度计划和月度计划：</p>
    <ul>
        年度计划用以规划整年度的培训内容，采用模块的方式，为年度培训工作制定方向。年度培训计划主要包括培训整体目标、培训周期与频次、培训负责人及相关人员、培训方法与考核办法等。
        季度培训计划是根据业务的发展等制定的季度培训的工作的重点，是一个“承上启下”的培训规划，要对年度培训计划做进一步的细化，确定阶段各方面培训的主题。
        月度培训计划要求明确周期内培训的主题、内容、时间、地点、参训人员等（参见附表：内部技术培训计划）。月度培训计划是年度培训计划和月度培训计划的细化，但是需要根据实际工作进行调整。
    </ul>
    <h5>月度培训计划的要素</h5>
    <p>对月度培训计划，要求各项内容均比较明确，以便培训顺利执行：</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">要素</th>
            <th width="75%">内容</th>
        </tr>
        <tr>
            <td>
                培训主题
            </td>
            <td>
                <ul>
                    <li>该次培训的课题，让培训相关人员一目了然培训的核心内容</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                培训时间
            </td>
            <td>
                <ul>
                    <li>该次培训具体的年月日和具体时间段</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                培训形式
            </td>
            <td>
                <ul>
                    <li>根据培训内容，培训参训人员确定培训形式</li>
                    <li>可以选择讲授、研讨、案例分析、现场指导等</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                培训地点
            </td>
            <td>
                <ul>
                    <li>根据培训内容、参训对象及人员数量确定培训地点</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                培训讲师
            </td>
            <td>
                <ul>
                    <li>根据培训内容确定本次培训的讲师</li>
                    <li>以便提前进行课件等准备</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                参训人员
            </td>
            <td>
                <ul>
                    <li>根据培训主题和内容确定培训对象包括哪些部门的哪些人员</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                其他要求
            </td>
            <td>
                <ul>
                    <li>考核方式等</li>
                </ul>
            </td>
        </tr>
    </table>
    <h5><b>内部技术培训实施 </b></h5>
    <h5>实施准备</h5>
    <ul>
        <li>人员准备，培训计划制定后，通知相关人员，讲师根据培训需要进行授课各方面的准备，包括课件、案例、素材、培训签到表等，参训人员提前协调培训时间。</li>
        <li>地点准备，提前联系培训教室或其他地点，保证不与其他事项冲突。</li>
        <li>物料准备，包括培训使用的电脑、投影仪、白板纸、白板笔等。</li>
    </ul>
    <p>为了保证培训工作顺利开展，培训讲师在培训前一天再次确认培训地点、设施、设备，确认参训人数，并制定意外事项的处理预案。</p>
    <h5>培训实施</h5>
    <p>培训实施期间，严格执行培训相关纪律和管理规定：</p>
    <ul>
        <li>计划参训人员必须按照培训签到表签到（参见附表：内部培训签到表）。</li>
        <li>计划参训人员如果没有特殊情况不得迟到、早退，有特殊情况须先向相关人员请假，违者罚款。</li>
        <li>培训人员需遵守培训纪律，不遵守培训纪律并影响到他人的，记一次不合格。</li>
    </ul>
    <h5><b>内部培训效果评估 </b></h5>
    <ul>
        <li>参加培训人员对培训内容、人员、环境设施等的评价，作为培训改进的依据。</li>
        <li>课堂或课后对参加培训人员的考核，包括课堂表现、考试成绩、业绩提升等。</li>
        <li>培训相关内容在实际工作中的运用，业务指标的变化等。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/13.png" class="full-width" />
    <br />
    <h5><b>培训档案管理 </b></h5>
    <ul>
        <li>每次培训结束后一周内，讲师应将学员的成绩评定出来，统计并记载参训人员的测验结果，并对针对本次培训工作进行总结。</li>
        <li>技术经理或者技术内训师每月对当月培训进行总结，包括培训计划执行情况、人员参与情况、培训效果等，并制定培训改善和提升措施。</li>
        <li>每月月底按计划将培训执行原始资料，包括课件、参训人员签到表、培训报告、培训效果评价记录等交人力资源部门备案管理，并作为技术信息进行内部管理。</li>
        <li>对于大众进口汽车要求的的转训，需要将签到表扫描件发回给大众进口汽车存档。</li>
        <li>对培训记录、总结进行存档管理，并建立技术人员个人培训档案。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/14.png" class="full-width" />
    <br />

    <h3 id="section-5-02">技师分级</h3>
    <h4>技师分级标准制定</h4>
    <p>对技师进行分级管理是维修技师管理的重要形式，维修技师分级管理有利于经销商提高维修团队的技术能力水平，确保维修技师队伍阶梯型发展，技术经理要协助车间经理进行维修技师分级管理。</p>
    <h5><b>员工技能矩阵 </b></h5>
    <p>技师分级管理中，技师分级考核内容包括技师理论知识、实操和个人业绩等方面，其中理论知识和实操涉及到技师技术知识和能力，需要技术经理协助明确标准和要求。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/15.png" class="full-width" />
    <br />
    <h5><b>确定技师分级标准 </b></h5>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="15%">类型</th>
            <th width="10%">级别</th>
            <th width="75%">内容</th>
        </tr>
        <tr>
            <td rowspan="3">
                机电技师
            </td>
            <td>
                初级
            </td>
            <td>
                <ul>
                    <li>能完成大众品牌车辆简单项目的拆装，对发动机、变速箱总成修理外的机电拆装项目熟练操作。</li>
                    <li>能使用各类仪器进行测试并读取数据，能读懂电路图，并能与实物一一对应。</li>
                    <li>了解电路原理，空调系统运转原理，能胜任途锐、辉腾等车型的简单维修工作。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                中级
            </td>
            <td>
                <ul>
                    <li>可以完成大众品牌车辆一般故障的诊断和排除。</li>
                    <li>能熟练进行大众所有车型拆装修理，能使用各类仪器进行读取数据并进行分析。</li>
                    <li>熟悉所有车型的电路，了解线路走向，对各机件工作原理有一定了解。</li>
                    <li>能熟练进行车辆机电、空调及较复杂故障的排除，能对其他品牌车辆的一般故障进行修理。</li>

                </ul>
            </td>
        </tr>
        <tr>
            <td>
                高级
            </td>
            <td>
                <ul>
                    <li>能对大众品牌所有车型故障进行诊断和修理。</li>
                    <li>能熟练使用所有车型设备和检测仪器。</li>
                    <li>积极了解，接受新知识，对车辆各机件的工作原理有较深的了解。</li>
                    <li>能完成较高难度的修理，对工作要有较强的责任心。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td rowspan="3">
                钣金技师
            </td>
            <td>
                初级
            </td>
            <td>
                <ul>
                    <li>能完成大众品牌车辆外围件的整型修理，熟练拆装大众品牌车辆各种钣金件，对常用金属的材质、性能所了解。</li>
                    <li>能熟练使用各种钣金维修设备和工具。</li>
                    <li>能独立使用车身校正架对车辆前后纵梁、前后围板等进行修理。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                中级
            </td>
            <td>
                <ul>
                    <li>能完成较高难度的整型修理。</li>
                    <li>对常用金属的材质，性能熟练掌握。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                高级
            </td>
            <td>
                <ul>
                    <li>大众车的所有车型可以完成车身任何部位的整型、更换，能制定较大事故车的钣金整体修理工艺流程。</li>
                    <li>可以完成高难度的整型修理项目，能在工作中体现较强的责任心。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td rowspan="3">
                喷漆技师
            </td>
            <td>
                初级
            </td>
            <td>
                <ul>
                    <li>能完成普通漆全车打磨，喷漆项目。</li>
                    <li>对油漆的常用配比及工作程序能熟练掌握。</li>
                    <li>金属漆小件的喷漆应能操作完成。</li>
                    <li>各种工具，设备的使用较熟练。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                中级
            </td>
            <td>
                <ul>
                    <li>大众车应能完成金属漆的全车喷漆项目，局部的补漆项目能达到较高质量。</li>
                    <li>对油漆各种原料的物理、化学性能有所了解。</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                高级
            </td>
            <td>
                <ul>
                    <li>大众车所有的油漆项目能够较好地完成，对油漆各原料的物理化学性能有较深的认识，能将该知识灵活地用于实践中，解决一些棘手的问题，能对油漆后出现的问题进行分析、判断，并提出解决方案。</li>
                    <li>可以完成车辆全车喷漆，对工作要有较强的责任心。</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />
    <h3>表单工具</h3>
    <h4>附表：内部技术培训计划（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/16.png" class="full-width" />
    <br />
    <h4>附表：内部培训签到表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter4/17.png" class="full-width" />
    <br />
</div>

