@{
    Layout = "~/Views/OperationStandard/_LayoutAftersales.cshtml";

}

<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />

    <br />
    <br />
    <h3 id="chapter2">车间管理</h3>
    <br />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter2.png" class="full-width" style=" height:600px; " />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            车间管理是经销商售后业务管理的重点与核心，车间管理的好坏不仅影响到经销商的售后服务业绩，同时也会对客户满意度产生重要影响。
        </p>
        <p>
            车间管理的目的是充分发挥车间资源的运营效率，同时保证车间安全运营和良好的企业形象，最终实现客户满意到客户忠诚的目标。为了实现这些目标，经销商要做好车间基本环境与设施的规划与管理、车间安全与环境保护、派工与进度管理以及维修质量管理等工作。
        </p>
    </div>
    <h3>本章主要适用对象</h3>
    <ul style="list-style: decimal">
        <li>车间经理</li>
        <li>机电车间主管</li>
        <li>钣喷车间主管</li>
        <li>维修技师</li>
        <li>工具设备管理员</li>
    </ul>
    <br />
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Aftersales/chapter2/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="#section-1">核心岗位工作</a></li>
            <li><a href="#section-2">环境与场地</a></li>
            <li><a href="#section-3">安全与环保</a></li>
            <li><a href="#section-4">设备与工具</a></li>
            <li><a href="#section-5">效率管理</a></li>
            <li><a href="#section-6">质量管理</a></li>
            <li><a href="#section-7">快修管理</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-1">核心岗位工作</h3>
            <br />
            <p>
                车间是经销商售后业务的核心执行部门，车间岗位人员的配备直接决定车间生产的效率和质量。经销商要根据日常业务需要进行各岗位人员配备，为车间营造良好的工作环境，进行公平、有效的派工，并高质量地完成维修工作。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-1-01">车间人员配备</a></li>
                <li><a href="#section-1-02">核心岗位职责</a></li>
                <li><a href="#section-1-03">核心岗位工作</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-1-01">车间人员配备</h3>
    <h4>车间人员配备标准</h4>
    <ul>
        <li>经销商在开业时必须具备车间经理1名。</li>
        <li>开业时，必须按照人员配备要求配置一定数量维修技师；根据售后业务发展需要，设置适当数量的机电/钣金/喷漆技师。</li>
        <li>当机电/钣金/喷漆班组达到一定数量，建议分别设置主管。</li>
        <li>钣金技师和喷漆技师应分别有至少一名参加过大众进口汽车组织的相关技术培训，并确保该技师实际在岗。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter2.png" class="per80-width" style="height:450px" />
    <br />
    <br />
    <h3 id="section-1-02">核心岗位职责</h3>
    <h4>车间经理</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter4.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter5.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter6.png" class="per80-width" />
    <br />
    <h4>机电车间主管</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter71.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter72.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter73.png" class="per80-width" />
    <br />
    <h4>钣喷车间主管</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter7.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter8.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter9.png" class="per80-width" />
    <br />
    <h4>机电技师</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter10.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter11.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter12.png" class="per80-width" />
    <h4>钣金技师</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter13.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter14.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter15.png" class="per80-width" />
    <br />
    <h4>喷漆技师</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter16.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter17.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter18.png" class="per80-width" />
    <br />
    <h4>工具/设备管理员</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter19.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter20.png" class="per80-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter21.png" class="per80-width" />
    <br />
    <br />
    <h3 id="section-1-03">核心岗位工作</h3>
    <h4>主要岗位核心工作</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter22.png" class="per80-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-2">环境与场地</h3>
            <br />
            <p>
                维修车间布局的合理程度、环境的舒适程度会对维修操作的效率产生直接影响。维修车间不是客户的直接接触场所，但随着客户需求的增多和科技水平的发展，客户能从客户休息区里清晰地观测到维修车间里的情况，因此其整体清洁度及维修人员的高效作业均会对客户满意度产生较大影响。同时，企业也需要承担越来越多的社会责任，环境保护和生产安全也是经销商车间管理中需要积极面对课题。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-2-01">车间环境与设施</a></li>
                <li><a href="#section-2-02">车间场地规划</a></li>
                <li><a href="#section-2-03">车间5S管理</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-2-01">车间环境与设施</h3>
    <h4>车间整体布局</h4>
    <ul>
        <li>车间各区域设置要合理，布局要科学，保障生产安全与效率。</li>
        <li>维修车间光线充足；车间地面、墙壁保持整洁，无污迹、无墙面脱落现象。 </li>
        <li>车间通风状况良好，废气抽排系统工作正常，无强烈异味。</li>
        <li>按照大众进口汽车标准设置不同工位，维修、钣喷车间应互相分隔，维修车间分为快修区和一般维修区。</li>
        <li>根据功能不同设置必要设备，如气、水、电等管路。</li>
    </ul>
    <h4>车间场地</h4>
    <ul>
        <li>车间入口处的地面应设置指示箭头，大门上方应标明入口标志，无关人员、车辆不得入内。</li>
        <li>维修车间内通道、工位画线清晰。</li>
        <li>车辆按指定的区域停放，车间过道及厂区通道不得随意停放车辆。</li>
        <li>车间内车辆停放时车头朝向一致，并停放整齐。</li>
        <li>维修区域备件、工具和油液三不落地。</li>
        <li>废旧备件及物品应定点存放并及时清理。</li>
        <li>废水经处理后排放，废油要回收处理。</li>
        <li>公用设备存放位置应标线定位，并挂管理标识牌，写明责任人、保养与卫生标准。 </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter23.png" class="full-width" />
    <h4>车间场地规划概述</h4>
    <h5><b>车间设施规划的目的</b></h5>
    <ul>
        <li>合理的车间场地规划可以缩短车辆、人员和设备的移动距离和时间，提高车间维修的效率，为客户提供更高效的维修服务。</li>
        <li>科学的车间场地规划可以最大化程度利用空间，最大程度减少浪费。</li>
        <li>车间场地规划可以明确各区域功能和管理责任，利于分区进行管理。</li>
    </ul>
    <h5><b>车间内部功能区域划线</b></h5>
    <ul>
        <li>车间地面两边向中间稍有倾斜，车间中线设置排水沟。</li>
        <li>工位区域地面要求浅灰色，通道区域地面要求深灰色。</li>
        <li>工位线颜色为大众蓝，宽度为0.08米， 车间地面使用白色箭头标明车流动线，设备定位线使用黄黑警示线。</li>
    </ul>
    <h5>车间布局示意图</h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter24.png" class="full-width" />
    <br />
    <br />
    <h3 id="section-2-02">车间场地规划</h3>
    <h4>车间整体布局</h4>
    <h5><b>预检工位</b></h5>
    <ul>
        <li>预检区设置在车间的入口或离接待区近的地方。</li>
        <li>有专门的预检工位，根据业务量大小配备1-2个预检工位，尺寸要求在10.05.0米以上。</li>
        <li>预检工位应配有车辆举升装置，同时应有符合规定的标识牌。</li>
    </ul>
    <h5><b>快修工位</b></h5>
    <ul>
        <li>尺寸要求7.8 X 4.5米（长X宽）( 最低要求7.0 X 4.0米)。</li>
        <li>要求配备3.5吨举升器2个。</li>
        <li>快修工位最好设置在靠近业务接待大厅，从客户休息区能够很方便地看到快修工位及快修工位应有醒目的标识牌。</li>
    </ul>
    <h5><b>普通工位</b></h5>
    <ul>
        <li>根据日常售后业务量配备普通工位数量，并合理分配举升机工位和非举升机工位。</li>
        <li>尺寸要求7.8 X 4.5米（长X宽）( 最低要求7.0 X 4.0米)。</li>
        <li>要求配备3.5吨举升器5个，无举升器工位1个，用于电气、总成修理。</li>
    </ul>
    <h5><b>辉腾工位</b></h5>
    <ul>
        <li>根据辉腾保有量，设置辉腾工位。</li>
        <li>辉腾工位尺寸12.0 X 7.0米（长X宽）( 最低要求10.0 X 5.0米)。</li>
    </ul>
    <h5><b>四轮定位仪</b></h5>
    <ul>
        <li>尺寸要求在11.88.0米以上。</li>
    </ul>
    <h5><b>总成修理室</b></h5>
    <ul>
        <li>有条件的经销商应配备总成修理室，必须相对靠近一般维修工位。</li>
        <li>总成修理室应在50平方米以上。</li>
        <li>配备总成修理所必须的工具、工作台、可移动式机械提升装置、发动机支撑和液压冲压装置、测量仪及零件冲洗机器等其它装置。</li>
        <li>总成修理室充分地通风与照明。</li>
    </ul>
    <h4>钣喷车间工位设置</h4>
    <h5><b>工位尺寸要求</b></h5>
    <ul>
        <li>分解/打磨/抛光工位：7.84.5米。</li>
        <li>车身维修工位：7.84.5米。</li>
        <li>大梁校正工位：8.05.0米。</li>
        <li>喷、烤漆房：8.05.0米（取决于设备的实际尺寸）。</li>
    </ul>
    <h5><b>规划调漆房/漆料储藏室时应注意以下事项</b></h5>
    <ul>
        <li>喷、烤漆房的品牌、规格须符合供应商的规定。</li>
        <li>窗户应尽可能做大以在自然光线下进行着色。</li>
        <li>窗户上应安装不透明玻璃以避免直接的太阳光线照射。</li>
        <li>安装1500LUX照明设备。</li>
        <li>安装排气装置，使得喷漆车间保持干净、通风。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter25.png" class="full-width" />
    <br />
    <br />

    <h3 id="section-2-03">车间5S管理</h3>
    <h4>5S管理概述</h4>
    <p>5S最早起源于日本，指的是在生产现场中将人员、机器、材料、方法等生产要素进行有效的管理。随着世界经济的发展，5S管理已成为众多企业提升品牌形象、提高工作效率、减少浪费、降低成本、提升员工素质的有效管理方法和工具。</p>
    <h4>5S基本概念</h4>
    <p>5S指SEIRI（整理）、SEITON（整顿）、SEIKETSU（清洁）、SEISO（清扫）、SHITSUKE（素养）五个单词，因日语的罗马拼音均为“S”开头，所以统称“5S”。其中：</p>
    <ul>
        <li>整理：将物品区分为需要的和不需要的、使用频率高的和使用频率低的不等，不必要的东西要尽快处理掉，以提高提高车间的利用效率和维修质量。</li>
        <li>整顿：对现场所需用的物品有分门别类地放置并进行有效地标识，使其始终处于任何人随时都能方便取放的位置，从而提高工作效率。</li>
        <li>清扫：使现场始终处于无垃圾、无灰尘的整洁状态，避免影响员工的工作情绪和工作效率，并提高设备使用寿命，稳定车间维修质量。</li>
        <li>清洁：也称规范，指将整理、整顿、清扫3项工作标准化、制度化。</li>
        <li>素养：养成整洁有序、自觉执行单位规定和规则的习惯，自觉执行上述各项工作。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter26.png" class="full-width" />
    <h4>车间5S管理实施步骤</h4>
    <h5><b>车间5S管理步骤</b></h5>
    <ul>
        <li>制定推行5S的指导方针及实施目标，以明确工作的方向和确定检核标准。</li>
        <li>
            根据指导方针和目标拟定5S推进工作计划和实施方法：
            <ul style="list-style:lower-latin">
                <li>明确划分5S责任区域，确定责任部门和人员。</li>
                <li>确定5S执行与检核项目，以及执行标准。</li>
                <li>建立车间5S检核表（参见附表：车间5S点检表）。</li>
                <li>建立点检制度，由车间经理每日按照5S检核表项目进行检核。</li>
                <li>确定考核办法，包括奖惩办法。</li>
            </ul>
        </li>
        <li>检核人员现场巡场检查，针对问题点进行记录并针对责任人发出整改指令。</li>
        <li>检核结果汇总与分析，发现和分析执行中存在问题。</li>
        <li>检查结果下发到责任部门和人员，各责任部门依缺点项目制定改善计划，实施改进。</li>
        <li>月底将检核结果汇总，召开5S专题会议，按照奖惩办法对相关人员进行奖励或惩罚。</li>
        <li>根据5S执行情况调整工作目标和实施方法，不断提高5S管理的整体水平。 </li>
    </ul>
    <h5><b>车间5S管理要点</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter27.png" class="full-width" />
    <h3>工具表单</h3>
    <h4>附表：车间5S点检表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter28.png" class="full-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-3">安全与环保</h3>
            <br />
            <p>
                安全生产是指在劳动过程中为了防止伤亡事故、设备事故及各种灾害的发生，保障劳动者的安全健康和生产、劳动过程的正常进行而采取的措施和活动。做好车间安全工作，可以调动员工积极性，减少员工伤亡和财产损失，促进生产发展。
            </p>
            <p>
                保护环境是特约经销商的义务，先进的企业在抓住机遇的同时还必须考虑未来的持续发展。对经销商来说，坚持不懈地贯彻执行环保政策，不但是保护企业自身，也可以避免带来的环境与安全方面隐患以及由于违反法律法规而受到的严厉惩罚。在全球的市场竞争中，所有的生产场所落实环境管理体系是大众集团的明确目标。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-3-01">安全与环保概述</a></li>
                <li><a href="#section-3-02">安全生产管理</a></li>
                <li><a href="#section-3-03">环境保护</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-3-01">安全与环保概述</h3>
    <h4>经销商安全与环保职责</h4>
    <p>在全球的市场竞争中，所有的生产场所落实环境管理体系是大众集团的明确目标。为了实现这一目标，经销商企业有必要承担保护环境的责任和义务：</p>
    <ul>
        <li>负责下属员工的安全</li>
        <li>遵守法律规定</li>
        <li>在其负责的工作区域只使用符合安全规定（例如，企业安全条例）的设备或劳动工具</li>
        <li>注意员工是否使用了个人防护装备</li>
        <li>确保安全、有序、洁净，并且在工位上就区分危险废物和一般废物</li>
    </ul>
    <h4>安全与环保管理内容</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter29.png" class="per80-width" />
    <br />
    <br />

    <h3 id="section-3-02">安全生产管理</h3>
    <h4>个人防护</h4>
    <h5><b>个人安全生产规范</b></h5>
    <ul>
        <li>根据国家相关法律法规，制定车间安全生产管理规范。</li>
        <li>售后所有员工接受安全生产相关培训并考核合格后方可上岗作业。</li>
        <li>要通过培训使相关岗位人员了解本岗位的危险危害因素。</li>
        <li>确保相关岗位人员掌握正确佩戴和使用劳动防护用品的方法。</li>
        <li>严格检查，保证员工遵守危险性作业的安全要求。</li>
    </ul>
    <h5><b>个人防护装备和标识</b></h5>
    <p>经销商要为从事具有潜在危险工作的员工提供最大限度的保护，配备个人防护装备：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter30.png" class="per80-width" />
    <h4>安全驾驶</h4>
    <p>为了保证车间行车安全，经销商要明确车间车辆移动管理规定：</p>
    <ul>
        <li>移动维修车辆的人员须具有驾驶相应类别车辆的内部驾照。 </li>
        <li>进入维修车间的一切机动车辆，行驶车速不得超过10-15KM/H，不得在车间内进行刹车试验和车辆动力性能路试。  </li>
        <li>进入车间的事故车或车间内移动事故车，为防止由于车辆机械故障带来的行驶危险，移动时必须先检查制动系统、转向系统、冷却系统、润滑系统；没有行使安全隐患后，方能按照规定时速10-15KM/H移动。原则上，车间内工位间移动未完工的大肇事车一律推行。</li>
        <li>车辆在进入工位、上下举升机、四轮定位、检测线时，驾驶人员必须确认前后没有人员，方能进行操作。 </li>
        <li>维修检查车辆时，如果需要启动发动机必须先拉住手刹，然后确认车辆档位后方能启动车辆，并且严禁站在车头前面以直接拉动油门拉线的方式试验发动机。</li>
        <li>建议规划车辆路试路线，并购买保险，路试必须在规定路线进行。</li>
        <li>维修车辆需进行车间内外移动时，必须按地面指示标志行驶，不得逆向行驶。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter31.png" class="full-width" />

    <h4>车间安全生产管理</h4>
    <h5><b>机电车间安全生产要点</b></h5>
    <ul>
        <li>启动车辆时应检查档位是否位于空挡或停车档，严禁在车外启动车辆。</li>
        <li>在车间内移动汽车，要按照车辆规定动线移动，通道上不得放置工具、设备、车辆等。</li>
        <li>刚进入工位的车辆，不宜马上进行作业，以免被排气管、散热器、尾管等灼热物烧伤。</li>
        <li>涉及拆装燃油系、燃气系、拆装更换正时带、总成件、气缸盖维修部件的必须先断电再进行维修操作，并放置灭火器材。</li>
        <li>作业时，汽车的制动装置必须处于有效的制动位置，防止自动溜车。</li>
        <li>在汽车下面作业时，必须先将汽车支离地面。</li>
        <li>手、衣服、工具应远离旋转设备或部件。</li>
        <li>作业时按照标准的作业流程进行操作，用举升器等大型设备时一定要按正确的规程操作。</li>
        <li>在涉及刹车系统故障的车辆，维修完毕要检查故障是否修复才能移出工位。</li>
        <li>在维修作业过程中使用相应的防护用具保护人身安全。</li>
        <li>车间内不能见明火，禁止吸烟，机电车间工作人员熟悉防火知识并正确掌握灭火器材使用方法。</li>
    </ul>
    <h5><b>钣喷车间安全生产要点</b></h5>
    <ul>
        <li>必须按照作业类型穿戴好防护用品，遵守有关设备安全操作规程使用设备和工具。</li>
        <li>机电车间生产要严格遵守气焊、气割安全规定，使用各类设备时，应遵守有关设备安全操作规程。</li>
        <li>使用手锤等工具时，检查是否有松动、损坏等现象，同时清除各种工具手柄上的油污，防止滑脱伤人。</li>
        <li>需要进行切割作业时，要放置灭火器。</li>
        <li>乙炔、氧气瓶放置距离应在5米以上，放置时必须进行固定，避免摔倒。</li>
        <li>工作完毕，乙炔、氧气管及各类工具必须归放到位并清扫环境；人离设备，随手切断电源、气源。</li>
        <li>乙炔氧气不得靠近电线、电灯，不得放与油类一起放置，焊枪火焰不得对准人和气管。</li>
        <li>露天喷漆工作时站上风操作，保持良好的自然通风，必要时采取机械通风。  </li>
        <li>调漆间使用防爆灯。</li>
        <li>喷漆时，先开动风机，确认风机正常，方可开始工作，工作结束时，先停止喷漆，后关风机。</li>
        <li>油漆作业场所十米以内，不准进行电焊，气切割等明火作业。</li>
        <li>用于喷漆的漆料应有专人保管，必须存放在金属柜中。     </li>
        <li>多人同时操作时要相互配合，呼应注意安全。</li>
        <li>车间工作人员熟悉防火知识并正确掌握灭火器材使用方法。</li>
        <li>油漆、喷漆场地和库房严禁烟火。</li>
    </ul>
    <p>备注：上述所列安全管理要点只是基本事项，经销商须根据车间实际状况制定规范的安全生产管理制度。</p>
    <h4>消防安全管理</h4>
    <h5><b>防火/防爆</b></h5>
    <p>在所有经销商内，防火是一个核心主题。经销商须遵守国家法律中有关防火的规定。</p>
    <ul>
        <li>经销商所有电器接地完整，电线及接触件破损应及时更新。</li>
        <li>拆检燃油系统时，不得启动点火开关和打火。</li>
        <li>电瓶充电时，要有专人负责看管。</li>
        <li>旧棉丝或废布料集中回收处理，不得在车间内乱扔。</li>
        <li>严禁将火种带入仓库，夜间停电应用手电筒，不准用明火灯。</li>
        <li>易燃、易爆物品专人负责保管，严禁乱堆乱放，使用过的化学易燃废料应集中保存，统一处理。</li>
        <li>易燃物品应单独放置，加盖，防止挥发造成危险。</li>
        <li>须拥有足够数量的灭火器， 灭火器类型和规格须与经销商规模和潜在火灾危险相符。</li>
        <li>车间所有人员要会使用消防设备，定期组织消防演练。</li>
        <li>灭火器须放置在车间内容易接近和看到的地方，以保证所有员工都可以方便快捷地取用。</li>
    </ul>
    <h5><b>安全用电</b></h5>
    <ul>
        <li>相关人员熟悉断路器的位置，一旦发生电气事故，应第一时间切断电源。</li>
        <li>车间照明和设备尽量使用36伏安全电压。</li>
        <li>开关、插座或用电器具损坏或外壳破损时应通知电工及时修理或更换，未经修复不能使用。</li>
        <li>不能私自拆灯具、开关、插座、接线等电器设备。</li>
        <li>当设备内部出现冒烟，产生焦味、拉弧等不正常现象，要立即切断设备电源，并通知电工人员进行维修。  </li>
        <li>当漏电保护开关出现跳闸时，不能私自再合闸，并通知电工人员进行检查、维修。</li>
        <li>所有车间及仓库照明灯具必须接防爆灯罩内，非电工人员不得私拉私接电线</li>
        <li>发现落地的电线，请电工来处理，防止自身和他人走近而发生触电。  </li>
        <li>工厂内的所有用电器具都必须安装使用漏电保护开关实行单机保护。</li>
        <li>电气设备在使用中出现故障时，要由电工进行修理。其他人员不得自行修理</li>
        <li>喷漆时，先开动风机，确认风机正常，方可开始工作，工作结束时，先停止喷漆，后关风机。</li>
        <li>油漆作业场所十米以内，不准进行电焊，气切割等明火作业。</li>
        <li>用于喷漆的漆料应有专人保管，必须存放在金属柜中。     </li>
        <li>多人同时操作时要相互配合，呼应注意安全。</li>
        <li>车间工作人员熟悉防火知识并正确掌握灭火器材使用方法。</li>
        <li>油漆、喷漆场地和库房严禁烟火。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter32.png" class="per80-width" />

    <h4>车间应急处理方案</h4>
    <h5><b>车间事故应急处理概述</b></h5>
    <p>经销商应该制定车间紧急事故应急处理方案，以便在安全事故发生时能以最快的速度、最大的效能、有序的实施救援，最大限度的减少人员伤亡和财产损失，把事故危害降到最低，确保车间生产环境的安全和稳定。</p>
    <ul>
        <li>启动车辆时应检查档位是否位于空挡或停车档，严禁在车外启动车辆。</li>
        <li>在车间内移动汽车，要按照车辆规定动线移动，通道上不得放置工具、设备、车辆等。</li>
        <li>经销商应成立车间事故应急处理小组，包括公司管理人员、车间经理、班组长等。</li>
        <li>明确事故应急小组成员职责，以便事故发生时迅速协调资源、采取行动。</li>
        <li>制定事故应急救援预案。</li>
        <li>负责事故员启动、现场控制以及后期总结。</li>
    </ul>
    <h5><b>车间事故应急处理</b></h5>
    <ul>
        <li>一般安全事故，生产车间安全员、班组长发现后立即采取措施处理。</li>
        <li>重大安全事故，因时因事启动应急救援预案： </li>
        <li>第一发现人发现后，应立即向车间经理汇报，并切断事故。 </li>
        <li>接警后，应迅速通知应急处理小组成员迅速赶往事故现场。</li>
        <li>根据事故发展状态及危害程度做出的危机决定，进行立即应急救援。</li>
        <li>在做好个体防护的基础上，按照预案规定的职责与分工，展开各自的抢救、救援任务。</li>
        <li>如事故扩大时，应请求外支援，现场人员立即撤离危险区域，并清点人数，检查有无受伤、中毒人员，将结果报告指挥部，若有受伤、中毒人员要立即进行现场急救或送往医院进行救治。</li>
    </ul>
    <h5><b>受伤人员现场救护、救治</b></h5>
    <ul>
        <li>经销商车间应配备急救箱，包括止血、消毒、烫伤类药品，全体人员了解急救箱位置。</li>
        <li>发生急性中毒事故，可采取急性中毒的现场急救处理：</li>
        <li>吸入：吸入中毒者，应迅速脱离至空气新鲜处，解开患者衣领和裤带，并注意保暖。  </li>
        <li>皮肤接触：迅速脱去污染的衣服、鞋袜等，用大量流动清水冲洗15—30分钟。</li>
        <li>食入：口服中毒者，如为非腐蚀性物质立即移至空气新鲜处，解开患者衣领和裤带，并注意保暖。</li>
        <li>化学灼伤：要立即在现场用大量清水进行足够时间的冲洗。 </li>
        <li>触电事故中，切断电源时要采取防御措施防止触电者脱离电源后因肌肉放松而摔倒，脱离电源后应根据具体情况人工呼吸或胸外心脏挤压救治，并尽快与120急救中心联系。</li>
        <li>油漆中毒事故发生，应立即将伤者转移到通风良好的场所，现场抢救组及时用车送伤者去医院急救。</li>
        <li>发生高空坠落事故后，现场抢救组根据固定伤者受伤的具体部位，迅速用硬板担架送医或打120急救。</li>
        <li>多人同时操作时要相互配合，呼应注意安全。</li>
        <li>车间工作人员熟悉防火知识并正确掌握灭火器材使用方法。</li>
        <li>油漆、喷漆场地和库房严禁烟火。</li>
    </ul>
    <br />

    <h3 id="section-3-03">环境保护</h3>
    <h4>环保认证管理</h4>
    <h5><b>经销商环保认证基本规定</b></h5>
    <p>为了实现环境目标，大众进口汽车将德国大众汽车“经营服务店环境管理标准”应用于中国经销商，并委托第三方定期审查所有经销商的环保认证执行情况。</p>
    <p>环保认证从国家在环保法律法规上的要求出发，结合大众汽车自身的标准和中国的具体情况，为经销商提供在环保方面的合理化的建议和具体整改措施，对符合标准的经销商颁发“大众进口汽车环保型经销商”认证奖牌和证书。</p>
    <h5><b>经销商环保认证流程</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter33.png" class="full-width" />
    <h5><b>经销商环保认证流程</b></h5>
    <p>环保认证通过一天的检查，对企业的现状进行评定，如果合格，签发环保证书。如果还必须采用后续措施来完善环境保护工作，还必须再次检验后续措施的实施情况是否合格，才能签发环境证书。</p>
    <p>证书有效期为一年。证书到期后，则要基于上次的报告进行复查，合格后，签发新证书。检验内容包括所有与环境相关的领域，例如：固废、废水、危险废物、土壤保护、噪音、大气保护。在遵守法律要求的前提下，第三方会给出建议和提示：</p>
    <ul>
        <li>对相关负责人员进行基础培训</li>
        <li>作一个简短的报告（实际状况分析）并拟定落实建议方案</li>
        <li>在经销商处对相关人员进行二天的培训</li>
        <li>进行复查，如果无需复查，则要参观企业，进行评定及指导</li>
        <li>制定最终报告</li>
        <li>在废弃物处理申请、与政府部门沟通等方面给与帮助</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter34.png" class="full-width" />
    <h4>废物处理方案</h4>
    <ul>
        <li>经销商应该严格按照相关规定排放废物。列举所有产生废物的部门，包括车辆维修车间及办公室等。</li>
        <li>制定企业废物总览清单，以便在废物调查时更全面。</li>
        <li>在制作清单时使用汽车行业对废物的惯用名称及相应的废物代码。</li>
        <li>在工位以及垃圾收集点对废物进行分类收集，根据废物选择合适的容器种类，容器规格必须与要收集的废物相匹配。</li>
        <li>在分类收集废物的情况下，通过废物处理许可证上给出的数量、运输证或者账单来确定废物量，以最优化地计划容器大小和清理频率，从而减少工作时间、工作量和成本。</li>
        <li>对于车间废物处理事务，应该力求做到避免产生废物、回收利用废物、清除废物；对于已经产生的废物，首先应该尽可能回收利用。</li>
        <li>清理废物优先考虑的方式是集中处理。对运输方当面交付的提货单进行记录存档，记录承运者的姓名以及收集方对于该次集中清理所持有的证书编号。废物处理的目标是在保证功效的前提下，投入最少的费用。</li>
    </ul>
    <h4>废水/废液处理方案</h4>
    <ul>
        <li>经销商必须关注国家以及地方相关法律、法规，有计划的使用清洁的水，并根据规定进行废水处理后再将其排入河流或者市政排水系统。</li>
        <li>经销商处所产生的废水可以分为两种，一种需经过处理，一种无需经过处理。</li>
        <li>首先确定整个企业中产生废水的地点究竟有哪些，按工种区分各类废水，确定废水是否必须经过处理还是允许直接被排放到市政排水系统中。然后根据最新的排水系统图确定或检查全部废水处理设施的位置及类型。</li>
        <li>控制清洁剂等的使用，减少污染排放。</li>
        <li>根据企业位置和规模、工位数量、服务范围和地方规定等，确定企业废水处理最佳目标。</li>
        <li>通过分析现状，比较废水处理法规以及确定目标来制定措施。然后确定清单中措施落实的顺序，并监控各项措施的落实情况。</li>
        <li>明确的规章制度、合理的分工以及不断地对员工工作进行指导，可以确保工作的长期成效。</li>
        <li>对于不同性质的化学废液，应设立专门容器分开收集和处理，并要有明显的识别标识，禁止直接排入下水道等污水处理系统，对泄露的化学物品，应当立即处理。</li>
    </ul>
    <h4>危险物/危险品处理方案</h4>
    <h5><b>危险物/危险品的定义</b></h5>
    <p>危险物品是指那些由于其状态或者特性会对人体和环境造成危害，从而需要特别小心对待的材料、物质或者工作介质。危险品管理可以保护人体免受危险物品带来的健康危害，保护环境免受危险物品的损害。车间废旧品和消耗品中可能会存在下列危险材料和危险物品：</p>
    <ul>
        <li>蓄电池电解液、制动液和冷却液、玻璃清洗剂浓缩液、底板保护剂</li>
        <li>油漆稀释液和溶剂、油漆、胶粘剂</li>
        <li>车辆、发动机和部件清洗设备清洁剂</li>
        <li>燃油</li>
        <li>安全气囊、安全带</li>
    </ul>
    <h5><b>危险物/危险品管理</b></h5>
    <ul>
        <li>危险物品管理体现在危险物品的操作过程，通常涉及危险物品的存储、运输、废物清理和处理等工作。</li>
        <li>危险物品管理的一个重要内容是对危险物品进行标识，且必须在相关的工位上悬挂危险物品操作指示。</li>
        <li>为了避免危险物品对员工和环境造成危害，必须制定危险品操作说明书，包括危险物品的详细说明、对人员和环境可能造成的危害、保护措施和预防危险的行为准则、正确的维修和保养、废料处理等。</li>
        <li>鉴于其危险特性，在运输安全气囊，侧面安全气囊和安全带拉紧器时，也必须遵守相关规定。</li>
        <li>所有与危险品运输有关的规定都与危险品运输法规有关。运输的定义不只是局限于地点的变化过程，还包括了包装、接收和交货以及在运输过程中暂时的停留。</li>
        <li>从事危险品运输的员工，必须参加相应的危险品运输规定的培训，包括危险品运输法规的一般内容，根据人员各自的工作内容和责任范围，详细地向其讲述危险品运输法规中相应的内容，使用危险品时可能会出现的危险以及安全领域的培训等。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter35.png" class="full-width" />
    <h4>噪音防范及土壤保护</h4>
    <h5><b>噪音防范</b></h5>
    <p>汽车行业噪音主要来自进行铁片加工和对柴油机汽车进行的尾气检查等。</p>
    <p>服务部门应该根据实际的声辐射和防护需求来制定噪音防护措施。如果没有单独的隔离空间进行产生噪音的工作，可以安装合适的隔音墙。</p>
    <p>由于噪音的影响，尤其是对听觉的危害会给员工带来健康和安全隐患，因此要规定保护员工健康和安全的最低要求。</p>
    <h5><b>土壤保护</b></h5>
    <p>汽车行业的污染可能有两大来源，一方面是企业所在地可能曾经受到污染，它可能是老的污染地或者老的废弃物堆放地。另一方面可能来自于企业本身的运作，例如过去发生了一些事故或者不按规定处理危险物品和危害液体，而造成了遗留污染源。</p>
    <p>如果由于使用土地而对土壤造成负面影响，就必须采取预防措施。对土壤产生负面影响的责任人、地皮所属人或者该地皮权利行使人，有义务净化土壤、清除遗留污染源、清除由于土壤特征变坏或由于遗留污染源而造成的水体污染。此外，阻止有害物质扩散的措施也是安全措施。</p>
    <p>土壤保护的主要环节是危害性评定，通过现场测试，来确定该场地属于哪种情况：疑似对土壤产生负面影响、遗留污染源（垃圾已清理）、极有可能会对土壤产生负面影响。</p>
    <p>为了得出明确的危害性评定结果，还需进行更详尽的测试，尤其是确定有害物质的数量，并考虑到各种土地用途，采取措施，以消除其对土壤的负面影响或要清理遗留污染源。</p>
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-4">设备与工具</h3>
            <br />
            <p>
                汽车维修具有很强的专业性，不但体现在需要掌握先进技术的维修技师，还需要使用大量专业的检测、维修设备和工具。对经销商来说，正确地使用车间设备和工具可以提高维修的效率和质量，合理的保养和维护车间设备和工具可以提高设备和工具的使用寿命和效率。本节介绍车间设备和工具的使用和管理规定。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-4-01">设备与工具管理概述</a></li>
                <li><a href="#section-4-02">设备与工具管理要点</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-4-01">设备与工具管理概述</h3>
    <h4>设备和工具管理的目标</h4>
    <p>车间设备和工具管理的目的是避免产生浪费和损坏，提高设备与工具的管理和使用效率，最终提高车间维修效率和质量：</p>
    <ul>
        <li>明确大众进口汽车设备和工具配备标准，并按照大众进口汽车的要求订购专用设备和工具，以便高效、专业地开展售后保养维修作业。</li>
        <li>当专用设备与工具出现损坏、丢失时及时维修与购买，并随新车型出现而购买相应设备与工具，保证能够满足日常业务开展需要。</li>
        <li>实现所有设备和工具登记造册，制定专业工具管理制定并按规定保管、存放及领用。</li>
        <li>保证专用工具、设备及仪器都应建立档案，定置存放，专人管理。</li>
        <li>专用设备与工具管理的最终目的是提高设备、工具的利用率，避免资源的浪费，确保维修生产的正常进行，为企业创造效益。</li>
    </ul>
    <h4>设备和工具的分类</h4>
    <ul>
        <li>
            通用设备/工具：
            <ul style="list-style:lower-latin">
                <li>通用设备，指符合行业相关标准的、可以用于不同品牌和车型的设备，例如举升机、空气压缩机、车身大梁校正器、烤漆房及润滑设备等。</li>
                <li>通用工具，指符合行业相关标准的、可以用于不同品牌和车型的设备，例如废气排放分析仪、四轮千斤顶、钣金二氧化碳焊接机、气动研磨机组等。</li>
            </ul>
        </li>
        <li>
            专用设备/工具：
            <ul style="list-style:lower-latin">
                <li>专用设备，生产厂家提供的专门用于大众进口汽车车型的设备，例如电子检测仪等</li>
                <li>专用工具，生产厂家提供的专门用于大众进口汽车车型的工具，例如油封拆装器等</li>
            </ul>
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter36.png" class="full-width" />

    <h3 id="section-4-02">设备与工具管理要点</h3>
    <h4>设备和工具订购管理标准</h4>
    <ul>
        <li>为了保证服务质量，经销商按照大众进口汽车的车间需求订购车间工具设备。</li>
        <li>大众进口汽车提供通用设备/工具、专用设备/工具清单。</li>
        <li>经销商采购的工具设备必须满足大众进口汽车车型的维修需求。</li>
        <li>设备/工具管理员要对采购工具进行验收（参见附表：设备与工具验收单），并制作设备/工具清单。</li>
    </ul>
    <h4>设备和工具订购管理标准</h4>
    <ul>
        <li>经销商专用工具室面积不小于45平方米，应设有工具挂板、货架。</li>
        <li>专用工具室建议与车间在同一层以便工作时取用，各区域的设计应该根据工具室的实际尺寸和设备的实际尺寸来划定。</li>
        <li>专用工具室应该有明确的分区用于不同类型的工具摆放，包括VAS5051B专用存放区和其他体积或重量较大的专用工具存放区。</li>
        <li>专用工具室不得堆放其他无关杂物，地面保持整洁。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter37.png" class="full-width" />
    <h4>设备和工具日常管理</h4>
    <ul>
        <li>设备和工具需建档、造册（参见附表：设备与工具清单），通用和专用设备/工具由设备/工具管理员负责日常管理与维护。</li>
        <li>配备给维修技师执行修护任务的工具，领用人员负责保管及维护。</li>
        <li>维修人员使用专用工具，履行借用及归还登记手续（参见附表：设备与工具借用登记表）。</li>
        <li>维修人员在使用专用工具完毕后，应将之擦拭清洁并立即归还；如借用未能当日完成作业，致使次日仍需借用时，亦应于当日下班前先行归还，待次日再办理借用。</li>
        <li>专用工具保管人员于每日下班前，应盘点借出的各项专用工具，确定是否全数归还，如有未归还的专用工具，应立即要求借用人员归还。</li>
        <li>维修技师每日下班前应清点并维护个人工具，设备/工具管理员定期清点维修技师工具车的个人工具，补齐并督导清洁维护事宜。</li>
        <li>对精密工具和设备必须根据仪器的调校要求，定期进行润滑、调校和标定等工作。</li>
        <li>对检测工具及设备应设立完整的润滑、调校和标定的管理记录，保证其始终能达到所需的精度范围。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter38.png" class="full-width" />
    <h4>设备和工具遗失与报废</h4>
    <h5><b>设备与工具遗失、损坏</b></h5>
    <ul>
        <li>设备与工具因保管不当而导致遗失、短缺时，有关保管人员均需主动申报，并照规定赔偿补充。</li>
        <li>设备与工具因年久使用而致磨损的正常损坏，应申请报废，经车间经销商及服务经理签准后，向工具管理仓库申请更换新品。价值较大的需签呈呈报，经有关部门批准后，得以报废，申购新品。</li>
        <li>设备与工具因操作不当或故意破坏，经车间经理确认其为不正常损坏，则需填报报废申请单，经服务经理签准后，申请更换购买新品，其赔偿依照规定办理。</li>
        <li>设备与工具如有遗失或短缺的情形，在清点作业时发现未申报，其有关管理人员需就遗失或短缺的项目，按工具原价全额赔偿。</li>
    </ul>
    <h5><b>设备与工具报废</b></h5>
    <p>车间经理根据设备使用期限规定或设备发生故障无法修复时，上报服务经理申请报废，服务经理批准后，实施报废，并做记录。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter39.png" class="full-width" />
    <h3>工具表单</h3>
    <h4>附表：设备与工具验收单（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter40.png" class="full-width" />
    <h4>附表：设备与工具清单（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter41.png" class="full-width" />
    <h4>附表：设备与工具借用登记表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter42.png" class="full-width" />
    <br />
    <br />
    <br />
    <br />

    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-5">效率管理</h3>
            <br />
            <p>
                维修效率是衡量车间维修工作的重要指标，也是影响客户满意度的主要因素之一。维修效率涉及场地、设备、人员等工作效率，维修效率的高低受维修技师的专业能力、车间设备与设施、车间派工和进度管理效率等方面因素的的影响，本节重点介绍车间派工和维修进度管理方法，目的是合理利用车间场地、设备和人力资源，提高维修效率，避免出现浪费，提高客户满意度。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-5-01">车间效率管理概述</a></li>
                <li><a href="#section-5-02">车间派工管理</a></li>
                <li><a href="#section-5-03">维修进度管理</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-5-01">车间效率管理概述</h3>
    <h4>效率管理概述</h4>
    <p>维修效率是衡量车间维修工作的重要指标，也是影响客户满意度的重要因素。车间维修效率的高低受维修技师的专业能力、车间设备与设施、车间派工和进度管理效率等方面因素的的影响，本节重点介绍车间调度进行介绍。</p>
    <h4>车间调度的内容</h4>
    <p>调度是指按照施工单据所列项目、时间，以及服务顾问与客户陈述的要求和技师的技术状况安排作业任务，并根据施工单据项目、时间和施工进度情况调动人员协作完成任务完成作业的过程。</p>
    <p>车间调度的目的是合理利用车间各方面资源、快速地完成车间维修作业，确保按照约定的时间交车，避免车间车辆积压，以提高售后工作效率和售后客户满意度。</p>
    <p>车间管理中，一般将车间调度分为两部分进行管理，前期对维修作业进行安排的过程称为派工管理，维修过程的时间和进度的管控称为进度管理。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter43.png" class="full-width" />
    <br />
    <br />

    <h3 id="section-5-02">车间派工管理</h3>
    <h4>派工管理概述</h4>
    <h5><b>派工的基本原则</b></h5>
    <ul>
        <li>按车辆优先权进行派工和维修工作，返修、预约和客户现场等待车辆优先。</li>
        <li>返修或索赔车辆应安排技术能力较高的维修技师施工。</li>
        <li>派工时要充分尊重客户对维修技师的选择权。</li>
        <li>派工应以交车时间要求为基准，合理地安排维修工位。</li>
        <li>根据维修内容及工艺确定维修工序先后，保证维修效率和质量。</li>
        <li>避免出现同一工种之间或不同班组之间工作量差距过大的现象。</li>
    </ul>
    <h5><b>派工模式</b></h5>
    <p>经销商车间派工大致可以分为小组派工、集中派工和混合派工三种模式，如下表所示。</p>
    <ul>
        <li>一般而言，小组派工模式适合入场台次相对较小的经销商，要求服务顾问有较强的能力，可以指导小组开展工作，采用小组派工模式要避免服务顾问业务能力差异造成维修人员不满，为了避免出现这种负面效应，经销商可以定期将服务顾问和维修班组进行重新配对。</li>
        <li>集中派工模式的特点是设置专门的人员进行派工和调度，按照顺序派工也可以保证公正，不过要求调度人员保持公平的态度，否则会造成维修人员抱怨。</li>
        <li>为了取小组派工和集中派工之长，并避免两者的弊端，经销商可以选择混合派工模式。但是混合派工模式也很难根除派工过程中的问题。</li>
        <li>无论采用何种派工模式都需要考虑如何发挥这种模式的优势，同时采取适当措施，规避该种模式的弊端。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter44.png" class="full-width" />

    <h4>车间派工流程（集中派工模式）</h4>
    <h5><b>派工工作流程图</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter45.png" class="full-width" />
    <h5><b>派工执行要点</b></h5>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter46.png" class="full-width" />
    <br />
    <br />

    <h3 id="section-5-03">维修进度管理</h3>
    <h4>维修进度管理要点</h4>
    <p>车间作业过程中，需要随时关注车辆维修的进度和状态；维修班组要保证维修质量的前提下，专业高效地完成维修作业；车间经理要加强现场监控和指导，及时解决车间维修作业中出现的问题。</p>
    <h5><b>调度人员</b></h5>
    <ul>
        <li>在派工完成后，及时填写车间维修进度管理看板。</li>
        <li>要将看板悬挂在显著位置，正确反映维修车间内主要修理进度情况。</li>
        <li>对距交车时间在30分钟内的车辆，调度人员要到工位查看，并与维修班组就维修进度进行沟通。</li>
        <li>当实际维修工作发生变化，调度人员与服务顾问沟通，并及时调整看板相关内容。</li>
    </ul>
    <h5><b>维修班组</b></h5>
    <ul>
        <li>维修班组对车辆维修进度负责。在接到调度人员的委托书，要对要求的完工时间进行评估，发现问题立即与调度人员沟通。</li>
        <li>当实际维修工作发生变化，维修班组要及时与调度人员和服务顾问沟通，并及时调整看板相关内容。</li>
        <li>维修过程中如果出现意外情况影响维修进度，维修班组要立即上报车间经理或技术经理，以寻求车间资源或技术层面的支持，以确保维修进度不受影响。</li>
        <li>如果是在车间范围内无法解决的情况出现，由车间经理上报服务经理协助解决。</li>
        <li>维修班组如果提前预计到在规定的时间内不能完工，需要提前20分钟通知调度人员，调度人员上报车间经理，并通知服务顾问。</li>
    </ul>
    <h5><b>车间经理</b></h5>
    <ul>
        <li>车间经理根据维修管理看板监控车辆维修进度。</li>
        <li>车间经理不定期地巡视、监控车间的工作和安全情况，确保维修技师使用专用工具按要求进行维修。</li>
        <li>车间经理要对当月的准时交车情况进行统计分析，找出问题点并进行改进、提升。</li>
        <li>车间经理要在车间的月/周例会上，对上月/周的延迟交车案例及维修进度控制的优秀案例进行总结。</li>
    </ul>
    <h4>维修管理看板使用</h4>
    <h5><b>基本要求</b></h5>
    <ul>
        <li>车间应采用维修进度管理看板以监控车间作业开展进度。</li>
        <li>看板悬挂在显著位置，根据生产情况进行适时更新，准确反映车间主要修理进度情况。</li>
        <li>看板由负责调度的人员填写和更新。</li>
    </ul>
    <h5><b>看板使用</b></h5>
    <ul>
        <li>调度人员派工完毕，将任务委托书交给维修技师，填写维修进度管理看板工位、班组、维修人员及预计交车时间等信息。</li>
        <li>在维修过程中，如有待料或追加项目，维修技师应该先通知调度人员，确认后做相应标注。</li>
        <li>维修作业结束后，调度人员在待检查栏中标注。</li>
        <li>维修完毕，客户离开后，调度人员从管理板上记录实际交车时间。</li>
        <li>如果是在车间范围内无法解决的情况出现，由车间经理上报服务经理协助解决。</li>
        <li>维修班组如果提前预计到在规定的时间内不能完工，需要提前20分钟通知调度人员，调度人员上报车间经理，并通知服务顾问。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter47.png" class="full-width" />
    <h5><b>维修进度管理看板填写</b></h5>
    <ul>
        <li>对维修项目进行分类，不同类别的维修项目设计不同颜色的色块。</li>
        <li>车辆进厂时，调度根据在基本派工原则的指导下进行派工，并将车牌号、时间、类型等标注完整。</li>
        <li>调度人员下班后将看板上信息进行统计，并计算出准时交车率、班组实际作业时间等。</li>
        <li>当维修车辆出现待料、车辆当天不能完工等状况时，在看板上进行标注。</li>
    </ul>
    <h4>跨日作业管理</h4>
    <p>跨日作业管理包括两个方面，一方面是对跨日工作的统计，以便更好地进行管理；另一方面是对次日日常工作的规划和准备，做到未雨绸缪，避免因为准备不足造成进度的延误。</p>
    <h5><b>统计跨日完工的原因</b></h5>
    <p>以日为单位统计无法当日出厂的跨日完工车辆数，并判断无法当日完工的原因：</p>
    <ul>
        <li>等待备件</li>
        <li>人力不足、工作太多</li>
        <li>车辆在维修过程中发现需要增项，要追加工作</li>
        <li>低估修复所需时间</li>
        <li>工作排程不当等</li>
    </ul>
    <h5><b>次日工作规划</b></h5>
    <ul>
        <li>车间与预约专员确认次日已预约的车辆和作业项目，根据需要做必要工位、备件等准备</li>
        <li>服务顾问催促当日未完工的工作</li>
        <li>确认所需备件、工具、维修技术等信息已准备到位</li>
        <li>留意疑难故障或困难的工作</li>
    </ul>
    <h4>跨工位作业管理</h4>
    <p>顾名思义，跨工位作业就是需要在不同的工位完成的维修项目，对于工位维修项目，需要从接待、派工与调度、质量检查等各个环节加以管控，以保证维修质量和维修效率。</p>
    <ul>
        <li>在接待诊断环节，准确地判断需要进行的维修项目，避免后续出现增项，造成连锁反应。</li>
        <li>在确定维修项目之后，要确认工位、技师、备件以及工具设备的可用性。</li>
        <li>要结合车间工作安排，进行派工，要注意不同工位之间工作的衔接。</li>
        <li>在维修过程中，车间经理要时刻关注维修进度，一旦发生维修项目变动，要及时协调和安排后续工序维修人员的工作。</li>
        <li>要严格进行跨工位的维修质量管理，维修人员在接收上一道工序完成的车辆后，严格进行质量检查，尤其是钣金维修项目，以避免造成油漆材料和时间资源的浪费。</li>
    </ul>
    <br />
    <br />

    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-6">维修质量管理</h3>
            <br />
            <p>
                维修质量是车间生产的生命，经销商必须保证维修质量符合顾客的期望，确保客户车辆能被一次修复，不断提到维修技术和效率，提高顾客的满意度和忠诚度，提升品牌形象。为了保证车间维修质量，经销商首先要树立质量管理的观念和意识，建立质量检验体系并在日常工作中严格执行，为了不断提高维修技术和维修质量，经销商还需要建立维修质量不断改进和提升的机制。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-6-01">维修质量管理概述</a></li>
                <li><a href="#section-6-02">服务流程中的维修质量管理</a></li>
                <li><a href="#section-6-03">返修管理</a></li>
                <li><a href="#section-6-04">车间测试</a></li>
                <li><a href="#section-6-05">Q-check质量管理系统</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-6-01">维修质量管理概述</h3>
    <h4>维修质量的重要性</h4>
    <p>企业的生存和发展很大程度上取决于提供给用户的服务的质量，服务质量由两个基本因素构成，即服务过程质量与维修质量，维修质量需要车间建立一系列维修质量管理体系来保障。</p>
    <h5><b>车间维修质量管理的目的</b></h5>
    <ul>
        <li>确保客户车辆维修状态良好，能按质量标准要求及时交车。</li>
        <li>及时发现质量问题，规范维修作业质量管理，完善维修质量管理体系。</li>
        <li>确保客户车辆能被一次修复，减少返修率。</li>
        <li>通过质量问题分析，提升维修技术水平，提升维修的效率，减低维修成本。</li>
        <li>提高客户的满意度和忠诚度，提升品牌形象。</li>
        <li>保障安全生产。</li>
    </ul>
    <h5><b>车间维修质量管理内容</b></h5>
    <p>车间维修质量管理是一项系统工程，因为车间维修质量影响因素多、涉及人员广，因此进行维修质量管理就需要多部门进行配合系统、长期地开展。</p>
    <p>为了保证车间维修质量，经销商要树立正确质量管理观念，严格执行服务核心流程，通过流程执行避免维修质量问题的产生。</p>
    <p>在维修质量出现问题后，经销商要加强内部返修和外部返修质量管理，定期对维修质量数据进行统计和分析，并针对存在的的问题进行改善。</p>
    <p>经销商可以借助大众进口汽车Q-check质量管理系统进行维修质量管理。</p>
    <br />

    <h3 id="section-6-02">服务流程中的维修质量管理</h3>
    <h4>售后维修质量管控关键节点</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter48.png" class="full-width" />
    <h4>售后质量管控要点</h4>
    <h5><b>接车中的质量管理</b></h5>
    <ul>
        <li>服务顾问详细记录客户车辆问题是一次修复成功的第一步。</li>
        <li>在客户接待过程中，服务顾问清楚了解客户以往维修服务记录信息。</li>
        <li>必须充分记录顾客关心的问题重点与要求。</li>
        <li>应详细询问用户车辆故障发生时的现象、车辆日常使用条件、故障发生频率及条件等重要信息，并作好相应记录。</li>
        <li>每次客户服务后，均详细记录与本次服务有关的各种维修服务技术信息，存档以便于查找。</li>
    </ul>
    <h4>售后维修质量管控要点</h4>
    <h5><b>诊断中的质量管理</b></h5>
    <h5>诊断过程质量管控要点</h5>
    <ul>
        <li>对于可重现的故障，应陪同客户实车检查，以便了解实际情况，分析故障原因，制定维修方案。</li>
        <li>对于较难重现的故障或暂时难以判断的故障，应查阅维修档案、维修通讯、维修技术简报等技术资料，以便尽可能准确制定维修方案。</li>
        <li>车辆诊断过程中，如有必要，请技术经理帮助分析故障原因，制定维修方案。</li>
        <li>在查阅技术资料并经过分析后仍无法判断的车辆故障，由技术经理向大众进口汽车申请技术支持。</li>
    </ul>
    <h5>诊断过程质量改进措施</h5>
    <ul>
        <li>技术经理或维修技师做好日常维修案例收集、积累。</li>
        <li>技术经理应该定期举办内部技术培训和讨论。</li>
        <li>对新问题、疑难杂症或暂时难以准确判断的故障应予以记录，并向大众进口汽车及时反馈。</li>
        <li>技术经理积极参与大众进口汽车技术交流与分享。</li>
    </ul>
    <h5><b>维修中的质量管理</b></h5>
    <h5>维修开始前的准备</h5>
    <ul>
        <li>为了保证按照要求进行维修，维修及时必须接受过与该车辆故障有关的技术培训。</li>
        <li>在收到新的维修手册、维修通讯或维修技术简报等技术资料后，及时组织相关人员进行内部培训。</li>
        <li>维修技师应在维修前完全了解车辆故障信息，如有必要，应亲自试车检查。</li>
        <li>维修技师在维修开始前确认备件库有相应备件。</li>
        <li>在工具和设备完好的前提下实施维修。</li>
    </ul>
    <h5>维修作业过程中的质量管理</h5>
    <ul>
        <li>维修技师需严格按照维修手册、技术通讯等技术资料的要求完成维修。</li>
        <li>不能用其它工具替代维修手册特殊指定使用的专用工具，不能擅自改变技术资料规定的诊断步骤。</li>
        <li>在完成每一步维修作业后，需对该维修结果进行功能检查。</li>
        <li>如发现维修方案有偏差或有其它的故障隐患，应及时纠正错误方案或对故障隐患进行及时的修理。</li>
        <li>遇到维修疑难问题，及时请求技术经理给予技术支持，必要时由技术经理向大众进口汽车寻求支持。</li>
        <li>如遇到由于操作不当引起车辆损失，应及时通知服务顾问、服务经理处理。</li>
        <li>维修技师应树立质量第一的观念，进行上下道工序互检，“不接受、不制造、不传递”质量缺陷。</li>
    </ul>
    <h5><b>维修质量检验</b></h5>
    <h5>维修技师自检</h5>
    <ul>
        <li>维修技师根据维修工单的作业内容自检，逐项检验是否达到技术标准，自检完毕签字确认。</li>
        <li>可以由班组内容其他维修技师对自己负责的维修项目进行检验。</li>
    </ul>
    <h5>班组长检验</h5>
    <ul>
        <li>维修班组长对本班组的维修质量负责。</li>
        <li>在其本班组成员检验完成后，班组长应按规定对所完成的维修项目进行质检，并核对是否所有维修项目和操作内容均已完成。</li>
        <li>当维修项目较多，特别是涉及到跨工位工作时，个人或班组维修项目结束，在工单上标记，避免漏项。</li>
        <li>当发现问题时，必须采取相应措施进行纠正，并将结果应反馈给维修技师，以提高维修技师的技术水平。</li>
        <li>完成质检后，班组长应当在维修工单签字确认。</li>
    </ul>
    <h5>班组之间的质量检验</h5>
    <ul>
        <li>当车辆需要跨工位维修时，下道工序班组在接收车辆时需要进行维修质量检验，做到“不接受、不制造、不传递”质量缺陷。</li>
        <li>对照委托书检查上道工序需要完成的维修项目是否全部完成，维修质量是否符合要求。</li>
        <li>检查维修人员和维修班组长是否按照要求签字确认。</li>
    </ul>
    <h5>质检员终检</h5>
    <ul>
        <li>对于完工车辆，质检员负责终检，要严格按照《任务委托书》检验有无漏项。</li>
        <li>检验客户报修的故障及用户特别交代的事项已经完全解决，满足客户需求。</li>
        <li>检查各维修项目技师签名。</li>
        <li>对需要路试的车辆严格按照规定的试车路线进行试车。</li>
        <li>终检合格后质检员在任务委托书上签字。</li>
        <li>对检验不合格的车辆，要求主修技师重新操作。</li>
        <li>对于外部返修车辆，技术经理要参与认定，协助维修人员制定维修方案。</li>
        <li>技术经理或车间经理进行车间过程检查，随机抽检已终检的车辆，制作月度抽检报告。</li>
        <li>技术经理要亲自对发动机大修或价值较高的总成修理的车辆进行技术参数测量和现场检验，并进行车辆完工出厂前检查。</li>
        <li>客户投诉、涉及安全性能等的修理、返修等，应优先、重点检验。</li>
        <li>车间经理与技术经理随机抽检已终检的车辆，比例不低于10%（参见附表：维修质量抽检表）。</li>
    </ul>
    <h5><b>交车前质量检验</b></h5>
    <p>车辆维修、质检和洗车完毕，服务顾问在交车完毕要再次进行车辆质量检验，主要检查内容包括维修项目是否全部完成，质量是否符合要求：</p>
    <ul>
        <li>核对单据是否齐全、签字是否合格，确认车钥匙已接收。</li>
        <li>是否在约定的时间完成维修。</li>
        <li>检查维修工单上的所有项目，包括增项已经作业完毕，故障完全排除，性能良好。</li>
        <li>检查车内设施是否有额外损伤情况，如：仪表板、座椅、内饰板等。</li>
        <li>检查车内是否留有不必要的物品，如：工具、无关的备件、抹布。</li>
        <li>仪表警告灯显示正常，时钟、音响、座椅恢复成初始状态，内外部后视镜调整到适当范围。</li>
        <li>旧件是否按照约定方式处理，如客户带走的是否已经包装好并置于后备箱。</li>
        <li>检查车辆内饰、外观是否清洗干净，外观是否有新的损伤。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter49.png" class="full-width" />
    <br />
    <br />

    <h3 id="section-6-03">返修管理</h3>
    <h4>返修管理概述</h4>
    <p>虽然车间返修都不可能完全避免，经销商需要正视内部和外部返修，对于返修进行全面管理，减少返修的发生。内部返修是指没有出厂前或者没有交付客户前因为质量问题进行的修理工作。外部返修是指客户使用后发现质量问题相关生产方返回修理，两者最大的区别就在是否交付客户使用。</p>
    <h5><b>返修存在的原因</b></h5>
    <p>一般来说，产生内部和外部返修的主要原因是员工的责任心，除此之外，客观因素通常涉及：</p>
    <ul>
        <li>缺少技术资料或资料未更新</li>
        <li>缺少测试设备或设备不精确</li>
        <li>缺少工具或工具损坏</li>
        <li>维修技师技能/培训不够</li>
        <li>接受任务委托书或分派任务委托书时有误造成员工超负荷工作，或员工数量不足</li>
    </ul>
    <h5><b>内部返修管理要点</b></h5>
    <ul>
        <li>质检员按照质量检验相关要求对完工车辆进行检验，发现需要内部返修的车辆。</li>
        <li>质检员与维修班组进行探讨，找出问题原因，维修班组进行车辆维修。</li>
        <li>质检员对内部返修车辆进行维修过程记录、原因分析。</li>
    </ul>
    <h5><b>外部返修管理要点</b></h5>
    <ul>
        <li>车辆出车间如再次发生相同故障返厂，服务顾问查阅上次维修工单，确认是否为返修项目。</li>
        <li>如确认是外部返修，车间经理应分析返修原因，并制定维修方案。</li>
        <li>返修项目应开具维修工单和返修车处理记录表交车间维修，返修车辆优先安排维修。</li>
        <li>对于外返车辆，技术经理或车间经理进行终检。</li>
        <li>对外部返修车辆，交车后要进行回访跟踪，了解车辆状态</li>
    </ul>
    <h4>返修分析与质量改善</h4>
    <ul>
        <li>定期对维修质量进行统计和分析。</li>
        <li>针对未能一次修复的案例，车间经理和技术经理每周组织一次专项技术交流，避免类似故障重复发生。</li>
        <li>车间经理对返修单进行存档，并每月进行汇总和分析（参见附表：返修汇总表）。</li>
        <li>车间经理定期与技术经理沟通分析返修的原因及改进的对策。</li>
        <li>服务经理在每月售后例会上通报维修质量存在的问题以及下月的改善措施。</li>
        <li>车间经理定期与技术经理沟通分析返修的原因及改进的对策，制定改善措施，开展针对性培训。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter50.png" class="full-width" />
    <br />
    <br />

    <h3 id="section-6-04">车间测试</h3>
    <h4>车间测试概述</h4>
    <p>定期、持续的车间测试对保证长期稳定的质量至关重要。</p>
    <p>车间测试是指经销商提前与客户商定，使用客户的车辆提前准备特定的故障，在协定的时间入店，体验售后服务流程，了解售后人员诊断和排故能力，以此来监督和提升服务和维修质量的一种方法。</p>
    <p>车间测试是进行客户满意度提升和服务质量管理的重要工具和手段。车间测试可以帮助经销商客观地了解自身售后服务和维修现状，发现工作中存在差距和不足，并检查工作的成果。</p>
    <h4>车间测试管理</h4>
    <ul>
        <li>车间测试工作整体由车间经理组织与协调，技术经理负责技术项目。</li>
        <li>车间测试以厂家相关要求为依据，检查项目可以结合厂家组织的飞行检查等相关项目，也可以根据自身客户接待和维修流程中的短板进行调整。</li>
        <li>建议车间测试每月进行一次，样本量根据实际入场台次设定。</li>
        <li>如同质量管理的理念一样，车间测试追求的完美度应该是100%，特别是针对维修质量项目，因为只有“零错误结果”才能向客户展示经销商的优势。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter51.png" class="full-width" />
    <h4>车间测试开展流程</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter52.png" class="full-width" />
    <h5><b>确定车间测试目的</b></h5>
    <p>概括来说，车间测试是经销商进行售后服务工作质量监控和提升的工具。但是对于每一阶段、甚至每一次车间测试工作的开展，经销商都必须设定明确和具体的主题和目的，比如：</p>
    <ul>
        <li>大众进口汽车考虑到最近一段时间某一产品售后维修某一项目总是被忽视，引起客户抱怨，经销商可以结合这一问题设置考核点，了解自身状况。</li>
        <li>经销商可以根据内部质量相关数据，针对某些典型问题设置某一阶段的车间测试主题，以监督和检验质量改善工作的落实情况。</li>
        <li>对于服务质量的项目选择，经销商可以结合大众进口汽车或经销商自身内部满意度调查中的弱项，选择重点需要检查的项目。</li>
    </ul>
    <h5><b>设计检查指标</b></h5>
    <p>在明确车间测试的目的之后，需要围绕这一目的确定检查的内容和指标体系：</p>
    <ul>
        <li>考核内容一般包括常规内容和与本阶段或本次车间测试相关的内容，本次重点检查内容结合检查的目的和目标进行设置。</li>
        <li>确定考核的内容之后，需要对相关内容进行细化，设置为具体的、可以量化、可被观察和感知的指标，最终形成车间测试的指标体系。</li>
    </ul>
    <h5><b>确定车间测试目的</b></h5>
    <p>选择车辆时必须要求能提供必要的定期检查证明。应该选择常规车型，以尽量减少不必要的费用。</p>
    <p>车间测试可以根据自身需求设置技术方面检查项目和服务流程检查项目。</p>
    <p>确定车辆之后，尝试与车主沟通，告知他们在车间测试中将扮演的角色以及费用问题。客户同意参加后，与客户商定检查保养日期，并登记车辆基本信息和车辆状况信息。</p>

    <h5><b>确定车间测试目的</b></h5>
    <p>与客户沟通，确定客户按计划入店，并告知注意事项。在车辆交付之前对预约、接待、车辆问题诊断和维修情况检查和评价，并进行记录。</p>
    <p>车间测试的结果，由技术经理或车间经理进行检查，若条件允许，区域相关人员进行检查。</p>
    <p>检查结束后，技术经理要召集相关人员针对监测结果进行分析。</p>
    <p>研究工作中的薄弱环节，确定引起问题的原因，并制定相应的措施来进行改进。会议内容及改进计划要进行记录，以便在后续工作中进行落实和跟进。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter53.png" class="full-width" />
    <br />
    <br />

    <h3 id="section-6-05">Q-check质量管理系统</h3>
    <h4>Q-check数据库的执行的目标</h4>
    <ul>
        <li>通过系统性的PDI检查、保养检查和维修检查，确保工作质量达到较高水平。</li>
        <li>通过持之以恒的现场检查，建立真实可信的维修质量数据信息库。</li>
        <li>通过内部定期的交流，确保员工积极参与。</li>
    </ul>
    <h4>Q-check数据库的执行流程</h4>
    <ul>
        <li>Q-check数据库的执行建议由车间经理或技术经理负责。</li>
        <li>车间经理或技术经理按检查类型（PDI检查/维修检查/保养检查）及频次要求，新建Q-check。</li>
        <li>使用相应的Q-check 检查表对已完成终检但还未交付客户的车辆进行抽检，并记录检查结果。</li>
        <li>车间经理或技术经理当天将Q-check检查结果录入到数据库中保存数据。</li>
        <li>对于不合格的检查项，检查后的2个工作日内与相应责任人了解情况，在系统中对该项添加备注说明。</li>
        <li>检查后的2个工作日内保存并结束该检查表，每月最后一个工作日从系统中导出Q-check检查评估表。</li>
        <li>车间经理／技术经理组织经销商相关人员对服务薄弱环节共同进行讨论并制定提升行动方案，将行动方案发送给相关人员执行改善并持续跟踪。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter54.png" class="full-width" />
    <h4>Q-check现场检查实施</h4>
    <ul>
        <li>检查人员建议由车间经理或技术经理进行，检查对象为已完工并已质检但未交付的车辆</li>
        <li>检查时间要求以周为周期，为了确保数据的真实有效，检查前不做事先通知</li>
        <li>检查时要求逐项进行点检并在检查表单记录</li>
        <li>检查的文件包括预约登记表、接车单、任务委托书及结算单等</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter55.png" class="full-width" />
    <br />
    <br />

    <h3>工具表单</h3>
    <h4>附表：维修质量抽检表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter56.png" class="full-width" />
    <h4>附表：返修汇总表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter57.png" class="full-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-7">快修管理</h3>
            <br />
            <p>
                为了应对客户数量不断增加、服务等待时间增加以及客户需求多样化的现实，大众进口汽车在服务核心流程的基础上，开发了机电快修服务项目。机电快修服务项目是指由专属人员依据快修服务流程和双人操作法，利用专属的工位、设备和工具，在承诺时间内完成常规保养及附加工作。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-7-01">快修管理概述</a></li>
                <li><a href="#section-7-02">快修流程管理</a></li>
                <li><a href="#section-7-03">快修服务实施</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-7-01">快修管理概述</h3>
    <h4>快修服务的定义</h4>
    <p>但随着经销商保有客户的不断增长，部分经销商车间产能饱和，造成高峰时段客户等待时间过长、服务流程和维修流程被简化等现象。为了提升车间效率，保证客户满意度，大众进口汽车开发了快修服务项目。</p>
    <h5><b>快修服务</b></h5>
    <p>快修服务是由专属人员依据快修服务流程和双人操作法，利用专属的工位、设备和工具，在承诺时间内完成常规保养及附加工作。机电快修服务项目包含常规保养与附加工作：</p>
    <ul>
        <li>常规保养包含更换机油、机油滤清器和保养检查。</li>
        <li>附加工作指常规保养以外的维修项目，以常规小任务为主，例如更换空气滤清器。</li>
    </ul>
    <h5><b>快修服务承诺时间</b></h5>
    <p>快修服务承诺时间是指快修车辆从接收车辆/制作委托书开始到通知客户交车/结算截止的规定时间：</p>
    <ul>
        <li>快修服务承诺时间=常规保养承诺时间+附加工作维修时间</li>
        <li>其中：常规保养承诺时间=接待时间+常规保养维修时间+质量检查时间+洗车时间+交车时间</li>
        <li>其中：洗车时间由经销商自行制定是否向客户承诺</li>
    </ul>
    <h4>快修服务组织架构</h4>
    <p>经销商开展快修服务，需要明确规范快修人员的职责（快修人员岗位职责详见快修服务管理手册）。</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter58.png" class="full-width" />
    <h4>机电快修场地布局</h4>
    <h5><b>机电快修工位</b></h5>
    <ul>
        <li>客户能通过透明客户休息区或通过监控在客户休息区清楚地观看到维修过程，取得宣传效果。</li>
        <li>临近备件仓库，方便及时供应备件，快修工具及设备定位位置方便技师取用。</li>
        <li>工位标线和工具定位线符合大众标准，工位间距大于1米，方便技师维修及维修设备的移动。</li>
        <li>工位为标准尺寸（宽4米X长7米），举升机为双柱举升机。</li>
    </ul>
    <h5><b>快修顾问办公室</b></h5>
    <ul>
        <li>临近经销商接待入口，方便快修顾问接待。</li>
        <li>与预检工位接近，方便车辆预检。</li>
        <li>为统一形象的标准办公室。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter59.png" class="full-width" />
    <h4>机电快修标识</h4>
    <p>快修标识可以充分的展示快修服务，增强客户的感受，同时还可以帮助经销商进行目视化管理。由于机电快修工位通常客户最容易看到，因此经销商要特别注意机电快修标识的管理：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter60.png" class="full-width" />
    <h4>机电快修工具</h4>
    <p>专属的快修工具及设备可提升工作效率，保障生产安全。以下为单快修工位的工具需求，经销商机电快修工具配备可以根据快修服务项目需求增减工具：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter61.png" class="full-width" />
    <br />
    <br />
    <h3 id="section-7-02">快修流程管理</h3>
    <h4>快修服务流程概述</h4>
    <h5><b>快修服务流程</b></h5>
    <p>快修服务流程是以大众服务核心流程为基础，在保证服务品质的前提下，优化工作环节，节约服务时间。下图为快修流程中优化的主要环节：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter62.png" class="full-width" />
    <h5><b>快修服务流程要点</b></h5>
    <p>快修流程在针对服务核心流程部分环节做了优化，为了保证服务质量，经销商要严格执行快修服务流程，确保客户在经销商能够感受到专业、优质的个性化服务。快修流程执行和管理涉及以下方面：</p>
    <ul>
        <li>操作事项：快修流程中执行中的关键事项</li>
        <li>工具：快修服务流程执行过程中的使用到的工具、表卡等</li>
        <li>责任人员：快修流程执行各个环节对应的主要责任人</li>
    </ul>
    <h4>快修服务流程要点</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter63.png" class="full-width" />
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter64.png" class="full-width" />
    <br />
    <br />
    <h3 id="section-7-03">快修服务实施</h3>
    <h4>快修服务实施要点</h4>
    <h5><b>快修流程实施注意事项</b></h5>
    <ul>
        <li>快修服务尽量以预约快修客户为主；预约专员及服务助理能够充分掌握店内快修服务项目的判断标准，根据判断结果向客户推荐快修服务。</li>
        <li>快修车辆不需要主动向客户推荐对话式接待，但车辆须严格按照快修预检流程实施。</li>
        <li>快修技师需严格按照双人操作法维修车辆，按照先检查，后维修原则维修车辆，保证第一时间向快修顾问反馈增项项目。</li>
        <li>备件人员需优先配送快修车辆备件；质检员优先检查快修车辆，最好在快修工位检查；车辆清洗与结算单制作需同时进行。</li>
        <li>各部门人员要积极向客户宣传快修。</li>
    </ul>
    <h5><b>快修话术</b></h5>
    <ul>
        <li>“X先生/女士，根据本次保养项目，向您推荐快修服务，快修服务不但能够保障车辆在承诺时间完成维修工作，还有40项保养检查项目来保证爱车的使用安全。”</li>
        <li>“快修服务在__日__时或__日__时还可以安排，您看哪个时间更方便？”</li>
        <li>“快修服务只针对快修车辆，如果维修项目变化，会优先安排到一般维修工位维修，请您了解。”</li>
        <li>“为了让您更好地了解车辆状况，我们一起对您的爱车做个初步预检，大概需要8分钟，您看可以吗？</li>
        <li>“请您在这里稍适休息，技师会马上进行车辆检查，检查过程中如发现新的问题，我们会及时通知您，为了更好的了解维修过程和维修进度，您可以通过透明玻璃观看，如有需要可以随时与我沟通。”</li>
        <li>“X先生/女士，技师在检查车辆中发现XX已经损坏，这个零件的主要功能是XX；及时更换可以更好的保证车辆XX性能更好。更换这个零件需要XX元材料费，XX元工时费，总计XX元，预计这个项目需要XX分钟，您看可以吗？（可以）预计会在X点X分交车。</li>
        <li>“快修服务可以保证爱车的维修时间，希望您以后在来保养时，继续预约，我们会根据项目，优先给您安排快修服务。”</li>
        <li>检查时间要求以周为周期，为了确保数据的真实有效，检查前不做事先通知</li>
        <li>检查时要求逐项进行点检并在检查表单记录</li>
        <li>检查的文件包括预约登记表、接车单、任务委托书及结算单等</li>
    </ul>
    <h4>快修服务保养检查表（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter65.png" class="full-width" />
    <h4>快修服务保养检查表（续表）（样表，仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter66.png" class="full-width" />
    <h4>常规保养双人操作法</h4>
    <p>双人操作法是由A/B两名维修技师，按照保养作业规范要求，相互合作、有序高效的完成保养工作的作业方法，实施双人操作法的目的是节约时间、保证质量、展示效果。双人操作法的实施要注意：</p>
    <ul>
        <li>工作内容的制定要按照ELSA保养检查表中的工作内容及标准。</li>
        <li>工作流程要清晰，A/B技师分工明确，A技师重点负责车内及底盘，B技师重点负责外观及发动机。检查工作在前，维护工作在后。及时反馈检查结果，为维修增项提供时间。</li>
        <li>根据实际灯光位置、显示方式制定；动作简洁流畅，注重展示效果。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter67.png" class="full-width" />
    <p>备注：</p>
    <ul>
        <li>双人操作法步骤详见《机电快修服务双人操作法》。</li>
        <li>上述所列作业项目为基本项目，经销商可以在保证效率和质量的基础上进行适当增加。</li>
    </ul>
    <h4>快修关键指标管理</h4>
    <h5><b>快修准时交车率</b></h5>
    <p>机电快修的目的是优化流程、提高效率、进行服务展示，为了达到这些目的，需要对快修工作进行监控。机电快修服务执行状况，可通过快修准时交车率和快修工位周转率进行评估。快修准时交车率就是快修车辆按照承诺的交车时间将车辆交给客户的比例：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter68.png" class="full-width" />
    <p>为了保证承诺时间内将快修车辆交给客户，要尽量缩短快修车辆在店时长包括等待接待时长、接待时长、等待维修、维修时长、质量检查时长、等待交车时长、交车时长等。</p>
    <h5><b>快修工位周转率</b></h5>
    <p>快修工位周转率是快修工位每天的维修台次与工位数量的比值：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter69.png" class="full-width" />
    <p>影响快修工位周转率的因素有快修车辆数量和维修时长，为了提高快修工位周转率，经销商要优化快修场地、规范机电快修流程，快修技师要不断提高维修技能和快修工具使用技巧。</p>
    <h5><b>劳动效率</b></h5>
    <p>劳动效率就是快修车辆售出工时与实际生产性工时的比值：</p>
    <img src="~/Content/images/OperationStandard/Aftersales/chapter2/chapter70.png" class="full-width" />
    <p>劳动效率反应快修技师的工作效率。其中售出工时是指快修项目的标准工时，实际生产性工时就是快修人员用于该车快修服务的实际生产工时，由于快修技师为2 人，工作时长的两倍才是实际生产性工时。</p>

</div>

