@{
    Layout = "~/Views/OperationStandard/_LayoutSales.cshtml";

}
<style>
    .table-tr-nobordered tr {
        border-bottom: solid 1px #ddd;
    }

    .table-tr-nobordered td {
        border: none !important;
    }
</style>
<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />
    <br />
    <br />
    <h3 id="chapter9">大客户管理</h3><br />
    <br />
    <img src="~/Content/images/OperationStandard/Sales/chapter9/01.png" class="full-width" style="height:600px" />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            大众进口汽车希望大客户业务可以发展为行业的领先者，而实现这个目标需要大众进口汽
            车以及经销商共同努力。大客户中心是大众进口汽车业务战略的组成部分，目的是为了巩
            固大中华区的批售市场。
            本手册目的是为经销商在本地批售市场提供全方位的指导与业务帮助，包括销售、售后和
            市场等。大客户业务经销商可以通过与大众进口汽车共同努力使得大客户业务更加强大，
            我们希望大客户业务经销商可以在未来转变为大客户中心。
            本章内容为总览性概述，更多细节内容请参见《大客户中心工具包》

        </p>
    </div>
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Sales/chapter1/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="#section-1">大客户业务概述</a></li>
            <li><a href="#section-2">大客户销售标准</a></li>
            <li><a href="#section-3">大客户市场营销</a></li>
            <li><a href="#section-4">大客户售后管理</a></li>
            <li><a href="#section-5">大客户部门管理</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-1">大客户业务概述</h3>
            <br />
            <p>
                大客户业务是基于大众进口汽车与大众进口汽车经销商共同开展的业务，本节将会提供大客户业务的概念与业
                务范畴，也为经销商经营大客户业务提供了基本的框架与思路。

            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-1-01">大客户业务的重要性</a></li>
                <li><a href="#section-1-02">市场细分</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3>大客户销售简介</h3><br />
    <h4>大客户销售的定义</h4>
    <p>
        汽车大客户销售是指针对拥有车队的公司、组织或政府部门的销售业务。一些公司拥有较大数量车辆，如
        车辆租赁公司、物流公司、出租车公司、公交服务公司等。在这些公司中，车辆会由员工来使用，组织或
        政府机构中，包括慈善团体、警察部门、消防部门、邮政服务、军队等地方与国家政府机构也是大客户销
        售对应的客户群体。以上这些往往是单位性质的商业行为。
    </p>
    <p>
        同时，大众进口汽车也着眼于客户公司的员工，在员工进行个人购买行为时提供额外的支持，而这里则往
        往是个人购买性质的商业行为。
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/04.png" class="per80-width" />

    <h3 id="section-1-01">大客户业务的重要性</h3><br />
    <h4>车辆对大客户的重要性</h4>
    <p>
        大部分单位或公司等都需要出行，便于业务开展，因而大客户就经常需要购入车辆。尽管近年来环境的变化
        使得公司车辆保有量趋于轻量化，而通过汽车补贴产生的购买行为也在增加，但在中国的大客户市场依然十
        分活跃。税务的变化仍然在继续进行，但大客户业务始终具有很大潜力，因此仍然是具有吸引力的业务。
        车辆是开展公务运作中的关键要素。企业出于下列原因采购车辆：
    </p>
    <ul>
        <li>“交通工具”：当销售经理、销售主管和采购人员将汽车用于公务用途时，是开展业务、产生收入的必要工具；</li>
        <li>通过使用车辆，直接产生收入，如出租车或租车公司；</li>
        <li>许多企业还需要为雇员提供综合薪酬方案，包括购车补贴、公司用车等；</li>
        <li>作为高层管理人员提供的福利或额外待遇。</li>
    </ul>

    <h4>大客户业务对厂家的重要性</h4>
    <p>
        大众进口汽车在大客户业务中具有出色的历史记录，同时，大众进口汽车在中国的大客户业绩也十分出色。
        大众进口汽车仍然正在提升大客户业务以达到以下目的：
    </p>
    <ul>
        <li>确保稳定并建立长期可持续的业绩以及客户关系</li>
        <li>经销商能够维持长期的盈利；</li>
        <li>延续经营环境的稳定性，降低因经济环境变化带来的影响；</li>
        <li>展示大众进口汽车愿同中国重要的大机构开展业务的意愿</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/05.png" class="full-width" />

    <h4>大客户业务对经销商的重要性</h4>
    <p>
        开发大客户业务颇具挑战性，但只要坚持不懈，经销商将会获取大客户并获得多次采购，因此，在一项交
        易中投入的精力可能会带来两项甚至更多的成功交易。
        大客户业务的成功在于始终如一的专注于大客户。销售主管需要评估哪些领域存在着可用于扩大业务的增长机会。这些增
        长机会往往处于大客户领域中，需要始终如一的加以关注。
        大客户业务着眼于长期，需要持续和长期专注。必须保持与大客户的关系，这将有助于：
    </p>
    <ul>
        <li>重复业务</li>
        <li>实现销售目标</li>
        <li>提高客户满意度</li>
        <li>让客户充分了解最新动态</li>
        <li>获得良好口碑</li>
        <li>客户亲和力</li>
        <li>更好的规划</li>
    </ul>
    <h5>经销商利润</h5>
    <p>与大客户的关系不会随着销售成交而终止，而是通过下列五大要点，持续保持：</p>
    <ul>
        <li>大客户的车辆将在经销商处进行维修保养，会带来较高的维修厂营业额</li>
        <li>为备件部门带来业务</li>
        <li>重复购车业务</li>
        <li>二手车</li>
        <li>大客户关系所带来的汽车补贴购车或私人购车业务</li>
    </ul>
    <h5>大客户的车辆在经销商处维修</h5>
    <p>
        大客户和经销商之间保持稳固确定的关系，意味着客户可能会要求其员工在4S店对企业车辆进行维修，增
        加前来4S店维修的车辆，将会提高客流量和维修厂营业额，增加经销商的利润。此外，新增业务也将为备件
        部门带来益处。
    </p>
    <h5>为备件部门带来业务</h5>
    <p>
        当大客户的车辆在4S店进行维修时，他们也为备件部门提高了营业收入，因为大众进口汽车原装备件将用
        于保养和维修。因此，大客户业务也能为4S店中其他收入的领域带来益处。4S店内的备件部门利润率更高，
        因此也在4S店的毛利润业绩中做出重要贡献。
    </p>
    <h5>重复业务</h5>
    <p>
        大客户业务通过重复业务，促进4S店的盈利能力。为了有效实现这个目标，需要实现下列要求：
    </p>
    <ul>
        <li>在销售时收集有关大客户的准确信息</li>
        <li>提供优质的服务，吸引大客户再次光临</li>
        <li>在销售时，辨别和提供升级销售和交叉销售机会</li>
        <li>及时而有意义的沟通至关重要</li>
        <li>
            主动了解大客户的更新换代周期，并围绕这一周期进行规划，与大客户保持密切联系
            重复客户相对于获取新客户的营销成本而言，对现有客户开展营销能够大幅度节约成本，同时节省时
            间也是另一个重要因素，对于4S店的营业业绩而言，两次销售之间的时间越短越好，有助于提高销售频率。
        </li>
    </ul>
    <h5>二手车</h5>
    <p>
        经销商网络中“Das WeltAuto”二手车项目的优势在于大客户能够以旧换新更新车辆。这也为提高4S店的毛
        利润提供了机会。有时，企业也会购买二手车，因此能够通过二手车销售产生大客户业务。
    </p>
    <h5>大客户关系所带来的汽车补贴购车或私人购车业务</h5>
    <p>
        与大客户保持长期关系，这一点至关重要，这也可能在现有大客户进行转介绍时，带来未来商机。大部分
        大客户通过向雇员发出购车补贴，会对雇员产生一定程度的影响力，可能会影响雇员购买某个特定品牌。
        因此，大客户经销商必须与大客户保持出色关系。同时，通过在大客户使用过程中展示车辆，使大客户人
        员在使用中了解车辆，也可能会产生销售线索或个人的销售业务。
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/05.png" class="full-width" />
    <br />
    <h3 id="section-1-02">市场细分</h3><br />
    <h4>定义与重要性</h4>
    <p>
        目前中国的大客户业务依然主要由政府部门（包括警用车）、出租车公司和驾校客户群体占据主导地位。
        然而大客户的细分客户中，如企业客户和汽车租赁公司已经占了整个大客户群体的2/3，同时大客户业务增长也
        非常强劲。
    </p>
    <p>
        为了提高市场透明度，为每个细分市场定制具体战略，对大客户市场已经进行了新的市场细分。对大众进口汽车
        来说，考虑到资产规模与市场地位，企事业单位等商业细分客户（小型长期大客户）是具有重要意义的
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/06.png" class="per80-width" />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-2">大客户销售标准</h3>
            <br />
            <p>
                销售是经营汽车业务的基础工作，为经销商提供利润和未来保有客户的基础，大客户销售过程
                与零售环节当中存在着较多不同，需要考虑问题的内容和角度也有所不同，本节将会为大客户
                销售提供指导，帮助经销商出色完成大客户销售业务。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-2-01">销售标准</a></li>
                <li><a href="#section-2-02">试乘试驾</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />

    <h3 id="section-2-01">销售标准 </h3><br />
    <h4>大客户销售流程</h4>
    <h5>大客户销售流程中的角色和职责</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/07.png" class="per80-width col-md-offset-1" />
    <p>
        为了提高大客户业务的有效性和效率，必须明确遵循大客户销售流程。通过这种方式，可更加充分地发挥大客户服务的潜力。参与各方可参考此文件，更好地实现预期成果。
    </p>
    <h5>大客户销售流程图</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/08.png" class="per80-width col-md-offset-1" />
    <table class="table  table-bordered table-striped-blue">
        <tr>
            <th width="10%">步骤</th>
            <th width="90%">大客户销售流程</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                销售规划
                <ul>
                    <li>定义销售目标</li>
                    <li>以每一个客户群为基础分解销售目标</li>
                    <li>准备整体行动方案</li>
                    <li>为每一个客户群制定具体的实施方案</li>
                    <li>验证每一个实施方案</li>
                    <li>将具体的实施方案融入到客户管理系统中</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                数据分类与筛选
                <ul>
                    <li>按照每一个客户群搜集市场及潜在客户信息</li>
                    <li>对每一客户群进行数据分类分析</li>
                    <li>定义潜在销售对象</li>
                    <li>锁定具体的潜在销售对象</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                商机处理
                <ul>
                    <li>产生销售商机</li>
                    <li>挖掘和主动寻找潜在客户</li>
                    <li>确定潜在客户的特征</li>
                    <li>建立并完善潜在客户的特征</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>
                合同签订
                <ul>
                    <li>准备第一次客户拜访</li>
                    <li>了解客户资料、履历和要求</li>
                    <li>邀请试驾活动</li>
                    <li>大客户特定销售和营销活动</li>
                    <li>确保及时的客户数据更新</li>
                    <li>确定潜在的框架范围、协议和分析</li>
                    <li>准备框架协议</li>
                    <li>给客户提供报价</li>
                    <li>进行销售合同谈判</li>
                    <li>审议及签署销售合同</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>
                履行合同
                <ul>
                    <li>执行达成一致的条款与条件</li>
                    <li>准备所有相关文件（合同、表格等）</li>
                    <li>向相关部门通报关于新合同的信息</li>
                    <li>协调合同执行，并保持与客户方面的沟通</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>
                合同管理
                <ul>
                    <li>将所有与合同相关的文件存档备案</li>
                    <li>监督框架协议执行情况</li>
                    <li>修改相应条款</li>
                    <li>贯彻执行修改的相应条款</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>
                车辆销售
                <ul>
                    <li>车辆预订</li>
                    <li>制定提车及交车流程和服务范围</li>
                    <li>提车及交车清单</li>
                    <li>介绍售后服务团队</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>
                合同监控
                <ul>
                    <li>制定销售报告</li>
                    <li>审核合同协议履行情况</li>
                    <li>制定相应的行动计划</li>
                    <li>分析财务影响</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>
                续约
                <ul>
                    <li>制定客户保留计划</li>
                    <li>确定交叉销售的潜力</li>
                    <li>续约谈判</li>
                    <li>修改合同条款</li>
                    <li>审核及签署新合同协议</li>
                </ul>
            </td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/08.png" class="per80-width col-md-offset-1" />
        <img src="~/Content/images/OperationStandard/Sales/chapter9/09.png" class="per80-width col-md-offset-1" />*@
    <img src="~/Content/images/OperationStandard/Sales/chapter9/05.png" class="full-width" />

    <h3 id="section-2-02">试乘试驾</h3>
    <br />
    <h4>试驾概述</h4>
    <h5> 试驾中的角色与职责</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/10.png" class="per80-width col-md-offset-1" />

    <h5>提供试驾的原因</h5>
    <p>试驾是销售流程中的关键部分，使潜在客户能够亲身体验产品。大客户需要相对较长的时间来试驾车辆，他们需要由其他人来尝试乘坐车辆，并且需要体验车辆在自身环境中的日常使用。通常，试驾的时间为2天至2周。</p>
    <p>试驾之后，经销商需要确保收集到反馈数据并开始跟进活动。试驾计划主要针对的是大中型大客户及政府客户。</p>
    <h5>对大客户的益处</h5>
    <ul>
        <li>对车辆有更好的体验，并且能够收集到更多的信息反馈，有助于车辆选择</li>
        <li>得到专业的咨询意见</li>
        <li>了解大客户的车辆特征与性能等信息</li>
    </ul>
    <h5>对经销商的益处</h5>
    <ul>
        <li>提升客户满意度</li>
        <li>增加销售机会</li>
        <li>通过潜在客户使用车辆来提高车辆使用率，实现营销效应</li>
        <li>深入了解大客户的需求</li>
    </ul>
    <h5>各试驾中心的试驾车辆规划</h5>
    <ul>
        <li>针对与大客户有关的规格，车辆规格必须反映为大客户安排的关键车型。</li>
        <li>对于有高销量大客户的经销商，可根据大客户销售的情况对普通的试驾车辆进行规格调整。</li>
    </ul>
    <table class="table  table-bordered table-striped-blue">
        <tr>
            <th colspan="5">针对大客户采购数量，建议配备试乘试驾车数量如下：</th>
        </tr>
        <tr>
            <td>大客户销售</td>
            <td>车型1</td>
            <td>车型2</td>
            <td>车型3</td>
            <td>车型4</td>
        </tr>
        <tr>
            <td>每年≥5辆车</td>
            <td>
                <ul>
                    <li>发动机排量</li>
                    <li>变速箱</li>
                    <li>颜色</li>
                    <li>内饰</li>
                    <li>整套设备</li>
                </ul>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>每年≥10辆车</td>
            <td>
                <ul>
                    <li>发动机排量</li>
                    <li>变速箱</li>
                    <li>颜色</li>
                    <li>内饰</li>
                    <li>整套设备</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>发动机排量</li>
                    <li>变速箱</li>
                    <li>颜色</li>
                    <li>内饰</li>
                    <li>整套设备</li>
                </ul>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>每年≥20辆车</td>
            <td>
                <ul>
                    <li>发动机排量</li>
                    <li>变速箱</li>
                    <li>颜色</li>
                    <li>内饰</li>
                    <li>整套设备</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>发动机排量</li>
                    <li>变速箱</li>
                    <li>颜色</li>
                    <li>内饰</li>
                    <li>整套设备</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>发动机排量</li>
                    <li>变速箱</li>
                    <li>颜色</li>
                    <li>内饰</li>
                    <li>整套设备</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>发动机排量</li>
                    <li>变速箱</li>
                    <li>颜色</li>
                    <li>内饰</li>
                    <li>整套设备</li>
                </ul>
            </td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/11.png" class="per80-width" />*@
    <h5>试驾车预订流程和工作内容</h5>
    <p>
        预订工作流程图体现了安排试驾、向客户交付试驾车辆、返还车辆、客户反馈收集、如何跟进等步骤，以
        便让客户对试驾更为满意，将积极的试驾体验转化为真正的销售。
    </p>
    <h5>试驾预订流程</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/12.png" class="per80-width col-md-offset-1" />
    <h5>客户要求</h5>
    <p>
        在试驾前，应收集和分析客户数据，以便提供合适的试驾车辆，并确定驾驶试驾车的人员。试乘试驾管理
        规定请参看《销售管理篇之试乘试驾管理》
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/13.png" class="" />
    <h5>试驾车预订</h5>
    <p>试驾车辆预订表能够提供试驾车辆可用性情况的信息，便于大客户销售顾问或后台人员对试驾车辆的管理，提高效率。</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/14.png">
    <h5>
        试驾车型交付与返还一览表
    </h5>
    <p>
        大客户销售顾问或后台人员必须在试驾前后安排合理，以确保客户在试驾中获得安全舒适的体验。
    </p>
    <table class="table table-bordered table-tr-nobordered">
        <tr>
            <th colspan="2">试驾一览表</th>
        </tr>
        <tr>
            <td width="70%" style="border-right:none">车辆状况检查</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">试驾车型清洁度</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">车辆文件</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">车辆规格数据表</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">试驾车型卖点</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">试驾车型交付规程</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">驾驶人员驾照</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">试驾合同</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">紧急援助说明</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">试驾车型返还规程</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">试驾反馈表</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">车辆清洁，在预定系统更改车辆状态</td>
            <td>&#9744;</td>
        </tr>
        <tr>
            <td width="70%">跟进表</td>
            <td>日期：</td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/15.png" class="per80-width" />*@
    <h5>
        反馈意见评估与还车协议
    </h5>
    <p>
        反馈模板有助于大客户销售顾问在试驾结束后向试驾人员收集反馈。
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/16.png" />
    <br />

    <h3>辅助工具 </h3>
    <br />
    <h4>附表：定位用途表</h4>
    <h5>大客户销售大众进口车型定位</h5>
    <table class="table table-bordered table-striped-blue">
        <tr>
            <th width="20%">车型</th>
            <th width="27%">用途</th>
            <th width="27%">购车原因</th>
            <th width="27%">竞争车型</th>
        </tr>
        <tr>
            <td>辉腾</td>
            <td>
                <ul>
                    <li>接待</li>
                    <li>CEO个人车辆</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>地位</li>
                    <li>舒适性、安全性</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>奔驰S级轿车</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>途锐</td>
            <td>
                <ul>
                    <li>高层管理人员个人车辆</li>
                    <li>会接触到越野的地形</li>
                    <li>较高级的管理者</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>越野能力、安全性</li>
                    <li>低调的高档汽车</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>奔驰ML级</li>
                    <li>路虎揽胜极光</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>进口途观</td>
            <td>
                <ul>
                    <li>中层管理人员个人车辆</li>
                    <li>部门用车</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>舒适性，安全性</li>
                    <li>外形低调但可靠实用的SUV</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>宝马X3</li>
                    <li>奥迪Q5</li>
                    <li>丰田RAV</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>迈腾旅行版</td>
            <td>
                <ul>
                    <li>中层管理人员个人车辆 (MNC)</li>
                    <li>员工用车</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>舒适性，安全性，实用性，差异性</li>
                    <li>相较于MPV而言的更好的驾驶性能</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>B级轿车</li>
                    <li>B级MPV</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>高尔夫</td>
            <td>
                <ul>
                    <li>员工用车</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>舒适性，安全性，实用性</li>
                    <li>差异性</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>A级轿车</li>
                    <li>A级MPV</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>尚酷</td>
            <td>
                <ul>
                    <li>员工用车</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>年轻，新鲜感，个性化</li>
                    <li>差异性</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>宝马Mini</li>
                    <li>奥迪A1</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>新甲壳虫</td>
            <td>
                <ul>
                    <li>员工用车</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>年轻，新鲜感，个性化</li>
                    <li>差异性</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>A级轿车</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>T5</td>
            <td>
                <ul>
                    <li>接待</li>
                    <li>部门车辆</li>
                    <li>高层管理人员个人车辆</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>舒适性，安全性</li>
                    <li>宽敞空间，使用灵活性</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>别克GL8</li>
                    <li>奔驰Viano</li>
                </ul>
            </td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/17.png" class="per80-width" />*@
    <h5>大客户销售的客户心态</h5>
    <table class="table table-bordered table-striped-blue">
        <tr>
            <th width="15%"></th>
            <th width="15%">普通公司</th>
            <th width="20%">关键客户企业</th>
            <th width="20%">关键客户企业的员工</th>
            <th width="15%">主要租赁公司</th>
            <th width="15%">VIP</th>
        </tr>
        <tr>
            <td>采购标准</td>
            <td colspan="2">
                <ul>
                    <li>管理层配备车辆：展示形象</li>
                    <li>员工配备车辆：高性价比</li>
                </ul>
            </td>
            <td>
                <ul><li>与个人购买客户一致</li></ul>
            </td>
            <td>
                <ul><li>成本导向</li></ul>
            </td>
            <td>
                <ul>
                    <li>显示地位与声望</li>
                    <li>奢华</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>产品要求</td>
            <td colspan="2">
                <ul>
                    <li>管理层配备车辆：形象，高品质，安全性，具有设计感</li>
                    <li>员工配备车辆：高品质，低价格，多用途，大空间</li>
                </ul>
            </td>
            <td>
                <ul><li>与个人购买客户一致</li></ul>
            </td>
            <td>
                <ul>
                    <li>成本导向</li>
                    <li>汽车质量</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>安全</li>
                    <li>舒适</li>
                    <li>可靠</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>服务要求</td>
            <td>
                <ul>
                    <li>保险</li>
                    <li>维护</li>
                    <li>质保延长</li>
                    <li>金融选项</li>
                    <li>快捷服务</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>保险</li>
                    <li>质保延长</li>
                    <li>配套的发票</li>
                    <li>租赁服务</li>
                    <li>服务包</li>
                    <li>快捷服务</li>
                    <li>专属服务顾问</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>个性化金融方案</li>
                    <li>保险服务</li>
                    <li>上牌服务</li>

                </ul>
            </td>
            <td>
                <ul>
                    <li>个性化金融方案</li>
                    <li>可回购</li>
                    <li>快捷服务</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>一站式购买</li>
                    <li>全套服务包</li>
                    <li>专属人员</li>
                    <li>额外服务： 代用车， 接送服务， 24小时热线等</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>影响因素</td>
            <td>
                <ul>
                    <li>公司拥有者</li>
                    <li>驾驶员意见</li>
                    <li>个人网络</li>
                    <li>试驾</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>公司拥有者或管理人员</li>
                    <li>专业的网络</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>家庭成员</li>
                    <li>同事，工会，人力资源</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>专业的网络</li>
                    <li>商务因素</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>社交媒体</li>
                    <li>品牌声望</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>信息来源</td>
            <td colspan="2">
                <ul>
                    <li>经销商</li>
                    <li>网络汽车门户</li>
                    <li>口碑，CEO推荐</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>网络汽车门户</li>
                    <li>口碑</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>经销商</li>
                    <li>网络汽车门户</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>新闻</li>
                    <li>口碑</li>
                </ul>
            </td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/18.png" class="per80-width" />*@
    <h4>附表：档案结构</h4>
    <h5>大客户客户档案</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/19.png" />
    <h4>附表：经销商月度销售报告</h4>
    <h5>月度销售报告模板</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/20.png" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-3">大客户市场营销</h3>
            <br />
            <p>
                大客户市场由于其目标客户群体的特殊性，与零售客户有着较大的不同，因此在推广大客户业
                务的工作中，与零售市场的推广方式和市场工作有着不同的要求和工作方式，所以经销商在大
                客户市场营销工作的角色与零售市场工作的角色会有所不同。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-3-01">市场营销计划</a></li>
                <li><a href="#section-3-02">市场营销预算</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-3-01">市场营销计划 </h3>
    <br />
    <h4>市场营销计划</h4>
    <h5>
        市场营销计划中的角色和职责
    </h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/21.png" class="per80-width" />
    <p>
        大客户以自身业务为主，不会随意到4S店，因此经销商需要主动与他们进行接触。以商业客户为导向的市
        场营销模式需要聚焦于企业决策者所使用的媒体，同时，所使用的信息要具有说服力，能够吸引注意力，
        信息和语言都需要针对客户具有业务相关性，因此大客户中心需要制定自己的计划。
    </p>
    <h5>
        市场营销目标
    </h5>
    <p>
        设定市场营销目标是启动市场营销计划的第一步，市场营销目标就是经销商想要达到的效果。
        目标设定的基本原则有三个：
    </p>
    <ul>
        <li>确保市场营销目标符合经销商总体的目标</li>
        <li>检查市场营销目标是否是可衡量，可量化的</li>
        <li>目标应专注于推动业务增长的因素</li>
    </ul>
    <h5>营销计划制定要点</h5>
    <p>
        一份市场营销计划应当为一整年制定，没有计划就会容易失去焦点。
        所有的活动需要互相关联，以便经销商寻求与客户的长期合作关系。经销商可以将市场营销计划视为能够
        结构化的开展市场营销的工具，为销售产品或服务提供最优的方式。
        一些保证市场营销计划有效果的影响因素有：
    </p>
    <ul>
        <li>市场营销目标</li>
        <li>数据库管理</li>
        <li>有条理的沟通</li>
        <li>产品部署策略</li>

    </ul>

    <h3 id="section-3-02">市场营销预算 </h3>
    <br />
    <h4>市场营销预算规划</h4>
    <p>
        大客户营销预算应围绕大客户销量占总销量以及零售市场营销预算占总销售额的比例来进行分配。
    </p>
    <b>规划市场营销预算比例</b>
    <table class="table table-bordered table-striped-blue">
        <tr>
            <th width="50%">大客户销量占总销量的比例</th>
            <th width="50%">大客户市场营销占总市场营销预算的比例</th>
        </tr>
        <tr>
            <td>比例＜3%</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>3%≤比例＜3%</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>比例≥10%</td>
            <td>15%</td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/22.png" class="per80-width" />*@
    <h5>假设：</h5>
    <ul>
        <li>大客户营销的高效率会带来相对较小的预算需求</li>
        <li>预算必须留有充分的空间，以便设计成功的大客户宣传和活动</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/05.png" class="full-width" />

    <h3>辅助工具 </h3>
    <br />
    <h4>附表：行动计划模板</h4>
    <h5>
        <b>
            销售与营销行动计划
        </b>
    </h5>
    <p>
        销售与营销计划能够逐月分解出经销商如何营销大客户业务。当每个月的空白位置填写完毕后，经销商的
        市场营销计划就完成了。
    </p>
    <h5>销售与营销行动计划模板</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/23.png" />
    <h4>
        活动规划模板
    </h4>

    <h5>
        <b>
            销售与营销活动日历
        </b>
    </h5>
    <p>
        此计划聚焦于大客户中心需要执行的活动与时间，通常经销商在其他文件中会有更加详细的活动细节描述，此日历中只是大客户中心所需行动的标题。
    </p>
    <h5>
        销售与营销活动日历模板
    </h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/24.png" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-4">大客户售后管理</h3>
            <br />
            <p>
                大客户由于其单个客户产品较多的特点，因此在售后工作中，常常会遇到大量产品同时进厂的
                状况，而大客户对经销商的利润贡献较大，所以，在为大客户提供基本的售后服务过程中，也
                要额外提供更多的增值服务，以便能够更好地为客户服务，帮助经销商获得更高的产值与利润；
                本节主要为经销商提供了几种需要为大客户提供的增值服务介绍。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-4-01">隔夜维修</a></li>
                <li><a href="#section-4-02">便捷出行</a></li>
                <li><a href="#section-4-03">备件快速交付</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-4-01">隔夜维修 </h3>
    <br />
    <h4>隔夜维修服务</h4>
    <h5>
        <b>
            隔夜维修服务的角色与职责
        </b>
    </h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/25.png" class="per80-width col-md-offset-1" />
    <p>
        针对保养或维修的隔夜维修服务是在正常营业时间之外执行的售后服务，仅对大客户提供。服务的内容包括：
    </p>
    <ul>
        <li>常规服务或润滑油服务</li>
        <li>出于保养和维护目的的更换备件，如制动器、雨刮、蓄电池、轮胎和避震器等</li>
        <li>快速检查，包括内饰检验，车辆底部检验，外部车身检验和发动机舱检验等</li>
    </ul>
    <h5>
        <b>
            开展隔夜维修服务的原因
        </b>
    </h5>
    <p>
        能够为驾驶者节省时间，缩短车辆的停用时间，对于大客户十分有利。
    </p>
    <h5>
        <b>
            对大客户的益处：
        </b>
    </h5>
    <ul>
        <li>贵宾待遇</li>
        <li>舒适与便利</li>
        <li>节省时间</li>
        <li>体验客户关怀</li>
    </ul>
    <h5>
        <b>
            对大客户中心的好处
        </b>
    </h5>
    <ul>
        <li>增加维修业务</li>
        <li>被视为客户导向的经销商</li>
        <li>提高客户满意度和保留率</li>
    </ul>
    <h5>
        <b>
            隔夜维修服务工作流程
        </b>
    </h5>
    <p>
        所有经销商的维修厂内都将设有快速服务专属的工位，用于为车辆执行常规保养或维修，无论车龄如何，
        车辆维修时间应短于销售。
        同时，员工轮班计划要保证隔夜维修服务有合适的员工，并满足工作的要求。
    </p>
    <h5>
        <b>
            隔夜维修服务工作流程图
        </b>
    </h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/26.png" class="per80-width" />
    <h5>
        <b>轮班计划表</b>
    </h5>
    <table class="table table-bordered">
        <tr>
            <th>大中型企业销售量</th>
            <th>轮班时间</th>
            <th>频率</th>
            <th>周末维修</th>
        </tr>
        <tr>
            <td>每年≥ 20辆</td>
            <td>22:00 – 06:00</td>
            <td>2 x 周</td>
            <td>无</td>
        </tr>
        <tr>
            <td>每年≥ 50辆</td>
            <td>22:00 – 06:00</td>
            <td>4 x 周</td>
            <td>无</td>
        </tr>
        <tr>
            <td>每年≥ 100辆</td>
            <td>20:00 – 06:00</td>
            <td>每天</td>
            <td>有</td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/27.png" class="per80-width" />*@
    <h5>
        <b>轮班排班表 </b>
    </h5>
    <table class="table table-bordered">
        <tr>
            <td colspan="13">日期：</td>
        </tr>
        <tr>
            <td>维修间</td>
            <td colspan="3">A</td>
            <td colspan="3">B</td>
            <td colspan="3">C</td>
            <td colspan="3">D</td>
        </tr>
        <tr>
            <td rowspan="2">技术员</td>
            <td colspan="3">T1</td>
            <td colspan="3">T3</td>
            <td colspan="3">T5</td>
            <td colspan="3">T7</td>
        </tr>
        <tr>
            <td colspan="3">T2</tdcolspan>
            <td colspan="3">T4</td>
            <td colspan="3">T6</td>
            <td colspan="3">T8</td>
        </tr>
        <tr>
            <td width="100">&nbsp;</td>
            <td width="45">车辆</td>
            <td width="70">维修时间</td>
            <td width="45">部件</td>
            <td width="45">车辆</td>
            <td width="70">维修时间</td>
            <td width="45">部件</td>
            <td width="45">车辆</td>
            <td width="70">维修时间</td>
            <td width="45">部件</td>
            <td width="45">车辆</td>
            <td width="70">维修时间</td>
            <td width="45">部件</td>
        </tr>
        <tr>
            <td>22:00 – 23:00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>23:00 – 24:00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>00:00 – 01:00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>01:00 – 02:00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>03:00 – 04:00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>05:00 – 06:00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="13">
                <h5>备注：</h5>
                <ul>
                    <li>维修间：填写夜间预留维修间号</li>
                    <li>技术员：填写夜间工作技术员姓名</li>
                    <li>车辆：填写故障车辆名称</li>
                    <li>维修时间：填写维修所需时间</li>
                    <li>部件：填写维修部件名称</li>
                </ul>
            </td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/28.png" class="per80-width" />*@
    <p>
        <b>
            夜班和加班额外薪酬方案：
        </b>
    </p>
    <ul>
        <li>加班薪酬方案应符合所有法律法规</li>
        <li>夜班补贴方案</li>
    </ul>
    <h3 id="section-4-02">便捷出行 </h3>
    <br />
    <h4>便捷出行服务</h4>
    <p>
        <b>
            便捷出行服务的角色与职责
        </b>
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/29.png" class="per80-width col-md-offset-1" />
    <p>
        可提供出行组合方案，满足大客户对于提高灵活性的需求。这个组合方案将确保驾驶者即使在计划内或计
        划外的维修超过预期时间长度时，依然能够保障出行。根据维修时间长度和所需出行类型，可运用不同的服务模式。
    </p>
    <p>
        <b>
            开展便捷服务的原因
        </b>
    </p>
    <p>
        和大客户服务中的其他要素一样，主要目标是确保安心无忧的服务，提供短期替代交通，让大客户能够在车辆停用期间
        继续正常执行业务。
    </p>
    <p>
        <b>
            对大客户的益处
        </b>
    </p>
    <ul>
        <li>保持便捷出行，避免不便</li>
        <li>节省时间</li>
        <li>节约金钱</li>
        <li>舒适性</li>
    </ul>
    <p>
        <b>
            对大客户中心的益处：
        </b>
    </p>
    <ul>
        <li>从售后服务中增加收入</li>
        <li>提高客户满意度</li>
        <li>增加与客户的接触</li>
        <li>销售新车的潜在机会</li>
    </ul>
    <h4>便捷出行服务</h4>
    <p>
        <b>
            出行服务组合
        </b>
    </p>
    <p>组合方案可根据具体的销售协议，从基本到高级，分为3个类别：</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="25%">出行服务组合</th>
            <th width="25%">基础</th>
            <th width="25%">中档</th>
            <th width="25%">高档</th>
        </tr>
        <tr>
            <td>出租车服务</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>接送服务</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>礼宾车服务</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>规定</td>
            <td>
                <ul>
                    <li>支付出租车费用最高50元</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>支付出租车费用最高100元</li>
                    <li>接送服务</li>
                    <li>具体小于25km或1小时车程内免费</li>
                    <li>距离大于25km将收取一定费用（具体标准参照第六页）</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>支付出租车费用最高150元</li>
                    <li>接送服务</li>
                    <li>距离小于50km或2小时车程内免费</li>
                    <li>距离大于50km将收取一定费用</li>
                    <li>礼宾车出借</li>
                    <li>不包含燃油费，同一级别车型租借汽车</li>

                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h5>注意：</h5>
                <ul>
                    <li>出租车费用由经销商根据出租车发票进行支付</li>
                    <li>接送服务详细内容请参考相关文件</li>
                </ul>
            </td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/30.png" class="per80-width" />*@

    <h3 id="section-4-03">备件快速交付 </h3>
    <br />
    <h4>备件快速交付服务</h4>
    <p>
        <b>
            快速备件交付服务的角色与职责
        </b>
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/31.png" class="per80-width" />
    <p>
        快速备件交付服务是专门对大客户的一项有利服务。如备件在大客户中心，车将暂时无法提供，而普通
        运送方式的时间花费又比较长，大客户中心会使用快速备件交付下至订单以更快的获取备件，缩短大客户车辆停用时间。
        快速配送是缩短车辆停用时间的另一种方式。
    </p>
    <p>
        <b>
            开展备件快速交付业务的原因
        </b>
    </p>
    <p>
        对大客户的益处：
    </p>
    <ul>
        <li>缩短停用时间</li>
        <li>贵宾待遇</li>
        <li>舒适</li>
    </ul>
    <p>
        对大客户中心的益处
    </p>
    <ul>
        <li>从售后服务中增加营业收入</li>
        <li>高客户满意度</li>
        <li>交叉销售机会</li>
    </ul>
    <p>
        <b>
            工作流程
        </b>
    </p>
    <p>
        大客户属于中国国家质量监督检验检疫总局发布的“汽车三包规定”范围。
        一般来说，经销商应保持维修所需的合理备件储备，尤其针对大客户。储备量应与大客户车队或预计送修量
        相关联。
        如发生短缺，大客户的备件订单应首要处理，与三包保持一致，因为这些订单十分重要，无论公司车辆是否
        发生在保修期内。
    </p>
    <h5><b>快速备件交付要求 </b> </h5>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="15%">订单类型</th>
            <th width="15%">订单截止时间</th>
            <th width="10%">频率</th>
            <th width="30%">驱车时间</th>
            <th width="30%">交货时间</th>
        </tr>
        <tr>
            <td>紧急订单</td>
            <td>当天，下午4点</td>
            <td>每天</td>
            <td>
                下午4点前，当天交付<br />
                下午4点后，第二天，中午12点交付
            </td>
            <td>货车运输或空运≤5000km，24小时内每增加500km，延长24小时</td>
        </tr>
        <tr>
            <td>三包订单</td>
            <td colspan="3">
                最高优先级
                每日订单与每日交付
                截止时间类似与紧急订单
            </td>
            <td>通过快速或货车运输</td>
        </tr>
        <tr>
            <td>大客户订单</td>
            <td colspan="4">作为三包订单处理</td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/32.png" class="per80-width" />*@
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-5">大客户部门管理</h3>
            <br />
            <p>
                由于大客户业务的独特性与特殊性，其业务管理与业绩考核会与零售业务有较大的不同，本节
                主要为大客户的内部管理与绩效考核提供参考。

            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="#section-5-01">激励计划</a></li>
                <li><a href="#section-5-02">大客户中心关键绩效指标</a></li>
            </ul>
            <br />
        </div>
    </div>
    <h3 id="section-5-01">激励计划 </h3>
    <br />
    <h4>大客户销售激励计划的角色与职责</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/33.png" class="col-md-offset-1"/>
    <p>
        大客户销售尤其需要努力工作和耐心。规划完善的员工激励计划能够带来更强有力的 团队和更加勤奋努力
        的员工。认为自己得到重视的员工会工作得更加努力，更愿意在必要的情况下暂时降低福利甚至薪资，做出牺牲。
    </p>
    <h4>激励政策类型</h4>
    <h5>
        结构化激励政策
    </h5>
    <p>
        积极的激励计划是政策与相关程序的有力支持。政策是计划详细信息，例如在6周中超过销售目标，可一
        次性获得10%奖金等。程序是激励计划的机制，例如可详细陈述所包含的销售类型、如何计算、合格员工
        人数和可能获奖人数等。
    </p>
    <h5>
        临时性激励政策
    </h5>
    <p>
        临时性激励则不那么正式，可以私下发放，以避免其他员工的不满。例如向表现出色的员工发放优质餐厅
        的礼券或小额现金奖励等。
    </p>
    <h4>薪酬方案计算方法</h4>
    <p>
        大客户业务是一项长期业务。获取大客户通常要比获取零售客户花费更长的时间，然而一旦赢得了大客户，
        便会获取比个人客户更大的订单，从而使大客户销售人员可快速提升销量。
        应对大客户的业务特点，要为大客户销售人员制定合理的薪酬概念，下表展示并比较了对零售及大客户销
        售人员的不同薪酬概念。
        为了平衡两个销售团队的总收入，与零售销售团队相比，应给予大客户销售团队较高的固定收入和较低的
        车辆销售佣金。
    </p>
    <h5>
        <b>
            薪酬方案与计算方法示例
        </b>（以下数字仅为计算示例，不做实际参考）
    </h5>   
    <img src="~/Content/images/OperationStandard/Sales/chapter9/34.png col-md-offset-1" />
    <h3 id="section-5-02">大客户中心关键绩效指标 </h3>
    <br />
    <h4>大客户中心关键绩效指标的角色和职责</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter9/35.png" class="col-md-offset-1" />
    <p>
        <b>
            标准KPI系列
        </b>
    </p>
    <h5>
        销售业绩（1-3）
    </h5>
    <p>这些明确指标能够衡量销售流程和已实现的大客户销量，包括绝对数据和同比数据</p>
    <p>1. 大客户销售与售后人员</p>
    <br />
    <p>2. 大客户销售流程</p>
    <br />
    <p>3. 大客户试驾项目</p>
    <br />
    <h5>基础设施指标（4）</h5>
    <p>这些指标衡量经销商有关关键基础设施要求的具体设置，评估经销商的大客户销售能力</p>
    <p>4. 大客户销售培训</p>
    <h5>服务绩效（5-7）</h5>
    <p>这些指标衡量客户满意度和经销商绩效。市场调查用于促进良好的客户关怀和服务。</p>
    <p>5. 备件与服务折扣</p>
    <p>6. 隔夜维修</p>
    <p>7. 礼宾车服务</p>
    <br />
    <p>大众进口汽车可评估大客户中心，以评估销售指标实现、客户满意度和销售业绩。</p>
    <table class="table table-bordered organizational-table">
        <tr>
            <th width="30%">模块</th>
            <th>关键绩效指标</th>
        </tr>
        <tr>
            <td rowspan="2">大客户销售与售后人员</td>
            <td>每个专职销售/售后人员销售的大客户单位数量</td>
        </tr>
        <tr>
            <td>大客户销售占总销售利率对比大客户销售人员对总销售人员比率</td>
        </tr>
        <tr>
            <td rowspan="3">大客户销售流程</td>
            <td>客户信息完整性</td>
        </tr>
        <tr>
            <td>基于新方式进行沟通的比率</td>
        </tr>
        <tr>
            <td>客户信息细节的水平</td>
        </tr>
        <tr>
            <td>大客户销售培训</td>
            <td>各经销商大客户销售人员参与大客户培训的比率</td>
        </tr>
        <tr>
            <td rowspan="3">大客户试驾项目</td>
            <td>转化率（试驾到购买）</td>
        </tr>
        <tr>
            <td>满意度（分析反馈）</td>
        </tr>
        <tr>
            <td>每月试驾数量</td>
        </tr>
        <tr>
            <td rowspan="3">备件与服务折扣</td>
            <td>大客户售后收入</td>
        </tr>
        <tr>
            <td>售后单车利润</td>
        </tr>
        <tr>
            <td>所占维修车辆费用比例</td>
        </tr>
        <tr>
            <td rowspan="2">隔夜维修</td>
            <td>每位大客户隔夜维修的平均台数</td>
        </tr>
        <tr>
            <td>所占维修车辆费用比例</td>
        </tr>
        <tr>
            <td rowspan="2">礼宾车服务</td>
            <td>为每位客户提供的便捷出行服务数量</td>
        </tr>
        <tr>
            <td>所占维修车辆费用比例</td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter9/36.png" class="per80-width" />*@
</div>

