@{
    Layout = "~/Views/OperationStandard/_LayoutSales.cshtml";

}


<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />
    <br />
    <br />
    <h3 id="chapter7">IT管理</h3><br />
    <br />
    <img src="~/Content/images/OperationStandard/Sales/chapter9/01.png" class="full-width" style="height:600px" />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            IT 管理是在信息化运营阶段通过运营管理制度的规范，IT 管理系统工具的支持，引导和
            辅助 IT 管理人员对各种 IT 资源进行有效的监控和管理，保证整个 IT 系统稳定、可靠
            和永续运行，为业务部门提供优质的 IT 服务，以较低的 IT 运营成本追求业务部门较高
            的满意度。
            此文档描述的IT基础架构标准适用于大众进口汽车授权的所有经销商，为了保证经销商能
            够使用大众的DMS系统及其他应用程序，经销商务必遵守IT管理里描述的各项需求标准。
            IT管理标准将会在经销商开业的时候被同时检查。
        </p>
    </div>
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Sales/chapter1/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="#section-1">经销商IT网络</a></li>
            <li><a href="#section-2">IT设备</a></li>
            <li><a href="#section-3">IT应用</a></li>
            <li><a href="#section-4">IT维护</a></li>
            <li><a href="#section-5">经销商网站</a></li>
        </ul>
    </div>
    <br />
    <br />
    <img src="~/Content/images/OperationStandard/Sales/chapter1/chapter-01.png" class="full-width" />
    <br />
    <h3 id="section-1">经销商IT网络</h3><br />
    <h4>概述</h4>
    <p>
        每家经销商都将获得一条2M的专线来访问大众的内网，来获得相关的资源。于此同时，经销商内网的DHCP
        (动态IP地址分配) 和 DNS (域名解析服务)也将由大众进口汽车给出统一的部署意见和方案。
    </p>
    <p>
        <b>目的</b>
    </p>
    <ul>
        <li>
            建立统一的IT内网标准。
        </li>
        <li>
            加强IT内网安全性。
        </li>
    </ul>
    <h4>1.1 网络拓扑图结构</h4>
    <p>
        所有经销商都是用的是2兆点对点专线，该专线从经销商机房连接到大众数据中心。该网络连接通常由中国联通或中国电信提供。
        以下是网络拓扑图：
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter7/04.png" class="full-width" />
    <h4>1.2 DHCP功能部署</h4>
    <p>
        所有经销商的DHCP网段和地址池建议使用以下标准，考虑到在一个城市可能存在分公司的情况，同时给出分公司的IP地址段规划
        建议：
    </p>
    <table class="table table-bordered table-striped-blue">
        <tr>
            <th width="25%">经销商</th>
            <th width="25%">大众内网网段</th>
            <th width="25%">Internet网段</th>
            <th width="25%">预留网段</th>
        </tr>
        <tr>
            <td>母公司</td>
            <td>192.168.0.0/24</td>
            <td>192.168.1.0/24</td>
            <td>10 - 2 = 8个</td>
        </tr>
        <tr>
            <td>分公司A</td>
            <td>192.168.10.0/24</td>
            <td>192.168.11.0/24</td>
            <td>10 - 2 = 8个</td>
        </tr>
        <tr>
            <td>分公司B</td>
            <td>192.168.20.0/24</td>
            <td>192.168.21.0/24</td>
            <td>10 - 2 = 8个</td>
        </tr>
    </table>
    @*<img src="~/Content/images/OperationStandard/Sales/chapter7/05.png" class="full-width" />*@
    <p>
        在本地设备上部署完以上DHCP以后，请一定<b>保留本地设备的登录用户名和密码，</b>将来上门的工程师对DHCP功能进行统一整合。
        在大众内网线路部署完之后，本地设备上的DHCP功能将被禁用，DHCP功能将被统合到内网思科路由器上。
        如现地IT未来需要分配新的网段，请联系DMS中心上报需求。
    </p>
    <br />
    <h4>1.3 DNS功能部署</h4>
    <br />
    <p>
        所有经销商的初期DNS部署可参照网络服务提供商的意见进行。先保证能正常访问internet网络。
        在本地设备上部署完以上DNS以后，请一定<b>保留本地设备的登录用户名和密码。</b>将来上门工程师会对DHCP功能进行统一整合。
        在大众内网线路部署期间，本地设备上的DNS功能将被禁用，上门工程师将把DNS功能被统合到MS/2镜像服务器中，并进行定期的维护和更新。
    </p>
    <br />
    <h4>1.4 大众内网和访客网隔离</h4>
    <br />
    <p>
        所有经销商的大众内网和访客网必须隔离。
    </p>
    <p>此项操作会由上门安装大众内网的工程师进行。届时，交换机上的一部分端口会被给予大众内网访问权限，剩余端口则对外网有访问权限。 例图标识如下:</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter7/06.png" class="full-width" />
    <p>
        经销商需着重注意以下几点:
    </p>
    <ul>
        <li>
            保证内网有一台企业级的交换机，支持vlan和truck功能 (推荐思科2960TT-L系列) 。
        </li>
        <li>
            保证对于所有IT设备有管理员访问权限(登录用户名和密码)。
        </li>
        <li>
            如果使用无线路由器提供访客网，路由器只能连接外网访问权限的交换机端口。
        </li>
        <li>
            任何时候，请不要擅自修改大众进口汽车专线的路由器和相关设备的任何配置。
        </li>
    </ul>
    <h3 id="section-2">IT设备</h3>
    <br />
    <br />
    <h4>
        概述
    </h4>
    <p>
        IT 设备是经销商信息化管理的基础和平台，建议经销商按照大众进口汽车的要求，配置 IT 设备，以便
        建立一个安全的交流平台来确保经销商 IT 系统的正常运行。
        IT 设备包括：计算机及附属设备、网络设备及附属设备、办公自动化设备。
    </p>
    <p>
        <b>目的</b>
    </p>
    <ul>
        <li>建立经销商对外、对内的交流平台。</li>
        <li>确保经销商 IT 系统的正常运行。</li>
    </ul>

    <h4>2.1 IT设备配置</h4>
    <p>
        <b>计算机及附属设备</b>
    </p>
    <ul>
        <li>经销商应该配备足够的计算机及附属设备，以满足各职能部门的需求，支持日常业务的顺利开展。</li>
        <li>这些设备包括：服务器、台式计算机、笔记本电脑、 UPS 电源、移动硬盘等。</li>
    </ul>
    <h5>
        台式计算机：
    </h5>
    <ul>
        <li>计算机主机可完全兼容 Windows 系统的平台。</li>
        <li>CPU 不低于 2GHz（兼容 INTEL 或 AMD 平台）。</li>
        <li>内存不低于 1GB，硬盘不少于 160GB（系统盘不少于 30GB）。</li>
        <li>集成显卡声卡，10~100M 自适应网卡。</li>
        <li>兼容 Windows 的 101 键或 104 键盘以及鼠标。</li>
        <li>至少 4 个 USB 接口（含扩充）；搭配 17~19 寸 LCD 普屏显示器，分辨率不能低于 1024×768。</li>
        <li>8 倍速以上 DVD-ROM 驱动器。</li>
        <li>如选购品牌台式机，可参考上述配置进行选择。</li>
    </ul>
    <h5>
        便携式电脑（笔记本电脑）：
    </h5>
    <ul>
        <li>CPU主频不低于 1.6GHz（兼容 INTEL 平台或 AMD 平台）。</li>
        <li>内存不低于 1GB，硬盘不少于 80GB（系统盘不少于 20GB）。</li>
        <li>集成显卡声卡即可。</li>
        <li>10~100M 自适应网卡，符合 802.11g/b/n 的无线上网适配器。</li>
        <li>对于笔记本尺寸及续航时间，可根据经销商实际情况选择。</li>
        <li>DVD-ROM 驱动器（内、外置均可）。</li>
    </ul>
    <p>
        <b>
            网络设备及附属设备
        </b>
    </p>
    <ul>
        <li>
            经销商应该配备网络及附属设备，以便建立内部局域网以及建立与外部联系的网络，满足各职能部门的需求，
            支持日常业务的顺利开展。
        </li>
        <li>这些设备包括：路由器、集线器、防火墙等。</li>
        <li>互联网接入：应根据当地情况选择 4~10M 光纤方式，厂商的专线另计算带宽。</li>
        <li>
            工业用路由器：企业级路由器，推荐思科（Cisco）。根据经销商互联网接入方式，选择适当的路由器进行网
            络管理和分配，根据需求还可使用带有无线功能的中小企业级路由器，处理器主频大于 150MGHz，无线功率不
            低于10dbm，支持 802.11g/b/n。
        </li>
        <li>交换机（企业级）：根据计算机及接入点的数量选购相应设备（企业级，全双工，可选网管功能）。</li>
        <li>
            针式打印机：24 针点阵打印，打印速度不低于 150 个汉字/秒（300 字符/秒），支持连续送纸功能，进纸
            口不低于 A4 宽度。
        </li>
        <li>
            打印/扫描/复印机：一体机，打印/复印每分钟 30 页以上，最大支持 A3 幅面，600dpi 以上，扫描可保存
            两种以上格式，支持连续扫描。
        </li>
    </ul>
    <p><b>办公软件及自动化设备</b></p>
    <ul>
        <li>
            经销商应该配备办公软件及自动化设备，以提高工作效率，提升管理水平。
        </li>
        <li>
            操作系统类别：Microsoft Windows 系列操作系统，建议为 Windows 7(32位），需带有远程桌面功能。
        </li>
        <li>
            网页浏览器：建议使用 Internet Explorer7.0 以上版本或与之相兼容的浏览器。
        </li>
        <li>
            办公软件类别： Microsoft Office 系列办公软件，版本要求在 2003（含）以上，要求最少包含 Excel、
            Word、PowerPoint 三款软件，根据需求还可选 Adobe reader 软件。
        </li>
        <li>
            辅助使用类别：所有配置的计算机，均需安装相应的杀毒软件及防火墙类软件，并确保其可以按时更新或升级。
        </li>
    </ul>
    <p>
        *上述问题中提到的 Windows、Internet Explorer、Office 产品均为 Microsoft（微软）公司之注册产品。
    </p>

    <h4>
        2.2 IT设备管理
    </h4>
    <h5>
        机房标准:
    </h5>
    <ul>
        <li>4S 经销商应具备15平米左右的机房面积，其他类型10平米即可。</li>
        <li>机房应当干燥、整洁。</li>
        <li>机房应安装必要的烟雾探测装置，应配有气体灭火装置，液体灭火装置是禁止使用的。</li>
        <li>安装中央监控设备或者摄像头，可以有利于IT的管理。</li>
        <li>19 英寸机柜为必备设施。</li>
        <li>相关的IT设备要有UPS的支持。</li>
        <li>机柜配置：至少具有 3 个 U 的设备安全空间和一个 19 英寸标准金属托盘。</li>
        <li>普通模拟电话线路为必备（一条）。</li>
        <li>跳线及连接线整齐。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter7/07.png" class="full-width" />
    <h5>供电标准：</h5>
    <ul>
        <li>电源：一路 3 项 220 伏特、 50 赫兹交流电源供电。</li>
        <li>电源插座：符合澳洲标准（Australia/CPCS-CCC）的电源插座接口的接线板，拥有 3 个以上可用的空余插座。</li>
        <li>所有相关IT设备应该连接至独立的UPS支持。</li>
        <li>机房必须有接地线，所有机柜必须接地。</li>
        <li>机房/机柜温度需保持在一个合理的范围（10℃ ~ 32℃）。</li>
    </ul>
    <p>
        声明：任何由违反上述标准造成的问题和损失，均由经销商承担相关责任。
    </p>
    <h4>
        2.3 IT机房环境标准
    </h4>
    <ul>
        <li>经销商应该设置 IT 专员，对公司的 IT 设备以及网络进行统一管理。</li>
        <li>制定 IT 管理制度，规范 IT 设备的领用、使用、维护等工作流程。</li>
        <li>各部门人员使用的 IT 设备必须统一登记，由使用人负责保管。</li>
    </ul>
    <p>
        人员：专职人员或供应商负责检查、维护、维修设备，定期对计算机设备进行检查，包括计算机硬件及软
        件系统，硬件检查其完整性和工作状态，对于软件系统和辅助软件需检查其稳定性及执行性。
        对于各部门使用的计算机设备及辅助设备，IT 部门应编制相应的编号进行登记管理，并明确使用人或使用
        部门，计算机设备类需登记其主要配置及附属配件，如鼠标、音箱、键盘等。辅助设备类也需登记主要参数。
        当设备使用人或使用部门，以及设备的配置参数发生变动时，需及时在设备档案中进行变更登记。根据登记
        的设备档案，需定期进行巡检，核对其使用情况、配置情况以及使用人是否正确等信息。
        相关计算机设备的登记、变动、档案，参见附件 1《电脑设备档案卡参考》。
        相关辅助设备的登记、变动、档案，参见附件 2《电脑辅助设备档案卡参考》。
    </p>


    <h3 id="section-3">IT应用</h3>
    <br />
    <h4>
        概述
    </h4>
    <p>
        IT 应用体现在经销商日常经营管理工作中的各个方面，包括：办公自动化、利用内部局域网和互联网与内外部联系、
        利用大众进口汽车要求的系统与大众进口汽车进行业务联系等。
    </p>
    <p>
        <b>目的 </b>
    </p>
    <ul>
        <li>
            实现办公自动化，提高工作效率。
        </li>
        <li>
            减少工作误差，提升管理水平。
        </li>
    </ul>

    <h4>3.1  经销商管理系统（DMS）</h4>
    <ul>
        <li>经销商按照大众进口汽车的要求安装并使用 DMS 系统。</li>
        <li>经销商按照大众进口汽车的要求及时对 DMS 系统进行升级。</li>
        <li>经销商应设置专职的 DMS 专员或 IT 专员管理系统，并对经销商使用人进行权限设置。</li>
        <li>具体详见大众进口汽车下发的经销商 DMS 使用说明。</li>
    </ul>
    <h4>3.2 供客户使用的互联网终端</h4>

    <ul>
        <li>经销商应该提供仅供客户上网使用的计算机，计算机的数量至少为2台。</li>
        <li>在工作时间，供客户使用的计算机能够正常使用，且保持开机状态。</li>
        <li>
            此设备需放置于客户休息区内，可选购无盘工作站以及相应配置的兼容机，需保证其可正常访问互联网。如
            需要，可以安装硬盘卡等还原设备，可保证其软件系统的安全性，以及客户误操作所带来的修复工作。
        </li>
    </ul>
    <p>
        计算机终端配置建议如下：<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -  计算机主机可完全兼容 Windows 系统的平台。<br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; -  CPU 不低于 2GHz（兼容 INTEL 或 AMD 平台）。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -  内存不低于 1GB。<br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; -  硬盘不少于 160GB（系统盘不少于 30GB），如为无盘工作站，此项可省略。<br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; -  集成显卡声卡，10~100M 自适应网卡。<br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; -  兼容 Windows 的 101 键盘或 104 键盘以及鼠标。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -  至少 4 个 USB 接口（含扩充）。<br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; -  搭配 17~19 寸 LCD 普屏显示器，分辨率不得低于 1024×768。
    </p>
    <p>对于互联网终端的软件设置，对于互联网访问层面的，可进行相应的限制，以防客户恶意或无意地占用大量网络资源或损害终端系统：</p>
    <ul>
        <li>如设定机器访问互联网的带宽。</li>
        <li>指定访问的页面，禁止相关的下载，限制相应的关键字等。</li>
        <li>将其放置于独立的工作组（防止其直接访问其他局域网内电脑）。</li>
        <li>限制相关的外置 USB 端口、光驱等资料输入设备。</li>
        <li>需每天对公用终端的外设部分（鼠标、键盘、显示器等客户会直接接触的设备）进行清洁和消毒。</li>
    </ul>
    <h4>3.3 供员工使用的局域网和互联网</h4>
    <p>
        经销商配备了 IT 系统，如电子邮件和互联网，以方便内部员工之间以及与外部的通信交流。
        所有需要接触客户的人员都有电子邮箱，能够接入互联网。
        所有与大众进口汽车有直接联系的人员都有电子邮箱，能够接入互联网。
        经销商内部的局域网以及通过权限访问互联网：
        - 所有经销商内部的计算机设备都应工作在一个局域网环境内。<br />
        - 局域网中的计算机网络与客户区的网络必须绝对分开。<br />
        - 所有局域网内的计算机都应该规范其名称以及描述。<br />
        - 局域网内的计算机都应分别设置登录密码。<br />
        - IT 管理人员应定期检查局域网内各计算机的文件共享情况，并将过期或不再使用的共享设定清除。<br />
        - 对于局域网内计算机设备的 IP 地址，需在设备档案卡中进行登记。<br />
        企业邮箱是指以域名作为后缀的电子邮件地址。企业电子邮箱可以让管理员任意开设相同后缀，且不同名字的邮箱地址，
        并根据不同的需求设定邮箱的空间，而且可以随时关闭或者删除这些邮箱。
    </p>
    <ul>
        <li>
            企业邮箱作为经销商与客户和厂商之间沟通的主要的途径，需重视其服务。
        </li>
        <li>
            邮箱的后缀应统一，所有使用该邮箱的内部员工，用户名应该统一其命名方式，建议使用小写全拼的名字＋姓氏的方式，
            如有英文名可替换名字，如姓名为李明英文名 TOM，可设置邮箱为 ming.Li&#64; 或 tom.Li&#64; 的邮箱格式。
        </li>
        <li>
            IT 管理人员进行相应的账户的开设、注销、暂停等操作。
        </li>
        <li>
            可以根据各使用部门及岗位的要求，设定其邮箱的容量、可收发附件的大小等其他邮箱属性。
        </li>
        <li>
            使用企业邮箱的客户端，如有固定计算机的，建议使用邮件收发软件来进行操作（如Outlook 或 Foxmail），并将邮件数
            据库保存在非系统盘。
        </li>
        <li>
            通过 WEB 方式使用邮箱的，建议其定期更换登录密码。
        </li>
    </ul>
    <h3 id="section-4">IT维护</h3>
    <br />
    <h4>
        概述
    </h4>
    <p>IT 维护是保证 IT 系统正常工作的重要保障，经销商 IT 专员应该定期对 IT 设备及系统进行维护，如每半年维护一次。</p>
    <p><b>目的</b></p>
    <ul>
        <li>维护 IT 设备，减少故障发生率。</li>
        <li>更新设备，提高工作效率。</li>
    </ul>
    <h4>4.1 定期维护</h4>
    <ul>
        <li>大众提供的网络设备及镜像服务器，定期会有相应的工作人员上门进行设备的巡检，并协助经销商检查机房的其他设备。</li>
        <li>经销商 IT 专员每半年对 IT 设备（包括硬件和软件）进行维护一次，并做好维护记录，以保证设备的正常运行。</li>
        <li>对存在故障的设备及时进行维修，并做维修记录，保证正常业务的进行。</li>
    </ul>
    <p>相关计算机设备的维护档案，请参见附件 1《电脑设备档案卡参考》。</p>
    <p>相关辅助设备的维护档案，请参见附件 2《电脑辅助设备档案卡参考》。</p>
    <h4>4.2 设备维修</h4>
    <ul>
        <li>对员工报修的 IT 设备，IT 专员应及时给予解决，并做好维修记录。</li>
        <li>
            相关人员到达设备现场后，先需判断设备故障大致原因，如故障较小可自行解决，则当时现场处理，修复后需使用人确认
            并登记在设备档案卡记录。如判断无法自行解决或处理时间较长，则需及时与使用人或使用部门沟通，执行备选方案或提供备
            用机使用，待设备修复后重新交付使用，并登记设备档案卡。如无法修复或需更换部件的，则执行设备更新规则。
        </li>
        <li>所有相关的维修操作均需登记设备档案卡进行记录。</li>
    </ul>
    <p>相关计算机设备的维修档案，请参见附件 1《电脑设备档案卡参考》。</p>
    <p>相关辅助设备的维修档案，请参见附件 2《电脑辅助设备档案卡参考》。</p>
    <h4>4.3设备更新</h4>
    <ul>
        <li>经销商 IT 专员应该对公司所有 IT 设备的使用年限予以关注，对超出使用期限的设备应该及时报备并提请管理层进行更新。</li>
        <li>所有的更新均应进行记录。</li>
        <li>计算机设备类及辅助设备类，正常使用一定的年限，属自然部件老化，且无法再维修或维修成本较高时，需更换相应设备。</li>
        <li>对于计算机设备类及辅助设备类发生故障后，根据实际情况判断是否需要更换部件。</li>
        <li>更换设备或单个部件，均需经过采购部门，并留存旧件，同时更新设备档案，注明更换时间及原因。</li>
        <li>所有相关的更新操作均需登记设备档案卡进行记录。</li>
    </ul>
    <p>相关计算机设备的变更档案，请参见附件 1《电脑设备档案卡参考》。</p>
    <p>相关辅助设备的变更档案，请参见附件 2《电脑辅助设备档案卡参考》。</p>
    <h3 id="section-5">经销商网站</h3>
    <br />
    <h4>概述</h4>
    <p>
        经销商网站是经销商在互联网上进行网络建设、形象宣传和品牌宣传的平台，是经销商的网络名片。
        经销商网站不但对企业的形象是一个良好的宣传，同时可以辅助企业的销售，甚至可以通过网络直接帮助企业实现产品的销售。
    </p>
    <p><b>目的</b></p>
    <ul>
        <li>展现公司和大众进口汽车的品牌形象。</li>
        <li>加强客户服务，提高客户满意度。</li>
        <li>完善网络业务，拓展销售渠道。</li>
    </ul>
    <h4>5.1 经销商网站建设</h4>
    <ul>
        <li>经销商应该建设自己的网站。</li>
        <li>经销商的网络建设都应符合大众进口汽车的标准，以保证品牌识别的一致性。</li>
        <li>具体的要求如网站设计的结构、内容和规则等，参见由大众进口汽车下发的《大众进口汽车经销商网站建设规范》。</li>
    </ul>
    <h4>5.2 经销商网站管理</h4>
    <p><b>系统管理</b></p>
    <p>经销商网站的系统管理与维护由 IT 专员负责，保证网站的正常运行。</p>
    <p>
        <b>
            信息管理
        </b>
    </p>
    <ul>
        <li>经销商网站的信息管理由市场部负责。</li>
        <li>信息专员每天分上午和下午两次在网站上发布公司信息、收集客户信息、解答客户提出的咨询和问题，安排客户的各种预约活动。</li>
        <li>对客户提出的任何咨询和疑问，信息专员都要在 20分钟内进行回复。</li>
    </ul>
    <h3 id="section-1-01">工具表单</h3>
    <br />
    <h4>附件 1：电脑设备档案卡参考（正面）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter7/08.png" class="full-width" />
    <h4>附件 1：电脑设备档案卡参考（背面）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter7/09.png" class="full-width" />
    <h4>附件 2：电脑辅助设备档案卡参考（正面）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter7/10.png" class="full-width" />
    <h4>附件 2：电脑辅助设备档案卡参考（背面）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter7/11.png" class="full-width" />
</div>

