@{
    Layout = "~/Views/OperationStandard/_LayoutSales.cshtml";
    
}


<div id="container" class="col-md-8">
    <h2 id="title" class="text-center">大众进口汽车经销商运营管理规范</h2><br />
    <br />
    <br />
    <h3 id="chapter8">销售管理</h3>
    <br />
    <img src="~/Content/images/OperationStandard/Sales/chapter9/01.png" class="full-width" style="height:600px" />
    <br />
    <br />
    <div class="well" style="background:rgb(222,235,247)">
        <h4>前言</h4>
        <p>
            销售管理工作的重点在于规范各种销售工作以促进销售业务的开展，通过对销售计划、线
            索、展厅现场管控以及试乘试驾等工作的规范与指导，不断提升内部销售运营与管理水平，
            提高经销商工作效率，同时有效的提升大众进口汽车的品牌形象。
            本章包括销售计划与订单管理、销售线索管理、展厅管理、销售核心流程、试乘试驾管理、
            网电销管理等六个章节。
        </p>
    </div>
    <h3>目录</h3>
    <div class="full-width" style="background: url(../../Content/images/OperationStandard/Sales/chapter1/chapter-3.png);height:570px;">
        <ul style="list-style: decimal">
            <li><a href="Sales?chapter=81#section-1">销售计划与订单管理</a></li>
            <li><a href="Sales?chapter=81#section-2">潜客销售线索管理</a></li>
            <li><a href="Sales?chapter=82#section-3">展厅管理</a></li>
            <li><a href="Sales?chapter=82#section-4">销售核心流程</a></li>
            <li><a href="Sales?chapter=83#section-5">试乘试驾管理</a></li>
            <li><a href="Sales?chapter=83#section-6">网电销管理</a></li>
        </ul>
    </div>
    <br />
    <br />

    <br />
    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-1">销售计划和订单管理</h3>
            <br />
            <p>
                经销商与大众进口汽车共同确定销售计划之后，需要清楚地了解经营与竞争环境、厂家商务政策与区域的销售支持、
                经销商自身的经营能力，才能够制定出切实而有效的工作计划和销售策略。
                订单管理是供应链管理中信息流体现最为明显的环节，合理的订单计划与库存管理是确保销售计划达成的前提，也是
                经销商资金流转平衡的重要保障。
                物流管理部分主要包括进口车物流总体流程、车辆进口单证介绍、运输业务与物流索赔业务介绍。
                车辆管理部分包括合理库存结构及库存车辆维护，包括入库、出库工作流程与要点等。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="Sales?chapter=81#section-1-01">销售计划</a></li>
                <li><a href="Sales?chapter=81#section-1-02">物流管理</a></li>
                <li><a href="Sales?chapter=81#section-1-03">车辆管理</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />
    <h3 id="section-1-01">销售计划核心流程</h3><br />
    <h4>计划制定核心流程</h4>
    <p>
        销量计划的2个核心流程是12个月销售预期（半年度）、季度销售和订单目标。
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/04.png" class="full-width" />

    <h3>销售计划日程表/时间安排</h3>
    <h4>销售计划时间安排表</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/05.png" class="full-width" />

    <ul>
        <li>销售计划按照以上所示流程定期进行。</li>
        <li>以上所有计划均相互关联。每次更新时，必须采用最新的信息。</li>
    </ul>

    <h4>经销商库存深度与AaH订货</h4>
    <ul>
        <li>库存深度=当月库存/下月目标销量。</li>
        <li>经销商应配备合理的库存，以便展示大众汽车进口全线产品， 并确保及时满足潜在客户的需求。</li>
        <li>建议经销商库存深度目标为1.0。</li>
        <li>销量较小车型（全年 AaK&lt;10）的最低经销商库存为1辆。</li>
    </ul>
    <p>示例：以库存深度目标为1.0来制定4月AaH目标</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/06.png" class="full-width" />
    <br />

    <h3>订单管理概述</h3><br />
    <h4>订单类型概述</h4>
    <ul><li>订单管理包括了经销商自主订单，由大众进口汽车分配的公共资源订单和转让订单。</li></ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/07.png" class="full-width" />
    <ul>
        <li>经销商必须在提车时遵循FiFo（“先进先出”）原则，以将库龄保持在合理水平。</li>
        <li>FiFo原则只应用于车型、配置和车身外观颜色。FiFo原则不考虑车辆内饰颜色。</li>
        <li>FiFo报告按月发布，确保FiFo原则应用到从仓库批售至经销商的全部车辆上。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/08.png" class="full-width" />
    <br />
    <h3 >自主订单配置</h3><br />
    <h4>
        订单配置
    </h4>
    <ul>
        <li>经销商订单目标的基础是最近一期的年度销售目标与销售预期。</li>
        <li>订单目标相当于60%的N+6个月的销售预期。</li>
        <li>
            销售计划与订单管理政策允许经销商在订单目标之内调整40%的配置比例。N+6个月销售预期订单中60%是经销商自主订单，
            剩余的40%将作为VGIC库存订单，并在车辆到港前通过每月的大众进口汽车公共资源分配至经销商。
        </li>
    </ul>
    <h5>经销商销售目标和订单目标之间的差额可由以下途径填补：</h5>
    <ul>
        <li>大众进口汽车公共资源，即大众进口汽车库存（通过大众进口汽车公共资源分配流程）</li>
        <li>经销商自有库存</li>
        <li>
            通过DMS新增加的订单转让平台获得其他经销商库存
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/09.png" class="full-width" />
    <br />
    <h3>自主订单提报</h3>
    <br />
    <h4>
        经销商季度订单目标和月度订单下置
    </h4>
    <ul>
        <li>每季度第一个月的前2周内，大众进口汽车将收集经销商订单目标。订单目标即经销商为N+2季度每月所需下置的订单量。</li>
        <li>
            经销商应在销售月之前约6个月内将订单输入订单系统，因此经销商主要车型的订单目标需要在每个季度第1个月前2周内
            签署完成，以确保N+2季度的销售资源。根据已确定的订单量，经销商每月将通过订单系统下置订单。
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/10.png" class="full-width" /><br />
    <h3>自主订单目标确认</h3>
    <br />
    <h4>
        订单目标量: 确保N+2季度60%的销售资源
    </h4>
    <p>
        根据N+2季度经销商各车型的销售预期，经销商可以以季度总量为基础设定每月订单目标。
        订单目标需保证等于60%的销售目标。
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/11.png" class="full-width" />
    <h5>从销量到订单量的计算：</h5>
    <ul>
        <li>（N+2）季度的订单总量，须等于相应季度60%的总销售目标</li>
        <li>
            若单个车型季度销售目标 ≥ 5， 需要保证每个车型销售目标的60%
        </li>
        <li>
            若单个车型季度销售目标 < 5，可以进行灵活分配以补足至 60% 的总销售目标。
        </li>
    </ul>
    <p>请注意，单个车型的订单量不能超过此车型的销售目标，同时最少不得少于1。</p>
    <h4>
        配置Mix比例：同一车型内的配置比例浮动
    </h4>
    <p>
        基于VGIC提供的生产配置比例，经销商可以在订单目标内不同配置之间进行20%的调整。如有特殊情况SBU可以在各家经销
        商间进行调整和整体平衡。
        配置比例浮动原则：
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/12.png" class="full-width" />
    <p>
        同一个车型内，占比最高的配置拥有最大的调整变化机会。请最先确定比例最高配置的订单量，并根据比例从高到低依次确定不同
        配置的订单量。
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/13.png" class="full-width" /><br />
    <h3>大众进口汽车分配的公共资源订单</h3>
    <br />
    <h4>
        公共资源订单分配
    </h4>
    <ul>
        <li>
            P&O部门将在每月第5个工作日内，根据各SBU的国内库存深度、当月销售特殊计划（如新车上市、打包销售、老库存清理、特别
            版等），向SBU提供“Others”资源。当月可用的车辆是当月具有预计到港日期的“Others”资源。
        </li>
        <li>
            P&O部门将直接向各SBU的DMS账户分配资源。
        </li>
        <li>
            SBU应在每个月的第10个工作日之前把车辆资源分配给经销商，并根据CP8日期、车型和配置，运用FiFo原则（“先进先出”）将
            车辆分配和批售至经销商。
        </li>
        <li>
            属于SBU但是没有分配给经销商的资源可用于其它SBU。
        </li>
    </ul>
    <br />
    <h3>转让订单管理</h3>
    <br />
    <h4>
        港口库存转让/订单转让
    </h4>
    <ul>
        <li>
            经销商订单车辆在港口入库检查后，120天之内允许在经销商之间进行自由调换。
        </li>
        <li>
            如果车辆在相同SBU、相同港口进行调换，SBU无需在DMS中审批。
        </li>
        <li>
            每辆车只允许转让一次。
        </li>
        <li>
            如果车辆港口检查已经超过120天，或需跨港转移、或已经转移过1次，SBU须向P&O部门提供解释并由SBU 总经理或销售总监签字。
        </li>
        <li>
            P&O部门会协助SBU在全国库存中寻找符合需求的资源。
        </li>
        <li>
            P&O部门负责各SBU之间的库存资源优化/平衡。
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/14.png" class="full-width" /><br />
    <h3>经销商目标管理</h3>
    <br />
    <h4>
        计划分解运营决策
    </h4>
    <p>经销商的目标一经确定，将以合同的方式对各方面内容进行界定。经销商目标的内容主要由以下几个方面组成：</p>
    <ul>
        <li>经销商基本信息：<br />包括经销商名称、所属销售服务中心、网络特征（如：经销商类型）、最近的CSS分值等。</li>
        <li>经销商区域市场信息：<br />主要包括经销商销售区域、区域容量、市场占有率目标和特殊车型区域状况等。</li>
        <li>
            经销商销售目标：<br />包含经销商年度和季度目标总量、乘用车和特殊车型目标总量、月度的目标规划及车型系列目标销量等信息。
        </li>
        <li>
            任务条款及签字盖章栏目：<br />主要为签字区域及各项补充条款。
        </li>
    </ul>
    <h4>
        经销商目标管理
    </h4>
    <p><b>概述</b></p>
    <p>经销商制定计划目标后还需对销售目标进行进一步规划并对完成情况进行定期检查，确保目标达成。</p>
    <p><b>操作准则</b></p>
    <p>
        1）经销商应将月度销售目标分解到周，对销售进度进行控制；<br />
        2）每周末举行销售例会，对销售计划和进度进行分析总结；<br />
        3）在销售目标未达成的情况下，应及时调整销售计划，重新制定下周目标；<br />
        4）每月月初举行月度总结会，对上月销售计划各项数据进行分析，并编写月度工作报告；<br />
        5）在上月销售目标未达成的情况下，应及时调整当月计划，确保年度总销售目标的完成。
    </p><br />

    <h3>经销商计划分解</h3>
    <br />
    <h4>
        计划分解方式
    </h4>
    <h5>经销商可根据月度销售计划，将销售计划进行分解。建议可从两种维度进行分解：</h5>
    <ul>
        <li>按时间维度分解</li>
        <li>按车型维度分解</li>
    </ul>
    <p><b>按时间分解</b></p>
    <p>
        经销商可将月度销售计划分解至每周销售计划，然后将每周计划分解到每日计划，从而明确每天的订单量与交车量，只有明确了每天的进度和
        任务才可以掌握月度销售节奏，避免月末销售压力过大。销售分解计划表格示例如下：
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/15.png" class="full-width" /><br />

    <p><b>按车型分解</b></p>
    <p>
        经销商可将月度销售计划分解为不同车型的销售计划，便于针对不同车型的销售状况制定未来销售计划时参考。销售计划目标建议落实至销售小
        组中的每个销售顾问。销售分解计划表格示例如下：
    </p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/16.png" class="full-width" /><br />
    <h3 >经销商销售方案</h3>
    <br />
    <h4>
        概述
    </h4>
    <ul>
        <li>销售部必须对企业的经营目标、产品的目标市场和目标客户有了清晰的了解之后，才能够制定出切实而有效的销售方案和工作计划。</li>
        <li>
            在制定营销策略的时候，必须考虑市场的经营环境、行业的竞争状况、企业自身的实力和可分配的资源状况、产品所处的生命周期等各项因素。
            在企业制定的市场营销策略的基础上，销售部制定相应的销售策略和战术。
        </li>
        <li>
            根据预测的销售目标及销售费用，销售部必须决定销售组织的规模。销售人员的工作安排、培训安排、销售区域的划分及人员的编排、销售人
            员的工作评估及报酬都是销售部在制定销售计划时所必须考虑的问题。
        </li>
        <li>销售计划必须包括销售人员的工作任务安排。</li>
        <li>销售计划必须具体和量化，要能够明确定出每一个时间段或者每一个销售人员需要完成的销售指标。</li>
        <li>
            销售策略制定时，需要考虑的因素包括几方面：经营与竞争环境、厂家商务政策与区域的销售支持、经销商自身情况、经销商已有的客流资源以
            及经销商销售顾问的成交能力。
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/17.png" class="full-width" /><br />
    <h3>销售方案影响因素</h3>
    <br />
    <h4>
        经营与竞争环境
    </h4>
    <p>
        经销商销售目标是基于市场容量、市场占有率和经销商能力条件确定的，既反映了市场需求，也反映了大众进口汽车在当地的销售要求。因此，经销商
        销售目标的制定过程中需要考虑以下两个方面：
    </p>
    <p><b>经营环境：</b></p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/18.png" class="full-width" />
    <p><b>竞争情况：</b></p>
    <p>经销商在制定销售策略时，应考虑竞争环境与竞争车型等因素。</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/19.png" class="full-width" /><br />

    <h4>
        厂家及区域因素
    </h4>
    <p>经销商需要考虑厂家的商务政策和销售支持等因素，以及区域的整体销售目标和经营建议，根据相关因素制定相应的销售策略。</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/20.png" class="full-width" /><br />
    <h4>
        经销商自身情况
    </h4>
    <p>经销商在制定销售策略时，还要考虑自身的情况，包括以下几个方面</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/21.png" class="full-width" /><br />

    <h3>经销商销售策略</h3>
    <br />
    <h4>
        销售策略内容
    </h4>
    <ul>
        <li>销售策略是指实施销售计划考虑的各种因素；包括：产品、价格、渠道、促销及资金条件，是一种为了达成经营目标而采用的各种方法的组合。</li>
        <li>具体、可量化、可执行与目标有相关性且具有时效性，是销售策略制定的基本原则。</li>
        <li>
            制定销售策略的过程中，建议以产品为核心角度出发，多方位、多角度考虑可以提升销量的措施和方法。
        </li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/22.png" class="full-width" /><br />
    <h3>目视化管理</h3>
    <br />
    <h4>
        概述
    </h4>
    <p>目视化的看板管理有助于实时监控各项关键业绩指标数据，同时能直观地体现每日达成率，对销售目标的跟进起到及时促进的作用。</p>
    <h5>销售类看板要点：</h5>
    <ul>
        <li>销售看板适用于日常销售活动中，使相关人员能够快速了解销售基本信息。</li>
        <li>销售资源看板有助于销售顾问在销售过程中及时了解库存状态，确保合理利用现有资源。</li>
        <li>交车预约看板包括交车时间及区域、销售顾问姓名、客户信息等，使用该看板可以帮助销售部门合理安排交车时间与场地。</li>
        <li>销售类看板可分解至每日销售量，销售部门安排人员每天进行信息更新。</li>
        <li>看板信息可按不同车型与销售顾问进行分类。</li>
    </ul>

    <h5>销售类看板包括内容：</h5>
    <ul>
        <li>看板内容按车型划分：每日销售计划、销售完成量、销售完成率、配置、颜色、订单量。</li>
        <li>看板内容按销售顾问划分：每日销售计划、销售完成量、销售完成率、订单量、精品完成量。</li>
        <li>销售类看板包括《销售看板（示例）》、《销售资源看板（示例）》、《交车预约看板（示例）》（参见附表）。</li>
    </ul>
    <h3>销售会议管理</h3>
    <br />
    <h4>
        销售会议概述
    </h4>
    <p><b>概述</b></p>
    <p>
        销售会议是对销售计划执行作出阶段性总结、对业绩异常提出应对方案、过程管理的重要手段。通过各种类型销售会议的召开，总结阶段经验，
        分析目标的合理性以及未达成目标的原因，在部门内部形成共识，增强部门执行能力。经销商应定期召开会议并记录。
    </p>
    <p>销售会议在实际实行中分为“周期性会议”和“专项会议”两类。</p>
    <p><b>目的</b></p>
    <ul>
        <li>起到销售过程管理的作用。</li>
        <li>销售团队内部相互沟通，互通有无，达成共识。</li>
        <li>检核、总结销售工作阶段性成果。</li>
        <li>提升团队内部效率。</li>
        <li>为后续工作安排提供讨论空间。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/23.png" class="full-width" /><br />
    <h3>周期性会议管理</h3>
    <br />
    <h4>
        周例会
    </h4>
    <p><b>周例会内容清单：</b></p>
    <ul>
        <li>区域市场信息及市场部各项活动信息报告。</li>
        <li>本周销售状况回顾与目标达成率讨论分析（订单、销量、集客、质量管理等），并拟对策（PDCA*）。</li>
        <li>下周销售计划的制定，明确销售团队提升方向，了解销售顾问需要支持的事项。</li>
        <li>告知下周培训计划安排并征求修改意见。</li>
        <li>经销商的满意度报告及客户关怀报告。</li>
    </ul>
    <p><b>周例会管理要点：</b></p>
    <ul>
        <li>每周定期召开周例会，会议时间应为每周初或周末。</li>
        <li>建议由销售经理主持，所有销售部门人员原则上都应参加。</li>
        <li>开会前明确通知参会人员，进行会议准备，避免会议低效。</li>
        <li>开会前明确会议流程及会议目的。</li>
        <li>有关绩效和工作纪律内容需销售顾问书面签字确认并予以保存。</li>
        <li>会议记录以书面形式保存。</li>
    </ul>
    <h4>
        月度例会
    </h4>
    <p><b>月例会内容清单：</b></p>
    <ul>
        <li>回顾上月销售情况，检查计划完成进度。</li>
        <li>讨论所出现的问题，制定应对方案。</li>
        <li>提出下一月工作目标及计划，并落实到责任人。</li>
        <li>CSS成绩，神秘客报告，DSA检查结果。</li>
        <li>将确定的目标与计划做成简报。</li>

    </ul>
    <p><b>月例会管理要点：</b></p>
    <ul>
        <li>月会参会人员为销售部门主管以上管理人员， 建议由总经理主持。</li>
        <li>销售目标与实际销售情况。</li>
        <li>评选绩效突出个人（建议嘉奖）。</li>
        <li>关注客户留档率与成交率。</li>
        <li>关注展厅客流量。</li>
        <li>分析利润目标完成情况。</li>
    </ul>
    <p>
        *PDCA：PDCA循环，即计划（P），执行（Do），检查（Check），修正（Act），是全面质量管理的所应遵循的科学程序
    </p>

    <h3>专项会议管理</h3>
    <br />
    <h4>
        专项会议概述
    </h4>
    <p>
        专项会议是经销商销售部门根据不同情况召开的主题性会议，包括临时突发情况应对会议，市场活动筹备会议，客户满意度会议等。<br />以下以客户满意度会议及市场活动筹备会议为例。
    </p>
    <p><b>客户满意度会议</b></p>
    <h5>召开客户满意度会议建议遵循以下要求：</h5>
    <ul>
        <li>客户满意度会议建议由总经理组织，客服部门主持汇报，销售部门全员参与。</li>
        <li>每月月初举行客户满意度会议。</li>
        <li>
            客服部出具客服数据分析报告，根据厂家、第三方以及内部调研数据指出销售流程执行中的弱项，销售团队以及销售顾问个人存在的问题，
            客户反馈的意见和建议，提出改善措施。
        </li>
        <li>销售部门应根据客服部门的报告，在一周内提出改善行动方案，并加以实施和改善。</li>
        <li>整改报告上报总经理，并抄送客服部备案。</li>
        <li>下月客户满意度会议将对改善成效进行分析和检查。</li>
        <li>建议将客户满意度应与销售顾问的薪酬结合。</li>
        <li>每周至少有一次夕会用于提升客户满意度的探讨。</li>
    </ul>
    <p><b>市场活动筹备会议</b></p>
    <h5>经销商在确定开展市场活动前，销售部门需要针对市场活动，召开相应市场活动筹备会议。市场活动筹备会议要点为：</h5>
    <ul>
        <li>根据市场活动需求，市场经理和市场活动负责人选择相应工作人员召开市场活动筹备会议。</li>
        <li>针对市场活动的主题、场地、参与车型等，确定销售人员的工作职责。</li>
        <li>确定市场活动流程，包括前期推广宣传、活动现场准备与执行、后期媒体宣传等，并安排相关人员进行活动执行演练。</li>
        <li>根据市场活动确定市场活动销售目标，销售人员KPI考核指标等。</li>
        <li>筹备方案要上报总经理，并抄送市场部备案。</li>
        <li>市场活动结束后应召开市场活动总结会议。</li>
        <li>总结并回顾市场活动筹备会议中各项计划的落实情况。</li>
        <li>总结并评估目标及其它相关KPI的完成情况。</li>
        <li>成功经验和发现不足。</li>
        <li>总结报告由市场部完成，在总结会议上分享并上报总经理。</li>
    </ul>
    <h3 id="section-1-02">进口车物流流程</h3>
    <br />
    <h4>
        进口车物流流程图
    </h4>
    <h5>进口车物流流程如下图所示：</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/24.png" class="full-width" /><br />
    <h5>整个进口车物流环节主要包括以下三个部分：</h5>
    <ul>
        <li>国际物流环节：车辆从工厂生产下线后将经由国外内陆运输和国际海洋运输到达国内港口。</li>
        <li>国内港口物流环节：车辆到港后，国内进口供应商将安排车辆报关报检工作，海关商检放行后车辆将入国内港口仓库。</li>
        <li>国内物流运输环节：车辆财务确认后，仓库供应商将安排车辆出库并交接给运输商，由运输商负责将车辆运送到目标经销商。</li>
    </ul>
    <h3>进口车辆单证介绍</h3>
    <br />
    <h4>
        进口车辆单证基本介绍
    </h4>
    <p>车辆在进口时，经销商应在接收车辆时检查随车文件。随车文件包括以下五类：</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/25.png" class="full-width" /><br />
    <h3>进口车辆单证办理</h3>
    <br />
    <h4>
        进口车辆单证办理流程
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/26.png" class="full-width" /><br />
    <h4>
        车辆进口单证补办
    </h4>
    <h5>补办费用</h5>
    <ul>
        <li>海关进口关单: 5000元/份</li>
        <li>商检随车检验单: 3000元/份</li>
        <li>一致性证书: 2000元/份</li>
    </ul>
    <h5>丢证风险</h5>
    <ul>
        <li>被套牌车辆抢先上牌，无法正常上牌</li>
        <li>丢失单据被用于银行抵押，申请贷款</li>
        <li>补办时间长，无法及时办理牌照，引起客户不满导致退车</li>
    </ul>
    <h5>补办联系方式</h5>
    <ul>
        <li>中进单证补办联系热线：010-8881 1010</li>
    </ul>
    <h4>
        车辆进口单证管理建议
    </h4>
    <ul>
        <li>派专人管理进口单证，加强进口单据的交接管理</li>
        <li>与客户强调进口单证是上牌的必要文件，应妥善保管，避免丢失</li>
    </ul>
    <h3>进口证明书补办</h3>
    <br />
    <h4>
        进口证明书补办流程
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/27.png" class="full-width" /><br />
    <h4>
        进口证明书补办要求
    </h4>
    <ul>
        <li>只能补办签发日期两年以内的单证。</li>
        <li>资料由各口岸报关行负责各部门流转 ，资料整理复核审批需1-2个工作日。</li>
        <li>丢证责任方提供补办申请/当地公安机关报案证明/省市二级以上报纸刊登作废声明原件/批售和零售发票，所有信息需保持一致。</li>
        <li>以上全部时间具体以海关通知为准，如有特殊情况，时间会延长。</li>
    </ul>
    <h4>
        进口证明书补办所需材料
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/28.png" class="full-width" /><br />
    <h3>随车商检单补办</h3>
    <br />
    <h4>
        商检补办流程
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/29.png" class="full-width" /><br />
    <p>注：资料齐全，提交口岸商检后一个月左右出新证。</p>
    <h4>
        商检补办要求
    </h4>
    <ul>
        <li>车辆行驶公里里程小于1000公里，如在天津商检补办，需提供车辆行驶未超过1000公里证明。</li>
        <li>
            进口时间一年以上的车辆，需原车返回天津商检重新接受上线检测。
        </li>
        <li>丢失责任方提供补办申请/当地公安机关报案证明及丢失说明/在《国门时报》登报声明作废的登报回执。</li>
    </ul>
    <h4>
        商检补办所需材料
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/30.png" class="full-width" /><br />
    <h3>单证常见问题</h3>
    <br />
    <h4>
        货物进口证明书
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/31.png" class="full-width" /><br />
    <ul>
        <li>遗失补办手续具体详见单证补办流程</li>
        <li>有污损或海关签章破损：海关规定原则上不予重打,只可按补办流程</li>
    </ul>
    <h4>
        车辆随车检验单
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/32.png" class="full-width" /><br />
    <ul>
        <li>遗失具体详见单证补办流程</li>
    </ul>
    <h4>
        车辆一致性证书
    </h4>
    <h5>签发日期：</h5>
    <ul>
        <li>车辆一致性证书上两个签发日期均与车辆生产及进口日期无关</li>
        <li>签发日期是指CCC证书签发日期；备案日期是指COC编号备案日期；</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/33.png" class="full-width" /><br />
    <h4>
        车辆购置税信息单
    </h4>
    <p><b>2014年7月1日起，国税局要求所有车辆上牌时需提供车辆购置税信息单</b></p>
    <ul>
        <li>
            经销商可直接登陆国税局合格证网站http://www.vidc.info/SubPage/Search/Default.aspx
        </li>
        <li>根据车架号查询车辆备案状态，随时了解车辆的备案情况。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/34.png" class="full-width" /><br />

    <h4>
        车辆购置税信息单打印方式
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/35.png" class="full-width" /><br />
    <ul>
        <li>打印需使用80克以上纸张</li>
        <li>购置税信息单问题请联系中进热线：010-8881 1010</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/36.png" class="full-width" /><br />
    <h3>经销商提车流程</h3>
    <br />
    <h4>
        提车流程图
    </h4>
    <h5>经销商的提车流程如下图所示：</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/37.png" class="full-width" /><br />
    <p>
        <b>财务确认当日：</b>中进收到经销店车款后，首先在系统中察看车辆是否锁定，如果在DMS中为锁定状态，通知经销店无法进行财务确认；
        无锁定状态，将在DMS系统中操作财务确认。随后会根据系统中经销店的相关信息打印交接单，同时仓库和承运商会收到系统中备车和运输指令。
    </p>
    <p><b>财务确认次日：</b>仓库根据财务确认信息备车(包括洗车，出库前检查，放置用户手册等)，并与承运商进行出库交接，由承运商安排运输。</p>
    <p><b>运输时间：</b>车辆运输到店后，由承运商与经销店进行交接。承运商会在DMS中更新到店状态，可以在DMS确认收车并上报AAK</p>
    <br />
    <h3>车辆物流</h3>
    <br />
    <h4>
        物流运输信息
    </h4>
    <ul>
        <li>大众进口汽车目前有三个分拨中心：天津、上海、广州。</li>
        <li>港口分布及辐射范围如下图所示：</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/38.png" class="full-width" /><br />
    <h4>
        运输时效
    </h4>
    <ul>
        <li>大众进口汽车的运输时效标准计算公式为：运输时效=总里程/500公里+2天。</li>
        <li>在以下两种特殊情况下时效与标准时间有所区别：</li>
    </ul>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 跨港运输在标准计算结果上+1天。</p><br />
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 新经销商或远离现有主要城市的偏远路线在标准计算结果上+1天。</p>
    <ul><li>天津港及上海港标准里程、运时如下表所示：</li></ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/39.png" class="full-width" /><br />
    <h3>付款与其他</h3>
    <br />
    <h4>
        批售付款
    </h4>
    <ul>
        <li>各区域经销商可以根据自己的对应运时来计算和安排当月需提报AAK的车辆付款节奏。特别是月底需要到店并且提报AAK的车辆尤其重要。</li>
        <li>大众进口汽车会根据运时计算每个经销商的每月最晚付款时间。</li>
        <li>一般预留月底最后两天为提报销售时间，最后运抵时间为每月倒数第三天。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/40.png" class="full-width" /><br />
    <h4>
        运输分区规划
    </h4>
    <ul>
        <li>GEFCO捷富凯负责天津和上海两港口发出的车辆及相关事宜。</li>
        <li>长久负责广州港发出的车辆及相关事宜。</li>
        <li>建议经销商：</li>
    </ul>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 尽量选择就近港口的库存付款，以减少运距运时，并节省成本。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 付款应尽量凑够每笔8台车以上，这样能尽快配整版发车。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- “飞机板”在大众进口汽车运输当中是严格禁止的，如经销商在交车环节中发现运输商的违规操作，应收集证据并向大众进口汽车举报。飞机板示例如下。</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/41.png" class="full-width" /><br />
    <ul>
        <li>
            捷富凯在途车辆信息查询系统：http://118.242.35.6/dealer
        </li>
        <li>
            长久在途车辆信息查询系统：http://oems.changjiu.net.cn/permission/user-login.jsp
        </li>
    </ul>
    <h3>车辆交接</h3>
    <br />
    <h4>
        车辆交接流程
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/42.png" class="full-width" /><br />
    <p>车辆在财务确认后的出库环节以及运输送达至经销店各有一次交接，出库环节由仓库方和运输商进行交接，交接问题记录在车辆交接单左栏。到店交接由经销商和运输商共同完成，问题记录在车辆交接单右栏。车辆交接要严格按照大众进口汽车的要求进行，具体标准参照《经销商到店交接手册》。车辆交接单示例如下</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/43.png" class="full-width" /><br />
    <h4>
        车辆交接要点
    </h4>
    <h5>车辆在交接时，需要对车辆进行仔细检查，检查表如下：</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/44.png" class="full-width" /><br />
    <ul>
        <li>所有检查工作要在车辆到店2个小时内完成。</li>
        <li>到港出库和到经销商都需要记录公里数。</li>
        <li>交接单是运输交接以及运输索赔的唯一凭证。如交接时发现质损，需在交接单上认真描述质损并留存照片，并将交接单相应联交予司机。质损描述不清，无双方签字或者出现押单情况，都将由于后续无据可查而影响索赔的顺利进行或索赔失败。</li>
        <li>车辆到店后应在去除车衣/保护膜前检查车衣状态，将车衣/保护膜的状态按照实际情况记录在交接单上。并在去除车衣前留存车衣外观照片（包括左前、左后、右前、右后、前、后、左、右、车顶等9个角度照片）</li>
        <li>
            对于车衣/保护膜有破损或可疑痕迹的，应留存破损处照片（近距离特写照片、1米距离照片、3米距离照片）
        </li>
        <li>运输索赔需在收到车辆3个工作日内提报。</li>

    </ul>
    <h3>物流索赔</h3>
    <br />
    <h4>
        本地物流索赔流程
    </h4>
    <ul>
        <li>本地运输索赔要在车辆交接完成3个工作日内提报至大众物流索赔公共邮箱：logistics_claim@volkswagen.com.cn</li>
        <li>本地运输索赔申请相关内容请以大众物流部发布的最新信息为准；</li>
        <li>索赔申请流程为：</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/45.png" class="full-width" /><br />
    <h4>
        本地运输索赔申请文件
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/46.png" class="full-width" /><br />
    <h4>
        关于索赔申请邮件
    </h4>
    <ul>
        <li>邮件标题需以“区域-经销商-车架号”格式命名。</li>
        <li>邮件文本中需要注明车架号、车辆到店时间、申请索赔内容。</li>
        <li>邮件署名需要注明索赔主管人员姓名、联系电话、邮箱、联系地址等信息。</li>
        <li>要求提交的材料以附件形式提交，并将附件大小控制在2MB以内。</li>
    </ul>
    <h3 id="section-1-03">确定合理库存量</h3>
    <br />
    <h4>
        车辆库存重要性
    </h4>
    <p>车辆的供应和需求存在季节性波动，因此经销商应保持合理的库存量以应对波动的冲击。合理的库存量既可以确保经销商车辆的供应，避免在车辆销售过程中因缺货而导致订单流失；同时也有利于避免因库存积压而导致的资金压力。此外，经销商也要保证车系结构的合理。</p>
    <p>建议经销商对自身库存的车辆财产进行投保，确保自身财产安全。</p>
    <h4>
        安全库存 
    </h4>
    <ul>
        <li>安全库存指经销商商品车库存量为下月销售计划的1.0倍。</li>
        <li>经销商建立库存应遵照以下准则：</li>

    </ul>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 经销商库存中用于试乘试驾和展示的车辆和车型数目应按照大众进口汽车的标准确定。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 经销商应根据大众进口汽车的建议，制定AAK年度销售计划和月度滚动AAK计划，以确保各种车型的供应。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 在申报AAK年度计划和月度滚动AAK计划时，应考虑安全库存。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 库存量要根据月销售计划和市场预测适时调整，以保持在安全库存以上。</p>
    <ul><li>经销商之间库存调剂应得到大众进口汽车的确认，并在大众进口汽车备案。</li></ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/47.png" class="full-width" /><br />
    <h3>车辆管理原则</h3>
    <br />
    <h4>
        车辆管理概述
    </h4>
    <p>数量充足与状况良好的商品车库存，是保证良好销售的前提。通过对商品车进行有效、系统的管理，可保证所有车辆处于最优的临售状态，有利于促进和辅助销售工作的开展，提升客户满意度。</p>
    <h4>车辆管理原则</h4>
    <p>1）先进先出：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 每次新车到店，车辆管理人员应及时调整仓库车辆的摆放位置，做到确保先进先出，以避免因新车在仓库存放过久影响其品质，而给交车过程带来不利因素。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 在条件允许的情况下，建议经销商将同一型号的新车集中停放，便于客户选购和店内清点。</p>
    <p>2）库存商品车管理的一般说明：</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 小心谨慎地移动车辆。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 停放车辆时应与其它车辆及设施保持足够的距离。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 不要将车辆停放在树木或电线杆下面。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 手动挡和带有R-tronic的车辆需挂入一档，自动档车辆需挂入停车档位（P位置）。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 请勿拉起停车制动器。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 拔出车钥匙。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 关闭用电电器（例如收音机、座椅加热装置等）。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 将车内的地毯保护垫和保护膜整齐地摆放到座椅上。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 关闭车窗、车门、发动机舱盖、行李箱盖和滑动天窗。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 将雨刮片放置在风挡玻璃上。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 在车辆交付给用户前请勿去除雨刮片保护物（保护导轨、运输刷）。进行刮水操作前必须保证在玻璃和雨刮橡胶上没有污渍。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 去除所有脱落的保护膜和已经损坏的运输保护罩。</p>
    <p>3）车辆检查和维护保养：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 商品车入库应参照物流部门提供的《车辆交接单》 进行新车到站检查并进行商品车到站维护。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 在库商品车应按照车辆存放期间维护保养要求进行维护保养。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 展厅车辆应按照展厅车辆保养指南进行保养。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 车辆交付前应按照车辆交付准备的要求做好PDI和出库手续。</p>
    <h3 >商品车辆维护</h3>
    <br />
    <h4>
        车辆维护方法
    </h4>
    <p>1）商品车到站维护：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 将轮胎充气压力调节至标称胎压最大值（不包括备用轮胎）。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 没有配备全自动空调系统的车辆：打开仪表台上的所有机械式空调通风口并将鼓风机调节至最高档位。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 竖起遮阳板。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 清理车辆内所有杂物箱和表面保护（仪表台、座椅、行李箱），清理无关的纸屑及其它杂物。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 卷起行李箱盖板和遮阳卷帘。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 获取车龄（将时间记录作为车辆数据粘贴在车窗玻璃上）并作为所有维护措施的参考进行存档。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 检查车辆的运输保护罩是否安装正确，必要时进行修正。</p>
    <p>2）在库商品车维护：</p>
    <p>每周需进行的维护：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 清洁/清洗车辆未保护部位上的腐蚀性物质（例如油漆、工业粉尘、植物花粉）。</p>
    <p>每两周需进行的维护：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 为没有车身表面保护且露天存放的车辆贴上保护膜（发动机室盖、车顶、三厢车的行李箱盖）。</p>
    <p>每三个月需进行的维护</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 通过进行制动为制动盘除锈。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 将轮胎压力调节至标称胎压最大值（不包括备用轮胎）。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 对没有太阳能电池板的存放车辆按照维护程序进行蓄电池维护。</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/48.png" class="full-width" /><br />
    <p>每六个月需进行的维护</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 存放带有太阳能电池板的车辆：执行蓄电池维护程序（参见前述的执行方法）。</p>

    <p>六、九或十二个月内的附加维护</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 去除已到使用期限的运输保护膜/罩，详细记录出现的损伤，最后为车辆（发动机室盖、车顶、三厢车的行李箱盖）贴上新的保护膜。</p>
    <p>3）展厅或陈列区内的车辆维护：</p>
    <p>展车摆放应参照展厅车辆摆放要求执行。展厅或陈列区的车辆应执行下列维护措施：</p>
    <p>方法 1 ：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 始终连接许可用于缓冲模式充电电流为30A或更高的充电设备。</p>
    <p>方法 2 ：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 使用许可的充电设备每天充电至少12小时，例如在关闭点火开关的状态下通过诊断接口。</p>
    <p>方法 3 ：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 每两天执行一次蓄电池维护程序（执行方法请参见在库商品车“每三个月需进行的维护”）。</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/49.png" class="full-width" /><br />
    <p>2）交车检查</p>
    <p>生产商力求以完美的状态交付新车。交车检查时再次对车辆的功能、密封性和液位进行检查，安装附件，并对车辆内部和外部进行彻底的清洁。</p>
    <p>保养表中对工作范围进行了描述，该文件应打印出来，逐项检查后连同索赔文件一起存放在新车档案中，不交给客户。相关的参数、填充量以及补充的工作说明详见维护指导手册。</p>
    <p>交车检查结束后贴上“首次服务”标签。标签的粘贴方法为，上车时能够清楚看到标签，但在车门关闭时被遮盖起来。适合的粘贴位置包括：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 驾驶员一侧的仪表板，</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 车门内侧或车门立柱、B柱（参见“具体维护”指导手册）。</p>
    <p>此处须特别强调试驾的重要性：试驾是完整的交车检查的组成部分，是车辆静止时的任何检查都无法取代的。</p>

    <h3>车辆入库</h3>
    <br />
    <h4>
        车辆入库流程
    </h4>
    <h5>车辆入库应遵照以下流程</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/50.png" class="full-width" /><br />
    <h5>步骤一：接车检查</h5>
    <ul><li>每一辆新车需由库管员检查，并填写《车辆交接单》，表单需由库管员签字，其上级主管要对实际情况进行核实。</li></ul>
    <h5>步骤二：填入库单并签字</h5>
    <ul><li>库管员填写《商品车辆入库单》，并确保所填信息准确无误。</li></ul>
    <h5>步骤三：上交车辆相关资料、钥匙</h5>
    <ul><li>库管员只保管一把钥匙，因此在车辆入库后应立即将其余钥匙及所有车辆资料（包括合格证、保修卡及使用说明书）交到财务部，由其保管。</li></ul>
    <h5>步骤四：更新库存记录</h5>
    <ul><li>库管员根据《商品车辆入库单》内容把信息录入库存管理系统，信息的输入和更新必须及时、准确。</li></ul>
    <h4>车辆出库流程</h4>
    <h5>车辆出库应遵照以下流程：</h5>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/51.png" class="full-width" /><br />
    <h5>步骤一：车辆分配</h5>
    <ul><li>在交车前三天左右，销售顾问接收分配到的商品车，经确认后准备做商品车PDI。</li></ul>
    <h5>步骤二：PDI检查</h5>
    <ul>
        <li>库管员将客户挑选的车辆交给售后部门进行PDI检查、整备，由售后部门从系统中打印填写《商品车PDI检查单》。</li>
        <li>如果PDI检查不合格，需由维修站进行处理，至PDI检查合格后由售后部门重新填写《商品车PDI检查单》并签字确认。</li>
        <li>库管员应对完成PDI的商品车再次核查，确保车辆整备、清洁和预装精品（如有）等符合要求。</li>
    </ul>
    <h5>步骤三：客户确认</h5>
    <ul><li>销售顾问会同客户进行最后检查确认。</li></ul>
    <h5>步骤四：办理出库手续</h5>
    <ul><li>库管员准备《商品车辆出库单》并由销售顾问完成交接手续。客户交清车款，销售顾问将钥匙及车辆的相关资料交给客户 。客户需在《客户交车确认单》上签字。</li></ul>
    <h5>步骤五：更新库存记录</h5>
    <ul>
        <li>库管员根据《商品车辆出库单》将信息录入库存管理系统，信息的输入和更新必须及时、准确、步骤顺序需要确认。</li>
        <li>根据车辆交付情况将客户及车辆信息上报AAK</li>
    </ul>
    <h3>工具表单</h3>
    <br />
    <h4>
        附表：月度销售计划表（示例）（仅供参考）
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/52.png" class="full-width" /><br />
    <h4>
        附表：销售看板（示例）（仅供参考）
    </h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/53.png" class="full-width" /><br />
    <p>
        制作及使用说明：背板材质为金属，标贴后方须带有磁铁，可以吸附在板面上，建议悬挂至销售经理办公室，有专人负责看板的填写
    </p>
    <h4>附表：销售资源看板（示例）（仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/54.png" class="full-width" /><br />
    <h5>制作及使用说明：</h5>
    <ul>
        <li>销售资源看板（示例）由看板和卡片组成，每个卡片代表一台车辆资源状态，卡片详细内容如上图所示；</li>
        <li>看板底色为白色，材质为磁铁可吸附金属。</li>
        <li>卡片为冰箱贴材质可以吸附在看板上，通过卡片的移动显示车辆资源状态的变化。如使用白板笔填写车辆信息，则卡片表面应采用光滑可擦写材质，也可将卡片表格用不干胶材质印刷后贴在相同大小的冰箱贴材质上使用。</li>
        <li>建议由销售计划员和销售经理共同维护。</li>
    </ul>
    <h4>附表：交车预约看板（示例）（仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/55.png" class="full-width" /><br />
    <h5>使用说明：</h5>
    <ul>
        <li>对于只有一个交车区的经销商可不区分交车区。</li>
        <li>紧急交车只适用于当天订车当天提车的情况。</li>
        <li>预约交车位应至少提前一天完成交车准备，准备完毕后经销售经理或展厅经理确认方可预约交车位，安排交车位时应避免相同车型的车主在同一时间或相邻时间提车。</li>
    </ul>
    <br />
    <br />
    <br />

    <br />
    <div class="section-bg">
        <div class="section-title-page">
            <h3 id="section-2">潜客及销售线索管理</h3>
            <br />
            <p>
                客户生命周期管理是汽车销售活动的核心内容。从某种意义上说，汽车销售活动就是对所处生命周期不同阶段的客户进行获取、转化及维系的过程。本章节旨在为经销商提供隔阶段的管理方法与流程，以提高经销商客户管理水平，开展针对性的精准营销活动，提高成交率和客户满意度，同时搭建起客户与经销商之间信息和数据传递的桥梁。
            </p>
            <br />
            <p>
                本节目录
            </p>
            <ul>
                <li><a href="Sales?chapter=81#section-2-01">客户生命周期概述</a></li>
                <li><a href="Sales?chapter=81#section-2-02">前期线索管理</a></li>
                <li><a href="Sales?chapter=81#section-2-03">建档潜客管理</a></li>
                <li><a href="Sales?chapter=81#section-2-04">成交客户管理</a></li>
                <li><a href="Sales?chapter=81#section-2-05">失销潜客管理</a></li>
                <li><a href="Sales?chapter=81#section-2-06">潜客档案管理</a></li>
            </ul>
            <br />
        </div>
    </div>
    <br />

    <h3 id="section-2-01">客户生命周期概述 </h3>
    <p>客户购车和用车的过程中，从没有接触到初次接触，形成销售机会到签约，直至成为用户，进行车辆保养和维修，以及后来发生再次购买，客户粘性越大，对大众进口汽车和经销商的价值越大。</p>
    <p>按照整个客户生命周期的概念，可以将销售线索分成四个阶段，即前期线索、建档潜客、成交客户和失销潜客：</p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/56.png" class="full-width" />
    <ul>
        <li>客户生命周期中不同阶段之前是可以转化的，如下面流程图所示，前期线索留档后可以发展成为建档潜客，经过销售人员的跟进建档潜客可以转化为两类，即成交客户和失销潜客。成交客户与失销潜客经过销售部门、网电销小组、CRM部门的后续跟进可以再次激活，重新进入新一轮的销售人员的跟进工作流程汇总。如此往复循环进行，将客户价值发挥到最大化。</li>
        <li>客户生命周期循环的流程需要经销商各部门通力合作来完成，需要以销售部门为主导，网电销和CRM部门配合来实现销售的达成、二次购买及推荐。</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/57.png" class="full-width" />

    <h3 id="section-2-02">前期线索管理 </h3>
    <h4>前期线索来源</h4>
    <ul>
        <li>前期线索指尚未联系过的，未经确认过的名单、留言、问询、预约等客户信息。</li>
        <li>在销售管理体系中前期线索处于销售流程的最前端，一般分成线上线索、线下线索两大类，每类线索包括多种渠道：</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/58.png" class="full-width" />
    <h4>前期线索处理</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/59.png" class="full-width" />
    <h3 id="section-2-03">建档潜客管理 </h3>
    <h4>建档潜客分级</h4>
    <ul>
        <li>建档潜客是可跟进的销售机会，潜客跟进的效果将直接影响经销商的销售业绩。</li>
        <li>前期线索经过联系后应进一步明确并确认客户身份。对于已获取客户姓氏，联系电话和意向车型的客户应当及时建档并确定相应的潜客级别</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/60.png" class="full-width" />
    <h4>建档潜客处理</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/61.png" class="full-width" />
    <h3 id="section-2-04">成交客户管理</h3>
    <h4>成交客户概述</h4>
    <ul>
        <li>开发新客户的成本是维护老客户成本的5~6倍，企业80%的利润主要来源于20%老客户的重复购买。而持续的保有老客户就成了企业生存发展的重要保证，对于汽车经销商来说成交客户的维系与二次开发至关重要。</li>
        <li>成交客户的关怀与维系具体请参考销售管理之章销售流程客户维系环节。</li>
    </ul>
    <h4>成交客户处理</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/62.png" class="full-width" /><br />
    <h3 id="section-2-05">失销潜客管理</h3>
    <h4>失销潜客概述</h4>
    <ul><li>失销潜客，即F级别潜客，通常有三种来源：</li></ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/63.png" class="full-width" /><br />
    <ul>
        <li>对于失销潜客应同样做好维系工作：节假日问候，新产品信息的发布，新产品试驾活动邀约等都是与客户联系的好时机。</li>
        <li>失销潜客的维系工作目的是与客户保持联系，让客户记得我们的品牌，产品以及经销商信息，最重要的是记得销售顾问，以及销售顾问曾经为他（她）提供过的优质服务。</li>
        <li>虽然客户因为种种原因没有选择我们这里购车，但仍要努力获得客户对本店及销售顾问的认可。</li>
        <li>通过在与客户接触过程中提供优质服务、专业知识等去影响客户，让客户意识到在本店购车也是明智之选，希望客户可以转介绍或再次购买。</li>
    </ul>
    <h4>失销潜客处理</h4>
    <ul>
        <li>3年内的失销潜客由CRM部门负责维系：包括节假日、生日问候、新车型上市、市场活动，提醒转介绍等内容。</li>
        <li>3年以上的失销潜客，将线索转交给网电销处理，网电销对3年以上的失销潜客再激活，包括客户的维系与答疑。</li>
        <li>根据经销商的实际情况，此类线索也可全部交给网电销部门，并按照网电销标准工作流程进行处理。</li>
    </ul>
    <h3 id="section-2-06">潜客档案管理</h3>
    <h4>潜客档案建立</h4>
    <ul>
        <li>潜客建档即填写《客户信息卡（A卡）》*部分，包括获取客户基本信息：姓氏（姓名）、电话、购车动机与意向车型等。</li>
        <li>建档工作必须在与客户沟通的当天完成。</li>
        <li>每次客户跟进与维系的具体情况要做完整记录。</li>
        <li>交车以后完成C卡*部分的填写，并按照客户维系的标准进行。</li>
        <li>如果经销商具备DMS系统以上信息可直接记录在系统中，如果经销商没有DMS系统则需要完成纸版档案的记录与管理工作，以下内容为使用表卡形式建档与管理的工作建议：</li>
    </ul>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/64.png" class="full-width" /><br />
    <h4>潜客档案更新</h4>
    <p>
        1. 根据档案夹内的客户信息、购买级别安排回访并确定潜客的级别变化，根据最新的客户级别更新客户档案，调整客户级别并更换档案夹。如下图例：
    </p><img src="~/Content/images/OperationStandard/Sales/chapter8/65.png" class="full-width" /><br />
    <p>2. <img src="~/Content/images/OperationStandard/Sales/chapter8/64.png" class="full-width" /><br /></p>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/66.png" class="full-width" /><br />


    <h3>工具表单</h3>
    <h4>附表：展厅流量登记表（示例）（仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/67.png" class="full-width" /><br />
    <p><b>目标对象：</b></p>
    <p>1.展厅一线人员 – 销售前台、销售顾问；②经销商管理层 - 总经理、销售经理/总监、展厅经理/销售主管；</p>
    <p>2.厂家品牌人员及区域经理；</p>
    <p>说明：经销商可根据业务需要在此表格基础上增加其他统计项目</p>
    <p><b>填写要求：</b></p>
    <p>此表格需打印成纸质文件，一日一页，放置在展厅前台，由销售前台与销售顾问负责登记。6个月内的纸质展厅流量登记表需存档备查。</p>
    <p>1. 任何客户进店时，销售前台需要欢迎客户，询问客户是首次还是再次进店</p>
    <p>2. 如果是首次进店，根据排班表安排销售顾问接待，并记录到店时间和销售顾问姓名</p>
    <p>3. 如果是再次进店，询问客户过去接待的销售顾问，是否需要专人接待（如果需要填写指定销售顾问），并了解客户进店需要办理的事项（原因），例如交车、试驾、看车等，记录在备注栏中</p>
    <p>4. 销售顾问办理试驾时，在前台登记。前台对照试驾车进出门单的时间记录，登记试驾开始和结束时间，并通过表格公式直接计算试驾时间</p>
    <p>5. 客户离开展厅时，销售前台记录离店时间, 并通过表格公式自动计算展厅停留时间</p>
    <p>6. 销售顾问送别客户后，到前台登记客户姓名（姓氏）、联系方式、意向车型、现有车型、客户级别和客户来源，并在备注栏中填写再次跟进由头</p>
    <p>7. 只有在销售顾问送别客户后，在前台完成表格登记（销售顾问部分）后，才能进入下一个排班循环，否则将失去排班机会</p>
    <p>8. 销售顾问每日将留档的客户信息录入系统</p>
    <p>9. 销售主管/展厅经理对比当天录入系统的数据和展厅流量登记表的客户数据，确保每日留档客户均在系统中同步更新</p>
    <p><b>关键统计数据定义：</b></p>
    <p>经销商每日汇总如下统计数据，并按厂家要求进行提报：</p>
    <p>1. 展厅客流量：包括首次和再次到店客户批次，不包含售后服务来店客户和当天来店提车客户。涉及多个销售展厅的经销商，各个展厅单独记录，在填报展厅客流数据时汇总各展厅客流量，以经销商为单位，统一上报总数</p>
    <p>2.客户级别：O-已签单客户；H-预计购车日期7天内；A-预计购车日期7天~30天；B-预计购车日期30天~90天；C-预计购车日期90天以上；F-失销潜客 </p>
    <p>3. 展厅留档率=展厅留档数/首次进店</p>
    <p>4. 试乘试驾率=试乘试驾数/展厅留档数</p>
    <p><b>管理要求：</b></p>
    <p>1. 展厅经理指派专人按周和月汇总统计展厅流量数据，计算团队和销售顾问的留档率、试乘试驾率、平均试驾时间、平均接待时间、接待客户的级别比例等数据，分析弱项并开发提升方案</p>
    <p>2. 市场部门经理按月汇总统计各个车型的客户看车批次，各个渠道的集客效率、以及目标客户的现有车型分布，分析市场活动效果，并开发提升方案</p>
    <h4>附表：来电流量登记表（示例）（仅供参考）</h4>
    <img src="~/Content/images/OperationStandard/Sales/chapter8/68.png" class="full-width" /><br />
    <h5>填写要求：</h5>
    <p>此表格需打印成纸质文件，一日一页，放置在展厅前台，由销售前台负责登记。6个月内的纸质来电流量登记表需存档备查。</p>
    <p>1. 任何客户致电时，接待员需要欢迎客户，询问客户致电原因</p>
    <p>2. 如果是首次致电询问车辆销售相关信息，根据排班表安排销售顾问接待，并记录来电时间和接待销售顾问姓名</p>
    <p>3. 如果是再次致电，询问客户过去接待的销售顾问进行转接，并记录指定销售顾问姓名</p>
    <p>4. 销售顾问结束通话后，到前台登记客户姓名（姓氏）、是否达成预约、联系方式、意向车型、客户来源，并在备注栏中填写再次跟进由头</p>
    <p>5. 只有在销售顾问结束通话后，完成前台表格登记后，才能进入下一个电话接待循环，否则将失去来电接待排班机会</p>
    <p>6. 销售顾问将留档的客户信息录入系统</p>
    <p>7. 销售主管/展厅经理对比当天录入系统的数据和来电流量登记表的客户数据，确保每日留档客户均在系统中同步更新</p>
    <h5>管理要求：</h5>
    <p>1. 展厅经理指派专人按周和月汇总统计来电流量数据，计算团队的首次来电留档率、进店预约达成率，分析弱项并开发提升方案</p>
    <p>2. 市场部门经理按月汇总统计，各个车型的客户询问批次，各个渠道的集客效率，分析市场活动效果，并开发提升方案</p>
    <h4>附表：客户信息卡正面（A卡）（示例）（仅供参考）</h4>

    <img src="~/Content/images/OperationStandard/Sales/chapter8/69.png" class="full-width" /><br />
    <h4>附表：客户信息卡反面（C卡）（示例）（仅供参考）</h4>

    <img src="~/Content/images/OperationStandard/Sales/chapter8/70.png" class="full-width" /><br />
</div>
