@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script language="javascript">
        $(function () {
            setPageFocus();
            changeChkFormat('id_sOldPassword', '2', '^[\\x21-\\x7E]{4,40}$', '旧密码格式错误，需要4-40位数字、字母或字符。', 'id_updUserPwdForm');
            changeChkFormat('id_sNewPassword', '2', '^[\\x21-\\x7E]{5,40}$', '新密码格式错误，需要5-40位数字、字母或字符。', 'id_updUserPwdForm');
            changeChkFormat('id_sNewPasswordConfirm', '2', '^[\\x21-\\x7E]{5,40}$', '新密码确认格式错误，需要5-40位数字、字母或字符。', 'id_updUserPwdForm');


            $('#id_updUserPwdForm').submit(function () {
                try {
                    $(".chkHint").show();
                    var bChkFormatReturn = chkFormat('id_updUserPwdForm');
                    var bChkPasswordConfirm = chkPasswordConfirm();

                    if (bChkFormatReturn && bChkPasswordConfirm) {
                        submitForm($(this), "ChangePassword", "", "id_updUserPwdFormHint");
                    }
                } catch (e) {

                }

                return false;
            });
        });

        function chkPasswordConfirm() {
            var bReturn = true;
            if (getValueByID('id_sNewPassword') != getValueByID('id_sNewPasswordConfirm')) {
                $('#id_sNewPasswordConfirm_chkHint').text('口令确认和口令不相同，请重新输入。');
                bReturn = false;
            }
            if (getValueByID('id_sNewPassword') == getValueByID('id_sOldPassword')) {
                $('#id_sNewPasswordConfirm_chkHint').text('新密码和旧密码相同！，请重新输入。');
                bReturn = false;
            }
            return bReturn;
        }

        function setPageFocus() {
            var oEID = window.document.getElementById('id_sOldPassword');
            if (oEID != null) {
                oEID.focus();
            }
            return true;
        }
    </script>
}
<div class="panel panel-default" style="width:800px;margin-left:auto;margin-right:auto;">
    <div class="panel-heading">修改密码/Password Settings</div>
    <div class="panel-body">
        <form id="id_updUserPwdForm" name="updUserPwdForm" class="form-horizontal">
            <div class="form-group">
                <label for="id_sOldPassword" class="control-label col-md-2 ">原密码：</label>
                <div class="col-md-4">
                    <input type="password" id="id_sOldPassword" name="sOldPassword" class="form-control" placeholder="原密码" />
                </div>
                <div id="id_sOldPassword_chkHint" class="chkHint col-md-6">

                </div>
            </div>
            <div class="form-group">
                <label for="id_sNewPassword" class="control-label col-md-2">新密码：</label>
                <div class="col-md-4">
                    <input type="password" id="id_sNewPassword" name="sNewPassword" class="form-control" placeholder="新密码" />
                </div>
                <div id="id_sNewPassword_chkHint" class="chkHint col-md-6">
                    密码可以使用任意字符及数字，长度5至40之间。
                </div>
            </div>
            <div class="form-group">
                <label for="id_sNewPasswordConfirm" class="control-label col-md-2">确认新密码：</label>
                <div class="col-md-4">
                    <input type="password" id="id_sNewPasswordConfirm" name="sNewPasswordConfirm" class="form-control" placeholder="确认新密码" />
                </div>
                <div id="id_sNewPasswordConfirm_chkHint" class="chkHint col-md-6">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" id="id_btnSubmit" name="sSubmit" class="btn btn-primary " style="float:left;padding-left:15px;" value="确认修改" />
                </div>
                <div id="id_updUserPwdFormHint" class="submit_hint col-md-6" style="float:left">&nbsp;</div>
            </div>

        </form>
    </div>
</div>


